<div id="photo-import-app" class="me-2" v-cloak>
  <div class="app-content">
    <div v-if="!featured_image.blob.id" class="image_picker__selector">
      <div class="image_picker__selector__viewport">
        <div hidden>
          <%= f.input :featured_image,
                      as: :single_deletable_file,
                      label: false,
                      input_html: {
                        accept: default_images_formats_accepted,
                        ref: 'file',
                        '@change' => "onFileImageChange($event)"
                      },
                      preview: true,
                      resize: true %>
        </div>
        <button type="button"
                class="btn"
                @click.prevent="$refs.file.click()">
          <%= lucide_icon('upload') %>
          <%= t 'photo_import.buttons.upload' %>
        </button>
        <div class="form-text"><%= images_formats_accepted_hint %></div>
      </div>
      <%= render 'admin/communication/photo_imports/selector/cloud' %>
      <%= render 'admin/communication/photo_imports/selector/medias' %>
    </div>
    <div v-if="featured_image.blob.id">
      <img :src="featured_image.blob.preview" class="img-fluid" />
      <div class="text-end">
        <a  class="btn btn-sm text-danger pe-0"
            v-on:click="removeImage()">
          <i class="<%= Icon::DELETE %>"></i>
          <%= t('featured_image.remove') %>
        </a>
      </div>
      <%= f.input :featured_image_alt,
                  label: t('featured_image.alt.label'),
                  hint: t('featured_image.alt.hint'), 
                  input_html: { 
                    data: {
                      translatable: true
                    } 
                  } %>
      <%= f.input :featured_image_credit,
                  label: t('featured_image.credit.label'),
                  hint: t('featured_image.credit.hint'), 
                  input_html: { 
                    data: {
                      translatable: true
                    } 
                  } %>
    </div>
  </div>
</div>
<%= render 'admin/communication/photo_imports/selector/vue', about: about %>
