<div class="<%= 'row' unless @preview %>">
  <div class="<%= 'col-md-8 col-xl-6' unless @preview %>">
    <div class="card">
      <div class="card-body">
        <% if @block.template.image  %>
          <div style= "max-width: 200px;" class="me-3">
            <%= kamifusen_tag @block.template.image.blob,
                            width: 200,
                            alt: @block.template.image.alt,
                            class: 'img-fluid' %>
            <caption><%= @block.template.image.alt %></caption>
          </div>
          <hr>
        <% end %>
        <%= @block.template.text.html_safe %>
        <% unless @block.template.url.blank? %>
        <a  href="<%= @block.template.url %>"
            class="btn btn-primary"
            target="_blank"
            rel="noopener">
            <%= @block.template.button %>
        </a>
        <% end %>
        <% unless @block.template.url_secondary.blank? %>
          <a  href="<%= @block.template.url_secondary %>"
              class="btn btn-secondary"
              target="_blank"
              rel="noopener">
              <%= @block.template.button_secondary %>
          </a>
        <% end %>
      </div>
    </div>
  </div>
</div>
