<div class="row pure__row--small">
  <div class="col-xl-6">
    <%= block_component_edit :description %>
  </div>
  <div class="col-xl-6">
    <label class="form-label">&nbsp;</label>
    <%= block_component_edit :with_link %>
    <%= block_component_edit :with_photo %>
    <%= block_component_edit :alphabetical %>
  </div>
</div>

<%= osuny_label University::Person.model_name.human(count: 2) %>
<draggable :list="data.elements" class="mb-3" handle=".dragHandle">
  <div v-for="(element, index) in data.elements" class="mb-3">
    <div class="d-flex">
      <div>
        <a class="btn ps-0 pt-0 dragHandle" title="<%= t '.drag_title' %>">
          <i class="fa fa-bars handle"></i>
        </a>
      </div>
      <div class="flex-fill">
        <div class="row pure__row--small mb-n3">
          <div class="col-md-6">
            <%= block_component_edit :id, template: @element, label: '' %>
          </div>
          <div class="col-md-6">
            <%= block_component_edit :role, template: @element, label: '' %>
          </div>
        </div>
      </div>
      <div>
        <a  class="btn btn-sm btn-danger ms-3"
            v-on:click="data.elements.splice(data.elements.indexOf(element), 1)"
            title="<%= t '.delete_title' %>">
            <i class="fas fa-times"></i>
        </a>
      </div>
    </div>
  </div>
</draggable>

<%= block_component_add_element t('.add_person') %>