<div class="row">
  <div class="col-xl-6">
    <%= block_component_edit :description %>
  </div>
</div>

<%= block_component_add_element t('.add_person') %>

<draggable :list="data.elements" class="list-group" handle=".dragHandle">
  <div v-for="(element, index) in data.elements" class="list-group-item">
    <div class="d-flex">
      <div>
        <a class="btn ps-0 pt-0 dragHandle" title="<%= t '.drag_title' %>">
          <i class="fa fa-bars handle"></i>
        </a>
      </div>
      <div class="flex-fill">
        <div class="row mb-n2">
          <div class="col-md-6">
            <%= block_component_edit :id, template: @element %>
          </div>
          <div class="col-md-6">
            <%= block_component_edit :role, template: @element %>
          </div>
        </div>
      </div>
      <div>
        <a  class="btn btn-sm btn-danger ms-3"
            v-on:click="data.elements.splice(data.elements.indexOf(person), 1)"
            title="<%= t '.delete_title' %>">
            <i class="fas fa-times"></i>
        </a>
      </div>
    </div>
  </div>
</draggable>
