<a  class="<%= button_classes('mb-4') %>"
    v-on:click="data.elements.push({id: '', role: ''})">
    <%= t '.add_person' %>
</a>

<draggable :list="data.elements" class="list-group" handle=".dragHandle">
  <div v-for="(person, index) in data.elements" class="list-group-item">
    <div class="d-flex">
      <div>
        <a class="btn ps-0 pt-0 dragHandle" title="<%= t '.drag_title' %>">
          <i class="fa fa-bars handle"></i>
        </a>
      </div>
      <div class="flex-fill">
        <div class="row">
          <div class="col-md-6">
            <label  class="form-label visually-hidden"
                    :for="'person-' + index + '-name'"><%= t '.person_label' %></label>
            <select :id="'person-' + index + '-name'"
                    class="form-select select"
                    v-model="person.id">
              <option value="" disabled><%= t '.person_placeholder' %></option>
              <% current_university.people.ordered.each_with_index do |person, index| %>
              <option value="<%= person.id %>"><%= person.last_name %>, <%= person.first_name %></option>
              <% end %>
            </select>
          </div>
          <div class="col-md-6">
            <label  class="form-label visually-hidden"
                    :for="'person-' + index + '-role'"><%= t '.role_label' %></label>
            <input  :id="'person-' + index + '-role'"
                    class="form-control"
                    type="text"
                    v-model="person.role"
                    placeholder="<%= t '.role_placeholder' %>">
          </div>
        </div>
      </div>
      <div>
        <a  class="btn btn-sm btn-danger ms-3"
            v-on:click="data.elements.splice(data.elements.indexOf(person), 1)"
            title="<%= t '.delete_title' %>">
            <i class="fas fa-times"></i>
        </a>
      </div>
    </div>
  </div>
</draggable>
