<% content_for :title, Import.model_name.human(count: 2) %>

<% content_for :title_right do %>
  <%= link_to_if  can?(:create, University::Person),
                  t('create'),
                  new_admin_university_people_import_path,
                  class: button_classes %>
<% end %>

<div class="d-flex justify-content-between mb-4">
  <p>
    <%= @imports.total_count %>
    <%= Import.model_name.human(count: @imports.total_count).downcase %>
  </p>
  <%= render 'admin/imports/filters', current_path: admin_university_people_imports_path %>
</div>

<%= render 'admin/imports/list', imports: @imports, path_pattern: 'admin_university_people_import_path' %>
