<body class="<%= body_classes %>">
  <%= render "admin/layouts/themes/pure/nav" %>
  <%= render "admin/layouts/themes/pure/hero" %>
  <%= render 'application/notice' %>
  <main class="container-fluid">
    <%= render "admin/layouts/themes/pure/user_unconfirmed" %>
    <div class="position-relative">
      <%= yield %>
    </div>
    <%= render 'admin/application/preview' if @preview %>
  </main>
  <%= render "admin/layouts/themes/pure/commands" %>
  <%= render "admin/layouts/themes/pure/footer" %>
  <%= javascript_include_tag 'admin/pure' %>
  <%= render 'bugsnag' %>
  <%= render 'summernote_localization' %>
</body>
