<div class="table-responsive">
  <table class="<%= table_classes %>">
    <thead>
      <tr>
        <th class="ps-0" width="60%"><%= Communication::Extranet::Post::Category.human_attribute_name('name') %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% kinds.each do |kind| %>
        <tr>
          <td class="ps-0"><%= link_to kind, admin_communication_extranet_document_kind_path(extranet_id: kind.extranet.id, id: kind.id) %></td>

          <td>
            <div class="btn-group" role="group">
              <%= link_to t('edit'),
                          edit_admin_communication_extranet_document_kind_path(extranet_id: kind.extranet.id, id: kind.id),
                          class: button_classes if can?(:update, kind) %>
              <%= link_to t('delete'),
                          admin_communication_extranet_document_kind_path(extranet_id: kind.extranet.id, id: kind.id),
                          method: :delete,
                          data: { confirm: t('please_confirm') },
                          class: button_classes_danger if can?(:destroy, kind) %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
