<div class="row g-2 mb-3">
  <% kinds.each do |kind| %>
    <div>
      <div class="card card--horizontal">
        <%= osuny_thumbnail_localized kind %>
        <div class="card-body">
          <%= osuny_published_localized kind %>
          <%= osuny_link_localized  kind, 
                                    admin_communication_extranet_document_kind_path(extranet_id: kind.extranet.id, id: kind.id),
                                    classes: 'stretched-link' %>
        </div>
        <div class="card-footer">
          <%= kind.documents.count %>
          <%= Communication::Extranet::Document.model_name.human(count: kind.documents.count).downcase %>
        </div>
      </div>
    </div>
  <% end %>
</div>
