<%
people = current_university.people.ordered
%>
<% unless label.blank? %>
  <label  class="form-label"
          :for="<%= dom_id.html_safe %>">
    <%= label %>
  </label>
<% end %>
<select :id="<%= dom_id.html_safe %>"
        class="form-select select mb-3"
        v-model="<%= model %>.<%= property %>">
  <% if placeholder %>
    <option value="" disabled><%= placeholder %></option>
  <% end %>
  <% people.each do |person| %>
    <option value="<%= person.id %>">
      <%= person.last_name %>, <%= person.first_name %>
    </option>
  <% end %>
</select>
