<div class="row g-2 mb-3">
  <% posts.each do |post| %>
    <div>
      <div class="<%= osuny_card_classes(horizontal: true) %>">
        <%= osuny_thumbnail_localized post %>
        <div class="card-body">
          <%= osuny_published_localized post %>
          <%= osuny_link_localized post,
                          admin_communication_extranet_post_path(extranet_id: post.extranet.id, id: post.id),
                          classes: 'stretched-link' %>
        </div>
        <div class="card-footer">
          <%= post.author.to_s_in(current_language) if post.author.present? %>
        </div>
      </div>
    </div>
  <% end %>
</div>
