<% content_for :title, Communication::Extranet.human_attribute_name(:feature_posts) %>

<%= render 'admin/communication/extranets/sidebar' do %>
  <section class="mb-5">
    <%= render 'admin/communication/extranets/posts/list', posts: @posts %>
    <%= paginate @posts, theme: 'bootstrap-5' %>
  </section>

  <% action = link_to t('create'), new_admin_communication_extranet_post_category_path, class: button_classes %>
  <%= osuny_panel Communication::Extranet::Post::Category.model_name.human(count: 2), action: action do %>
    <%= render 'admin/communication/extranets/posts/categories/list', categories: @categories %>
  <% end %>
<% end %>

<% content_for :action_bar_right do %>
  <%= create_link Communication::Extranet::Post %>
<% end %>