<h2 class="category"><%= User::Favorite.model_name.human(count: 2) %></h2>
<div class="row">
  <% if current_user.favorites.none? %>
    <p><%= t 'user.favorites.none' %></p>
  <% else %>
    <% current_user.favorites.each do |favorite| %>
      <% about = favorite.about %>
      <% next unless can?(:read, about) %>
      <div class="col-md-6 col-xl-4 d-flex">
        <%= osuny_panel about do %>
          <p class="small mt-n2 mb-1"><%= about.class.model_name.human %></p>
          <%= link_to t('show'), 
                      [:admin, about], 
                      class: 'stretched-link' %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>