<div class="table-responsive">
  <table class="<%= table_classes %>">
    <thead>
      <tr>
        <th><%= Research::Document.human_attribute_name('title') %></th>
        <th><%= Research::Document.human_attribute_name('url_hal') %></th>
        <th><%= Research::Document.human_attribute_name('url') %></th>
        <th><%= Research::Document.human_attribute_name('doi') %></th>
      </tr>
    </thead>
    <tbody>
      <% documents.each do |document| %>
        <tr>
          <td><%= link_to document, admin_research_document_path(document) %></td>
          <td><%= link_to t('open'), document.hal_url, class: button_classes, target: :_blank if document.hal_url %></td>
          <td><%= link_to t('open'), document.url, class: button_classes, target: :_blank if document.url %></td>
          <td><%= link_to t('open'), document.doi_url, class: button_classes, target: :_blank, method: :post if document.doi_url %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>