<h2>
  <% if resource.direct_otp %>
    <%= t('devise.two_factor_authentication.enter_code_direct_otp') %>
  <% else %>
    <%= t('devise.two_factor_authentication.enter_code_totp') %>
  <% end %>
</h2>


  <%= simple_form_for(resource, url: user_two_factor_authentication_path, html: { method: :put, class: 'my-3' }) do |f| %>
  <div class="form-inputs">
    <div class="form-group required">
      <%= text_field_tag :code, '',
                          type: 'tel',
                          pattern: '\d*',
                          required: true,
                          autofocus: true,
                          autocomplete: 'off',
                          class: 'form-control text-center string required'%>
    </div>
  </div>

  <div class="form-actions text-end mt-3">
    <%= f.button :submit, t('validate'), class: "btn btn-primary" %>
  </div>
  <% end %>

<div class="text-end mt-2">
  <% if resource.direct_otp %>
    <p><%= link_to t('devise.two_factor_authentication.resend_code'), [:resend_code, resource_name, :two_factor_authentication] %></p>
  <% else %>
    <p><%= link_to t('devise.two_factor_authentication.send_code_instead'), [:resend_code, resource_name, :two_factor_authentication] %></p>
  <% end %>
  <% unless resource.mobile_phone.blank? # when phone is blank default code method is already :email so we don't need another link %>
    <p><%= link_to t('devise.two_factor_authentication.send_email_code'), [:resend_code, resource_name, :two_factor_authentication, delivery_method: :email] %></p>
  <% end %>

</div>
<%= link_to t('devise.shared.links.sign_out'),
            destroy_user_session_path,
            method: :delete,
            class: "btn btn-danger" %>
