<% content_for :title, University::Person::Researcher.model_name.human(count: 2) %>

<%= render 'filters', current_path: admin_research_researchers_path, filters: @filters if @filters.any?  %>

<div class="table-responsive">
  <table class="<%= table_classes %>">
    <thead>
      <tr>
        <th><%= University::Person.human_attribute_name('name') %></th>
        <th><%= University::Person.human_attribute_name('first_name') %></th>
        <th><%= University::Person.human_attribute_name('picture') %></th>
        <th><%= Research::Hal::Publication.model_name.human(count: 2) %></th>
        <th><%= Research::Journal::Paper.model_name.human(count: 2) %></th>
        <th width="160"></th>
      </tr>
    </thead>

    <tbody>
      <% @researchers.each do |researcher| %>
        <tr>
          <td><%= link_to researcher.last_name, admin_research_researcher_path(researcher) %></td>
          <td><%= link_to researcher.first_name, admin_research_researcher_path(researcher) %></td>
          <td>
            <% if researcher.best_picture.attached? %>
              <%= kamifusen_tag researcher.best_picture, width: 80 %>
            <% end %>
          </td>
          <td><%= researcher.hal_publications.count %></td>
          <td><%= researcher.research_journal_papers.count %></td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= paginate @researchers, theme: 'bootstrap-5' %>
