<% content_for :title, Research::Researcher.model_name.human(count: 2) %>

<table class="table">
  <thead>
    <tr>
      <th><%= Research::Researcher.human_attribute_name('first_name') %></th>
      <th><%= Research::Researcher.human_attribute_name('last_name') %></th>
      <th><%= Research::Researcher.human_attribute_name('user') %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @researchers.each do |researcher| %>
      <tr>
        <td><%= link_to researcher.first_name, [:admin, researcher] %></td>
        <td><%= link_to researcher.last_name, [:admin, researcher] %></td>
        <td><%= link_to researcher.user, [:admin, researcher.user] if researcher.user %></td>
        <td class="text-end">
          <div class="btn-group" role="group">
            <%= edit_link researcher %>
            <%= destroy_link researcher %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% content_for :action_bar_right do %>
  <%= create_link Research::Researcher %>
<% end %>
