<% content_for :title, Research::Researcher.model_name.human(count: 2) %>

<table class="table">
  <thead>
    <tr>
      <th><%= Administration::Member.human_attribute_name('name') %></th>
      <th><%= t('research.number_of_articles') %></th>
    </tr>
  </thead>

  <tbody>
    <% @researchers.each do |researcher| %>
      <tr>
        <td><%= link_to researcher, admin_research_researcher_path(researcher) %></td>
        <td><%= researcher.research_journal_articles.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if @researchers.total_pages > 1 %>
    <%= paginate @researchers, theme: 'bootstrap-5' %>
<% end %>


<% content_for :action_bar_right do %>
  <%= link_to t('research.manage_researchers'), admin_administration_members_path, class: button_classes if can?(:read, Administration::Member) %>
<% end %>
