<% content_for :title, @researcher %>

<%= render 'admin/university/people/main_infos', person: @researcher %>

<% if @papers.total_count > 0 %>
  <div class="card">
    <div class="card-header">
      <h2 class="card-title mb-0 h5"><%= "#{Research::Journal::Paper.model_name.human(count: 2)} (#{@papers.total_count})" %></h2>
    </div>
    <%= render 'admin/research/journals/papers/list', papers: @papers %>
    <% if @papers.total_pages > 1 %>
      <div class="card-footer">
        <%= paginate @papers, theme: 'bootstrap-5' %>
      </div>
    <% end %>
  </div>
<% end %>

<div class="card flex-fill w-100">
  <div class="card-header">
    <h2 class="card-title mb-0 h5"><%= Research::Document.model_name.human(count: 2) %></h2>
  </div>
  <% if @researcher.hal_identity? %>
    <div class="table-responsive">
      <%= render 'admin/research/documents/list', documents: @researcher.research_documents %>
    </div>
  <% else %>
    <div class="card-body">
      <p>Vous n'avez pas d'identifiant HAL. Est-ce l'une des possibilités suivantes ?<p>
      <ul class="list-unstyled">
        <% @possible_hal_authors.each do |author| %>
          <li>
            <%= link_to admin_research_researcher_path( @researcher, 
                                                        hal_doc_identifier: author.docid,
                                                        hal_form_identifier: author.attributes['form_i'],
                                                        hal_person_identifier: author.attributes['person_i']), method: :put do %>
              <%= author.fullName_s %> (<%= author.docid %>)
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>


<% content_for :action_bar_right do %>
  <%= edit_link @researcher %>
<% end %>

