<% content_for :title, University.model_name.human(count: 2) %>

<table class="table">
  <thead>
    <tr>
      <th><%= University.human_attribute_name('name') %></th>
      <th><%= University.human_attribute_name('url') %></th>
      <th><%= University.human_attribute_name('private') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @universities.each do |university| %>
      <tr>
        <td><%= link_to university, [:admin, university] %></td>
        <td><%= link_to university.domain_url, university.domain_url, target: :_blank %></td>
        <td><%= university.private %></td>
        <td class="text-end">
          <%= edit_link university %>
          <%= destroy_link university %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% content_for :buttons do %>
  <%= create_link University %>
<% end %>
