<div class="<%= block_html_class(block) %>">
  <div class="container">
    <div class="block-content">
      <%= render 'admin/communication/blocks/partials/top', block: block %>

      <ul class="files">
        <% block.template.elements.each do |element| %>
          <li>
            <%= block_component_show block, :image, template: element %>
            <h3>
              <a href="<%= element.url %>" target="_blank" title="<%= element.title %>">
                <%= element.title %>
              </a>
            </h3>
            <p><%= element.description %></p>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>