<% content_for :title, @category %>

<%= render 'admin/communication/websites/sidebar' do %>
  <div class="row">
    <div class="col-lg-8">
      <%= render 'admin/application/summary/show', about: @category %>
      <%= render 'admin/application/i18n/widget', about: @category %>
    </div>
    <div class="col-lg-4">
      <%= render 'admin/application/featured_image/show', about: @category %>
      <%= render 'admin/application/meta_description/show', about: @category %>
    </div>
  </div>
  <%= render 'admin/communication/blocks/content/editor', about: @category %>
  <% if @events.total_count > 0 %>
    <%= osuny_panel Communication::Website::Agenda::Event.model_name.human(count: 2),
                    subtitle: "#{@events.total_count} #{Communication::Website::Agenda::Event.model_name.human(count: @events.total_count).downcase }" do %>
      <%= render 'admin/communication/websites/agenda/events/list', events: @events, hide_category: true %>
      <%= paginate @events %>
    <% end %>
  <% end %>
<% end %>

<% content_for :action_bar_left do %>
  <%= destroy_link @category %>
  <%= static_link static_admin_communication_website_agenda_category_path(@category) %>
<% end %>

<% content_for :action_bar_right do %>
  <%= edit_link @category %>
<% end %>
