<%
# Not in controller because it's loaded depending on the page type
@projects = @website.projects
                  .published_now_in(current_language)
                  .ordered(current_language)
                  .page(params[:projects_page])
%>
<%= osuny_panel t('admin.communication.website.pages.special_page') do %>
  <p><%= t('admin.communication.website.pages.special_pages.communication_portfolio.native', count: @projects.total_count) %></p>
  <%= create_link Communication::Website::Portfolio::Project %>
  <%= render 'admin/communication/websites/portfolio/projects/list', projects: @projects %>
  <%= paginate @projects, param_name: :projects_page %>
<% end %>