<%
# Not in controller because it's loaded depending on the page type
@organizations = @website.connected_organizations
                         .ordered(current_language)
                         .page(params[:organizations_page])

@explicitly_connected_organizations = @page.explicitly_connected_organizations
                                           .ordered(current_language)
                                           .page(params[:explicitly_connected_organizations_page])
%>
<%= osuny_panel t('admin.communication.website.pages.special_page') do %>
  <p><%= t('admin.communication.website.pages.special_pages.organization.native', count: @organizations.total_count) %></p>
  <%= render 'admin/university/organizations/list', organizations: @organizations %>
  <%= paginate @organizations, param_name: :organizations_page %>
<% end %>

<%= osuny_panel t('admin.communication.website.pages.special_pages.organization.explicitly_connected') do %>
  <div class="row">
    <div class="col-lg-6 col-xxl-4">
      <p><%= t('admin.communication.website.pages.special_pages.organization.explicitly_connected_hint') %></p>
      <%= simple_form_for :association, class_name: 'association' do |f| %>
        <%= f.input :name,
                    label: false,
                    as: :autocomplete,
                    url: search_admin_university_organizations_path(website_id: nil),
                    placeholder: t("university.organization.search"),
                    input_html: {
                      data: {
                        type: 'University::Organization',
                        target: connect_admin_communication_website_page_path(@page)
                      }
                    }
                    %>
      <% end %>
    </div>
    <div class="col-lg-6 col-xxl-8">
      <div class="row g-2">
        <% @explicitly_connected_organizations.each do |organization| %>
          <div>
            <div class="<%= osuny_card_classes(horizontal: true) %>">
              <%= render 'admin/university/organizations/thumbnail', organization: organization %>
              <div class="card-body">
                <%= osuny_published_localized organization %>
                <%= osuny_link_localized  organization,
                                          admin_university_organization_path(organization) %>
              </div>
              <div class="card-footer text-end">
                <%= link_to t('admin.communication.website.pages.special_pages.organization.disconnect'),
                            disconnect_admin_communication_website_page_path(@page, object_id: organization.id, object_type: organization.class),
                            class: button_classes_danger,
                            method: :post %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <%= paginate @explicitly_connected_organizations, param_name: :explicitly_connected_organizations_page %>
    </div>
  </div>
<% end %>
