<%
@organizations = @website.connected_organizations.ordered.page params[:page]
%>
<%= osuny_panel University::Organization.model_name.human(count: 2) do %>
  <%= simple_form_for :association, class_name: 'association' do |f| %>
    <%= f.input :name,
                label: false,
                as: :autocomplete,
                url: search_admin_university_organizations_path(lang: nil, website_id: nil),
                placeholder: t("extranet.experiences.search_organization"),
                input_html: {
                  data: {
                    type: 'University::Organization',
                    target: admin_communication_website_connections_path(lang: nil)
                  }
                }
                %>
  <% end %>
  <table class="<%= table_classes%>">
    <tbody>
      <% @organizations.each do |organization| %>
        <tr>
          <td><%= link_to organization, [:admin, organization] %></td>
          <td><%= link_to 'Déconnecter', 
                          admin_communication_website_connection_path(id: 'no-id', object_id: organization.id, object_type: organization.class),
                          class: button_classes_danger,
                          method: :delete %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @organizations, theme: 'bootstrap-5' %>
<% end %>
