<%
# Not in controller because it's loaded depending on the page type
@people = @website.connected_people
                  .ordered(current_language)
                  .page(params[:people_page])

@explicitly_connected_people = @page.explicitly_connected_people
                                    .ordered(current_language)
                                    .page(params[:explicitly_connected_people_page])
%>
<%= osuny_panel t('admin.communication.website.pages.special_page') do %>
  <p><%= t('admin.communication.website.pages.special_pages.person.native', count: @people.total_count) %></p>
  <%= render 'admin/university/people/list', people: @people %>
  <%= paginate @people, param_name: :people_page %>
<% end %>

<%= osuny_panel University::Person.model_name.human(count: 2) do %>
  <div class="row">
    <div class="col-lg-6 col-xxl-4">
      <p><%= t('admin.communication.website.pages.special_pages.person.explicitly_connected_hint') %></p>
      <%= simple_form_for :association, class_name: 'association' do |f| %>
        <%= f.input :name,
                    label: false,
                    as: :autocomplete,
                    url: search_admin_university_people_path(website_id: nil),
                    placeholder: t("university.person.search"),
                    input_html: {
                      data: {
                        type: 'University::Person',
                        target: connect_admin_communication_website_page_path(@page)
                      }
                    }
                    %>
      <% end %>
    </div>
    <div class="col-lg-6 col-xxl-8">
        <div class="row g-2">
          <% @people.each do |person| %>
            <div>
              <div class="<%= osuny_card_classes(horizontal: true) %>">
                <%= osuny_thumbnail_localized person %>
                <div class="card-body">
                  <p class="mb-1">
                    <%= osuny_published_localized person %>
                    <%= osuny_link_localized  person,
                                              admin_university_person_path(person)  %>
                  </p>
                </div>
                <div class="card-footer text-end">
                  <%= link_to t('admin.communication.website.pages.special_pages.person.disconnect'),
                              disconnect_admin_communication_website_page_path(@page, object_id: person.id, object_type: person.class),
                              class: button_classes_danger,
                              method: :post %>
                </div>
              </div>
            </div>
          <% end %>
          <%= paginate @people %>
        </div>
    </div>
  </div>
<% end %>
