<%
@people = @page.explicitly_connected_people.ordered.page params[:page]
%>
<%= osuny_panel University::Person.model_name.human(count: 2) do %>
  <%= simple_form_for :association, class_name: 'association' do |f| %>
    <%= f.input :name,
                label: false,
                as: :autocomplete,
                url: search_admin_university_people_path(lang: @page.language.iso_code, website_id: nil),
                placeholder: t("university.person.search"),
                input_html: {
                  data: {
                    type: 'University::Person',
                    target: connect_admin_communication_website_page_path(@page)
                  }
                }
                %>
  <% end %>
  <table class="<%= table_classes %>">
    <tbody>
      <% @people.each do |person| %>
        <tr>
          <td><%= link_to person, [:admin, person] %></td>
          <td><%= link_to 'Déconnecter',
                          disconnect_admin_communication_website_page_path(@page, objectId: person.id, objectType: person.class),
                          class: button_classes_danger,
                          method: :post %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @people, theme: 'bootstrap-5' %>
<% end %>
