<figure class="attachment attachment--<%= blob.representable? ? "preview" : "file" %> attachment--<%= blob.filename.extension %>">
  <% if blob.image? %>
    <%= image_tag blob.representation(resize_to_limit: '800x') %>
  <% elsif blob.video? %>
    <video>
      <source src="<%= rails_blob_path(blob) %>" type="<%= blob.content_type %>">
    </video>
  <% else %>
    <%= link_to polymorphic_url(blob), target: :blank do %>
      <% if blob.representable? %>
        <%= image_tag blob.representation(resize_to_limit: '800x') %>
      <% else %>
        <p>
          <span class="attachment__name"><%= blob.filename %></span>
          <span class="attachment__size"><%= number_to_human_size blob.byte_size %></span>
        </p>
      <% end %>
    <% end %>
  <% end %>

  <% if caption = blob.try(:caption) %>
    <figcaption class="attachment__caption">
      <%= caption %>
    </figcaption>
  <% end %>
</figure>
