<%= content_for :title, t('.title') %>

<div class="row">
  <div class="offset-lg-3 col-lg-6">
    <h1 class="h4 mb-4"><%= t(".resend_confirmation_instructions") %></h1>
    <%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>
      <%= f.full_error :confirmation_token %>
      <%= f.input :email,
                  required: true,
                  placeholder: User.human_attribute_name(:email),
                  autofocus: true,
                  label: false,
                  value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email),
                  input_html: { autocomplete: "email" } %>
      <%= f.button :submit, t(".resend_confirmation_instructions"), class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
