<%= block_component_preview :description %>
<p>
  <%= block_component_preview :name %><br>
  <% if @block.template.address.present? %>
    <%= @block.template.address %><br>
  <% end %>
  <%= block_component_preview :zipcode %>
  <%= block_component_preview :city %>
  <%= block_component_preview :country %>
</p>
<table class="table">
<% @block.template.elements.each do |element| %>
    <tr>
        <td><%= block_component_preview :title, template: element %></td>
        <td><%= block_component_preview :time_slot_morning, template: element %></td>
        <td><%= block_component_preview :time_slot_afternoon, template: element %></td>
    </tr>
<% end %>
</table>