<%
class_name = "block block-contact"
unless block.title.blank?
  class_name += " block-with-title"
end
%>

<section class="<%= class_name %>">
  <div class="container">
    <div class="block-content">
      <% unless block.title.blank? && block.template.description.blank? %>
        <div class="top">
          <% unless block.title.blank? %>
            <h2><%= block.title %></h2>
          <% end %>
          <% unless block.template.description.blank? %>
            <div class="description">
              <p><%= block_component_show block, :description %></p>
            </div>
          <% end %>
        </div>
      <% end %>

      <div class="informations">
        <address itemscope itemtype="https://schema.org/Organization">
          <% unless block.template.name.blank? %>
            <p><%= block_component_show block, :name %></p>
          <% end %>
          <div itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
            <span itemprop="streetAddress">
              <%= block_component_show block, :address %>
            </span>
            <span itemprop="addressLocality">
              <%= block_component_show block, :city %>
            </span>
            <span itemprop="postalCode">
              <%= block_component_show block, :zipcode %>
            </span>
            <span itemprop="addressCountry">
              <%= block_component_show block, :country %>
            </span>
          </div>

          <p>
            <% block.template.phone_numbers.each do |phone_number| %>
              <a itemprop="telephone" href="tel:<%= phone_number %>%>"><%= phone_number %></a><br>
            <% end %>
            <% block.template.emails.each do |email| %>
              <a itemprop="email" href="mailto:<%= email %>%>"><%= email %></a><br>
            <% end %>
          </p>
        </address>
        <ul>
          <% block.template.elements.each do |element| %>
            <li>
              <span><%= block_component_show block, :title, template: element %></span>
              <span><time datetime="<%= block_component_show block, :time_slot_morning, template: element %>"><%= block_component_show block, :time_slot_morning, template: element %></time></span>
              <span><time datetime="<%= block_component_show block, :time_slot_afternoon, template: element %>"><%= block_component_show block, :time_slot_afternoon, template: element %></time></span>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</section>
