<%= render 'admin/application/contact_details/show', about: block.template %>
<ul class="list-unstyled">
  <% block.template.elements.each do |element| %>
    <li>
      <span><%= block_component_snippet block, :title, template: element %></span>
      <span><time datetime="<%= block_component_snippet block, :time_slot_morning, template: element %>"><%= block_component_snippet block, :time_slot_morning, template: element %></time></span>
      <span><time datetime="<%= block_component_snippet block, :time_slot_afternoon, template: element %>"><%= block_component_snippet block, :time_slot_afternoon, template: element %></time></span>
    </li>
  <% end %>
</ul>