<%= render 'admin/application/contact_details/show', about: block.template %>
<% if block.template.elements.any? %>
  <%= osuny_label t('admin.communication.blocks.templates.contact.show.slots') %>
  <ul class="list-unstyled">
    <% block.template.elements.each do |element| %>
      <li class="row">
        <span class="col-lg-4"><%= block_component_snippet block, :title, template: element %></span>
        <span class="col-lg-4 text-end"><%= block_component_snippet block, :time_slot_morning, template: element %></span>
        <span class="col-lg-4 text-end"><%= block_component_snippet block, :time_slot_afternoon, template: element %></span>
      </li>
    <% end %>
  </ul>
<% end %>