<%= simple_form_for [:admin, media] do |f| %>
  <%= f.simple_fields_for :localizations, l10n do |lf| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <%= lf.hidden_field :language_id, value: current_language.id %>

    <div class="row">
      <div class="col-lg-6">
        <%= lf.input :name %>
        <%= f.input :original_uploaded_file, as: :file, input_html: { accept: default_images_formats_accepted } if media.new_record? %>
        <%= f.association :collection,
                          collection: osuny_collection(
                            current_university.communication_media_collections,
                            localized: true
                          ) %>
        <%= render 'admin/application/categories/widget/form', f: f, categories: @categories %>
      </div>
      <div class="col-lg-6">
        <%= lf.input :alt,
                      label: t('featured_image.alt.label'),
                      hint: t('featured_image.alt.hint'),
                      input_html: {
                        data: {
                          translatable: true
                        }
                      } %>
        <%= lf.input :credit,
                      as: :summernote,
                      label: t('featured_image.credit.label'),
                      hint: t('featured_image.credit.hint'),
                      input_html: {
                        data: {
                          translatable: true,
                          'summernote-config' => 'link'
                        }
                      } %>
      </div>
    </div>
    <% content_for :action_bar_right do %>
      <%= render 'admin/application/l10n/libre_translate_button', l10n: @l10n %>
      <%= submit f %>
    <% end %>
  <% end %>
<% end %>
