<div id="media-import-app" v-cloak>
  <div class="app-loader" role="status">
    <button type="button" class="btn btn-secondary btn-sm" disabled>
      <%= t('communication.description.parts.media.title') %>
    </button>
  </div>
  <div class="app-content">
    <button type="button"
            class="btn btn-secondary btn-sm"
            data-bs-toggle="modal"
            data-bs-target="#mediaImportModal">
      <%= t('communication.description.parts.media.title') %>
    </button>
    <input  type="hidden"
            name="photo_import[media]"
            v-model="media.selected">
    <div  class="modal fade"
          id="mediaImportModal"
          tabindex="-1"
          aria-labelledby="<%= t('communication.description.parts.media.title') %>"
          aria-hidden="true">
      <div class="modal-dialog modal-fullscreen modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <div class="col-auto d-none d-lg-block">
              <h5 class="modal-title"><%= t('communication.description.parts.media.title') %></h5>
            </div>
            <div class="col-auto d-flex flex-fill mx-lg-5">
              <div class="input-group">
                <input  type="text"
                        name="search"
                        placeholder="<%= t 'photo_import.placeholder' %>"
                        v-model="query"
                        class="form-control ms-auto">
                <button type="button"
                        class="btn btn-primary me-auto"
                        v-on:click="research"
                        aria-label="<%= t 'photo_import.search' %>">
                  <%= t 'photo_import.search' %>
                </button>
              </div>
            </div>
            <div class="col-auto">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
          </div>
          <div class="modal-body overflow-x-hidden" id="media-results">
          </div>
          <div class="modal-footer d-block" v-if="media.data.total > 0">
            <div class="row">
              <div class="col-lg-6">
                <a  href="#"
                    v-if="media.page > 1"
                    v-on:click="media.page = media.page - 1"
                    class="btn btn-light btn-sm">
                  <%= t 'photo_import.previous' %>
                </a>
              </div>
              <div class="col-lg-6 text-end">
                <a  href="#" v-if="media.page < media.data.total_pages"
                    v-on:click="media.page = media.page + 1"
                    class="btn btn-light btn-sm">
                  <%= t 'photo_import.next' %>
                </a>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script nonce="<%= request.content_security_policy_nonce %>">
  var mediaApp = Vue.createApp({
    data() {
      return {
        media: {
          page: 1,
          data: {
            results: [],
            total: 0
          },
          selected: null
        },
        targets: {
        },
        isOpened: false,
        isReady: false
      }
    },
    mounted() {
      var modalElement = document.querySelector('#mediaImportModal')
      this.modal = bootstrap.Modal.getOrCreateInstance(modalElement);

      modalElement.addEventListener('show.bs.modal', function (){
        this.isOpened = true;
        this.research();
      }.bind(this));

      modalElement.addEventListener('hide.bs.modal', function() {
          this.isOpened = false;
      }.bind(this));

      document.addEventListener("keydown", function(event) {
        if (event.key === "Enter" && this.isOpened) {
          event.preventDefault();
          event.stopImmediatePropagation();
          this.research();
        }
      }.bind(this));

      this.isReady = true;
    },
    methods: {
      research() {
        console.log('media search');
      },
    }
  });

  window.addEventListener('load', function(){
    setTimeout(function() {
      mediaApp.mount('#media-import-app');
    }, 1000);
  });
</script>