<div class="table-responsive">
  <table class="<%= table_classes %>">
    <thead>
      <tr>
        <th><%= Research::Hal::Publication.human_attribute_name('title') %></th>
        <th width="150"><%= Research::Hal::Publication.human_attribute_name('publication_date') %></th>
        <th width="200"><%= University::Person::Researcher.model_name.human(count: 2) %></th>
      </tr>
    </thead>
    <tbody>
      <% publications.each do |publication| %>
        <tr>
          <td><%= link_to publication, admin_research_hal_publication_path(publication) %></td>
          <td><%= l publication.publication_date %></td>
          <td>
            <% publication.researchers.in_university(current_university).each do |researcher| %>
              <%= link_to_if  researcher.university == current_university, 
                              researcher, 
                              admin_research_researcher_path(researcher) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>