<div class="table-responsive">
  <table class="<%= table_classes %>">
    <thead>
      <tr>
        <th><%= University::Person.human_attribute_name('last_name') %></th>
        <th><%= University::Person.human_attribute_name('first_name') %></th>
        <th><%= Education::Cohort.model_name.human(count: 2) %></th>
        <th><%= University::Person::Experience.model_name.human(count: 2) %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% alumni.each do |alumnus| %>
        <% path = admin_university_alumnus_path(alumnus) %>
        <tr>
          <td><%= link_to_if can?(:read, alumnus), alumnus.last_name, path %></td>
          <td><%= link_to_if can?(:read, alumnus), alumnus.first_name, path %></td>
          <td><%= link_to_if can?(:update, alumnus), alumnus.cohorts.size, cohorts_admin_university_alumnus_path(alumnus) %></td>
          <td><%= link_to_if can?(:update, alumnus), alumnus.experiences.size, experiences_admin_university_alumnus_path(alumnus) %></td>
          <td class="p-0">
            <%= kamifusen_tag alumnus.best_picture,
                              width: 40 if alumnus.best_picture.attached? %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
