<%= simple_form_for [:server, university] do |f| %>
  <div class="row">
    <div class="col-md-4">
      <%= f.input :name %>
      <%= f.input :identifier %>
      <%= f.input :private %>
      <%= f.input :sms_sender_name,
                  maxlength: 11 %>
    </div>
    <div class="col-md-4">
      <%= f.input :address %>
      <div class="row">
        <div class="col-md-4">
          <%= f.input :zipcode %>
        </div>
        <div class="col-md-8">
          <%= f.input :city %>
        </div>
      </div>
      <%= f.input :country, input_html: { class: 'form-select' } %>
    </div>
    <div class="col-md-4">
      <%= f.input :logo,
                  as: :single_deletable_file,
                  input_html: { accept: '.jpg,.jpeg,.png,.svg' },
                  preview: 200,
                  direct_upload: true %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h3 class="mt-5"><%= t('university.sso') %></h3>
      <%= f.input :has_sso %>
      <div id="sso-inputs">
        <%= f.input :sso_target_url, required: true %>
        <%= f.input :sso_cert, required: true %>
        <%= f.input :sso_name_identifier_format, required: true %>

        <%#= render 'sso_mapping', brand: brand %>
    </div>
  </div>

  <h3 class="mt-5"><%= t('university.invoice_informations') %></h3>
  <div class="row">
    <div class="col-md-4">
      <%= f.input :invoice_date %>
    </div>
    <div class="col-md-4">
      <%= f.input :invoice_amount %>
    </div>
  </div>
  <% content_for :action_bar_right do %>
    <%= submit f %>
  <% end %>
<% end %>
