<% mapping_keys = ['email', 'first_name', 'last_name', 'role', 'mobile_phone', 'language', 'picture_url'] %>

<%# Include vue.js before call Vue.createApp %>
<%= javascript_include_tag 'vue' %>


<div id="app" v-cloak>
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only"><%= t('loading') %></span>
  </div>

  <div class="app-form">
    <draggable :list="fields">
      <div v-for="(field, index) in fields">
        <div class="card">
          <div class="card-header d-flex justify-content-between">
            <a data-bs-toggle="collapse" :href="'#sso_mapping_collapse_' + index ">
              {{index + 1}}. {{ field.sso_key }} -> {{ keys[field.internal_key]}}
            </a>
            <a
              v-on:click="fields.splice(fields.indexOf(field), 1)"
              title="Remove field">
              <i class="far fa-trash-alt"></i>
            </a>
          </div>
          <div class="card-body collapse pt-0" :id="'sso_mapping_collapse_' + index ">
            <hr class="mt-0">
            <div class="form-group">
              <label for="" class="form-control-label"><%= t('university.sso_key') %> <abbr title="required">*</abbr></label>
              <input
                v-model="field.sso_key"
                type="text" class="form-control">
            </div>
            <div class="form-group">
              <label for="" class="form-control-label"><%= t('university.internal_key') %> <abbr title="required">*</abbr></label>
              <select v-model="field.internal_key" id="" class="form-select" required>
                <option v-for="(label, key) in keys" :value="key">{{ label }}</option>
              </select>
            </div>
            <div v-if="field.internal_key === 'role'">
              <hr class="mt-4">
              <% User.roles.keys.each do |role| %>
                <div class="form-group">
                  <label for="" class="form-label"><%= t("activerecord.attributes.user.roles.#{role}") %></label>
                  <input v-model="field.roles.<%= role %>" type="text" class="form-control">
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </draggable>

    <a v-on:click="fields.push({sso_key: 'key', internal_key: 'email', roles: {}})" class="btn btn-primary btn-sm">
      <%= t('add_field') %>
    </a>
  </div>

  <textarea name="university[sso_mapping]" id="university_sso_mapping" rows="20" cols="200" class="d-none">
    {{ JSON.stringify(fields) }}
  </textarea>

</div>

<script>
  var app = Vue.createApp({
    components: {
      draggable: VueDraggableNext.VueDraggableNext,
    },
    data() {
      return {
        fields: <%= university.sso_mapping.blank? ? '[]' : university.sso_mapping.to_json.html_safe %>,
        keys: <%= mapping_keys.map { |key| [key, User.human_attribute_name(key)] }.to_h.to_json.html_safe %>
      }
    }
  });

  window.addEventListener('load', function(){
    setTimeout(function() {
      app.mount('#app');
    }, 1000);
  });
</script>
