<% content_for :title, "#{ @universities.count} #{University.model_name.human(count:  @universities.count).downcase}" %>

<p>
  <%= University.contributing.count %>
  <%= t('university.contributing', count: University.contributing.count) %>
</p>

<div class="table-responsive">
  <table class="<%= table_classes %>">
    <thead>
      <tr>
        <th><%= University.human_attribute_name('name') %></th>
        <th><%= University.human_attribute_name('url') %></th>
        <th><%= University.human_attribute_name('is_really_a_university') %></th>
        <th><%= University.human_attribute_name('public_or_private') %></th>
        <th><%= University.human_attribute_name('invoice_date') %></th>
        <th><%= University.human_attribute_name('contribution_amount') %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @universities.each do |university| %>
        <tr>
          <td><%= link_to university, [:server, university] %></td>
          <td><%= link_to university.url, university.url, target: :_blank %></td>
          <td><%= t university.is_really_a_university %></td>
          <td><%= university.private ? University.human_attribute_name('private') : University.human_attribute_name('public') %></td>
          <% if university.contribution_amount.blank? %>
            <td></td>
            <td></td>
          <% else %>
            <td class="<%= university.invoice_proximity.blank? ? '' : "table-#{university.invoice_proximity}" %>">
              <%= l university.invoice_date, format: "%d %B" %>
            </td>
            <td class="<%= university.invoice_proximity.blank? ? '' : "table-#{university.invoice_proximity}" %>">
              <%= number_to_currency university.contribution_amount, precision: 0 %>
            </td>
          <% end %>
          <td class="text-end">
            <div class="btn-group" role="group">
              <%= link_to t('edit'),
                        edit_server_university_path(university),
                        class: button_classes %>
              <%= link_to t('delete'),
                        server_university_path(university),
                        method: :delete,
                        data: { confirm: t('please_confirm') },
                        class: button_classes_danger %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <th class="text-start" colspan="5"><%= t('university.contributions_total') %></th>
        <td class="text-start" colspan="2"><%= number_to_currency University.sum(:contribution_amount), precision: 0 %></td>
      </tr>
    </tfoot>
  </table>
</div>

<% content_for :action_bar_right do %>
  <%= link_to t('create'), new_server_university_path, class: button_classes %>
<% end %>
