<% content_for :title, @university %>

<div class="row">
  <div class="col-xl-8">
    <%= osuny_panel t('admin.infos') do %>
      <div class="table-responsive">
        <table class="<%= table_classes %>">
          <tr>
            <td><%= t('activerecord.attributes.university.url') %></td>
            <td class="text-end"><%= link_to @university.url, @university.url, target: :_blank %></td>
          </tr>
          <% ['address', 'zipcode', 'city', 'country', 'private'].each do |attribute| %>
            <tr>
              <td><%= University.human_attribute_name(attribute) %></td>
              <td class="text-end"><%= @university.public_send attribute %></td>
            </tr>
          <% end %>
          <% unless @university.invoice_amount.blank? %>
            <tr class="<%= @university.invoice_proximity.blank? ? '' : "table-#{@university.invoice_proximity}" %>">
              <td><%= t('activerecord.attributes.university.invoice_date') %></td>
              <td class="text-end"><%= l @university.invoice_date, format: "%d %B" %></td>
            </tr>
            <tr class="<%= @university.invoice_proximity.blank? ? '' : "table-#{@university.invoice_proximity}" %>">
              <td><%= t('activerecord.attributes.university.invoice_amount') %></td>
              <td class="text-end"><%= @university.invoice_amount %>€</td>
            </tr>
          <% end %>
        </table>
      </div>
    <% end %>
  </div>
</div>

<h2 class="mt-5 h3"><%= Communication::Website.model_name.human(count: @university.websites.count) %></h2>
<%= render 'server/websites/list', websites: @university.websites %>

<% content_for :action_bar_right do %>
  <%= link_to t('edit'), edit_server_university_path(@university), class: button_classes %>
<% end %>
