<% content_for :title, @university %>

<div class="row">
  <div class="col-md-5">
    <div class="card">
      <div class="card-header">
        <h2 class="card-title"><%= t('activerecord.attributes.university.url') %></h2>
      </div>
      <table class="table">
        <tr>
          <td>URL</td>
          <td class="text-end"><%= link_to @university.url, @university.url, target: :_blank %></td>
        </tr>
        <% ['address', 'zipcode', 'city', 'country', 'private'].each do |variable| %>
          <tr>
            <td><%= University.human_attribute_name(variable) %></td>
            <td class="text-end"><%= @university.send variable %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <div class="card-header">
        <h2 class="card-title"><%= t('activerecord.attributes.university.logo') %></h2>
      </div>
      <div class="card-body">
        <%= kamifusen_tag @university.logo, class: 'img-fluid p-5' %>
      </div>
    </div>
  </div>
</div>

<% content_for :action_bar_right do %>
  <%= link_to t('edit'), edit_server_university_path(@university), class: button_classes %>
<% end %>
