<label      class="form-label"
            aria-label="<%= label %>"
            :for="<%= dom_id.html_safe %>">
  <%= label %>
</label>
<div class="summernote mb-3">
  <textarea :id="<%= dom_id.html_safe %>"
            class="form-control summernote-vue"
            data-translatable="true"
            v-model="<%= model %>.<%= property %>"
            data-summernote-config="<%= summernote_config %>"
            placeholder="<%= placeholder %>"></textarea>
  <% if hint.present? %>
    <div class="form-text"><%= hint %></div>
  <% end %>    
</div>
