<rich-text-input v-model="<%= model %>.<%= property %>"
                 config="<%= summernote_config %>"
                 placeholder="<%= placeholder %>"
                 label="<%= label %>">
<% if hint.present? %>
  <template #hint>
    <div class="form-text"><%= hint %></div>
  </template>
<% end %>
</rich-text-input>
