<%= simple_form_for [:admin, indicator] do |f| %>
  <%= f.association :criterion, include_blank: false %>
  <div class="row">
    <div class="col-md-2">
      <%= f.input :number %>
    </div>
    <div class="col-md-5">
      <%= f.input :name, input_html: { rows: 5 } %>
      <%= f.input :level_expected, input_html: { rows: 5 } %>
    </div>
    <div class="col-md-5">
      <%= f.input :proof, input_html: { rows: 5 } %>
      <%= f.input :requirement, input_html: { rows: 5 } %>
      <%= f.input :non_conformity, input_html: { rows: 5 } %>
    </div>
  </div>
  <% content_for :buttons do %>
    <%= submit f %>
  <% end %>
<% end %>
