<% content_for :title, Qualiopi::Indicator.model_name.human(count: 2) %>

<table class="table">
  <thead>
    <tr>
      <th><%= Qualiopi::Indicator.human_attribute_name('criterion') %></th>
      <th><%= Qualiopi::Indicator.human_attribute_name('number') %></th>
      <th><%= Qualiopi::Indicator.human_attribute_name('name') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @indicators.each do |indicator| %>
      <tr>
        <td><%= indicator.criterion %></td>
        <td><%= indicator.number %></td>
        <td><%= link_to indicator, [:admin, indicator] %></td>
        <td class="text-end">
          <%= edit_link indicator %>
          <%= destroy_link indicator %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
