<div  class="row g-2"
      data-sortable 
      data-sort-url="<%= reorder_admin_education_diplomas_path %>">
  <% diplomas.ordered.each do |diploma| %>
    <div data-id="<%= diploma.id %>" class="handle">
      <div class="<%= osuny_card_classes(horizontal: true) %>">
        <%= osuny_thumbnail_localized diploma %>
        <div class="card-body">
          <%= osuny_published_localized diploma %>
          <%= osuny_link_localized diploma, [:admin, diploma], classes: 'stretched-link' %>
        </div>
        <div class="card-footer text-end text-muted">
          <%= diploma.level_i18n %>
        </div>
      </div>
    </div>
  <% end %>
</div>
