<% content_for :title, @diploma %>

<div class="row">
  <div class="col-lg-8">
    <%= render 'admin/communication/blocks/list', about: @diploma %>
    <div class="card flex-fill w-100">
      <div class="card-header">
        <h2 class="card-title mb-0 h5">
          <%= Education::Diploma.human_attribute_name('programs') %>
        </h2>
      </div>
      <%= render 'admin/education/programs/list',
                  programs: @programs,
                  hide_diploma: true %>
      
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card flex-fill w-100">
      <div class="card-header">
        <h2 class="card-title mb-0 h5"><%= t('information') %></h2>
      </div>
      <div class="card-body">
        <strong><%= Education::Diploma.human_attribute_name('short_name') %></strong>
        <span class="float-end"><%= @diploma.short_name %></span>
        <hr>
        <strong><%= Education::Diploma.human_attribute_name('level') %></strong>
        <span class="float-end"><%= @diploma.level_i18n %></span>
        <hr>
        <strong><%= Education::Diploma.human_attribute_name('ects') %></strong>
        <span class="float-end"><%= @diploma.ects %></span>
        <hr>
        <strong><%= Education::Diploma.human_attribute_name('duration') %></strong>
        <span class="float-end"><%= @diploma.duration %></span>
      </div>
    </div>
  </div>
</div>

<% content_for :action_bar_left do %>
  <%= destroy_link @diploma %>
  <%= link_to t('static'),
              static_admin_education_diploma_path(@diploma),
              class: button_classes('btn-light') if current_user.server_admin? %>
<% end %>

<% content_for :action_bar_right do %>
  <%= edit_link @diploma %>
<% end %>
