<table class="<%= table_classes %>">
  <thead>
    <tr>
      <th><%= Administration::Member.human_attribute_name('last_name') %></th>
      <th><%= Administration::Member.human_attribute_name('first_name') %></th>
      <th><%= t('communication.number_of_posts') %></th>
    </tr>
  </thead>
  <tbody>
    <% authors.each do |author| %>
      <tr>
        <td><%= link_to author.last_name, admin_communication_website_author_path(website_id: @website.id, id: author.id) %></td>
        <td><%= link_to author.first_name, admin_communication_website_author_path(website_id: @website.id, id: author.id) %></td>
        <td><%= author.communication_website_posts.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
