<%
class_name = "block block-video"
unless block.title.blank?
  class_name += " block-with-title"
end
%>
<div class="<%= class_name %>">
  <div class="container">
    <div class="block-content">
      <% unless block.title.blank? %>
        <div class="top">
          <p class="block-title"><%= block.title %></div>
        </div>
      <% end %>
      <% if block.template.url.present? %>
        <div class="video">
          <%= block.template.video_iframe %>
        </div>
      <% end %>
      <% if block.template.video_title %>
        <p><%= block_component_show block, :video_title %></p>
      <% end %>
      <% unless block.template.transcription.blank? %>
        <div class="transcription">
          <details>
            <summary><%= t 'accessibility.transcription' %></summary>
            <p><%= block_component_show block, :transcription %></p>
          </details>
        </div>
      <% end %>
    </div>
  </div>
</div>