<div class="<%= block_html_class(block) %>">
  <div class="container">
    <div class="block-content">
      <%= render 'admin/communication/blocks/partials/top', block: block %>

      <% if block.template.url.present? %>
        <div class="video">
          <%= block.template.video_iframe %>
        </div>
      <% end %>
      <% if block.template.video_title %>
        <p><%= block_component_show block, :video_title %></p>
      <% end %>
      <% unless block.template.transcription.blank? %>
        <div class="transcription">
          <details>
            <summary><%= t 'accessibility.transcription' %></summary>
            <p><%= block_component_show block, :transcription %></p>
          </details>
        </div>
      <% end %>
    </div>
  </div>
</div>