<% content_for :title, @l10n %>

<p class="lead mb-5"><%= t('education.program.parts.certification.hint') %>

<div class="row mb-5">
  <div class="col-lg-4 mb-4">
    <%= osuny_label Education::Program.human_attribute_name(:qualiopi_certified) %>
    <p><%= t @program.qualiopi_certified %></p>
  </div>
  <div class="col-lg-8 mb-4">
    <%= render 'admin/application/property/text', object: @l10n, property: :qualiopi_text %>
  </div>
</div>

<% content_for :action_bar_right do %>
  <%= link_to_if  can?(:edit, @program),
                  t('edit'),
                  edit_certification_admin_education_program_path(@program),
                  class: button_classes %>
<% end %>
