<% content_for :title, @l10n %>
<%= simple_form_for [:admin, @program] do |f| %>
  <%= f.simple_fields_for :localizations, @l10n do |lf| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <%= lf.hidden_field :language_id, value: current_language.id %>
    <%= f.hidden_field :part, value: 'presentation' %>
    <div class="row">
      <div class="col-lg-3">
        <%= osuny_label t('education.program.registration_scheme') %>
        <div class="mb-n3"><%= f.input :initial %></div>
        <div class="mb-n3"><%= f.input :continuing %></div>
        <div><%= f.input :apprenticeship %></div>
        <%= f.input :capacity %>
      </div>
      <div class="offset-lg-1 col-lg-4">
        <%= lf.input  :presentation,
                      as: :summernote,
                      input_html: {
                        data: { 'summernote-config' => 'mini' }
                      } %>
      </div>
      <div class="col-lg-4">
        <%= render 'admin/education/programs/forms/input_with_inheritance', f: lf, property: :objectives %>
      </div>
    </div>

    <% content_for :action_bar_right do %>
      <%= submit f %>
    <% end %>
  <% end %>
<% end %>
