<%= simple_form_for [:admin, category] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="row">
    <div class="col-md-8">
      <%= osuny_panel t('content') do %>
        <%= f.input :name %>
      <% end %>
    </div>
    <div class="col-md-4">
      <%= osuny_panel t('metadata') do %>
        <%= f.input :slug,
                    as: :string,
                    input_html: category.persisted? ? {} : {
                      class: 'js-slug-input',
                      data: { source: '#communication_extranet_post_category_name' }
                    } %>
      <% end %>
    </div>
  </div>
  <% content_for :action_bar_right do %>
    <%= submit f %>
  <% end %>
<% end %>
