<% include_id ||= false %>
<div class="nested-fields d-flex mb-2">
  <i class="<%= Icon::DRAG %> handle pt-2 pe-2"></i>
  <div class="flex-grow-1">
    <%= f.association :person,
                      collection: @administration_people,
                      label: false,
                      include_blank: :translate,
                      wrapper: false,
                      required: true %>
  </div>
  <%= link_to_remove_association  "<i class=\"#{ Icon::DELETE } p-2\"></i>".html_safe,
                                  f,
                                  class: 'text-danger' %>
  <%= f.hidden_field :position, data: { 'sortable-input': '' } %>
  <%= f.hidden_field :id if include_id %>
</div>
