<%= block_component_edit :layout %>

<div class="row mb-4">
  <div class="col-xl-6">
    <%= block_component_edit :text %>
    <%= block_component_edit :notes %>
  </div>
  <div class="col-xl-6">
    <label class="form-label">
      <%= t "admin.communication.blocks.templates.chapter.edit.image.label" %>
    </label>

    <div class="row">
      <div class="col-xxl-6">
        <%= block_component_edit :image %>
      </div>
      <div class="col-xxl-6">
        <%= block_component_edit :alt,
              label: t('admin.communication.blocks.components.image.alt.label'),
              placeholder: t('admin.communication.blocks.components.image.alt.placeholder') %>
        <%= block_component_edit :credit,
              label: t('admin.communication.blocks.components.image.credit.label'),
              placeholder: t('admin.communication.blocks.components.image.credit.placeholder'),
              summernote_config: 'link' %>
      </div>
    </div>
  </div>
</div>
