<%= block_component_edit :layout %>

<div class="row mb-4">
  <div class="col-xxl-8">
    <%= block_component_edit :text %>
    <%= block_component_edit :notes %>
  </div>
  <div class="col-xxl-4">
    <label class="form-label">
      <%= t "admin.communication.blocks.templates.chapter.edit.image.label" %>
    </label>
    <%= block_component_edit :image %>
    <%= block_component_edit :alt,
          label: t('admin.communication.blocks.components.image.alt.label'),
          placeholder: t('admin.communication.blocks.components.image.alt.placeholder') %>
    <%= block_component_edit :credit,
          label: t('admin.communication.blocks.components.image.credit.label'),
          placeholder: t('admin.communication.blocks.components.image.credit.placeholder'),
          summernote_config: 'link' %>
  </div>
</div>
