<%= block_component_edit block, :layout %>

<%= block_component_edit block, :text %>
<%= block_component_edit block, :notes %>

<h2 class="h4 mt-5"><%= t("admin.communication.blocks.templates.chapter.edit.image.label") %></h2>
<div class="row pure__row--small mb-4">
  <div class="col-xxl-6">
    <%= block_component_edit block, :image %>
  </div>
  <div class="col-xxl-6">
    <%= block_component_edit block, :alt,
          label: t('admin.communication.blocks.components.image.alt.label'),
          placeholder: t('admin.communication.blocks.components.image.alt.placeholder'),
          hint: t('featured_image.alt.hint') %>
    <%= block_component_edit block, :credit,
          label: t('admin.communication.blocks.components.image.credit.label'),
          placeholder: t('admin.communication.blocks.components.image.credit.placeholder'),
          summernote_config: 'link' %>
  </div>
</div>
