<%= block_component_preview :image %>
<p class="small mb-0">
  <%= block_component_preview :image_alt %>
  <%= block_component_preview :image_credit %>
</p>
<%= block_component_preview :text %>
<%= block_component_preview :notes %>
