<%
$class = "block block-chapter" 

unless @block.title.empty?
  $class += " block-with-title"
end

if @block.template.image[:id] #TODO comment vérifier proprement la présence de l'image?
  $class += " block-chapter--with-image"
end

$class += " block-chapter--" + @block.template.layout

%>

<section class="<%= $class %>">
  <div class="container">
    <div class="block-content">
      <div class="chapter">
        <div class="text">
          <% unless @block.title.empty? %>
            <div class="top">
              <h2><%= @block.title %></h2>
            </div>
          <% end %>
          <% unless @block.template.text.empty? %>
            <div class="rich-text">
              <%= block_component_preview :text %>
            </div>
          <% end %>
          <% unless @block.template.notes.empty? %>
            <div class="notes">
              <%= block_component_preview :notes %>
            </div>
          <% end %>
        </div>
        <%= block_component_preview :image %>
      </div>
    </div>
  </div>
</section>
