<%
class_name = "block block-chapter"
class_name += " block-with-title" unless block.title.blank?
#TODO comment vérifier proprement la présence de l'image?
class_name += " block-chapter--with-image" if block.template.image[:id]
class_name += " block-chapter--" + block.template.layout
%>
<div class="<%= class_name %>">
  <div class="container">
    <div class="block-content">
      <div class="chapter">
        <div class="text">
          <% if block.title.present? %>
            <div class="top">
              <p class="block-title"><%= block.title %></div>
            </div>
          <% end %>
          <% if block.template.text.present? %>
            <div class="rich-text">
              <%= block_component_show block, :text %>
            </div>
          <% end %>
          <% if block.template.notes.present? %>
            <div class="notes">
              <%= block_component_show block, :notes %>
            </div>
          <% end %>
        </div>
        <%= block_component_show block, :image %>
      </div>
    </div>
  </div>
</div>
