<%= simple_form_for [:admin, journal] do |f| %>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :title %>
      <%= f.input :repository %>
      <%= f.input :access_token %>
    </div>
    <div class="col-md-6">
      <%= f.input :description %>
    </div>
  </div>
  <% content_for :buttons do %>
    <%= submit f %>
  <% end %>
<% end %>
