<% content_for :title, Research::Journal.model_name.human(count: 2) %>

<table class="table">
  <thead>
    <tr>
      <th><%= Research::Journal.human_attribute_name('title') %></th>
      <th><%= Research::Journal::Volume.model_name.human(count: 2) %></th>
      <th><%= Research::Journal::Article.model_name.human(count: 2) %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @journals.each do |journal| %>
      <tr>
        <td><%= link_to journal, [:admin, journal] %></td>
        <td><%= link_to "#{journal.volumes.count}", admin_research_journal_volumes_path(journal_id: journal) %></td>
        <td><%= link_to "#{journal.articles.count}", admin_research_journal_articles_path(journal_id: journal) %></td>
        <td class="text-end">
          <div class="btn-group" role="group">
            <%= edit_link journal %>
            <%= destroy_link journal %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @journals, theme: 'bootstrap-5' %>


<% content_for :action_bar_right do %>
  <%= create_link Research::Journal %>
<% end %>
