<% content_for :title, Research::Journal.model_name.human(count: 2) %>

<%= render 'filters', current_path: admin_research_journals_path %>

<div class="row g-2 mb-3">
  <% @journals.each do |journal| %>
    <div>
      <div class="card card--horizontal">
        <%= osuny_thumbnail_localized journal %>
        <div class="card-body">
          <%= osuny_link_localized journal, [:admin, journal], classes: 'stretched-link' %>
        </div>
        <div class="card-footer small text-muted">
          <span>
            <%= journal.volumes.count %>
            <%= Research::Journal::Volume.model_name.human(count: journal.volumes.count).downcase %>
          </span>
          <span class="ms-4">
            <%= journal.papers.count %>
            <%= Research::Journal::Paper.model_name.human(count: journal.papers.count).downcase %>
          </span>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= paginate @journals %>

<% content_for :action_bar_right do %>
  <%= create_link Research::Journal %>
<% end %>
