<% content_for :title, @l10n %>

<% content_for :title_right do %>
  <%= render 'admin/application/favorites/widget', about: @journal %>
  <%= edit_link @journal %>
  <%= button_advanced do %>
    <%= destroy_link @journal %>
  <% end %>
<% end %>

<% content_for :title_left do %>
  <% if @journal.websites.any? %>
    <%= Communication::Website.model_name.human(count: 2) %>
    <i class="<%= Icon::ARROW_RIGHT %> small"></i>
    <% @journal.websites.each do |website| %>
      <%= osuny_link_localized_if can?(:read, website), website, [:admin, website] %><br>
    <% end %>
  <% end %>
  <% if @l10n.issn.present? %>
    <%= Research::Journal::Localization.human_attribute_name('issn') %>
    <%= @l10n.issn %>
  <% end %>
<% end %>

<% @volumes.each do |volume| %>
  <div class="row mb-5">
    <div class="col-lg-3 col-xxl-2">
      <div class="card">
        <%= osuny_thumbnail_localized volume, large: true %>
        <div class="card-body">
          <%= osuny_published_localized volume %>
          <%= osuny_link_localized  volume,
                                    admin_research_journal_volume_path(journal_id: @journal, id: volume),
                                    classes: 'stretched-link' %>
        </div>
      </div>
    </div>
    <div class="offset-lg-1 offset-xxl-1 col-lg-8 col-xxl-9">
      <%= render 'admin/research/journals/papers/list', papers: volume.papers.ordered(current_language) %>
    </div>
  </div>
<% end %>

<% content_for :server_admin_only do %>
  <%= static_link static_admin_research_journal_path(@journal) %>
<% end %>