<% content_for :title, @journal %>

<% content_for :title_right do %>
  <% if @journal.websites.any? %>
    <%= Communication::Website.model_name.human(count: 2) %>
    <i class="<%= Icon::ARROW_RIGHT %> small"></i>
    <% @journal.websites.each do |website| %>
      <%= link_to website, [:admin, website] %><br>
    <% end %>
  <% end %>
  <% if @journal.issn %><%= Research::Journal.human_attribute_name('issn') %> <%= @journal.issn %><% end %>
<% end %>

<%= render 'admin/research/journals/sidebar' do %>
  <div class="row">
    <div class="col-md-8">
      <%= render 'admin/application/summary/show', about: @journal %>
    </div>
    <div class="col-md-4">
      <%= render 'admin/application/meta_description/show', about: @journal %>
    </div>
  </div>

  <%
  action = link_to    t('create'),
                      new_admin_research_journal_volume_path(journal_id: @journal),
                      class: button_classes
  %>
  <%= osuny_panel Research::Journal::Volume.model_name.human(count: 2), action: action do %>
    <div class="row">
      <% @volumes.limit(4).each do |volume| %>
        <div class="col-md-6 col-xl-3">
          <div class="card">
            <%= kamifusen_tag volume.featured_image, width: 600, class: 'img-fluid' if volume.featured_image.attached? %>
            <div class="card-body">
              <%= link_to volume,
                          admin_research_journal_volume_path(journal_id: @journal, id: volume),
                          class: "stretched-link #{'draft' unless volume.published?}" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <%
  action = link_to    t('create'),
                      new_admin_research_journal_paper_path(journal_id: @journal),
                      class: button_classes
  %>
  <%= osuny_panel Research::Journal::Paper.model_name.human(count: 2), action: action do %>
    <%= render 'admin/research/journals/papers/list', papers: @papers %>
  <% end %>

  <%
  action = link_to    t('create'),
                      new_admin_research_journal_kind_path(journal_id: @journal),
                      class: button_classes
  %>
  <%= osuny_panel Research::Journal::Paper::Kind.model_name.human(count: 2), action: action do %>
    <%= render 'admin/research/journals/papers/kinds/list', kinds: @kinds %>
  <% end %>
<% end %>

<% content_for :action_bar_left do %>
  <%= destroy_link @journal %>
<% end %>

<% content_for :action_bar_right do %>
  <%= edit_link @journal %>
<% end %>
