<% content_for :title, @journal %>

<% content_for :title_right do %>
  <% if @journal.websites.any? %>
    <%= Communication::Website.model_name.human(count: 2) %>
    <i class="fas fa-arrow-right small"></i>
    <% @journal.websites.each do |website| %>
      <%= link_to website, [:admin, website] %><br>
    <% end %>
  <% end %>
  <% if @journal.issn %><%= Research::Journal.human_attribute_name('issn') %> <%= @journal.issn %><% end %>
<% end %>


<div class="card mt-5">
  <div class="card-header">
    <div class="float-end">
      <%= link_to t('create'),
                  new_admin_research_journal_volume_path(journal_id: @journal),
                  class: button_classes %>
    </div>
    <h2 class="card-title">
      <%= link_to Research::Journal::Volume.model_name.human(count: 2),
                  admin_research_journal_volumes_path(journal_id: @journal) %></h2>
  </div>
  <div class="card-body">
    <div class="row">
      <% @journal.volumes.ordered.limit(4).each do |volume| %>
        <div class="col-md-3 mt-4">
          <div class="card">
            <%= image_tag volume.featured_image, class: 'img-fluid' if volume.featured_image.attached? %>
            <div class="card-body">
              <%= link_to volume, admin_research_journal_volume_path(journal_id: @journal, id: volume), class: 'stretched-link' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="card mt-5">
  <div class="card-header">
    <div class="float-end">
      <%= link_to t('create'),
                  new_admin_research_journal_article_path(journal_id: @journal),
                  class: button_classes %>
    </div>
    <h2 class="card-title">
      <%= link_to Research::Journal::Article.model_name.human(count: 2),
                  admin_research_journal_articles_path(journal_id: @journal) %></h2>
  </div>
  <%= render 'admin/research/journal/articles/list', articles: @journal.articles.ordered.limit(10) %>
</div>

<% content_for :action_bar_right do %>
  <%= edit_link @journal %>
<% end %>
