<%= block_component_edit :layout %>
<%= block_component_add_element t('.add_event') %>

<draggable :list="data.elements" handle=".dragHandle" class="row">
  <div v-for="(element, index) in data.elements" class="col-lg-6 col-xl-4">
    <div class="card">
      <div class="card-body">
        <div class="d-flex">
          <div>
            <a class="btn ps-0 pt-0 dragHandle">
              <i class="fa fa-bars handle"></i>
            </a>
          </div>
          <div class="flex-fill">
            <%= block_component_edit :title, template: @element %>
            <%= block_component_edit :text, template: @element %>
          </div>
          <div>
            <a  class="btn btn-sm btn-danger ms-3"
                v-on:click="data.elements.splice(data.elements.indexOf(element), 1)"
                title="<%= t '.remove_event' %>">
                <i class="fas fa-times"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</draggable>
