<p><%= @block.template.description %></p>
<div class="<%= 'row' unless @preview %>">
  <% @block.template.events.each do |event| %>
      <div class="<%= 'col-xxl-4 col-xl-6' unless @preview %>">
        <article class="card">
          <div class="card-body">
            <p class="lead"><%= event.title %></p>
            <p><%= event.text %></p>
          </div>
        </article>
      </div>
  <% end %>
</div>
