<div class="card flex-fill w-100">
  <div class="card-header">
    <h5 class="card-title mb-0"><%= t('activerecord.attributes.communication/website/post.featured_image') %></h5>
  </div>
  <div class="card-body">
    <%= f.input :featured_image,
                as: :single_deletable_file,
                direct_upload: true,
                label: false,
                input_html: { accept: '.jpg,.jpeg,.png,.svg' },
                preview: true %>
    <%= f.input :featured_image_alt %>
    <%= f.input :featured_image_credit,
                as: :summernote,
                input_html: {
                  data: { 'summernote-config' => 'mini' }
                } %>
    <%= render  'admin/communication/unsplash/selector', about: about, f:f %>
  </div>
</div>
