<% 
small ||= false 
%>
<%= osuny_panel t('featured_image.title'), small: small do %>
  <% if about.best_featured_image.attached? %>
    <%= kamifusen_tag about.best_featured_image, width: 600, class: 'img-fluid mb-2' %>
  <% else %>
    <%= image_tag 'admin/placeholder.png', class: 'img-fluid mb-2' %>
  <% end %>
  <% if about.best_featured_image_alt %>
    <p class="mb-0"><%= about.best_featured_image_alt %></p>
  <% end %>
  <% if about.best_featured_image_credit %>
    <div class="small mb-0">
      <%= sanitize about.best_featured_image_credit %>
    </div>
  <% end %>
<% end %>