<%
  class_name = "block block-testimonials" 
  unless @block.title.blank?
    class_name += " block-with-title"
  end
  if !@block.template.elements.one?
    class_name += " with-carousel"
  end
%>

<section class="<%= class_name %>">
  <div class="container">
    <div class="block-content">
      <div class="testimonials">
        <% if !@block.template.elements.one? %>
          <div class="splide"
              data-splide='{
                  "arrows":false,
                  "autoplay":true,
                  "pauseOnHover":false,
                  "pauseOnFocus":true,
                  "type":"loop",
                  "autoHeight":true,
                  "interval":8000
                }'
              >
            <div class="splide__slider">
              <div class="splide__track">
                <div class="splide__list">
        <% end %>

        <% @block.template.elements.each do |element| %>
          <figure <% if !@block.template.elements.one? %> class="splide__slide" <% end %>>
            <blockquote>
              <p><%= block_component_preview :text, template: element %></p>
            </blockquote>
            <figcaption>
              <% if element.photo  %>

                <%= kamifusen_tag element.photo, width: 600, class: 'img-fluid mb-1', alt: element.photo.alt %>
                <div class="avatar">
                  <%= block_component_preview :photo, template: element %>
                </div>
              <% end %>
              <p>
                <% if element.author %>
                  <span class="signature"><%= block_component_preview :author, template: element %></span>
                <% end %>
                <% if element.job %>
                  <span class="meta"><%= block_component_preview :job, template: element %></span>
                <% end %>
              </p>
            </figcaption>
          </figure>
        <% end %>
        <% if !@block.template.elements.one? %>
                </div>
              </div>
            </div>

            <div class="splide__autoplay is-active">
              <button class="splide__play"></button>
              <button class="splide__pause"></button>
            </div>
          </div>
      <% end %>
      </div>
    </div>
  </div>
</section>