<% content_for :title, Import.model_name.human %>

<div class="row">
  <div class="col-md-6">
    <p>
      <%= t('imports.hint_html') %>
      <br>
      <%= t('university.alumni.cohorts.import_hint_html') %>
    </p>
    <%= simple_form_for @import,
                        url: admin_university_alumni_cohorts_imports_path do |f| %>

      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

      <%# as file can be empty the global object can be unset. To prevent crash in controller add an (unused) hidden field %>
      <%= f.input :id, as: :hidden %>

      <%= f.input :file %>

      <% content_for :action_bar_right do %>
        <%= submit f %>
      <% end %>
    <% end %>

  </div>
  <div class="col-md-6">
    <div class="table-responsive">
      <table class="<%= table_classes %>">
        <tbody>
          <tr>
            <th>first_name*</th>
            <td>Stéphane</td>
          </tr>
          <tr>
            <th>last_name*</th>
            <td>Dupond</td>
          </tr>
          <tr>
            <th>gender</th>
            <td>m</td>
          </tr>
          <tr>
            <th>birth</th>
            <td>2006-05-26</td>
          </tr>
          <tr>
            <th>mail</th>
            <td>stephane.dupond@gmail.com</td>
          </tr>
          <tr>
            <th>photo</th>
            <td>https://www.example.com/photo.jpg</td>
          </tr>
          <tr>
            <th>url</th>
            <td>https://www.stephanedupond.fr</td>
          </tr>
          <tr>
            <th>phone_professional</th>
            <td>+33 1 01 01 01 01</td>
          </tr>
          <tr>
            <th>phone_personal</th>
            <td>+33 1 01 01 01 01</td>
          </tr>
          <tr>
            <th>mobile</th>
            <td>+33 6 01 01 01 01</td>
          </tr>
          <tr>
            <th>address</th>
            <td>1 rue Jacques Ellul</td>
          </tr>
          <tr>
            <th>zipcode</th>
            <td>33000</td>
          </tr>
          <tr>
            <th>city</th>
            <td>Bordeaux</td>
          </tr>
          <tr>
            <th>country</th>
            <td>FR</td>
          </tr>
          <tr>
            <th>biography</th>
            <td>Product Designer</td>
          </tr>
          <tr>
            <th>social_twitter</th>
            <td>stephanedupond</td>
          </tr>
          <tr>
            <th>social_linkedin</th>
            <td>https://www.linkedin.com/in/stephanedupond</td>
          </tr>
          <tr>
            <th>school*</th>
            <td>af96c31c-2e6b-4485-b88f-e28843480e3f</td>
          </tr>
          <tr>
            <th>program*</th>
            <td>c6b78fac-0a5f-4c44-ad22-4ee68ed382bb</td>
          </tr>
          <tr>
            <th>year*</th>
            <td>2022</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
