
<%
jobs = osuny_collection(
  block.about.website.jobs,
  localized: true,
  label_method: :to_s
) 
%>
<label  class="form-label <%= 'visually-hidden' if label.blank? %>"
        :for="<%= dom_id.html_safe %>">
  <%= label %>
</label>
<select :id="<%= dom_id.html_safe %>"
        class="form-select select"
        v-model="<%= model %>.<%= property %>">
  <% if placeholder %>
    <option value="" disabled><%= placeholder %></option>
  <% end %>
  <% jobs.each do |job| %>
    <option value="<%= job.last %>"><%= job.first %></option>
  <% end %>
</select>
