<% content_for :title, Communication::Block.model_name.human(count: 2) %>

<div class="d-flex justify-content-between mb-4">
  <p>
    <%= number_with_delimiter @blocks.total_count %>
    <%= Communication::Block.model_name.human(count: @blocks.total_count).downcase %>
  </p>
  <%= render 'filters', current_path: server_blocks_path %>
</div>

<div class="table-responsive">
  <table class="<%= table_classes %>">
    <thead>
      <tr>
        <th><%= Communication::Block.human_attribute_name(:name) %></th>
        <th><%= Communication::Block.human_attribute_name(:template) %></th>
        <th><%= Communication::Block.human_attribute_name(:about_type) %></th>
        <th><%= Communication::Block.human_attribute_name(:university) %></th>
      </tr>
    </thead>
    <tbody>
      <% @blocks.each do |block| %>
        <tr>
          <td><%= link_to block, server_block_path(block) %></td>
          <td><%= block.template %></td>
          <td><%= block.about_type %></td>
          <td><%= block.university %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= paginate @blocks %>