<% content_for :title, t("enums.communication.block.template_kind.#{@template}") %>

<div class="table-responsive">
  <table class="<%= table_classes %>">
    <thead>
      <tr>
        <th><%= Communication::Block.human_attribute_name('name') %></th>
        <th><%= Communication::Block.human_attribute_name('about') %></th>
        <th><%= Communication::Block.human_attribute_name('data') %></th>
        <th><%= Communication::Block.human_attribute_name('university') %></th>
        <th><%= Communication::Block.human_attribute_name('url') %></th>
      </tr>
    </thead>
    <tbody>
      <% @blocks.each do |block| %>
        <% next if block.about.nil?%>
        <% url = "#{block.about.university.url }#{edit_admin_communication_block_path(block)}" %>
        <tr>
          <td><%= truncate "#{block}" %></td>
          <td>
            <%= truncate "#{block.about}" %>
            <span class="badge bg-dark">
              <%= block.about.class.model_name.human %>
            </span>
          </td>
          <td>
            <textarea rows="1" class="form-control"><%= block.data %></textarea>
          </td>
          <td><%= block.about.university %></td>
          <td><%= link_to 'Open',
                          url,
                          target: :_blank %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% content_for :action_bar_right do %>
  <%= link_to t('resave'),
              resave_server_block_path(@template),
              method: :post,
              class: button_classes %>
<% end %>
