<% content_for :title, @block %>

<div class="row">
  <div class="col-lg-4 mb-3">
    <%= osuny_label University.model_name.human %><br>
    <%= @block.university %>
  </div>
  <% if @block.website.present? %>
    <div class="col-lg-4 mb-3">
      <%= osuny_label Communication::Website.model_name.human %><br>
      <%= @block.website %>
    </div>
  <% end %>

  <div class="col-lg-4 mb-3">
    <%= osuny_label Communication::Block.human_attribute_name(:about) %><br>
    <%= @block.about.to_s %>
  </div>
</div>

<%= osuny_label Communication::Block.human_attribute_name(:data) %><br>
<pre class="bg-dark text-white p-3"><%= @block.data %></pre>