<div  class="row g-2 mb-3"
      <% if can?(:reorder, axes.first) %>
        data-sortable
        data-sort-url="<%= reorder_admin_research_laboratory_axes_path(laboratory_id: @laboratory.id) %>"
      <% end %>
      >
  <% axes.each do |axis| %>
    <% axis_l10n = axis.localization_for(current_language) %>
    <div data-id="<%= axis.id %>">
      <div class="<%= osuny_card_classes(horizontal: true) %>">
        <%= osuny_thumbnail_localized axis, classes: 'handle m-0' %>
        <div class="card-body">
          <%= osuny_link_localized  axis,
                                    admin_research_laboratory_axis_path(laboratory_id: axis.laboratory, id: axis) %>
        </div>
        <div class="card-footer">
          <%= axis_l10n&.short_name %>
        </div>
      </div>
    </div>
  <% end %>
</div>
