<div  class="row g-2 mb-3"
      data-sortable
      data-sort-url="<%= reorder_admin_research_laboratory_axes_path(laboratory_id: @laboratory.id) %>">
  <% axes.each do |axis| %>
    <div data-id="<%= axis.id %>">
      <div class="card card--horizontal">
        <%= osuny_thumbnail_localized axis, classes: 'handle m-0' %>
        <div class="card-body">
          <%= osuny_link_localized  axis, 
                                    admin_research_laboratory_axis_path(laboratory_id: axis.laboratory, id: axis) %>
        </div>
        <div class="card-footer">
          <%= axis.short_name %>
        </div>
      </div>
    </div>
  <% end %>
</div>
