<% content_for :title, @axis %>

<div class="row">
  <div class="col-md-8">
    <%= osuny_panel t('content') do %>
      <% unless @axis.short_name.blank? %>
        <%= osuny_label Research::Laboratory::Axis.human_attribute_name('short_name') %>
        <p><%= @axis.short_name %></p>
      <% end %>
      <%= osuny_label Research::Laboratory::Axis.human_attribute_name('text') %>
      <%= sanitize @axis.text.to_s %>
    <% end %>
  </div>
  <div class="col-md-4">
    <%= render 'admin/application/meta_description/show', about: @axis %>
  </div>
</div>

<% content_for :action_bar_left do %>
  <%= destroy_link @axis %>
<% end %>

<% content_for :action_bar_right do %>
  <%= edit_link @axis %>
<% end %>
