<% content_for :title, @l10n %>

<% content_for :title_right do %>
  <%= edit_link @axis %>
  <%= button_advanced do %>
    <%= destroy_link @axis %>
  <% end %>
<% end %>

<div class="row">
  <div class="col-lg-8">
    <% unless @l10n.short_name.blank? %>
      <p class="lead"><%= @l10n.short_name %></p>
    <% end %>
    <%= render 'admin/application/summary/show', about: @l10n %>
  </div>
  <div class="col-lg-4">
    <%= render 'admin/application/meta_description/show', about: @l10n %>
  </div>
</div>
