<%= simple_form_for [:admin, volume] do |f| %>
  <div class="row">
    <div class="col-md-8">
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h5 class="card-title mb-0"><%= t('content') %></h5>
        </div>
        <div class="card-body">
          <%= f.input :title %>
          <%= f.input :slug,
                      as: :string,
                      input_html: volume.persisted? ? {} : {
                        class: 'js-slug-input',
                        data: { source: '#research_journal_volume_title' }
                      } %>
          <%= f.input :featured_image,
                      as: :single_deletable_file,
                      input_html: { accept: '.jpg,.jpeg,.png' },
                      preview: 200,
                      direct_upload: true %>
          <%= f.input :featured_image_alt %>
          <%= f.input :description, input_html: { rows: 10 } %>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h5 class="card-title mb-0"><%= t('metadata') %></h5>
        </div>
        <div class="card-body">
          <%= f.input :number %>
          <%= f.input :published_at, html5: true %>
          <%= f.input :keywords %>
        </div>
      </div>
    </div>
  </div>
  <% content_for :action_bar_right do %>
    <%= submit f %>
  <% end %>
<% end %>
