<% content_for :title, @volume %>

<div class="row">
  <div class="col-md-8">
    <div class="card flex-fill w-100">
      <div class="card-header">
        <h2 class="card-title mb-0 h5"><%= t('content') %></h2>
      </div>
      <div class="card-body">
        <h3 class="h5"><%= Research::Journal::Volume.human_attribute_name('description') %></h3>
        <p><%= @volume.description %></p>
        <% if @volume.articles.any? %>
          <h3 class="h5 mt-4"><%= Research::Journal::Volume.human_attribute_name('articles') %></h3>
          <%= render 'admin/research/journal/articles/list', articles: @volume.articles %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card flex-fill w-100">
      <div class="card-header">
        <h2 class="card-title mb-0 h5"><%= t('metadata') %></h2>
      </div>
      <div class="card-body">
        <h3 class="h5"><%= Research::Journal::Volume.human_attribute_name('number') %></h3>
        <p><%= @volume.number %></p>
        <h3 class="h5"><%= Research::Journal::Volume.human_attribute_name('published_at') %></h3>
        <p><%= l @volume.published_at.to_time, format: :date_with_explicit_month if @volume.published_at %></p>
      </div>
    </div>
    <% if @volume.featured_image.attached? %>
      <div class="card">
        <div class="card-header">
          <h2 class="card-title"><%= Research::Journal::Volume.human_attribute_name('featured_image') %></h2>
        </div>
        <div class="card-body">
          <%= kamifusen_tag @volume.featured_image, class: 'img-fluid' %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% content_for :action_bar_right do %>
  <%= edit_link @volume %>
<% end %>
