<% content_for :title, @volume %>

<div class="row">
  <div class="col-md-8">
    <div class="card flex-fill w-100">
      <div class="card-header">
        <h2 class="card-title mb-0 h5">Articles</h2>
      </div>
      <div class="card-body">
        <%= render 'admin/research/journal/articles/list', articles: @volume.articles %>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <% if @volume.cover.attached? %>
      <%= image_tag @volume.cover, class: 'img-fluid img-thumbnail bg-light mb-4' %>
    <% end %>
    <p>
      <span class="badge bg-secondary">
        <%= @volume.number %>
      </span>
      <span class="float-end">
        <%= @volume.published_at&.to_date %>
      </span>
    </p>
    <%= @volume.description %>
  </div>
</div>

<% content_for :action_bar_right do %>
  <%= edit_link @volume %>
<% end %>
