<% content_for :title, @l10n %>
<% content_for :header_right do %>
<p>
  <%= @people.total_count %>
  <%= University::Person::Alumnus.model_name.human(count: @people.total_count).downcase %>
</p>
<% end %>

<p class="mb-5">
  <%= @l10n %>
</p>

<%= render 'extranet/alumni/persons/list', people: @people %>
<%= paginate @people, theme: 'bootstrap-5' %>
