<% content_for :title, @academic_year %>
<% content_for :header_right do %>
  <p>
    <%= @alumni.total_count %>
    <%= University::Person::Alumnus.model_name.human(count: @alumni.total_count).downcase %>
  </p>
<% end %>

<div class="row">
  <div class="col-lg-4">
    <h2 class="mb-4">
      <%= @cohorts.total_count %>
      <%= Education::Cohort.model_name.human(count: @cohorts.total_count).downcase %>
    </h2>
  </div>
  <div class="col-lg-8">
    <%= render 'extranet/alumni/cohorts/list', cohorts: @cohorts %>
    <%= paginate @cohorts, theme: 'bootstrap-5', param_name: :cohorts_page %>
  </div>
</div>

<h2 class="mt-5 mb-4">
  <%= @alumni.total_count %>
  <%= University::Person::Alumnus.model_name.human(count: @alumni.total_count).downcase %>
</h2>

<%= render 'extranet/alumni/persons/list', people: @alumni %>
<%= paginate @alumni, theme: 'bootstrap-5', param_name: :alumni_page %>
