<% content_for :title, @l10n %>

<div class="mb-5">
  <p><%= t('admin.communication.author.show_person_html') %></p>
  <%= link_to t('show'), admin_university_person_path(@author), class: 'action' %>
</div>

<% @author.author_websites.each do |website| %>
  <div class="row mb-5">
    <div class="col-lg-3">
      <%= render 'admin/communication/websites/website', website: website %>
    </div>
    <div class="col-lg-9"
      <% posts = @author.communication_website_posts.where(website: website).limit(5) %>
      <p>
        <%= posts.count %>
        <%= Communication::Website::Post.model_name.human(count: posts.count).downcase %>
      </p>
      <%= render 'admin/communication/websites/posts/list', posts: posts %>
    </div>
  </div>
<% end  %>

<% @author.author_extranets.each do |extranet| %>
  <div class="row mb-5">
    <div class="col-lg-3">
      <%= render 'admin/communication/extranets/extranet', extranet: extranet %>
    </div>
    <div class="col-lg-9"
      <% posts = @author.communication_extranet_posts.where(extranet: extranet) %>
      <p>
        <%= posts.count %>
        <%= Communication::Extranet::Post.model_name.human(count: posts.count).downcase %>
      </p>
      <%= render 'admin/communication/extranets/posts/list', posts: posts %>
    </div>
  </div>
<% end  %>
