<dl>
  <% person.cohorts.each do |cohort| %>
    <dt><%= cohort.program %></dt>
    <dd><%= link_to cohort.academic_year, cohort %></dd>
  <% end %>
  <% [:phone_mobile, :phone_personal, :phone_professional].each do |attribute_name| %>
    <% next if person.public_send(attribute_name).blank? %>
    <dt><%= University::Person.human_attribute_name(attribute_name) %> :</dt>
    <dd>
      <a href="tel:<%= person.public_send(attribute_name) %>" target="_blank" rel="noreferrer">
        <%= person.public_send(attribute_name) %>
      </a>
    </dd>
  <% end %>
  <% if person.email.present? %>
    <dt><%= University::Person.human_attribute_name(:email) %></dt>
    <dd>
      <a href="mailto:<%= person.email %>" target="_blank" rel="noreferrer">
        <%= person.email %>
      </a>
    </dd>
  <% end %>
  <% if person.full_street_address.present? %>
    <dt><%= University::Person.human_attribute_name("address") %> :</dt>
    <dd><%= person.full_street_address %></dd>
  <% end %>
  <% if person.url.present? %>
    <dt><%= University::Person.human_attribute_name(:url) %></dt>
    <dd>
      <a href="<%= social_website_to_url person.url %>" target="_blank" rel="noreferrer">
        <%= social_website_to_s person.url %>
      </a>
    </dd>
  <% end %>
  <% if person.linkedin.present? %>
    <dt><%= University::Person.human_attribute_name(:linkedin) %></dt>
    <dd>
      <a href="<%= social_linkedin_to_url person.linkedin %>" target="_blank" rel="noreferrer">
        <%= social_linkedin_to_s person.linkedin %>
      </a>
    </dd>
  <% end %>
  <% if person.twitter.present? %>
    <dt><%= University::Person.human_attribute_name(:twitter) %></dt>
    <dd>
      <a href="<%= social_twitter_to_url person.twitter %>" target="_blank" rel="noreferrer">
        <%= social_twitter_to_s person.twitter %>
      </a>
    </dd>
  <% end %>
</dl>