<%
allow_edit ||= false
organization_path_method ||= nil
%>
<% experiences.each do |experience| %>
  <%
  l10n = experience.best_localization_for(current_language)
  organization_l10n = experience.organization.best_localization_for(current_language)
  %>
  <li class="experiences__experience py-4 border-top">
    <div class="row">
      <div class="col-md-6">
        <p class="mb-0">
          <b><%= l10n.description %></b><br>
          <%= "#{experience.from_year} —" if experience.from_year %>
          <%= experience.to_year || t('today') %>
        </p>
        <%= link_to University::Person::Experience.human_attribute_name('edit'),
                    edit_account_experience_path(experience),
                    class: 'btn btn-sm btn-primary mt-2' if allow_edit %>
      </div>
      <div class="col-md-6 text-end">
        <%
        if experience.organization.present?
          path = public_send(organization_path_method, experience.organization) if organization_path_method.present?
          %>
          <% if organization_l10n.logo.attached? %>
            <%= link_to_if  path.present?,
                            kamifusen_tag(organization_l10n.logo, width: 100, class: 'img-fluid experience__organization__logo'),
                            path %>
          <% else %>
            <p class="text-end">
              <%= link_to_if path.present?, organization_l10n, path %>
            </p>
          <% end %>
        <div>
      <% end %>
    </div>
  </li>
<% end %>
