<%
edit ||= false
%>
<li>
  <div>
    <p><b><%= experience.description %></b></p>
    <p class="mb-0">
      <%= "#{experience.from_year} —" if experience.from_year %>
      <%= experience.to_year || t('today') %>
    </p>
    <%= link_to 'Modifier cette expérience', '', class: 'btn btn-sm btn-primary mt-2' if edit %>
  </div>
  <div>
    <% if experience.organization.present? %>
      <p><%= link_to experience.organization, experience.organization %></p>
      <% if experience.organization.url %>
        <p class="mb-0"><small><%= link_to experience.organization.url, experience.organization.url %></small></p>
      <% end %>
    <% end %>
  </div>
  <div>
    <% if experience.organization.present? %>
      <% if experience.organization.logo.attached? %>
          <%= link_to experience.organization do %>
            <%= kamifusen_tag experience.organization.logo, height: 80, class: 'img-fluid' %>
          <% end %>
      <% end %>
    <% end %>
  </div>
</li>
