<%
edit ||= false
%>
<div class="experiences mt-4">
  <ul class="list-unstyled">
    <% if person&.experiences&.any? %>
      <% @person.experiences.ordered.each do |experience| %>
        <%= render 'extranet/experiences/experience', experience: experience, edit: edit %>
      <% end %>
    <% end %>
    <% person&.cohorts&.each do |cohort| %>
      <li class="experiences__experience py-4 border-top">
        <div class="row">
          <div class="col-md-6">
            <p class="mb-0">
              <%= link_to cohort do %>
                <b><%= cohort.program %></b><br>
                <%= cohort.program.diploma %><br>
                <%= cohort.year %>
              <% end %>
            </p>
          </div>
          <div class="col-md-6 text-end">
            <% if cohort.school.logo.attached? %>
              <%= kamifusen_tag cohort.school.logo, width: 100, class: 'img-fluid experience__organization__logo' %>
            <% else %>
              <p class="text-end"><%= cohort.school %></p>
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
