<% content_for :title, @person %>

<%= render 'extranet/persons/header', person: @person %>

<div class="row">
  <div class="col-md-9">
    <div class="biography">
      <p><%= @person.biography %></p>
    </div>
    <% if @person.experiences.any? %>
      <div class="experiences">
        <p class="mb-4">Parcours professionel</p>
        <ul>
          <% @person.experiences.ordered.each do |experience| %>
            <li>
              <div>
                <p><b><%= experience.description %></b></p>
                <p class="mb-0">
                  <%= "#{experience.from_year} —" if experience.from_year %>
                  <%= experience.to_year || t('today') %>
                </p>
              </div>
              <div>
                <% if experience.organization.present? %>
                  <p><%= link_to experience.organization, experience.organization %></p>
                  <% if experience.organization.url %>
                    <p class="mb-0"><small><%= link_to experience.organization.url, experience.organization.url %></small></p>
                  <% end %>
                <% end %>
              </div>
              <div>
                <% if experience.organization.present? %>
                  <% if experience.organization.logo.attached? %>
                      <%= link_to experience.organization do %>
                        <%= kamifusen_tag experience.organization.logo, height: 80, class: 'img-fluid' %>
                      <% end %>
                  <% end %>
                <% end %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
      <% end %>
  </div>
  <div class="col-md-3">
    <%= render 'extranet/persons/details', person: @person %>
  </div>
</div>
