<% content_for :title, @person %>

<div class="row">
  <div class="col-md-8 order-2 order-md-1">
    <div class="row">
      <div class="col-md-9">
        <div class="biography mb-5">
          <%= sanitize @person&.biography %>
        </div>
      </div>
    </div>
    <p class="mb-4"><%= t('extranet.experiences.title') %></p>
    <%= render 'extranet/persons/path', person: @person %>
  </div>
  <div class="offset-md-1 col-md-3 order-1 order-md-2">
    <%= kamifusen_tag @person.best_picture, width: 400, class: 'img-fluid person__portrait' if @person.best_picture.attached? %>
    <%= render 'extranet/persons/details', person: @person %>
  </div>
</div>
