<% content_for :title, current_context %>
<% content_for :header do %>
  <h1>
    <% if current_extranet.home_sentence.present? %>
      <%= current_extranet.home_sentence.html_safe %>
    <% else %>
      <%= t 'extranet.home.welcome' %>
    <% end %>
  </h1>
<% end %>

<%= render 'extranet/home/features/posts' if current_extranet.feature_posts %>
<%= render 'extranet/home/features/alumni' if current_extranet.feature_alumni %>
<%= render 'extranet/home/features/contacts' if current_extranet.feature_contacts %>

