<% content_for :title, current_context %>
<% content_for :header do %>
  <h1><%# TODO i18n %>
    Bienvenue sur l’extranet <%= current_context %>. 
    Retrouvez les <%= link_to University::Person::Alumnus.model_name.human(count: 2).downcase, university_persons_path %>, 
    <% if current_extranet.should_show_years? %>
    recherchez par <%= link_to Education::AcademicYear.model_name.human(count: 2).downcase, education_academic_years_path %>, 
    <% end %>
    explorez les <%= link_to Education::Cohort.model_name.human(count: 2).downcase, education_cohorts_path %>,
    découvrez les <%= link_to University::Organization.model_name.human(count: 2).downcase, university_organizations_path %>.
  </h1>
<% end %>

<div class="row">
  <div class="col-md-8">
    <h2><%= t('extranet.home.recent_experiences') %></h2>
    <div class="experiences">
      <ul>
          <% @experiences.ordered.each do |experience| %>
          <li>
            <div>
              <%= link_to experience.person, class: "stretched-link" do %>
                <% if experience.person.picture.attached? %>
                  <%= kamifusen_tag experience.person.picture, width: 400, class: 'img-fluid', sizes: {
                        '(max-width: 576px)': '400px',
                        '(max-width: 991px)': '200px'
                    } %>
                <% else %>
                  <%= image_tag 'extranet/avatar.png', width: 400, class: 'img-fluid' %>
                <% end %>
              <% end %>
            </div>
            <div>
              <div>
                <p class="mb-md-0">
                  <%= experience.person.first_name %> <%= experience.person.last_name %>
                  <br>
                  <%= experience.description %>
                  <%= '—' if experience.description.present? && experience.organization.present? %>
                  <%= experience.organization %>
                </p>
                <small><%= l experience.created_at.to_date, format: :long %></small>
              </div>
              <% if experience.organization.present? %>
                <% if experience.organization.logo.attached? %>
                    <%= link_to experience.organization do %>
                      <%= kamifusen_tag experience.organization.logo, height: 80, class: 'img-fluid' %>
                    <% end %>
                <% end %>
              <% end %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>


  <div class="col-md-4 mt-5 mt-md-0">
    <h2><%= t('extranet.home.recent_cohorts') %></h2>
    <ul class="promotions">
      <% @cohorts.each do |cohort| %>
        <li>
          <%= link_to cohort.program.to_short_s, cohort %>
          <b><%= cohort.academic_year %></b>
        </li>
      <% end %>
    </ul>
  </div>
</div>
