<% content_for :title, current_context %>

<div class="row">
  <div class="col-md-8">
    <h2>Mouvements récents</h2>
    <div class="experiences">
      <ul>
          <% @experiences.ordered.each do |experience| %>
          <li>
            <div>
              <%= link_to experience.person, class: "stretched-link" do %>
                <% if experience.person.picture.attached? %>
                  <%= kamifusen_tag experience.person.picture, width: 400, class: 'img-fluid' %>
                <% else %>
                  <%= image_tag 'extranet/avatar.png', width: 400, class: 'img-fluid' %>
                <% end %>
              <% end %>
            </div>
            <div>
              <div>
                <p class="mb-0">
                  <%= experience.person.first_name %> <b><%= experience.person.last_name %></b>
                  <br>
                  <%= experience.description %> — <%= experience.organization %>
                </p>
                <small><%= experience.created_at %></small>
              </div>
              <% if experience.organization.present? %>
                <% if experience.organization.logo.attached? %>
                    <%= link_to experience.organization do %>
                      <%= kamifusen_tag experience.organization.logo, height: 80, class: 'img-fluid' %>
                    <% end %>
                <% end %>
              <% end %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>


  <div class="col-md-4">
    <h2>Promotions actuelles</h2>
    <ul class="promotions">
      <% @cohorts.each do |cohort| %>
        <li>
          <%= link_to cohort, cohort %>
          <b><%= cohort.academic_year %></b>
        </li>
      <% end %>
    </ul>
  </div>
</div>