<% content_for :title, current_context %>
<% content_for :header do %>
  <div class="header__title">
    <% if current_extranet.home_sentence.present? %>
      <%= sanitize current_extranet.home_sentence %>
    <% else %>
      <p><%= t 'extranet.home.welcome' %></p>
    <% end %>
  </div>
<% end %>

<%= render 'extranet/home/features/posts' if current_extranet.feature_posts %>
<%= render 'extranet/home/features/alumni' if current_extranet.feature_alumni %>
<%= render 'extranet/home/features/contacts' if current_extranet.feature_contacts %>
