<div class="row mt-5 pt-5">
  <% @namespaces.each do |namespace| %>
    <% 
    path = send "admin_#{namespace.to_s.underscore}_root_path"
    description = t "#{namespace.to_s.underscore}.description.text"
    %>
  <div class="col-lg-3">
    <%= osuny_panel namespace.model_name.human, image: "admin/#{namespace.to_s.underscore}.jpg" do %>
      <p><%= description.truncate 180 %></p>
      <%= link_to t('show'), path, class: 'stretched-link' %>
    <% end %>
  </div>
<% end %>
</div>

<% if current_admin_theme == 'pure' && feature_settings? %>
  <div class="row mt-5 pt-5">
    <div class="col-lg-2">
      <%= link_to admin_university_root_path do %>
        <%= image_tag "admin/university.jpg", class: 'img-fluid'%>
      <% end %>
    </div>
    <div class="col-lg-4">
      <%= osuny_panel University.model_name.human do %>
        <p><%= t('university.description.text') %></p>
        <%= link_to t('show'), admin_university_root_path, class: 'stretched-link' %>
      <% end %>
    </div>
    <div class="col-lg-4">
      <ul class="list-unstyled mt-4">
      <% University.parts.each do |part| %>
        <%
        next unless can? :read, part.first
        class_name = part.first
        path = send part.last
        title = class_name.model_name.human(count: 2)
        %>
        <li>
          <%= link_to title, path, class: 'btn btn-sm btn-light mt-3' %>
        </li>
      <% end %>
    </div>
  </div>
<% end %>
