<% content_for :title, t('admin.dashboard') %>

<% content_for :title_right do %>
  <% if current_university.logo.attached? %>
    <%= image_tag current_university.logo, width: 120 %>
  <% else %>
    <%= current_university %>
  <% end %>
<% end %>

<% classes = 'col-md-6 col-xl-4 d-flex' %>
<div class="row mb-5">
  <div class="col-md-6 pb-4">
    <%= osuny_panel t('hello', name: current_user.first_name) do %>
      <% if current_admin_theme == 'appstack' %>
        <p>
          Vous utilisez l'ancien thème d'administration, "Appstack".
          Voulez-vous utiliser le nouveau thème, "Pure" ?
          <%= link_to 'Changer de thème', admin_set_theme_path(theme: 'pure'), method: :put %>
        </p>
      <% else %>
        <p>
          Vous utilisez le thème "Pure" pour l'administration.
          Voulez-vous utiliser l'ancien thème, "Appstack" ?
          <%= link_to 'Changer de thème', admin_set_theme_path(theme: 'appstack'), method: :put %>
        </p>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-6 pb-4">
    <%= osuny_panel Delayed::Job.all.length, 
              action: '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock align-baseline"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg>' do %>
      <p class="mb-0"><%= t 'admin.pending_tasks.label' %></p>
      <p class="mb-0 small"><%= t 'admin.pending_tasks.hint' %></p>
    <% end %>
  </div>
</div>

<%= render 'admin/application/favorites/show' %>

<div class="row mt-5 pt-5">
  <% @namespaces.each do |namespace| %>
    <% 
    path = send "admin_#{namespace.to_s.underscore}_root_path"
    description = t "#{namespace.to_s.underscore}.description.text"
    %>
  <div class="col-lg-3">
    <%= osuny_panel namespace.model_name.human, image: "admin/#{namespace.to_s.underscore}.jpg" do %>
      <p><%= description.truncate 180 %></p>
      <%= link_to t('show'), path, class: 'stretched-link' %>
    <% end %>
  </div>
<% end %>
</div>

<% if current_admin_theme == 'pure' %>
  <div class="row mt-5 pt-5">
    <div class="col-lg-2">
      <%= link_to admin_university_root_path do %>
        <%= image_tag "admin/university.jpg", class: 'img-fluid'%>
      <% end %>
    </div>
    <div class="col-lg-4">
      <%= osuny_panel University.model_name.human do %>
        <p><%= t('university.description.text') %></p>
        <%= link_to t('show'), admin_university_root_path, class: 'stretched-link' %>
      <% end %>
    </div>
    <div class="col-lg-4">
      <ul class="list-unstyled mt-4">
      <% University.parts.each do |part| %>
        <%
        class_name = part.first
        path = send part.last
        title = class_name.model_name.human(count: 2)
        %>
        <li>
          <%= link_to title, path, class: 'btn btn-sm btn-light mt-3' %>
        </li>
      <% end %>
    </div>
  </div>
<% end %>

<% if current_admin_theme == 'appstack' %>
  <div class="small mt-5">
    <ul class="list-inline">
      <li class="list-inline-item">
        <%= link_to 'API', api_root_path %>
      </li>
      <%
      [
      :terms_of_service,
      :privacy_policy,
      :cookies_policy
      ].each do |term| %>
        <li class="list-inline-item">
          <%= link_to t("#{term}"), t("#{term}_url"), target: '_blank', rel: 'noreferrer' %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
