<% content_for :title, t('admin.dashboard') %>

<% content_for :title_right do %>
  <% if current_university.logo.attached? %>
    <%= kamifusen_tag current_university.logo, width: 120 %>
  <% else %>
    <%= current_university %>
  <% end %>
<% end %>

<% classes = 'col-md-6 col-xl-4 d-flex' %>
<div class="row mb-5">
  <div class="col-md-6 pb-4">
    <%= osuny_panel t('hello', name: current_user.first_name) do %>
    <% end %>
  </div>
  <div class="col-md-6 pb-4">
    <%= osuny_panel Delayed::Job.all.length, 
              action: '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock align-baseline"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg>' do %>
      <p class="mb-0"><%= t 'admin.pending_tasks.label' %></p>
      <p class="mb-0 small"><%= t 'admin.pending_tasks.hint' %></p>
    <% end %>
  </div>
</div>

<%= render 'admin/application/favorites/show' %>

<% if current_university.is_really_a_university %>
  <%= render 'admin/dashboard/really_a_university' %>
<% else %>
  <%= render 'admin/dashboard/not_a_university' %>
<% end %>

<% if current_admin_theme == 'appstack' %>
  <div class="small mt-5">
    <ul class="list-inline">
      <li class="list-inline-item">
        <%= link_to 'API', api_root_path %>
      </li>
      <%
      [
      :terms_of_service,
      :privacy_policy,
      :cookies_policy
      ].each do |term| %>
        <li class="list-inline-item">
          <%= link_to t("#{term}"), t("#{term}_url"), target: '_blank', rel: 'noreferrer' %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
