<% content_for :title, t("#{@namespace.to_s.underscore}.description.title") %>

<% content_for :realm do %>
  <div class="realm">
    <div class="realm__texts">
      <p class="realm__quote">
        <%= t "#{@namespace.to_s.underscore}.description.text_html" %>
      </p>
      <p class="realm__author">
        <%= t "#{@namespace.to_s.underscore}.description.source" %>
      </p>
      <p class="realm__credit">
        Illustration
        <a href="https://publicdomainreview.org/collection/old-french-fairytales-illustrated-by-virginia-frances-sterrett-1920/" target="_blank" rel="nofollow">
          Virginia Frances Sterrett
        </a>
      </p>
    </div>
    <div class="realm__image">
      <%= image_tag "admin/#{@namespace.to_s.underscore}.jpg" %>
    </div>
  </div>
<% end %>

<div class="row g-5">
  <% @namespace.parts.each do |part| %>
    <%
    next unless can? :read, part.first
    class_name = part.first
    path = send part.last
    # Exemples:
    # administration.description.parts.qualiopi
    # research.description.parts.researcher
    # research.hal.description.parts.publication
    key = "#{@namespace.to_s.underscore.gsub('/', '.')}.description.parts.#{class_name.to_s.demodulize.downcase}"
    title = t "#{key}.title"
    description = t "#{key}.description"
    %>
    <div class="col-sm-6 col-xl-4 col-xxl-3">
      <div class="position-relative">
        <h2 class="h4"><%= title %></h2>
        <p><%= description %></p>
        <%= link_to t('manage'), path, class: 'stretched-link action' %>
      </div>
    </div>
  <% end %>
</div>
