<% content_for :title, @class_name.model_name.human %>

<div class="row mb-5">
  <div class="col-lg-7">
    <p class="lead"><i><%= t "#{@class_name.to_s.downcase}.description.text" %></i></p>
    <p>— <%= t "#{@class_name.to_s.downcase}.description.source" %></p>
  </div>
  <% if current_admin_theme == 'pure' %>
    <div class="offset-lg-1 col-lg-4">
      <%= image_tag "admin/#{@class_name.to_s.downcase}.jpg", class: 'img-fluid pure__chapter__image'%>
      <p class="small text-lg-end mt-3">
        Illustration de Virginia Frances Sterrett. 
        Source : University of California Libraries, the Internet Archive.
      </p>
    </div>
  <% end %>
</div>

<div class="row">
  <% @class_name.parts.each do |part| %>
    <%
    class_name = part.first
    path = send part.last
    title = class_name.model_name.human(count: 2)
    description = class_name.human_attribute_name('description')
    description = t 'administration.qualiopi.description' if class_name == Administration::Qualiopi
    %>
    <div class="col-lg-4 mt-4">
      <%= osuny_panel title do %>
        <p><%= description %></p>
        <%= link_to t('show'), path, class: 'stretched-link' %>
      <% end %>
    </div>
  <% end %>
</div>