<%
$class = "block block-files"
unless @block.title.blank?
  $class += " block-with-title"
end
%>

<section class="<%= $class %>">
  <div class="container">
    <div class="block-content">
      <% unless @block.title.blank? && @block.template.description.blank? %>
        <div class="top">
          <% unless @block.title.blank? %>
            <h2><%= @block.title %></h2>
          <% end %>
          <% unless @block.template.description.blank? %>
            <div class="description">
              <p><%= block_component_preview :description %></p>
            </div>
          <% end %>
        </div>
      <% end %>

      <ul class="files">
        <% @block.template.elements.each do |element| %>
          <% next unless element.blob %>
          <li>
            <figure>
              <a href="<%= element.blob.url %>" target="_blank" title="<%= element.title %>"><%= element.title %></a>
                <figcaption>
                  <abbr title=""><%= element.blob.filename.extension.upcase %></abbr>
                  - <abbr title=""><%= number_to_human_size element.blob.byte_size %></abbr>
                </figcaption>
              </a>
            </figure>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</section>