<div class="description">
  <%= block_component_preview :description %>
</div>
<ul class="files">
  <% @block.template.elements.each do |element| %>
    <% next unless element.blob %>
    <li>
    <figure>
        <a href="<%= element.blob.url %>" target="_blank" title="<%= element.title %>"><%= element.title %></a>
        <figcaption>
          <abbr><%= element.blob.filename %></abbr>
        </figcaption>
      </figure>
      </a>
    </li>
  <% end %>
</ul>