<div class="<%= block_html_class(block) %>">
  <div class="container">
    <div class="block-content">
      <%= render 'admin/communication/blocks/partials/top', block: block %>

      <ul class="files">
        <% block.template.elements.each do |element| %>
          <% next unless element.blob %>
          <li>
            <figure>
              <a href="<%= element.blob.url %>" target="_blank" title="<%= element.title %>">
                <%= element.title %>
                <figcaption>
                  <abbr title=""><%= element.blob.filename.extension.upcase %></abbr>
                  - <abbr title=""><%= number_to_human_size element.blob.byte_size %></abbr>
                </figcaption>
              </a>
            </figure>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>