<div class="table-responsive">
  <table class="<%= table_classes %>">
    <thead>
      <tr>
        <th><%= Research::Hal::Author.human_attribute_name('full_name') %></th>
        <th><%= Research::Hal::Publication.human_attribute_name('docid') %></th>
        <th><%= Research::Hal::Publication.human_attribute_name('publications') %></th>
        <th><%= Research::Hal::Publication.human_attribute_name('researchers') %></th>
      </tr>
    </thead>
    <tbody>
      <% authors.each do |author| %>
        <tr>
          <td><%= link_to author, [:admin, author] %></td>
          <td><%= author.docid %></td>
          <td><%= author.publications.count %></td>
          <td><%= author.researchers.count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>