<% content_for :title, @author %>

<div class="row mb-5">
  <div class="col-lg-8">
    <%= osuny_label Research::Hal::Author.human_attribute_name(:docid) %>
    <p><%= @author.docid %></p>
  </div>
  <div class="col-lg-4">
    <%= osuny_panel Research::Hal::Author.human_attribute_name(:researcher) do %>
      <% @author.researchers.in_university(current_university).each do |researcher| %>
        <%= render 'admin/university/people/researchers/researcher', researcher: researcher %>
      <% end %>
    <% end %>
  </div>
</div>

<%= osuny_panel Research::Hal::Author.human_attribute_name(:publications), subtitle: @author.publications.count do %>
  <%= render 'admin/research/publications/list', publications: @author.publications.ordered %>
<% end %>

<% content_for :action_bar_left do %>
  <%= destroy_link @author %>
<% end %>
