<%
horizontal ||= false
small ||= false
%>
<%= osuny_panel t('accessibility.label'), small: true do %>
  <% if horizontal %>
    <div class="row"><div class="offset-lg-4 col-lg-8 mt-lg-n4">
  <% end %>
  <% if about.accessibility_errors.any? %>
    <p class="text-danger">
      <i class="<%= Icon::A11Y %>"></i>
      <%= t('accessibility.errors', count: about.accessibility_errors.count) %>
    </p>
    <ol class="list-unstyled">
      <% about.accessibility_errors.each do |key| %>
        <li>
          <%= osuny_label t("#{key}.title"), classes: 'text-danger' %>
          <p><%= t "#{key}.text_html" %></p>
        </li>
      <% end %>
    </ol>
  <% else %>
    <p>
      <i class="<%= Icon::A11Y %> text-success"></i>
      <%= t 'accessibility.errors', count: 0 %>
    </p>
  <% end %>
  <% if about.accessibility_warnings.any? %>
    <%= osuny_label t('accessibility.warnings', count: about.accessibility_warnings.count) %>
    <ul class="list-unstyled">
      <% about.accessibility_warnings.each do |key| %>
      <li>
        <%= osuny_label t("#{key}.title") %>
        <p>
          <%= t "#{key}.text_html" %>
        </p>
      </li>
      <% end %>
    </ul>
  <% end %>
  <% if horizontal %>
    </div></div>
  <% end %>
<% end %>