<%= content_for :title, t('.title') %>

<div class="row">
  <div class="offset-lg-3 col-lg-6">
    <h1 class="h4 mb-4"><%= t(".resend_unlock_instructions") %></h1>

    <%= simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>
      <%= f.full_error :unlock_token %>
      <%= f.input :email,
                  placeholder: User.human_attribute_name(:email),
                  label: false,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
      <%= f.button :submit, t(".resend_unlock_instructions"), class: 'btn btn-primary' %>
  <% end %>
</div>
</div>
