<%= block_component_edit block, :description, summernote_config: 'mini' %>

<div class="row">
  <div class="col-sm-6 mb-3">
    <%= block_component_edit block, :mode %>
  </div>
  <div class="col-sm-6 mb-3" v-show="data.mode != 'selection' && data.mode != 'categories'">
    <%= block_component_edit block, :time %>
  </div>
</div>

<div v-if="data.mode !== 'categories'">
  <div class="row">
    <div class="col-sm-6 mb-3" v-show="data.mode != 'selection'">
      <%= block_component_edit block, :quantity %>
    </div>
    <div class="col-sm-6 mb-3" v-show="data.mode === 'category'">
      <%= block_component_edit block, :category_id %>
    </div>
  </div>
  <div class="mb-3" v-show="data.mode === 'selection'">
    <%= block_component_add_element block, t('.add_event') %>
    <draggable :list="data.elements" handle=".dragHandle">
      <div v-for="(element, index) in data.elements" class="draggable-item">
        <div class="d-flex mb-n3">
          <div>
            <a class="btn ps-0 pt-0 dragHandle" title="<%= t('admin.communication.block.drag_and_drop') %>">
              <i class="<%= Icon::DRAG %> handle"></i>
            </a>
          </div>
          <div class="flex-fill">
            <%= block_component_edit block, :id, template: @element %>
          </div>
          <div>
            <a  class="btn btn-sm text-danger ms-3"
                v-on:click="data.elements.splice(data.elements.indexOf(element), 1)"
                title="<%= t('delete') %>">
                <i class="<%= Icon::DELETE %>"></i>
            </a>
          </div>
        </div>
      </div>
    </draggable>
  </div>
  <%= block_component_edit block, :no_event_message %>
</div>

<div v-if="data.mode !== 'categories'">
  <%= osuny_separator %>
  <%= osuny_panel t('admin.communication.blocks.components.layouts.label'), small: true do %>
    <%= block_component_edit block, :layout %>
    <%= render 'admin/communication/blocks/templates/agenda/options', block: block %>
  <% end %>
</div>
