<% if block.template.mode == 'categories' %>
  <p>
    <%= @website.agenda_categories
                .map { |category| category.to_s_in(block.language) }
                .join(', ') %>

  </p>
<% else %>
  <% if block.template.selected_events.any? %>
    <div class="row">
      <%
      block.template.selected_events.each do |event|
        l10n = event.localization_for(block.about.language)
        next if l10n.nil?
        %>
        <div class="col-sm-6 mb-3">
          <%= kamifusen_tag l10n.featured_image, class: 'img-fluid mb-2' if l10n.featured_image.attached? %>
          <p class="mb-0">
            <%= l10n.title %>
            <% if l10n.subtitle.present? %>
              <br><%= l10n.subtitle %>
            <% end %>
          </p>
          <p class="small">
            <%= render 'admin/communication/websites/agenda/events/dates', event: event, l10n: l10n, detailed: false %>
          </p>
        </div>
      <% end %>
    </div>
  <% else %>
   <p><%= block.template.no_event_message %></p>
  <% end %>
<% end %>