<%
template_kind = @block.template_kind
i18n = "admin.communication.blocks.templates.#{template_kind}.edit"
template ||= @block.template
root_template = template == @block.template
if root_template
  model = 'data'
  dom_id = "#{property}"
  i18n_component = "#{i18n}.#{property}"
else
  # Nested element
  model = 'element'
  dom_id = "'element-' + index + '-#{property}'"
  i18n_component = "#{i18n}.element.#{property}"
end

label ||= t "#{i18n_component}.label"
placeholder ||= t "#{i18n_component}.placeholder"
%>

<label  class="form-label"
        aria-label="<%= label %>"
        :for="<%= dom_id.html_safe %>">
  <%= label%>
</label>
<input  :id="<%= dom_id.html_safe %>"
        class="form-control mb-3"
        v-model="<%= model %>.<%= property %>"
        placeholder="<%= placeholder %>"
        type="text" />
