<label  class="form-label" for="<%= property %>">
  <%= t "admin.communication.blocks.templates.#{@block.template_kind}.edit.#{property}.label" %>
</label>
<div class="mb-3">
  <input  id="<%= property %>"
          class="form-control mb-3"
          v-model="data.<%= property %>"
          placeholder="<%= t "admin.communication.blocks.templates.#{@block.template_kind}.edit.#{property}.placeholder" %>"
          type="text" />
</div>
