<%= simple_form_for [:admin, paper] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="row">
    <div class="col-md-8">
      <%= osuny_panel t('content') do %>
        <%= f.input :title, as: :text, input_html: { rows: 3 } %>
        <%= f.input :abstract, as: :text, input_html: { rows: 8 } %>
        <%= f.input :pdf %>
        <%= f.input :text, 
                    as: :summernote,
                    input_html: {
                      data: { 'summernote-config' => 'mini' }
                    } if has_content?(paper.text) %>
        <%= f.input :references, 
                    as: :summernote,
                    input_html: {
                      data: { 'summernote-config' => 'mini' }
                    } if has_content?(paper.references) %>
      <% end %>
    </div>
    <div class="col-md-4">
      <%= osuny_panel t('metadata') do %>
        <%= f.input :slug,
                    as: :string,
                    input_html: paper.persisted? ? {} : {
                      class: 'js-slug-input',
                      data: { source: '#research_journal_paper_title' }
                    } %>
        <%= f.association :volume, collection: @journal.volumes, label: Research::Journal::Volume.model_name.human %>
        <%= f.input :published %>
        <%= f.input :published_at, html5: true, as: :date %>
        <%= f.input :accepted_at, html5: true, as: :date %>
        <%= f.input :received_at, html5: true, as: :date %>
        <%= f.input :keywords, as: :text, input_html: { rows: 2 } %>
        <%= f.association :people, collection: current_university.people.researchers.ordered, as: :check_boxes %>
        <%= f.association :kind, collection: @journal.kinds.ordered if @journal.kinds.any? %>
      <% end %>
      <%= render 'admin/application/meta_description/form', f: f, about: paper %>
    </div>
  </div>
  <% content_for :action_bar_right do %>
    <%= submit f %>
  <% end %>
<% end %>
