<div class="row g-2 mb-3">
  <% papers.each do |paper| %>
    <div>
      <div class="<%= osuny_card_classes(horizontal: true) %>">
        <%= osuny_thumbnail_localized paper %>
        <div class="card-body">
          <%= osuny_published_localized paper %>
          <%= osuny_link_localized  paper,
                                    admin_research_journal_paper_path(journal_id: paper.journal, id: paper),
                                    classes: 'stretched-link' %>

        </div>
        <div class="card-footer small text-muted">
          <%= paper.volume.to_s_in(current_language) if paper.volume %>
        </div>
      </div>
    </div>
  <% end %>
</div>
