<% content_for :title, Research::Journal::Paper.model_name.human(count: 2) %>

<% content_for :title_right do %>
  <%= create_link Research::Journal::Paper %>
<% end %>

<div class="d-flex justify-content-between mb-5">
  <%= render 'admin/application/components/lifecycle/pills',
              path_method: :admin_research_journal_papers_path %>
</div>
<%= render 'admin/application/components/lifecycle/label' %>

<%= render 'admin/research/journals/papers/list', papers: @papers %>
<%= paginate @papers %>
