<% content_for :title, @paper %>

<%= render 'admin/research/journals/sidebar' do %>
  <div class="row">
    <div class="col-md-8">
      <%= render 'admin/application/summary/show', about: @paper %>
      <%= osuny_panel t('content') do %>
        <% if @paper.pdf.attached? %>
          <%= osuny_label Research::Journal::Paper.human_attribute_name('pdf') %>
          <p><%= link_to @paper.pdf.filename, url_for(@paper.pdf) %></p>
        <% end %>
        <% if @paper.doi.present?%>
          <%= osuny_label Research::Journal::Paper.human_attribute_name('doi') %>
          <p><%= link_to @paper.doi_url, @paper.doi_url, target: :_blank %></p>
        <% end %>
        <% if has_content?(@paper.text)%>
          <%= osuny_label Research::Journal::Paper.human_attribute_name('text') %>
          <%= sanitize @paper.text %>
        <% end %>
        <% if has_content?(@paper.bibliography)%>
          <%= osuny_label Research::Journal::Paper.human_attribute_name('bibliography') %>
          <%= sanitize @paper.bibliography %>
        <% end %>
      <% end %>
      <%= render 'admin/communication/blocks/content/editor', about: @paper %>
      <%= render 'admin/application/dependencies', about: @paper %>
    </div>
    <div class="col-md-4">
      <%= osuny_panel t('metadata') do %>
          <% if @paper.volume %>
            <%= osuny_label Research::Journal::Paper.human_attribute_name('volume') %>
            <p><%= link_to  @paper.volume,
                            [:admin, @paper.volume],
                            class: "#{'draft' unless @paper.volume.published?}" %></p>
          <% end %>
          <%= osuny_label Research::Journal::Paper.human_attribute_name('published') %>
          <p><%= t @paper.published %></p>
          <% if @paper.published? && @paper.published_at.present? %>
            <%= osuny_label Research::Journal::Paper.human_attribute_name('published_at') %>
            <p><%= l @paper.published_at.to_time, format: :date_with_explicit_month %></p>
          <% end %>
          <% if @paper.accepted_at.present? %>
            <%= osuny_label Research::Journal::Paper.human_attribute_name('accepted_at') %>
            <p><%= l @paper.accepted_at.to_time, format: :date_with_explicit_month %></p>
          <% end %>
          <% if @paper.received_at.present? %>
            <%= osuny_label Research::Journal::Paper.human_attribute_name('received_at') %>
            <p><%= l @paper.received_at.to_time, format: :date_with_explicit_month %></p>
          <% end %>
          <% unless @paper.keywords.blank? %>
            <%= osuny_label Research::Journal::Paper.human_attribute_name('keywords') %>
            <p><%= @paper.keywords %></p>
          <% end %>
          <% if @paper.kind %>
            <%= osuny_label Research::Journal::Paper.human_attribute_name('kind') %>
            <p><%= link_to @paper.kind, admin_research_journal_kind_path(@paper.kind) %></p>
          <% end %>
          <% if @paper.people.any? %>
            <%= osuny_label Research::Journal::Paper.human_attribute_name('people') %>
            <ul class="list-unstyled">
              <% @paper.people.each do |person| %>
                <li><%= link_to person, admin_research_researcher_path(person) %></li>
              <% end %>
            </ul>
          <% end %>
          <% if @paper.authors_list.present? %>
            <%= osuny_label Research::Journal::Paper.human_attribute_name('authors_list') %>
            <p><%= @paper.authors_list %></p>
          <% end %>
      <% end %>
      <%= render 'admin/application/meta_description/show', about: @paper %>
    </div>
  </div>
<% end %>

<% content_for :action_bar_left do %>
  <%= destroy_link @paper %>
  <%= static_link static_admin_research_journal_paper_path(@paper) %>
<% end %>

<% content_for :action_bar_right do %>
  <%= edit_link @paper %>
<% end %>
