<% content_for :title, @paper %>

<div class="row">
  <div class="col-md-8">
    <%= osuny_panel t('content') do %>
      <%= osuny_label Research::Journal::Paper.human_attribute_name('abstract') %>
      <p><%= @paper.abstract %></p>
      <% if @paper.pdf.attached? %>
        <%= osuny_label Research::Journal::Paper.human_attribute_name('pdf') %>
        <%= link_to @paper.pdf.filename, url_for(@paper.pdf) %>
      <% end %>
      <%= osuny_label Research::Journal::Paper.human_attribute_name('text') %>
      <p><%= @paper.text %></p>
      <%= osuny_label Research::Journal::Paper.human_attribute_name('references') %>
      <p><%= @paper.references %></p>
    <% end %>
    <%= render 'admin/application/summary/show', about: @paper %>
  </div>
  <div class="col-md-4">
    <%= osuny_panel t('metadata') do %>
        <% if @paper.volume %>
          <%= osuny_label Research::Journal::Paper.human_attribute_name('volume') %>
          <p><%= link_to  @paper.volume,
                          [:admin, @paper.volume],
                          class: "#{'draft' unless @paper.volume.published?}" %></p>
        <% end %>
        <%= osuny_label Research::Journal::Paper.human_attribute_name('published') %>
        <p><%= t @paper.published %></p>
        <% if @paper.published? && @paper.published_at.present? %>
          <%= osuny_label Research::Journal::Paper.human_attribute_name('published_at') %>
          <p><%= l @paper.published_at.to_time, format: :date_with_explicit_month %></p>
        <% end %>
        <% unless @paper.keywords.blank? %>
          <%= osuny_label Research::Journal::Paper.human_attribute_name('keywords') %>
          <p><%= @paper.keywords %></p>
        <% end %>
        <% if @paper.kind %>
          <%= osuny_label Research::Journal::Paper.human_attribute_name('kind') %>
          <p><%= link_to @paper.kind, admin_research_journal_kind_path(@paper.kind) %></p>
        <% end %>
        <% if @paper.people.any? %>
          <%= osuny_label Research::Journal::Paper.human_attribute_name('people') %>
          <ul class="list-unstyled mb-0">
            <% @paper.people.each do |person| %>
              <li><%= link_to person, admin_research_researcher_path(person) %></li>
            <% end %>
          </ul>
        <% end %>
    <% end %>
    <%= render 'admin/application/meta_description/show', about: @paper %>
  </div>
</div>

<% content_for :action_bar_left do %>
  <%= destroy_link @paper %>
  <%= static_link static_admin_research_journal_paper_path(@paper) %>
<% end %>

<% content_for :action_bar_right do %>
  <%= edit_link @paper %>
<% end %>
