<% content_for :title, @l10n %>

<div class="row">
  <div class="col-lg-4">
    <%= osuny_label Research::Journal::Paper.human_attribute_name('received_at') %>
    <p>
    <% if @paper.received_at %>
      <%= l @paper.received_at.to_time, format: :date_with_explicit_month %>
      <% else %>
        -
    <% end %>
    </p>
  </div>
  <div class="col-lg-4">
    <%= osuny_label Research::Journal::Paper.human_attribute_name('accepted_at') %>
    <p>
      <% if @paper.accepted_at %>
        <%= l @paper.accepted_at.to_time, format: :date_with_explicit_month %>
      <% else %>
        -
      <% end %>
    </p>
  </div>
  <div class="col-lg-4">
    <%= osuny_label Research::Journal::Paper::Localization.human_attribute_name('published_at') %>
    <p>
      <% if @l10n.published? && @l10n.published_at.present? %>
        <%= l @l10n.published_at.to_time, format: :date_with_explicit_month %>
      <% else %>
        -
      <% end %>
    </p>
  </div>
</div>
<%= osuny_separator %>
<div class="row">
  <div class="col-lg-4">
    <%= osuny_panel t('metadata') do %>
        <% if @paper.volume %>
          <%= osuny_label Research::Journal::Paper.human_attribute_name('volume') %>
          <p><%= osuny_link_localized @paper.volume,
                                      [:admin, @paper.volume] %></p>
        <% end %>
        <% unless @paper.keywords.blank? %>
          <%= osuny_label Research::Journal::Paper.human_attribute_name('keywords') %>
          <p><%= @paper.keywords %></p>
        <% end %>
        <% if @paper.kind %>
          <%= osuny_label Research::Journal::Paper.human_attribute_name('kind') %>
          <p><%= link_to @paper.kind, admin_research_journal_kind_path(@paper.kind) %></p>
        <% end %>
        <% if @paper.people.any? %>
          <%= osuny_label Research::Journal::Paper.human_attribute_name('people') %>
          <%= render 'admin/research/researchers/list', researchers: @paper.people %>
        <% end %>
        <% if @paper.authors_list.present? %>
          <%= osuny_label Research::Journal::Paper::Localization.human_attribute_name('authors_list') %>
          <p><%= @paper.authors_list %></p>
        <% end %>
    <% end %>
    <%= render 'admin/application/meta_description/show', about: @paper %>
  </div>
  <div class="col-lg-8">
    <%= render 'admin/application/summary/show', about: @l10n %>
    <%= osuny_panel t('content') do %>
      <% if @l10n.pdf.attached? %>
        <%= osuny_label Research::Journal::Paper::Localization.human_attribute_name('pdf') %>
        <p><%= link_to @l10n.pdf.filename, url_for(@l10n.pdf) %></p>
      <% end %>
      <% if @paper.doi.present?%>
        <%= osuny_label Research::Journal::Paper.human_attribute_name('doi') %>
        <p><%= link_to @paper.doi_url, @paper.doi_url, target: :_blank %></p>
      <% end %>
      <% if has_content?(@paper.text)%>
        <%= osuny_label Research::Journal::Paper.human_attribute_name('text') %>
        <%= sanitize @paper.text %>
      <% end %>
      <% if has_content?(@paper.bibliography)%>
        <%= osuny_label Research::Journal::Paper.human_attribute_name('bibliography') %>
        <%= sanitize @paper.bibliography %>
      <% end %>
    <% end %>
  </div>
</div>
<%= osuny_separator %>
<%= render 'admin/communication/blocks/content/editor', about: @l10n %>
<%= render 'admin/application/dependencies', about: @paper %>

<% content_for :action_bar_left do %>
  <%= destroy_link @paper %>
  <%= static_link static_admin_research_journal_paper_path(@paper) %>
<% end %>

<% content_for :action_bar_right do %>
  <%= edit_link @paper %>
<% end %>
