<div class="table-responsive">
  <table class="<%= table_classes(with_actions: false) %>">
    <thead>
      <tr>
        <th><%= University::Person::Experience.human_attribute_name('description') %></th>
        <th><%= University::Person::Experience.human_attribute_name('organization') %></th>
        <th><%= University::Person::Experience.human_attribute_name('from_year') %></th>
        <th><%= University::Person::Experience.human_attribute_name('to_year') %></th>
      </tr>
    </thead>
    <tbody>
      <% experiences.each do |experience| %>
        <%
        experience_l10n = experience.best_localization_for(current_language)
        organization = experience.organization
        %>
        <tr>
          <td class="<%= 'fst-italic' if experience_l10n.language != current_language %>">
            <%= experience_l10n.description %>
          </td>
          <td><%= osuny_link_localized organization, [:admin, organization] %></td>
          <td><%= experience.from_year %></td>
          <td><%= experience.to_year %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>