<%= simple_form_for [:admin, person] do |f| %>
  <div class="row">
    <div class="col-md-8">
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h5 class="card-title mb-0"><%= t('content') %></h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <%= f.input :first_name %>
            </div>
            <div class="col-md-6">
              <%= f.input :last_name %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <%= f.input :email %>
            </div>
            <div class="col-md-6">
              <%= f.input :phone %>
            </div>
          </div>
          <%= f.input :biography, as: :rich_text_area %>
        </div>
      </div>
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h5 class="card-title mb-0"><%= University::Person.human_attribute_name('abilities') %></h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <%= f.input :is_teacher %>
            </div>
            <div class="col-md-6">
              <%= f.input :is_researcher %>
            </div>
            <div class="col-md-6">
              <%= f.input :is_administration %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h5 class="card-title mb-0"><%= t('metadata') %></h5>
        </div>
        <div class="card-body">
          <%= f.input :slug,
          as: :string,
          input_html: person.persisted? ? {} : {
            class: 'js-slug-input',
            data: { source: '#university_person_first_name, #university_person_last_name' }
          } %>
          <%= f.association :user, collection: current_university.users.ordered %>
        </div>
      </div>
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h5 class="card-title mb-0"><%= University::Person.human_attribute_name('picture') %></h5>
        </div>
        <div class="card-body">
          <%= f.input :picture,
                  as: :single_deletable_file,
                  label: false,
                  input_html: { accept: '.jpg,.jpeg,.png' },
                  preview: 200,
                  resize: 1,
                  direct_upload: true %>
        </div>
      </div>
    </div>
  </div>
  <% content_for :action_bar_right do %>
    <%= submit f %>
  <% end %>
<% end %>
