<%= simple_form_for [:admin, person] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="row">
    <div class="col-lg-8">
      <%= osuny_panel University::Person.human_attribute_name('essentials') do %>
        <div class="row pure__row--small">
          <div class="col-xxl-6">
            <%= f.input :first_name %>
          </div>
          <div class="col-xxl-6">
            <%= f.input :last_name %>
          </div>
        </div>
        <div class="row pure__row--small">
          <div class="col-xxl-6">
            <%= f.input :gender, label_method: lambda { |g| t("activerecord.attributes.university/person.genders.#{g[1]}") } %>
          </div>
          <div class="col-xxl-6">
            <%= f.input :birthdate, discard_year: true, include_blank: true %>
          </div>
        </div>
        <%= render 'admin/application/summary/form', f: f, about: person %>
        <%= f.input :biography,
                    as: :summernote,
                    input_html: {
                      data: { 'summernote-config' => 'mini-list' }
                    } %>
      <% end %>
      <%= osuny_panel University::Person.human_attribute_name('contacts') do %>
        <p><em><%= t("university.person.personal_data_warning") %></em></p>
        <div class="row pure__row--small">
          <div class="col-xxl-6">
            <%= f.input :email %>
          </div>
          <div class="col-xxl-6">
            <%= f.input :phone_mobile %>
          </div>
          <div class="col-xxl-6">
            <%= f.input :phone_professional %>
          </div>
          <div class="col-xxl-6">
            <%= f.input :phone_personal %>
          </div>
          <div class="col-xxl-6">
            <%= f.input :address %>
          </div>
          <div class="col-xxl-6">
            <%= f.input :zipcode %>
          </div>
          <div class="col-xxl-6">
            <%= f.input :city %>
          </div>
          <div class="col-xxl-6">
            <%= f.input :country, input_html: { class: 'form-select' } %>
          </div>
        </div>
      <% end %>
      <%= osuny_panel University::Person.human_attribute_name('socials') do %>
        <p><em><%= t("university.person.personal_data_warning") %></em></p>
        <div class="row pure__row--small">
          <div class="col-xxl-6">
           <%= f.input :url %>
          </div>
          <div class="col-xxl-6">
            <%= f.input :linkedin %>
          </div>
          <div class="col-xxl-6">
            <%= f.input :twitter %>
          </div>
          <div class="col-xxl-6">
            <%= f.input :mastodon %>
          </div>
        </div>
      <% end %>
      <%= osuny_panel t('research.hal.title') do %>
        <div class="row">
          <div class="col-xxl-6">
            <%= f.input :hal_doc_identifier %>
          </div>
          <div class="col-xxl-6">
            <%= f.input :hal_person_identifier %>
          </div>
          <div class="col-xxl-6">
            <%= f.input :hal_form_identifier %>
          </div>
        </div>
      <% end if person.is_researcher? %>
      <%= osuny_panel University::Person.human_attribute_name('abilities') do %>
        <div class="row pure__row--small">
          <div class="col-xxl-6">
            <%= f.input :is_teacher %>
            <%= f.input :is_administration %>
            <%= f.input :is_alumnus %>
          </div>
          <div class="col-xxl-6">
            <%= f.input :tenure %>
            <%= f.input :is_researcher %>
            <%= f.input :habilitation %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-lg-4">
      <%= osuny_panel t('metadata') do %>
          <%= f.input :slug,
                      as: :string,
                      input_html: person.persisted? ? {} : {
                        class: 'js-slug-input',
                        data: { source: '#university_person_first_name, #university_person_last_name' }
                      } %>
          <%= f.association :user, collection: current_university.users.ordered if can?(:manage, User) %>
      <% end %>
      <%= osuny_panel University::Person.human_attribute_name('picture') do %>
        <%= f.input :picture,
                    as: :single_deletable_file,
                    label: false,
                    input_html: { accept: '.jpg,.jpeg,.png,.svg' },
                    preview: 200,
                    resize: 1,
                    direct_upload: true %>
      <% end %>
      <%= render 'admin/application/meta_description/form', f: f, about: person %>
    </div>
  </div>
  <% content_for :action_bar_right do %>
    <%= submit f %>
  <% end %>
<% end %>
