<div class="table-responsive">
  <table class="<%= table_classes %>">
    <thead>
      <tr>
        <th><%= University::Person.human_attribute_name('last_name') %></th>
        <th><%= University::Person.human_attribute_name('first_name') %></th>
        <th><%= University::Person.human_attribute_name('roles') %></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% people.each do |person| %>
        <tr>
          <td><%= link_to person.last_name, admin_university_person_path(person) %></td>
          <td><%= link_to person.first_name, admin_university_person_path(person) %></td>
          <td>
            <% person.roles.each do |role| %>
              <span class="badge bg-secondary">
                <%= t "activerecord.attributes.university/person.#{role}" %>
              </span>
            <% end %>
          </td>
          <td>
            <%= kamifusen_tag person.best_picture,
                              width: 80 if person.best_picture.attached? %>
          </td>
          <td>
            <div class="btn-group" role="group">
              <%= link_to t('edit'),
                        edit_admin_university_person_path(person),
                        class: button_classes if can?(:update, person) %>
              <%= link_to t('delete'),
                        admin_university_person_path(person),
                        method: :delete,
                        data: { confirm: t('please_confirm') },
                        class: button_classes_danger if can?(:destroy, person) %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
