<div class="row">
  <div class="col-md-8 col-xl-9">
    <%= render 'admin/application/summary/show', about: person %>
    <%= osuny_panel t('content') do %>
      <div class="row pure__row--small">
        <% unless person.gender.blank? %>
          <div class="col-md-6">
            <%= osuny_label University::Person.human_attribute_name('gender') %>
            <p><%= t("activerecord.attributes.university/person.genders.#{person.gender}") %></p>
          </div>
        <% end %>
        <% unless person.email.blank? %>
          <div class="col-md-6">
            <%= osuny_label University::Person.human_attribute_name('email') %>
            <p><%= link_to person.email, "mailto:#{person.email}", target: '_blank' %></p>
          </div>
        <% end %>
        <% ['phone_mobile', 'phone_personal', 'phone_professional'].each do |phone| %>
          <% unless person[phone].blank? %>
            <div class="col-md-6">
              <%= osuny_label University::Person.human_attribute_name(phone) %>
              <p><%= link_to person[phone], "tel:#{person[phone]}", target: '_blank' %></p>
            </div>
          <% end %>
        <% end %>
        <% unless person.birthdate.blank? %>
          <div class="col-md-6">
            <%= osuny_label University::Person.human_attribute_name('birthdate') %>
            <p><%= l(person.birthdate, format: :birthday) %></p>
           </div>
        <% end %>
        <% [:address, :zipcode, :city].each do |property| %>
          <% value = person.send property %>
          <% next if value.blank? %>
          <div class="col-md-6">
            <%= osuny_label University::Person.human_attribute_name(property) %>
            <p><%= value %></p>
          </div>
        <% end %>
        <% if person.country.present? %>
          <div class="col-md-6">
            <%= osuny_label University::Person.human_attribute_name(:country) %>
            <p><%= person.country_name %></p>
          </div>
        <% end %>
      </div>
      <% unless person.biography.blank? %>
        <%= osuny_label University::Person.human_attribute_name('biography') %>
        <%= sanitize person.biography %>
      <% end %>
    <% end %>

    <%= osuny_panel University::Person.human_attribute_name('socials') do %>
      <% unless person.url.blank? %>
        <%= osuny_label University::Person.human_attribute_name('url') %>
        <p><%= link_to person.url, person.url, target: '_blank' %></p>
      <% end %>
      <% unless person.linkedin.blank? %>
        <%= osuny_label University::Person.human_attribute_name('linkedin') %>
        <p><%= link_to person.linkedin, person.linkedin, target: '_blank' %></p>
      <% end %>
      <% unless person.twitter.blank? %>
        <%= osuny_label University::Person.human_attribute_name('twitter') %>
        <p><%= link_to person.twitter, "https://twitter.com/#{person.twitter}", target: '_blank' %></p>
      <% end %>
      <% unless person.mastodon.blank? %>
        <%= osuny_label University::Person.human_attribute_name('mastodon') %>
        <p><%= link_to person.mastodon, person.mastodon, target: '_blank' %></p>
      <% end %>
    <% end unless person.url.blank? && person.linkedin.blank? && person.twitter.blank? %>

    <%= render 'admin/communication/blocks/list', about: person %>
  </div>
  <div class="col-md-4 col-xl-3">
    <%= osuny_panel t('metadata') do %>
        <%= osuny_label University::Person.human_attribute_name('slug') %>
        <p><%= person.slug %></p>
        <% if person.user.present? %>
          <%= osuny_label University::Person.human_attribute_name('user') %>
          <p><%= link_to_if can?(:read, person.user), person.user, admin_user_path(person.user) %></p>
        <% end %>
    <% end %>
    <%= render 'admin/application/i18n/widget', about: person %>
    <%= osuny_panel t('activerecord.attributes.university/person.picture') do %>
      <% if person.best_picture_inherits_from_user? %>
        <p>
          <span class="small text-muted">
            <%= t 'admin.inheritance.sentence_html', link: link_to_if(can?(:read, person.user), person.user, [:admin, person.user]) %>
          </span>
        </p>
      <% end %>
      <%= kamifusen_tag person.best_picture, class: 'img-fluid' %>
    <% end if person.best_picture.attached? %>

    <%= render 'admin/application/meta_description/show', about: person %>
  </div>
</div>
