<% content_for :title, University::Person.model_name.human(count: 2) %>

<% content_for :title_right do %>
  <%= button_advanced do %>
    <%= link_to t('university.person.import_btn'),
                new_admin_university_people_import_path,
                class: button_classes if can? :create, University::Person %>
    <%= link_to t('university.person.experiences.import_btn'),
                new_admin_university_people_experiences_import_path,
                class: button_classes if can? :create, University::Person::Experience %>
    <%= link_to t('export'),
                request.params.merge(format: "xlsx"),
                class: button_classes %>
  <% end %>
  <%= create_link University::Person %>
<% end %>

<div class="d-flex justify-content-between mb-5">
  <%= render 'admin/application/components/lifecycle/pills',
              path_method: :admin_university_people_path %>
  <%= render 'filters',
              current_path: admin_university_people_path %>
</div>
<%= render 'admin/application/components/lifecycle/label' %>

<%= render 'admin/university/people/list', people: @people %>
<%= paginate @people %>
