<main id="main" class="page-with-blocks">
  <header class="hero hero--with-image hero--image-square">
    <div class="container">
      <div class="content">
        <div class="hero-text">
          <hgroup class="has-lead">
            <h1><%= @l10n.to_s %></h1>
            <%= sanitize @l10n.summary %>
          </hgroup>
        </div>
        <figure class="image-square lightbox-figure">
          <%= kamifusen_tag @person.featured_image if @person.featured_image.present? && @person.featured_image.attached? %>
        </figure>
      </div>
    </div>
  </header>
  <div class="document-content">
    <div class="container">
      <div class="informations">
        <div class="biography">
          <div class="rich-text">
            <%= sanitize @l10n.biography %>
          </div>
        </div>
      </div>
      <div class="contacts-details">
        <% # TODO %>
      </div>
    </div>
    <div class="blocks">
      <%= render 'admin/communication/contents/show',
            about: @l10n,
            strip_javascript: true %>
    </div>
  </div>
</main>
<%= render 'admin/application/preview/lightbox' %>