<div class="table-responsive">
  <table class="<%= table_classes %>">
    <thead>
      <tr>
        <th><%= Communication::Website::Connection.human_attribute_name('id') %></th>
        <th><%= Communication::Website::Connection.human_attribute_name('object') %></th>
        <th><%= Communication::Website::Connection.human_attribute_name('object_type') %></th>
        <th><%= Communication::Website::Connection.human_attribute_name('updated_at') %></th>
      </tr>
    </thead>
    <tbody>
      <% connections.each do |connection| %>
        <%
        object = connection.object
        object_name = object.to_s
        object_name = object.id if object.is_a?(ActiveStorage::Blob)
        begin
          object_link = url_for [:admin, object]
        rescue
        end
        %>
        <tr>
          <td><%= link_to connection, [:admin, connection] %></td>
          <td><%= link_to_if object_link, object_name, object_link %></td>
          <td><%= connection.object_type %></td>
          <td><%= l connection.updated_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>