<div class="table-responsive">
  <table class="<%= table_classes %>">
    <thead>
      <tr>
        <th><%= Communication::Website::Connection.human_attribute_name('id') %></th>
        <th><%= Communication::Website::Connection.human_attribute_name('indirect_object') %></th>
        <th><%= Communication::Website::Connection.human_attribute_name('direct_source') %></th>
        <th><%= Communication::Website::Connection.human_attribute_name('updated_at') %></th>
      </tr>
    </thead>
    <tbody>
      <% connections.each do |connection| %>
        <tr>
          <td><%= link_to connection, [:admin, connection] %></td>
          <td>
            <%= render 'admin/communication/websites/connections/indirect_object', connection: connection %>
            <br><span class="small"><%= connection.indirect_object_type %></span>
          </td>
          <td>
            <%= render 'admin/communication/websites/connections/direct_source', connection: connection %>
            <br><span class="small"><%= connection.direct_source_type %></span>
          </td>
          <td><%= l connection.updated_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>