<% content_for :title, @connection %>

<%= osuny_label Communication::Website::Connection.human_attribute_name('object') %>
<p><%= @connection.object %></p>
<%= osuny_label Communication::Website::Connection.human_attribute_name('object_type') %>
<p><%= @connection.object_type %></p>
<%= osuny_label Communication::Website::Connection.human_attribute_name('object_id') %>
<p><%= @connection.object_id %></p>
