<% content_for :title, t('admin.communication.website.redirects.label') %>

<% content_for :title_right do %>
  <%= create_link Communication::Website::Permalink %>
<% end %>

<% if @website.hosted_with_nginx? %>
  <div class="alert alert-warning mb-4">
    <p>
      Votre hébergement ne permet pas de gérer les redirections automatiquement.<br>
      Pour cela, demandez à votre administrateur réseau d'y inclure la configuration disponible ci-dessous.
    </p>
    <%= link_to "Configuration Nginx", admin_communication_website_config_path("nginx_config"), class: "btn btn-primary", target: :_blank %>
  </div>
<% end %>

<div class="d-flex justify-content-between mb-5">
  <ul class="nav nav-pills osuny__lifecycle">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page">
        <%= t('lifecycle.status.all') %>
        <span class="text-muted">(<%= @permalinks.total_count %>)</span>
      </a>
    </li>
  </ul>
  <%= render 'admin/communication/websites/permalinks/filters',
              current_path: redirects_admin_communication_website_path(id: @website.id, website_id: nil),
              website: @website %>

</div>

<%= render 'admin/communication/websites/permalinks/list', permalinks: @permalinks %>
<%= paginate @permalinks %>
