<% content_for :title, @l10n %>

<%= render 'admin/application/categories/show', category: @category, l10n: @l10n %>

<p>
  <%= @organizations.total_count %>
  <%= University::Organization.model_name.human(count: @organizations.total_count).downcase %>
</p>
<%= render 'admin/university/organizations/list', organizations: @organizations %>
<%= paginate @organizations %>

<% content_for :server_admin_only do %>
  <%= static_link static_admin_university_organization_category_path(@category) %>
<% end %>
  
<% content_for :action_bar_left do %>
  <%= destroy_link @category %>
<% end %>

<% content_for :action_bar_right do %>
  <%= edit_link @category %>
<% end %>
