<%= simple_form_for [:admin, laboratory] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="row">
    <div class="col-md-6">
      <%= f.input :name %>
      <%= f.input :address %>
      <%= f.input :zipcode %>
      <%= f.input :city %>
      <%= f.input :country, input_html: { class: 'form-select' } %>
    </div>
  </div>
  <% content_for :action_bar_right do %>
    <%= submit f %>
  <% end %>
<% end %>
