<%= simple_form_for [:admin, laboratory] do |f| %>
  <div class="row">
    <div class="col-md-6">
      <div class="card flex-fill w-100">
        <div class="card-body">
          <%= f.input :name %>
          <%= f.input :address %>
          <%= f.input :zipcode %>
          <%= f.input :city %>
          <%= f.input :country %>
        </div>
      </div>
    </div>
  </div>
  <% content_for :action_bar_right do %>
    <%= submit f %>
  <% end %>
<% end %>
