<% content_for :title, @l10n %>

<div class="row">
  <div class="col-lg-6">
    <%= osuny_panel Research::Laboratory::Axis.model_name.human(count: 2) do %>
      <%= render 'admin/research/laboratories/axes/list', axes: @axes %>
      <%= link_to t('create'),
                  new_admin_research_laboratory_axis_path(laboratory_id: @laboratory),
                  class: button_classes if can?(:create, Research::Laboratory::Axis) %>
    <% end %>
  </div>
  <div class="col-lg-6">
    <%= osuny_panel University::Person::Researcher.model_name.human(count: 2) do %>
      <%= render 'admin/research/researchers/list', researchers: @laboratory.researchers %>
    <% end %>
  </div>
</div>

<% content_for :action_bar_left do %>
  <%= destroy_link @laboratory %>
  <%= static_link static_admin_research_laboratory_path(@laboratory) %>
<% end %>

<% content_for :action_bar_right do %>
  <%= edit_link @laboratory %>
<% end %>
