<%
horizontal ||= false
layouts = template.class.layouts
%>
<% if horizontal %><div class="row"><% end %>
<% layouts.each do |layout| %>
  <%
  i18n = "admin.communication.blocks.templates.#{template.kind}.layouts.#{layout}"
  name = t "#{i18n}.label"
  description = t "#{i18n}.description"
  %>
  <% if horizontal %><div class="col-xxl-6"><% end %>
  <div class="card mb-4">
    <label for="layout-<%= layout %>">
      <div class="row">
        <div class="col-8 col-xxl-6">
          <div class="card-body">
            <div class="form-check">
              <input  class="form-check-input"
                      type="radio"
                      name="layout"
                      v-model="data.layout"
                      value="<%= layout %>"
                      id="layout-<%= layout %>">
              <h3 class="h4"><%= name %></h3>
            </div>
            <p><%= description %></p>
          </div>
        </div>
        <div class="col-4 col-xxl-6">
          <%= image_tag "communication/blocks/templates/#{template.kind}/#{layout}.png",
                        alt: name,
                        class: 'img-fluid' %>
        </div>
      </div>
    </label>
  </div>
  <% if horizontal %></div><% end %>
<% end %>
<% if horizontal %></div><% end %>
