<%
layouts = template.class.layouts
%>
<p>
  <span class="form-label pe-2">
    <%= t('admin.communication.blocks.components.layouts.label') %>
  </span>
  <% layouts.each do |layout| %>
    <strong v-show="data.layout == '<%= layout %>'">
      <%= t "admin.communication.blocks.templates.#{template.kind}.layouts.#{layout}.label" %>
    </strong>
  <% end %>
  <a  data-bs-toggle="collapse"
      href="#layouts"
      class="ms-4 action">
      <%= t('admin.communication.blocks.components.layouts.button') %>
  </a>
</p>

<div class="collapse mb-5" id="layouts">
  <% layouts.each do |layout| %>
    <%
    i18n = "admin.communication.blocks.templates.#{template.kind}.layouts.#{layout}"
    name = t "#{i18n}.label"
    description = t "#{i18n}.description"
    %>
    <div class="mb-4" v-bind:class="{ 'layout--selected': data.layout == '<%= layout %>' }">
      <label for="layout-<%= layout %>">
        <div class="row">
          <div class="col-lg-4">
            <%= image_tag "communication/blocks/templates/#{template.kind}/#{layout}.png",
                          alt: name,
                          class: 'layout__image img-fluid border',
                          loading: 'lazy' %>
          </div>
          <div class="col-lg-8 d-lg-flex flex-column justify-content-center">
            <div class="p-4 p-lg-0 p-lg-e5">
              <input  class="form-check-input d-none"
                      type="radio"
                      name="layout"
                      v-model="data.layout"
                      value="<%= layout %>"
                      id="layout-<%= layout %>">
              <h3><%= name %></h3>
              <p><%= description %></p>
            </div>
          </div>
        </div>
      </label>
    </div>
  <% end %>
</div>