<%
  $class = "block block-embed" 
  if @block.title
    $class += " block-with-title"
  end
%>

<section class="<%= $class %>">
  <div class="container">
    <div class="block-content">
      <% if @block.title %>
        <div class="top">
          <h2><%= @block.title %></h2>
        </div>
      <% end %>

      <%= raw @block.template.code %>
      <%# <%= block_component_preview :code %> <%# ça ne fonctionne pas %>

      <% unless @block.template.transcription.empty? %>
        <div class="transcription">
          <details>
            <summary>Transcription</summary>
            <p>
              <%= block_component_preview :transcription %>
            </p>
          </details>
        </div>
      <% end %>
    </div>
  </div>
</section>



