<%
url = kind.new_record?  ? admin_research_journal_kinds_path
                        : admin_research_journal_kind_path(kind)
%>
<%= simple_form_for kind, url: url do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="row">
    <div class="col-md-8">
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h5 class="card-title mb-0"><%= t('content') %></h5>
        </div>
        <div class="card-body">
          <%= f.input :title %>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h5 class="card-title mb-0"><%= t('metadata') %></h5>
        </div>
        <div class="card-body">
          <%= f.input :slug,
                      as: :string,
                      input_html: kind.persisted? ? {} : {
                        class: 'js-slug-input',
                        data: { source: '#research_journal_paper_title' }
                      } %>
        </div>
      </div>
    </div>
  </div>
  <% content_for :action_bar_right do %>
    <%= submit f %>
  <% end %>
<% end %>
