<div class="table-responsive">
  <table class="<%= table_classes %>">
    <thead>
      <tr>
        <th><%= Research::Journal::Paper::Kind.human_attribute_name('title') %></th>
        <th><%= Research::Journal::Paper.model_name.human(count: 2) %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% kinds.each do |kind| %>
        <tr>
          <td>
            <%= link_to kind,
                        admin_research_journal_kind_path(journal_id: kind.journal, id: kind) %>
          </td>
          <td><%= kind.papers.count %></td>
          <td class="text-end">
            <div class="btn-group" role="group">
              <%= link_to t('edit'),
                          edit_admin_research_journal_kind_path(journal_id: kind.journal, id: kind),
                          class: button_classes %>
              <%= link_to t('delete'),
                          admin_research_journal_kind_path(journal_id: kind.journal, id: kind),
                          method: :delete,
                          data: { confirm: t('please_confirm') },
                          class: button_classes_danger %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
