<div class="row g-2 mb-3">
  <% kinds.each do |kind| %>
    <div>
      <div class="<%= osuny_card_classes(horizontal: true) %>">
        <%= osuny_thumbnail_localized kind %>
        <% if kind.deleted? %>
          <div class="card-body">
            <%= kind.best_localization_for(current_language) %>
          </div>
          <% if can?(:restore, kind) %>
            <div class="card-footer">
              <%= link_to t('restore'),
                          restore_admin_research_journal_paper_kind_path(kind),
                          method: :post,
                          class: button_classes %>
            </div>
          <% end %>
        <% else %>
          <div class="card-body">
            <%= osuny_link_localized  kind,
                                      [:admin, kind, { journal_id: kind.journal }],
                                      classes: 'stretched-link' %>
          </div>
          <div class="card-footer small text-muted">
            <%= kind.papers.count %>
            <%= Research::Journal::Paper.model_name.human(count: kind.papers.count).downcase %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
