<%= simple_form_for [:admin, event] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="row">
    <div class="col-md-8">
      <%= osuny_panel t('content') do %>
        <%= f.input :title %>
        <%= f.input :subtitle %>
        <%= render 'admin/application/summary/form', f: f, about: event %>
      <% end %>
      <%= osuny_panel Communication::Website::Agenda::Event.human_attribute_name('dates') do %>
        <div class="row pure__row--small">
          <div class="col-md-6">
            <%= f.input :from_day, html5: true %>
          </div>
          <div class="col-md-6">
            <%= f.input :from_hour, html5: true %>
          </div>
        </div>
        <div class="row pure__row--small">
          <div class="col-md-6">
            <%= f.input :to_day, html5: true %>
          </div>
          <div class="col-md-6">
            <%= f.input :to_hour, html5: true %>
          </div>
        </div>
        <%= f.input :time_zone,
                    collection: time_zones_for_select,
                    include_blank: false,
                    selected: f.object.time_zone || @website.default_time_zone %>
      <% end %>
      <% if @categories.any? %>
        <%= osuny_panel t('activerecord.attributes.communication/website/agenda/event.categories') do %>
          <%= f.association :categories,
                            label_text: false,
                            as: :check_boxes,
                            collection: collection_tree_for_checkboxes(@categories) %>
        <% end %>
      <% end %>

      <%= render 'admin/application/meta_description/form', f: f, about: event %>

    </div>
    <div class="col-md-4">
      <%= osuny_panel t('metadata') do %>
        <%= f.input :published if can? :publish, event %>
        <%= render  "admin/application/slug/form",
                    f: f,
                    source: '#communication_website_agenda_event_title' %>
      <% end %>
      <%= render 'admin/application/featured_image/edit', f: f, about: event %>
      <%= render 'admin/application/shared_image/edit', f: f, about: event %>
    </div>
  </div>

  <% content_for :action_bar_left do %>
    <%= render 'admin/application/i18n/translate_button', about: event %>
  <% end %>

  <% content_for :action_bar_right do %>
    <%= submit f %>
  <% end %>
<% end %>
