<%
small ||= false
link_to_all ||= false
%>
<% if events.none? %>
  <p><%= t('admin.communication.website.agenda.events.none') %></p>
<% else %>
  <div class="row g-2 mb-3">
    <%
    events.each do |event|
      event_l10n = event.best_localization_for(current_language)
      %>
      <div>
        <div class="<%= osuny_card_classes(horizontal: true) %>">
          <%= osuny_thumbnail_localized event, large: true %>
          <div class="card-body d-flex align-items-center">
            <% unless small %>
              <div class="me-2">
                <%= osuny_published_localized event %>
              </div>
            <% end %>
            <div>
              <%= osuny_link_localized  event,
                                        admin_communication_website_agenda_event_path(
                                          website_id: event.website.id,
                                          id: event.id
                                        ),
                                        classes: "stretched-link" %>
              <% if event_l10n&.subtitle.present? %>
                <div class="text-muted small mt-1">
                  <%= event_l10n.subtitle.truncate(45) %>
                </div>
              <% end %>
            </div>
          </div>
          <div class="card-footer text-end small text-muted">
            <%= render 'admin/communication/websites/agenda/events/dates',
                        event: event,
                        l10n: event_l10n,
                        detailed: false %>
          </div>
        </div>
      </div>
    <% end %>
    <%= render 'admin/application/components/all',
                link: admin_communication_website_agenda_events_path(website_id: @website) if link_to_all %>
  </div>
<% end %>