<%
small ||= false
%>
<% if events.none? %>
  <p><%= t('admin.communication.website.agenda.events.none') %></p>
<% else %>
  <div class="row g-2 mb-3">
    <% events.each do |event| %>
      <div>
        <div class="card card--horizontal">
          <%= osuny_thumbnail_localized event %>
          <div class="card-body">
            <%= osuny_published_localized event unless small %>
            <%= osuny_link_localized  event,
                                      admin_communication_website_agenda_event_path(
                                        website_id: event.website.id, 
                                        id: event.id
                                      ),
                                      classes: "stretched-link text-black" %>
            <% if event.subtitle.present? %>
              <br>
              <span class="text-muted">
                <%= event.best_localization_for(current_language).subtitle %>
              </span>
            <% end %>
          </div>
          <div class="card-footer text-end text-muted">
            <%= render 'admin/communication/websites/agenda/events/dates', event: event %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>