<% content_for :title, t('create') %>

<div class="d-flex justify-content-between mb-4">
  <p>
    <%= @events.total_count %>
    <%= t('admin.item', count: @events.total_count) %>
  </p>
  <%= render 'filters', current_path: admin_communication_website_agenda_events_path, website: @website %>
</div>

<%= render 'admin/communication/websites/agenda/events/list', events: @events %>
<%= paginate @events %>

<% content_for :action_bar_right do %>
  <%= create_link Communication::Website::Agenda::Event %>
<% end %>
