<% content_for :title, "#{Communication::Website::Agenda::Event.model_name.human(count: 2)} (#{@events.total_count})" %>

<% content_for :title_right do %>
  <%= button_advanced do %>
    <%= link_to 'Créer un modèle',
                new_admin_communication_website_agenda_event_path(is_template: true),
                class: button_classes %>
  <% end if can?(:create_template, @website) %>
  <%= create_link Communication::Website::Agenda::Event %>
<% end %>

<div class="d-flex justify-content-between mb-5">
  <%= render 'admin/application/components/lifecycle/pills',
              path_method: :admin_communication_website_agenda_events_path %>
  <%= render 'filters',
              current_path: admin_communication_website_agenda_events_path,
              website: @website %>
</div>
<%= render 'admin/application/components/lifecycle/label' %>

<%= render 'admin/communication/websites/agenda/events/list', events: @events %>
<%= paginate @events %>
