<% content_for :title, @event %>

<%= render 'admin/communication/websites/sidebar' do %>
  <div class="row">
    <div class="col-lg-7">
      <%= osuny_panel Communication::Website::Agenda::Event.human_attribute_name(:title), small: true do %>
        <p class="lead"><%= @event.title %></p>
      <% end %>
    </div>
    <div class="offset-lg-1 col-lg-4">
      <%= render 'admin/application/featured_image/show', about: @event, small: true %>
    </div>
  </div>
  <hr class="mb-5">
  <%= render 'admin/application/a11y/widget', about: @event, horizontal: true %>
  <hr class="mb-5">
  <div class="row">
    <div class="col-lg-4">
      <% # TODO i18n après Violenn %>
      <div class="mb-4">
        <%= osuny_label t('metadata') %><br>
        <%= @event.published ? 'Publié' : 'Brouillon' %>
        <%= render 'admin/application/i18n/inline', about: @event %>
      </div>
    </div>
    <div class="col-lg-8">
      <%= render 'admin/application/summary/show', about: @event, small: true %>
      <%= render 'admin/application/meta_description/show', about: @event %>
    </div>
  </div>
  <%= render 'admin/communication/blocks/content/editor', about: @event %>
<% end %>

<% content_for :action_bar_left do %>
  <%= destroy_link @event %>
  <%= duplicate_link @event %>
  <%= static_link static_admin_communication_website_post_path(@event) %>
<% end %>

<% content_for :action_bar_right do %>
  <%= edit_link @event %>
  <%= publish_link @event %>
<% end %>
