<% content_for :title, @l10n %>

<% content_for :title_right do %>
  <%= button_advanced do %>
    <%= destroy_link @event %>
    <%= duplicate_link @event %>
  <% end %>
  <% if @event.is_template %>
    <%= edit_link @event if can?(:create_template, @website) %>
    <%= link_to t('templates.use'),
                new_admin_communication_website_agenda_event_path(template_id: @event.id),
                class: button_classes_major %>
  <% else %>
    <% event_url = @l10n.current_permalink_url_in_website(@website) %>
    <%= link_to t('open'),
                event_url,
                target: :_blank,
                class: button_classes if event_url %>
    <%= preview_link %>
    <%= publish_link @event %>
    <%= edit_link @event %>
  <% end %>
<% end %>

<div class="row">
  <div class="col-lg-7">
    <%= osuny_small_panel Communication::Website::Agenda::Event::Localization.human_attribute_name(:title) do %>
      <p class="lead"><%= @l10n.title %></p>
    <% end %>
    <% if @l10n.subtitle.present? %>
      <%= osuny_small_panel Communication::Website::Agenda::Event::Localization.human_attribute_name(:subtitle) do %>
        <p class="lead"><%= @l10n.subtitle %></p>
      <% end %>
    <% end %>
    <%= render 'admin/application/summary/show', about: @l10n %>
    <%= osuny_small_panel Communication::Website::Agenda::Event::Localization.human_attribute_name(:dates) do %>
      <p><%= render 'admin/communication/websites/agenda/events/dates', event: @event, l10n: @l10n, detailed: true %></p>
    <% end %>
  </div>
  <div class="offset-lg-1 col-lg-4">
    <%= render 'admin/application/images/featured/show', about: @l10n %>
  </div>
</div>
<%= osuny_separator %>
<%= render 'admin/application/a11y/widget', about: @l10n, horizontal: true %>
<%= osuny_separator %>
<div class="row">
  <div class="col-lg-4">
    <%= osuny_small_panel t('metadata') do %>
      <%= render 'admin/application/publication/show', about: @l10n %>
      <%= render 'admin/communication/websites/federations/show', about: @event %>
      <%= render 'admin/application/permalinks/redirects', about: @l10n %>
    <% end %>
  </div>
  <div class="col-lg-4">
    <%= render 'admin/application/l10n/widget', about: @event, l10n: @l10n %>
    <%= render 'admin/application/categories/widget/show', about: @event %>
  </div>
  <div class="col-lg-4">
    <%= osuny_small_panel Communication::Website::Agenda::Event::Localization.human_attribute_name("text") do %>
      <div><%= sanitize @l10n.text %></div>
    <% end if @l10n.text.present? %>
    <%= osuny_small_panel Communication::Website::Agenda::Event::Localization.human_attribute_name("notes") do %>
      <div class="small"><%= sanitize @l10n.notes %></div>
    <% end if @l10n.notes.present? %>
    <%= render 'admin/application/meta_description/show', about: @l10n %>
  </div>
</div>
<%= render 'admin/communication/contents/editor', about: @l10n %>
<% unless @event.is_template? %>
  <%= render 'admin/communication/websites/agenda/events/show/children', event: @event %>
  <%= render 'admin/communication/websites/agenda/events/show/time_slots', event: @event %>
<% end %>

<% content_for :server_admin_only do %>
  <%= render 'admin/communication/websites/agenda/events/show/links_to_static_files', event: @event %>
<% end %>
