<%
small ||= false
link_to_all ||= false
%>
<% if exhibitions.none? %>
  <p><%= t('admin.communication.website.agenda.exhibitions.none') %></p>
<% else %>
  <div class="row g-2 mb-3">
    <%
    exhibitions.each do |exhibition|
      exhibition_l10n = exhibition.best_localization_for(current_language)
      %>
      <div>
        <div class="<%= osuny_card_classes(horizontal: true) %> <%= 'align-items-start' unless small %>">
          <%= osuny_thumbnail_localized exhibition, large: !small %>
          <% if exhibition.deleted? %>
            <div class="card-body">
              <%= exhibition.best_localization_for(current_language) %>
            </div>
            <% if can?(:restore, exhibition) %>
              <div class="card-footer mb-n2">
                <%= link_to t('restore'),
                            restore_admin_communication_website_agenda_exhibition_path(exhibition),
                            method: :post,
                            class: button_classes %>
              </div>
            <% end %>
          <% else %>
            <% if small %>
              <div class="card-body d-flex">
                <%= osuny_link_localized  exhibition,
                                          admin_communication_website_agenda_exhibition_path(
                                            website_id: exhibition.website.id,
                                            id: exhibition.id
                                          ),
                                          classes: "stretched-link" %>
              </div>
            <% else %>
              <div class="card-body row">
                <div class="col-lg-8">
                  <div class="d-flex">
                    <div class="me-2">
                      <%= osuny_published_localized exhibition %>
                    </div>
                    <div>
                      <p class="mb-1">
                        <%= osuny_link_localized  exhibition,
                                                  admin_communication_website_agenda_exhibition_path(
                                                    website_id: exhibition.website.id,
                                                    id: exhibition.id
                                                  ),
                                                  classes: "stretched-link" %>
                      </p>
                      <% if exhibition_l10n&.subtitle.present? %>
                        <p class="text-muted mt-1">
                          <%= exhibition_l10n.subtitle.truncate(100) %>
                        </p>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="row mb-2">
                    <div class="col-lg-6">
                      <%= osuny_label Communication::Website::Agenda::Exhibition.human_attribute_name(:from_day) %>
                      <p><%= l exhibition.from_day %></p>
                    </div>
                    <div class="col-lg-6">
                      <%= osuny_label Communication::Website::Agenda::Exhibition.human_attribute_name(:to_day) %>
                      <p><%= l exhibition.to_day %></p>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
    <%= render 'admin/application/components/all',
                link: admin_communication_website_agenda_exhibitions_path(website_id: @website) if link_to_all %>
  </div>
<% end %>