<%= simple_form_for [:admin, post] do |f| %>
  <div class="row">
    <div class="col-md-8">
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h5 class="card-title mb-0"><%= t('content') %></h5>
        </div>
        <div class="card-body">
          <%= f.input :title %>
          <%= f.input :description_short %>
          <%= f.input :text, as: :summernote %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="card flex-fill w-100">
            <div class="card-header">
              <h5 class="card-title mb-0">
                <%= t('activerecord.attributes.communication/website/post.categories') %>
              </h5>
            </div>
            <div class="card-body">
              <%= f.association :categories,
                                label_text: false,
                                as: :check_boxes,
                                collection: collection_tree_for_checkboxes(@website.categories) if @website.categories.any? %>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card flex-fill w-100">
            <div class="card-header">
              <h5 class="card-title mb-0"><%= t('seo') %></h5>
            </div>
            <div class="card-body">
              <%= f.input :description %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h5 class="card-title mb-0"><%= t('metadata') %></h5>
        </div>
        <div class="card-body">
          <% if can? :publish, post %>
            <div class="row">
              <div class="col-6">
                <%= f.input :published %>
              </div>
              <div class="col-6">
                <%= f.input :pinned %>
              </div>
            </div>
            <%= f.input :published_at, html5: true %>
          <% end %>
          <% if @website.languages.many? %>
            <%= f.input :language_id, collection: @website.languages, include_blank: false %>
          <% elsif @website.languages.any? %>
            <%= f.input :language_id, as: :hidden, input_html: { value: @website.languages.first.id }, wrapper: false %>
          <% end %>
          <% if current_user.author? || current_user.contributor? %>
            <%= f.input :author_id,
                        as: :hidden,
                        input_html: { value: current_user.person&.id }, wrapper: false %>
          <% else %>
            <%= f.association :author,
                              collection: current_university.people.ordered,
                              label_method: :to_s_alphabetical %>
          <% end %>
          <%= f.input :slug,
                      as: :string,
                      input_html: post.persisted? ? {} : {
                        class: 'js-slug-input',
                        data: { source: '#communication_website_post_title' }
                      } %>
        </div>
      </div>
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h5 class="card-title mb-0"><%= t('activerecord.attributes.communication/website/post.featured_image') %></h5>
        </div>
        <div class="card-body">
          <%= f.input :featured_image,
                      as: :single_deletable_file,
                      direct_upload: true,
                      label: false,
                      input_html: { accept: '.jpg,.jpeg,.png,.svg' },
                      preview: true
                      %>
          <%= f.input :featured_image_alt %>
          <%= f.input :featured_image_credit,
                      as: :summernote,
                      input_html: {
                        data: { 'summernote-config' => 'mini' }
                      } %>
          <%= render  'admin/communication/unsplash/selector',
                      image: post.featured_image,
                      text: post.image_keywords %>
        </div>
      </div>
    </div>
  </div>
  <% content_for :action_bar_right do %>
    <%= submit f %>
  <% end %>
<% end %>
