<%= simple_form_for [:admin, post] do |f| %>
  <div class="row">
    <div class="col-md-8">
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h5 class="card-title mb-0"><%= t('communication.website.content') %></h5>
        </div>
        <div class="card-body">
          <%= f.input :title %>
          <%= f.input :description %>
          <%= f.input :text, as: :rich_text_area %>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h5 class="card-title mb-0"><%= t('communication.website.metadata') %></h5>
        </div>
        <div class="card-body">
          <%= f.input :published %>
          <%= f.input :published_at, html5: true %>
        </div>
      </div>
    </div>
  </div>
  <% content_for :action_bar_right do %>
    <%= submit f %>
  <% end %>
<% end %>
