<%= simple_form_for [:admin, post] do |f| %>
  <div class="row">
    <div class="col-md-8">
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h5 class="card-title mb-0"><%= t('content') %></h5>
        </div>
        <div class="card-body">
          <%= f.input :title %>
          <%= f.input :description %>
          <%= f.input :text, as: :rich_text_area %>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h5 class="card-title mb-0"><%= t('metadata') %></h5>
        </div>
        <div class="card-body">
          <%= f.input :slug,
                      as: :string,
                      input_html: post.persisted? ? {} : {
                        class: 'js-slug-input',
                        data: { source: '#communication_website_post_title' }
                      } %>
          <%= f.input :published %>
          <%= f.input :published_at, html5: true %>
          <%= f.input :pinned %>
          <%= f.association :author, collection: current_university.administration_members.authors.ordered %>
          <%= f.association :categories,
                            as: :check_boxes,
                            collection: @website.list_of_categories.map { |category| [
                              sanitize(category[:label]),
                              category[:id],
                              { data: { parent: category[:parent_id] } }
                            ] } if @website.categories.any? %>
        </div>
      </div>
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h5 class="card-title mb-0"><%= t('activerecord.attributes.communication/website/post.featured_image') %></h5>
        </div>
        <div class="card-body">
          <%= f.input :featured_image,
                      as: :single_deletable_file,
                      direct_upload: true,
                      label: false,
                      input_html: { accept: '.jpg,.jpeg,.png' },
                      preview: true
           %>
           <%= f.input :featured_image_alt %>
        </div>
      </div>
    </div>
  </div>
  <% content_for :action_bar_right do %>
    <%= submit f %>
  <% end %>
<% end %>
