<%
  hide_author |= false
  hide_category |= false
%>
<table class="<%= table_classes %>">
  <thead>
    <tr>
      <th><%= Communication::Website::Post.human_attribute_name('title') %></th>
      <th><%= Communication::Website::Post.human_attribute_name('featured_image') %></th>
      <% unless hide_author %>
        <th><%= Communication::Website::Post.human_attribute_name('author') %></th>
      <% end %>
      <% unless hide_category %>
        <th><%= Communication::Website::Post.human_attribute_name('categories') %></th>
      <% end %>
      <th><%= Communication::Website::Post.human_attribute_name('published_at') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% posts.each do |post| %>
      <tr>
        <td><%= link_to post, admin_communication_website_post_path(website_id: post.website.id, id: post.id) %></td>
        <td><%= image_tag post.featured_image.representation(resize: 'x100'),
                          height: 50 if post.featured_image.attached? && post.featured_image.representable? %></td>
        <% unless hide_author %>
          <td><%= link_to post.author, admin_communication_website_author_path(website_id: post.website.id, id: post.author.id) if post.author %></td>
        <% end %>
        <% unless hide_category %>
          <td>
            <ul class="list-unstyled mb-0">
              <% post.categories.each do |category| %>
                <li><%= link_to_if can?(:read, category), category, admin_communication_website_category_path(website_id: post.website.id, id: category.id) %></li>
              <% end %>
            </ul>
          </td>
        <% end %>
        <td><small><%= l post.published_at, format: :date_with_hour if post.published_at %></small></td>
        <td class="text-end">
          <div class="btn-group" role="group">
            <%= link_to t('edit'),
                        edit_admin_communication_website_post_path(website_id: post.website.id, id: post.id),
                        class: button_classes if can?(:update, post) %>
            <%= link_to t('delete'),
                        admin_communication_website_post_path(website_id: post.website.id, id: post.id),
                        method: :delete,
                        data: { confirm: t('please-confirm') },
                        class: button_classes_danger if can?(:destroy, post) %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
