<% content_for :title, "#{Communication::Website::Post.model_name.human(count: 2)} (#{@posts.total_count})" %>

<%= render 'admin/communication/websites/sidebar' do %>
  <div class="card">
    <%= render 'admin/communication/website/posts/list', posts: @posts, hide_author: true %>
    <% if @posts.total_pages > 1 %>
      <div class="card-footer">
        <%= paginate @posts, theme: 'bootstrap-5' %>
      </div>
    <% end %>
  </div>
<% end %>

<% content_for :action_bar_right do %>
  <%= create_link Communication::Website::Post %>
  <%= link_to t('communication.website.posts.new_curation'),
              new_admin_communication_website_post_curation_path(website_id: @website.id),
              class: button_classes if can?(:create, Communication::Website::Post) %>
<% end %>
