<% content_for :title, "#{Communication::Website::Post.model_name.human(count: 2)} (#{@posts.total_count})" %>

<%= render 'admin/communication/websites/sidebar' do %>
  <%= render 'filters', current_path: admin_communication_website_posts_path, filters: @filters if @filters.any?  %>

  <div class="card">
    <%= form_tag publish_admin_communication_website_posts_path do %>
      <input type="hidden" name="ids[]" value="">
      <%= render 'admin/communication/website/posts/list', posts: @posts, selectable: true %>
      <div class="card-footer">
        <% if @posts.total_pages > 1 %>
          <div class="float-end">
            <%= paginate @posts, theme: 'bootstrap-5' %>
          </div>
        <% end %>
        <div class="row align-items-center">
          <div class="col-auto">
            Modifier la sélection
          </div>
          <div class="col-auto">
            <select name="published" class="form-select">
              <option value="false">Non publiée</option>
              <option value="true">Publiée</option>
            </select>
          </div>
          <div class="col-auto">
            <input type="submit" value="Enregistrer" class="btn btn-primary">
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<% content_for :action_bar_left do %>
  <%= link_to t('communication.website.posts.new_curation'),
              new_admin_communication_website_post_curation_path(website_id: @website.id),
              class: button_classes if can?(:create, Communication::Website::Post) %>
<% end %>

<% content_for :action_bar_right do %>
  <%= create_link Communication::Website::Post %>
<% end %>
