<% content_for :title, @post %>

<div class="row">
  <div class="col-md-8">
    <div class="card flex-fill w-100">
      <div class="card-header">
        <h5 class="card-title mb-0"><%= t('communication.website.content') %></h5>
      </div>
      <div class="card-body">
        <p>
          <strong><%= Communication::Website::Post.human_attribute_name('description') %></strong>
          <%= sanitize @post.description %>
        </p>

        <p>
          <strong><%= Communication::Website::Post.human_attribute_name('text') %></strong>
        </p>
        <%= @post.text %>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card flex-fill w-100">
      <div class="card-header">
        <h5 class="card-title mb-0"><%= t('communication.website.metadata') %></h5>
      </div>
      <table class="<%= table_classes %>">
        <tbody>
          <tr>
            <td><%= Communication::Website::Page.human_attribute_name('slug') %></td>
            <td><%= @post.slug %></td>
          </tr>
          <tr>
            <td><%= Communication::Website::Page.human_attribute_name('published') %></td>
            <td><%= t @post.published %></td>
          </tr>
          <% if @post.imported_post %>
            <tr>
              <td><%= t('communication.website.imported.from') %></td>
              <td><a href="<%= @post.imported_post.url %>" target="_blank"><%= @post.imported_post.url %></a></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<% content_for :action_bar_right do %>
  <%= edit_link @post %>
<% end %>
