<% content_for :title, @post %>

<%= render 'admin/communication/websites/sidebar' do %>
  <div class="row">
    <div class="col-md-8">
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h2 class="card-title mb-0 h5"><%= t('content') %></h2>
        </div>
        <div class="card-body">
          <%= render 'admin/application/property/text', object: @post, property: :description %>
          <%= render 'admin/application/property/text', object: @post, property: :text %>
          <%= render 'admin/application/property/summernote_embeds', object: @post, property: :medias %>
          <p><%= prepare_text_for_static @post.description %></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card flex-fill w-100">
        <div class="card-header">
          <div class="float-end">
            <% if @post.url %>
              <%= link_to t('open'),
                          @post.url,
                          target: :_blank,
                          class: 'btn btn-light' %>
            <% end %>
          </div>
          <h2 class="card-title mb-0 h5"><%= t('metadata') %></h2>
        </div>
        <div class="card-body">
          <% if @post.author %>
            <h3 class="h5"><%= Communication::Website::Post.human_attribute_name('author') %></h3>
            <p><%= link_to_if can?(:read, @post.author), @post.author, admin_communication_website_author_path(@post.author) %></p>
          <% end %>
          <h3 class="h5"><%= Communication::Website::Post.human_attribute_name('slug') %></h3>
          <p><%= @post.slug %></p>
          <h3 class="h5"><%= Communication::Website::Post.human_attribute_name('published') %></h3>
          <p>
            <%= t @post.published %><% if @post.published & @post.published_at %>,
              <%= l @post.published_at, format: :long if @post.published_at %>
            <% end %>
          </p>
          <h3 class="h5"><%= Communication::Website::Post.human_attribute_name('pinned') %></h3>
          <p><%= t @post.pinned %></p>
          <% if @post.categories.any? %>
            <h3 class="h5"><%= Communication::Website::Post.human_attribute_name('categories') %></h3>
            <ul class="list-unstyled mb-0">
              <% @post.categories.each do |category| %>
                <li><%= link_to_if can?(:read, category), category, [:admin, category] %></li>
              <% end %>
            </ul>
          <% end %>
        </div>
      </div>
      <% if @post.featured_image.attached? && @post.featured_image.variable? %>
        <div class="card flex-fill w-100">
          <div class="card-header">
            <h5 class="card-title mb-0"><%= t('activerecord.attributes.communication/website/post.featured_image') %></h5>
          </div>
          <div class="card-body">
            <%= image_tag @post.featured_image.variant(resize: '600'), class: 'img-fluid mb-3' %><br>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<% content_for :preview do %>
  <%= @post.text.to_s %>
<% end %>

<% content_for :action_bar_right do %>
  <%= preview_link %>
  <%= edit_link @post %>
  <%= destroy_link @post %>
<% end %>
