<% content_for :title, @post %>

<div class="row">
  <div class="col-md-8">
    <div class="card flex-fill w-100">
      <div class="card-header">
        <h5 class="card-title mb-0">Content</h5>
      </div>
      <div class="card-body">
        <p>
          <strong>Description</strong>
          <%= @post.description %>
        </p>

        <p>
          <strong>Text</strong>
        </p>
        <%= raw @post.text %>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card flex-fill w-100">
      <div class="card-header">
        <h5 class="card-title mb-0">Metadata</h5>
      </div>
      <div class="card-body">
        <p>
          <strong>Published</strong>
          <%= @post.published %>
        </p>
        <% if @post.imported_post %>
          <p>
            <strong>Imported from</strong> 
            <a href="<%= @post.imported_post.url %>" target="_blank"><%= @post.imported_post.url %></a>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% content_for :action_bar_right do %>
  <%= edit_link @post %>
<% end %>
