<div class="<%= block_html_class(block) %>">
  <div class="container">
    <div class="block-content">
      <%= render 'admin/communication/blocks/partials/top', block: block %>

      <% if block.template.file.present? %>
        <% blob = block.template.file_component.blob %>
        <% if blob %>
          <audio controls src="<%= blob.url %>"></audio>
        <% end %>
      <% end %>
      <% if block.template.title %>
        <p><%= block_component_show block, :title %></p>
      <% end %>
      <% unless block.template.transcription.blank? %>
        <div class="transcription">
          <details>
            <summary><%= t 'accessibility.transcription' %></summary>
            <p><%= block_component_show block, :transcription %></p>
          </details>
        </div>
      <% end %>
    </div>
  </div>
</div>