<% content_for :title, @l10n %>

<% content_for :title_right do %>
  <%= edit_link @alert %>
  <%= publish_link @alert %>
  <%= button_advanced do %>
    <%= destroy_link @alert %>
  <% end %>
<% end %>

<div class="row">
  <div class="col-lg-4">
    <%= osuny_small_panel t('metadata') do %>
      <%= render 'admin/application/publication/show', about: @l10n %>
      <%= render 'admin/application/l10n/widget', about: @alert, l10n: @l10n, small: true %>
    <% end %>
  </div>
    <div class="col-lg-8">
      <%= osuny_small_panel Communication::Website::Alert.human_attribute_name(:kind) do %>
        <p><%= @alert.kind_i18n %></p>
      <% end %>
      <%= osuny_small_panel Communication::Website::Alert::Localization.human_attribute_name(:description) do %>
          <div class="lead"><%= sanitize @l10n.description %></div>
      <% end if @l10n.description.present? %>
    </div>
  </div>

<% content_for :server_admin_only do %>
  <%= static_link static_admin_communication_website_alert_path(@alert) %>
<% end %>
