<%
projects = osuny_collection(
  block.about
       .website
       .projects
       .ordered(block.language),
  localized: true
)
%>
<label  class="form-label <%= 'visually-hidden' if label.blank? %>"
        :for="<%= dom_id.html_safe %>">
  <%= label %>
</label>
<select :id="<%= dom_id.html_safe %>"
        class="form-select select"
        v-model="<%= model %>.<%= property %>">
  <% if placeholder %>
    <option value="" disabled><%= placeholder %></option>
  <% end %>
  <% projects.each do |project| %>
    <option value="<%= project.last %>"><%= project.first %></option>
  <% end %>
</select>
