<%= simple_form_for [:admin, involvement],
                    url: involvement.new_record? ? admin_education_program_teachers_path(@program)
                                                 : admin_education_program_teacher_path(involvement, { program_id: @program.id }) do |f| %>
  <div class="card flex-fill w-100">
    <div class="card-header">
      <h5 class="card-title mb-0"><%= t('admin.infos') %></h5>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <%= f.association :person, collection: @available_people %>
        </div>
        <div class="col-md-6">
          <%= f.input :description %>
        </div>
      </div>
    </div>
  </div>
  <% content_for :action_bar_right do %>
    <%= submit f %>
  <% end %>
<% end %>
