<%= simple_form_for [:admin, teacher] do |f| %>
  <div class="card flex-fill w-100">
    <div class="card-header">
      <h5 class="card-title mb-0"><%= t('admin.infos') %></h5>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <%= f.association :person, collection: @teachers %>
        </div>
        <div class="col-md-6">
          <%= f.input :description, as: :string %>
        </div>
      </div>
    </div>
  </div>
  <% content_for :action_bar_right do %>
    <%= submit f %>
  <% end %>
<% end %>
