<%= simple_form_for [:admin, teacher] do |f| %>
  <div class="row">
    <div class="col-md-8">
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h5 class="card-title mb-0"><%= t('admin.infos') %></h5>
        </div>
        <div class="card-body">
          <% teacher_ids = @program.teachers.where.not(id: teacher.id).pluck(:person_id) %>
          <%= f.association :person, collection: current_university.people.teachers.where(id: teacher_ids).ordered %>
          <%= f.input :description, input_html: { rows: 5 } %>
        </div>
      </div>
    </div>
  </div>
  <% content_for :action_bar_right do %>
    <%= submit f %>
  <% end %>
<% end %>
