<% if involvements.any? %>
  <table class="table table-sortable">
    <thead>
      <tr>
        <% if can? :reorder, University::Person::Involvement %>
          <th width="20" class="ps-0">&nbsp;</th>
        <% end %>
        <th class="ps-0"><%= University::Person.model_name.human %></th>
        <th><%= University::Person::Involvement.human_attribute_name('description') %></th>
        <th></th>
      </tr>
    </thead>
    <tbody data-reorder-url="<%= reorder_admin_education_program_teachers_path(@program) %>">
      <% involvements.each do |involvement| %>
        <tr data-id="<%= involvement.id %>">
          <% if can? :reorder, University::Person::Involvement %>
            <td><i class="fa fa-bars handle"></i></td>
          <% end %>
          <td class="ps-0">
            <%= involvement %>
          </td>
          <td><%= involvement.description %></td>
          <td class="text-end pe-0">
            <div class="btn-group" role="group">
              <%= link_to t('edit'),
                          edit_admin_education_program_teacher_path(involvement, { program_id: @program.id }),
                          class: button_classes if can?(:edit, involvement) %>
              <%= link_to t('delete'),
                          admin_education_program_teacher_path(involvement, { program_id: @program.id }),
                          method: :delete,
                          data: { confirm: t('please_confirm') },
                          class: button_classes_danger if can?(:destroy, involvement) %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
