<% content_for :title, @person %>

<%= render 'extranet/persons/header', person: @person unless @person.nil? %>

<div class="row">
  <div class="col-md-9">
    <div class="biography">
      <p><%= @person&.biography %></p>

      <h5><%= University::Person.human_attribute_name('contacts') %></h5>

      <% [:phone_mobile, :phone_personal, :phone_professional].each do |attribute_name| %>
        <% next if @person.public_send(attribute_name).blank? %>
        <p>
          <strong><%= University::Person.human_attribute_name(attribute_name) %> :</strong>
          <%= @person.public_send(attribute_name) %>
        </p>
      <% end %>

      <% if @person.full_street_address.present? %>
        <p>
          <strong><%= University::Person.human_attribute_name("address") %> :</strong>
          <%= @person.full_street_address %>
        </p>
      <% end %>

      <h5><%= University::Person.human_attribute_name('socials') %></h5>

      <% if @person.url.present? %>
        <p>
          <strong><%= University::Person.human_attribute_name("url") %> :</strong>
          <%= link_to @person.url, @person.url %>
        </p>
      <% end %>

      <% if @person.linkedin.present? %>
        <p>
          <strong><%= University::Person.human_attribute_name("linkedin") %> :</strong>
          <%= link_to @person.linkedin, @person.linkedin %>
        </p>
      <% end %>

      <% if @person.twitter.present? %>
        <p>
          <strong><%= University::Person.human_attribute_name("twitter") %> :</strong>
            <%= link_to @person.twitter, "https://twitter.com/#{@person.twitter}" %>
        </p>
      <% end %>
    </div>
  </div>
  <div class="col-md-3">
    <div class="mb-4">
      <%= link_to t('extranet.personal_data.edit'), edit_personal_data_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>