<%
url = page.new_record?  ? admin_communication_website_pages_path
                        : admin_communication_website_page_path(page)
%>
<%= simple_form_for page, url: url, as: :communication_website_page do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="row">
    <div class="col-md-8">
      <%= osuny_panel t('content') do %>
        <%= f.input :title %>
        <%= f.input :breadcrumb_title %>
        <%= render 'admin/application/summary/form', f: f, about: page %>
        <%= f.input :header_text, as: :string %>
        <%= f.input :text, as: :summernote if page.text&.to_plain_text.present? %>
      <% end %>
      <%= render 'admin/application/meta_description/form', f: f, about: page %>
    </div>
    <div class="col-md-4">
      <% unless page.is_home? %>
        <section class="mb-5">
          <h2 class="h3"><%= t('metadata') %></h2>
          <%= f.input :published if page.draftable? %>
          <%= f.input :slug,
                      as: :string,
                      required: true,
                      input_html: page.persisted? ? {} : {
                        class: 'js-slug-input',
                        data: { source: '#communication_website_page_title' }
                      } unless page.is_home? %>
          <%= f.association :parent,
                            collection: collection_tree(@website.pages, page),
                            include_blank: false,
                            label_method: ->(p) { sanitize p[:label] },
                            value_method: ->(p) { p[:id] } unless page.is_home? %>
          <%= f.input :bodyclass if can?(:edit, @website) %>
          <%= f.input :full_width if page.editable_width? %>
        </section>
      <% end %>
      <%= render 'admin/application/featured_image/edit', about: @page, f: f %>
    </div>
  </div>
  <% content_for :action_bar_right do %>
    <%= submit f %>
  <% end %>
<% end %>
