<%
url = page.new_record?  ? admin_communication_website_pages_path
                        : admin_communication_website_page_path(page)
%>
<%= simple_form_for page, url: url  do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="row">
    <div class="col-md-8">
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h5 class="card-title mb-0"><%= t('content') %></h5>
        </div>
        <div class="card-body">
          <%= f.input :title %>
          <%= f.input :breadcrumb_title %>
          <%= render 'admin/application/chapo/form', f: f, about: page %>
          <%= f.input :header_text, as: :string %>
          <%= f.input :text, as: :summernote if page.text&.to_plain_text.present? %>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h5 class="card-title mb-0"><%= t('seo') %></h5>
        </div>
        <div class="card-body">
          <%= f.input :description %>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <% unless page.kind_home? %>
        <div class="card flex-fill w-100">
          <div class="card-header">
            <h5 class="card-title mb-0"><%= t('metadata') %></h5>
          </div>
          <div class="card-body">
            <%= f.input :published if page.is_regular_page? %>
            <%= f.input :slug,
                        as: :string,
                        required: true,
                        input_html: page.persisted? ? {} : {
                          class: 'js-slug-input',
                          data: { source: '#communication_website_page_title' }
                        } unless page.kind_home? %>
            <% if @website.languages.many? %>
              <%= f.input :language_id, collection: @website.languages, include_blank: false %>
            <% elsif @website.languages.any? %>
              <%= f.input :language_id, as: :hidden, input_html: { value: @website.languages.first.id }, wrapper: false %>
            <% end %>
            <%= f.association :parent,
                              collection: collection_tree(@website.pages, page),
                              include_blank: false,
                              label_method: ->(p) { sanitize p[:label] },
                              value_method: ->(p) { p[:id] } unless page.kind_home? %>
            <%= f.input :bodyclass if can?(:edit, @website) %>
            <%= f.input :full_width %>
          </div>
        </div>
      <% else %>
        <% if @website.languages.many? %>
          <div class="card flex-fill w-100">
            <div class="card-header">
              <h5 class="card-title mb-0"><%= t('metadata') %></h5>
            </div>
            <div class="card-body">
              <%= f.input :language_id, collection: @website.languages, include_blank: false %>
            </div>
          </div>
        <% elsif @website.languages.any? %>
          <%= f.input :language_id, as: :hidden, input_html: { value: @website.languages.first.id }, wrapper: false %>
        <% end %>
      <% end %>
      <%= render 'admin/application/featured_image/edit', about: @page, f: f %>
    </div>
  </div>
  <% content_for :action_bar_right do %>
    <%= submit f %>
  <% end %>
<% end %>
