<%
small ||= false
%>
<div class="row g-2 mb-2">
  <% pages.each do |page| %>
    <div>
      <div class="card card--horizontal">
        <%= osuny_thumbnail page.featured_image, initials: page.initials %>
        <div class="card-body">
          <%= link_to page,
                      admin_communication_website_page_path(website_id: page.website.id, id: page.id),
                      class: "stretched-link #{ page.published? ? 'text-black' : 'text-muted' }" %>
        </div>
        <div class="card-footer text-muted">
          <% if small %>
            <%= l page.updated_at.to_date, format: :short %>
          <% else %>
            <%= t("communication.website.pages.defaults.#{page.type_key}.title") if page.is_special_page? %>
            <%= Communication::Website::Page.human_attribute_name('full_width') if page.full_width %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>