<div class="table-responsive">
  <table class="<%= table_classes %>">
    <thead>
      <tr>
        <th class="ps-0"><%= Communication::Website::Page.human_attribute_name('title') %></th>
        <th width="100"><%= Communication::Website::Page.human_attribute_name('featured_image') %></th>
        <th width="200"></th>
      </tr>
    </thead>
    <tbody>
      <% pages.each do |page| %>
        <tr class="<%= 'draft' unless page.published? %>">
          <td class="ps-0">
            <%= link_to page,
                        admin_communication_website_page_path(website_id: page.website.id, id: page.id),
                        class: "#{'draft' unless page.published?}" %>
            <p class="small text-muted mb-0"><%= page.ancestors.join(' / ')%></p>
          </td>
          <td>
            <% if page.featured_image.attached? && page.featured_image.representable? %>
              <%= image_tag page.featured_image.representation(resize: '200x'), width: 100 %>
            <% end %>
          </td>
          <td>
            <% if page.full_width%>
              <span class="badge bg-light text-black">
                <%= Communication::Website::Page.human_attribute_name('full_width') %>
              </span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
