<table class="<%= table_classes %>">
  <thead>
    <tr>
      <th><%= Communication::Website::Page.human_attribute_name('title') %></th>
      <th width="150"></th>
    </tr>
  </thead>
  <tbody>
    <% pages.each do |page| %>
      <tr>
        <td>
          <%= link_to page,
                      admin_communication_website_page_path(website_id: page.website.id, id: page.id),
                      class: "#{'draft' unless page.published?}" %>
        </td>
        <td class="text-end">
          <div class="btn-group" role="group">
            <%= link_to t('edit'),
                      edit_admin_communication_website_page_path(website_id: page.website.id, id: page.id),
                      class: button_classes if can?(:update, page) %>
            <%= link_to t('delete'),
                      admin_communication_website_page_path(website_id: page.website.id, id: page.id),
                      method: :delete,
                      data: { confirm: page.children.any? ? t('please_confirm_with_children') : t('please_confirm') },
                      class: button_classes_danger if can?(:destroy, page) %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
