<% pages.each do |page| %>
  <li class="treeview__element js-treeview-element <%= 'treeview__element--draft' unless page.published %> <%= 'treeview__element--empty' unless page.has_children? %>" data-id="<%= page.id %>" data-parent="<%= page.parent_id %>">
    <div class="d-flex align-items-center treeview__label border-bottom p-1">
      <%= link_to children_admin_communication_website_page_path(website_id: page.website.id, id: page.id),
                  class: 'js-treeview-openzone d-inline-block p-2 ps-0', style: 'width: 22px', remote: true do %>
        <%= render 'admin/application/tree/folder' %>
      <% end %>
      <%= page %>
      <%= render 'admin/application/tree/sort' unless page.is_home? %>
      <%= link_to children_admin_communication_website_page_path(website_id: page.website.id, id: page.id),
                  class: 'js-treeview-openzone small ps-2', remote: true do %>
        <span class="open_text"><%= t 'folder.open' %></span>
        <span class="close_text"><%= t 'folder.close' %></span>
      <% end %>
      <div class="ms-auto align-items-center" role="group">
        <% if page.is_special_page? %>
          <span class="me-3 show-on-hover"><%= t("communication.website.pages.defaults.#{page.type_key}.title") %></span>
        <% end %>
      </div>
      <div class="btn-group">
        <%= link_to t('admin.communication.website.pages.show'), admin_communication_website_page_path(page) %>
      </div>
    </div>
    <ul class="list-unstyled treeview__children js-treeview-children <%= 'js-treeview-sortable-container' if can?(:reorder, page) %> ms-4" data-id="<%= page.id %>">
      <li class="treeview__empty">
        <div class="d-flex align-items-center treeview__label border-bottom p-1">
          <span class="p-2 ps-0"><%= t('folder.empty') %></span>
        </div>
      </li>
      <li class="treeview__loading border-bottom p-1"><%= t('loading') %></li>
    </ul>
  </li>
<% end %>
