<% pages.each do |page| %>
  <li class="treeview__element js-treeview-element <%= 'treeview__element--empty' unless page.has_children? %>" data-id="<%= page.id %>" data-parent="<%= page.parent_id %>">
    <div class="d-flex align-items-center treeview__label border-bottom p-1">
      <%= link_to children_admin_communication_website_page_path(website_id: page.website.id, id: page.id),
                  class: 'js-treeview-openzone d-inline-block p-2 ps-0', style: 'width: 22px', remote: true do %>
        <span class="open_btn">
          <i class="open_btn--with_children fas fa-folder"></i>
          <i class="open_btn--without_children far fa-folder"></i>
        </span>
        <span class="close_btn">
          <i class="close_btn--with_children fas fa-folder-open"></i>
          <i class="close_btn--without_children far fa-folder-open"></i>
        </span>
      <% end %>
      <%= link_to page,
                  admin_communication_website_page_path(website_id: page.website.id, id: page.id),
                  class: "#{'draft' unless page.published?}" %>
      <% unless page.kind_home? %>
        <span class="move_btn py-2 ps-2"><i class="fas fa-sort"></i></span>
      <% end %>
      <%= link_to children_admin_communication_website_page_path(website_id: page.website.id, id: page.id),
                  class: 'js-treeview-openzone small ps-2', remote: true do %>
        <span class="open_text"><%= t 'folder.open' %></span>
        <span class="close_text"><%= t 'folder.close' %></span>
      <% end %>
      <div class="ms-auto align-items-center" role="group">
        <% if page.is_special_page? %>
          <span class="me-3 show-on-hover"><%= t("communication.website.pages.defaults.#{page.kind}.admin_description") %></span>
        <% end %>
        <div class="btn-group">
          <%= duplicate_link page if page.is_regular_page? %>
          <%= link_to t('edit'), edit_admin_communication_website_page_path(page), class: button_classes %>
          <%= destroy_link page, confirm_message: page.children.any? ? t('please_confirm_with_children') : t('please_confirm') if page.is_regular_page? %>
        </div>
      </div>
    </div>
    <ul class="list-unstyled treeview__children js-treeview-children <%= 'js-treeview-sortable-container' if can?(:reorder, page) %> ms-4" data-id="<%= page.id %>">
      <li class="treeview__empty">
        <div class="d-flex align-items-center treeview__label border-bottom p-1">
          <span class="p-2 ps-0"><%= t('folder.empty') %></span>
        </div>
      </li>
      <li class="treeview__loading border-bottom p-1"><%= t('loading') %></li>
    </ul>
  </li>
<% end %>
