<% content_for :title, t('admin.communication.website.pages.structure') %>

<% content_for :title_right do %>
  <%= @pages.total_count %>
  <%= Communication::Website::Page.model_name.human(count: @pages.total_count).downcase %>
<% end %>

<%= render 'admin/communication/websites/sidebar' do %>
  <% osuny_panel  t('admin.communication.website.pages.structure'), 
                  action: create_link(Communication::Website::Page) do %>
    <ul class="nav nav-tabs justify-content-md-end mt-0 mt-md-n4">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page">
          <i class="fas fa-list"></i>
          <%= t('admin.communication.website.pages.as_list') %>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= tree_admin_communication_website_pages_path %>">
          <i class="fas fa-sitemap"></i>
          <%= t('admin.communication.website.pages.as_tree') %>
        </a>
      </li>
    </ul>
    <div class="position-relative mt-2">
      <%= render 'filters', current_path: admin_communication_website_pages_path, filters: @filters %>
      <%= render 'admin/communication/websites/pages/list', pages: @pages %>
      <%= paginate @pages, theme: 'bootstrap-5' %>
    </div>
  <% end %>
<% end %>