<% content_for :title, Communication::Website::Page.model_name.human(count: 2) %>

<% content_for :title_right do %>
  <%= create_link Communication::Website::Page %>
<% end %>

<%= render 'filters' %>

<ul class="list-unstyled treeview mt-2">
  <li class="treeview__element treeview__element--opened treeview__element--loaded"
      data-id="<%= @homepage.id %>"
      data-parent="">
    <div class="<%= osuny_card_classes(horizontal: true) %> treeview__label">
      <%= osuny_thumbnail_localized @homepage %>
      <div class="card-body">
        <%= osuny_link_localized @homepage, admin_communication_website_page_path(@homepage) %>
      </div>
    </div>
    <ul class="list-unstyled treeview__children js-treeview <%= 'treeview--sortable js-treeview-sortable js-treeview-sortable-container' if can?(:reorder, @homepage) %>"
        data-id="<%= @homepage.id %>"
        data-sort-url="<%= reorder_admin_communication_website_pages_path %>">
      <%= render 'treebranch', pages: @first_level_pages %>
    </ul>
  </li>
</ul>
