<% content_for :title, t('admin.communication.website.pages.structure') %>

<% content_for :title_right do %>
  <%= @pages.size %>
  <%= Communication::Website::Page.model_name.human(count: @pages.size).downcase %>
<% end %>

<%= osuny_panel  t('admin.communication.website.pages.structure'), 
                action: create_link(Communication::Website::Page) do %>
  <ul class="nav nav-tabs justify-content-md-end mt-0 mt-md-n4">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page">
        <i class="fas fa-sitemap"></i>
        <%= t('admin.communication.website.pages.as_tree') %>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="<%= list_admin_communication_website_pages_path %>">
        <i class="fas fa-list"></i>
        <%= t('admin.communication.website.pages.as_list') %>
      </a>
    </li>
  </ul>
  <ul class="list-unstyled treeview mt-2">
    <li class="treeview__element treeview__element--opened treeview__element--loaded"
        data-id="<%= @homepage.id %>" 
        data-parent="">
      <div class="card card--horizontal treeview__label">
        <%= osuny_thumbnail @homepage.featured_image, initials: @homepage.initials %>
        <div class="card-body">
          <%= link_to @homepage, admin_communication_website_page_path(@homepage), class: 'text-black' %>
        </div>
      </div>
      <ul class="list-unstyled treeview__children js-treeview <%= 'treeview--sortable js-treeview-sortable js-treeview-sortable-container' if can?(:reorder, @homepage) %>"
          data-id="<%= @homepage.id %>"
          data-sort-url="<%= reorder_admin_communication_website_pages_path %>">
        <%= render 'treebranch', pages: @first_level_pages %>
      </ul>
    </li>
  </ul>
<% end %>

<%= render 'admin/communication/websites/language_switcher' %>
