<% content_for :title, @page %>

<%= render 'admin/communication/websites/sidebar' do %>

  <div class="row">
    <div class="col-md-8">
      <% if @page.is_special_page? %>
        <p>
          <%= t('admin.communication.website.pages.is_special_page') %>
          <b><%= t("communication.website.pages.defaults.#{@page.type_key}.title") %></b>
        </p>
      <% end %>
      <%= render 'admin/application/summary/show', about: @page %>
      <%= render 'admin/communication/blocks/list', about: @page %>
      <%= render 'admin/application/dependencies',
                  git_dependencies: @page.git_dependencies(@page.website),
                  active_storage_blobs: @page.active_storage_blobs %>
    </div>
    <div class="col-md-4">
      <%= render 'admin/application/a11y/widget', about: @page %>
      <%= render 'admin/communication/websites/pages/show/metadata' %>
      <%= render 'admin/application/featured_image/show', about: @page %>
      <%= render 'admin/application/meta_description/show', about: @page %>
    </div>
  </div>
<% end %>

<% content_for :action_bar_left do %>
  <%= destroy_link @page if @page.is_regular_page? %>
  <%= static_link static_admin_communication_website_page_path(@page) %>
<% end %>

<% content_for :action_bar_right do %>
  <%= preview_link %>
  <%= link_to t('edit'), edit_admin_communication_website_page_path(@page), class: button_classes %>
<% end %>
