<% content_for :title, @page %>

<%= render 'admin/communication/websites/sidebar' do %>
  <div class="row">
    <div class="col-lg-7">
      <%= osuny_panel Communication::Website::Page.human_attribute_name(:title), small: true do %>
        <p class="lead"><%= @page.title %></p>
      <% end %>
    </div>
    <div class="offset-lg-1 col-lg-4">
      <%= render 'admin/application/featured_image/show', about: @page, small: true %>
    </div>
  </div>
  <%= osuny_separator %>
  <%= render 'admin/application/a11y/widget', about: @page, horizontal: true %>
  <%= osuny_separator %>
  <div class="row">
    <div class="col-lg-4">
      <%= render 'admin/communication/websites/pages/show/metadata' %>
    </div>
    <div class="col-lg-8">
      <%= render 'admin/application/summary/show', about: @page, small: true %>
      <%= render 'admin/application/meta_description/show', about: @page, small: true %>
    </div>
  </div>
  <%= render 'admin/communication/blocks/content/editor', about: @page %>
  <%= render 'admin/communication/websites/pages/show/special_page', about: @page %>
<% end %>

<%= render 'admin/application/dependencies', about: @page %>

<% content_for :action_bar_left do %>
  <%= destroy_link @page if @page.is_regular_page? %>
  <%= duplicate_link @page if @page.is_regular_page? %>
  <%= static_link static_admin_communication_website_page_path(@page) %>
<% end %>

<% content_for :action_bar_right do %>
  <%= link_to  t('open'),
              @page.url,
              target: :_blank,
              class: 'btn btn-light btn-xs' if @page.published %>
  <%= preview_link %>
  <%= link_to t('edit'), edit_admin_communication_website_page_path(@page), class: button_classes %>
<% end %>
