<% content_for :title, @l10n %>

<div class="row">
  <div class="col-lg-7">
    <%= osuny_panel Communication::Website::Page::Localization.human_attribute_name(:title), small: true do %>
      <p class="lead mb-1"><%= @l10n.title %></p>
      <%= render 'admin/application/property/publication', about: @l10n %>
    <% end %>
    <%= render 'admin/communication/websites/pages/design_options/show', about: @page %>
  </div>
  <div class="offset-lg-1 col-lg-4">
    <%= render 'admin/application/images/featured/show', about: @l10n, small: true %>
  </div>
</div>
<%= osuny_separator %>
<%= render 'admin/application/a11y/widget', about: @l10n, horizontal: true %>
<%= osuny_separator %>
<div class="row">
  <div class="col-lg-4">
    <%= render 'admin/communication/websites/pages/show/metadata' %>
  </div>
  <div class="col-lg-8">
    <%= render 'admin/application/summary/show', about: @l10n, small: true %>
    <%= render 'admin/application/meta_description/show', about: @l10n, small: true %>
  </div>
</div>

<%= render 'admin/communication/contents/editor', about: @l10n %>
<%= render 'admin/communication/websites/pages/show/special_page' %>

<%= render 'admin/application/components/dependencies', about: @page %>

<% content_for :action_bar_left do %>
  <%= destroy_link @page if @page.is_regular_page? %>
  <%= duplicate_link @page if @page.is_regular_page? %>
  <%= static_link static_admin_communication_website_page_path(@page) %>
<% end %>

<% content_for :action_bar_right do %>
  <% page_url = @l10n.current_permalink_url_in_website(@website) %>
  <%= link_to  t('open'),
              page_url,
              target: :_blank,
              class: 'btn btn-light btn-xs' if page_url %>
  <%= preview_link %>
  <%= link_to t('edit'),
              edit_admin_communication_website_page_path(@page),
              class: button_classes
              # This is not edit_link @page because of the polymorphism of the special pages, which would create a wrong path
              %>
  <%= link_to t('admin.communication.website.publish.button'),
              publish_admin_communication_website_page_path(@page),
              class: button_classes,
              method: :post if !@l10n.published && can?(:publish, @page)
              # This is not edit_link @page because of the polymorphism of the special pages, which would create a wrong path
              %>
<% end %>
