<%= simple_form_for [:admin, menu] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="row">
    <div class="col-md-8">
      <%= f.input :title %>
    </div>
    <div class="col-md-4">
      <%= f.input :identifier,
          input_html: menu.persisted? ? {} : {
            class: 'js-slug-input',
            data: { source: '#communication_website_menu_title' }
          } if can?(:create, menu) %>
    </div>
  </div>
  <% content_for :action_bar_right do %>
    <%= submit f %>
  <% end %>
<% end %>
