<div class="row g-2">
  <% menus.each do |menu| %>
    <div class="col-lg-6 col-xxl-4">
      <div class="<%= osuny_card_classes(horizontal: true) %>">
        <%= osuny_thumbnail menu %>
        <div class="card-body">
          <%= link_to menu, 
                      admin_communication_website_menu_path(website_id: menu.website.id, id: menu.id),
                      class: 'stretched-link text-black' %>
          <% if menu.items.any? %>
            <span class="text-muted">(<%= menu.items.count %>)</span>
          <% end %>
        </div>
        <div class="card-footer text-muted">
          <% if menu.automatic %>
            <span class="badge bg-success">
              <%= Communication::Website::Menu.human_attribute_name('automatic') %>
            </span>
          <% end %>          
        </div>
      </div>
    </div>
  <% end %>
</div>
