<% content_for :title, @menu %>

<%= render 'admin/communication/websites/sidebar' do %>
  <div class="row">
    <div class="col-md-8">
      <h2 class="h3">
        <%= "#{Communication::Website::Menu::Item.model_name.human(count: 2)} (#{@root_items.size})" %>
      </h2>
      <%= render 'admin/communication/websites/menus/items/list', items: @root_items if @items.any? %>
      <%= link_to t('create'),
                  new_admin_communication_website_menu_item_path(website_id: @website, menu_id: @menu.id),
                  class: button_classes if can?(:create, Communication::Website::Menu::Item) %>
    </div>
    <div class="col-md-4">
      <%= render 'admin/application/i18n/widget', about: @menu %>
      <h2 class="h3"><%= t('metadata') %></h2>
      <h3 class="h5"><%= Communication::Website::Menu.human_attribute_name('identifier') %></h3>
      <p><%= @menu.identifier %></p>
    </div>
  </div>
<% end %>

<% content_for :action_bar_left do %>
  <%= destroy_link @menu %>
<% end %>

<% content_for :action_bar_right do %>
  <%= edit_link @menu %>
<% end %>
