<%
# L'Escale du livre 2022
search = about.to_s
# communication_website_page
about_identifier = about.class.to_s.parameterize.underscore
# .communication_website_post_featured_image img
about_featured_image_image = ".#{about_identifier}_featured_image img"
# #communication_website_page_featured_image_alt
about_featured_image_alt = "##{about_identifier}_featured_image_alt"
# #communication_website_page_featured_image_credit
about_featured_image_credit = "##{about_identifier}_featured_image_credit"
# fr, en...
lang = about&.language&.iso_code if about.respond_to? :language
%>

<div id="unsplash-app" v-cloak>
  <button type="button"
          class="btn btn-secondary btn-sm"
          data-bs-toggle="modal"
          data-bs-target="#unsplashModal">
    Chercher une image
  </button>
  <input  class="form-control string optional"
          type="hidden"
          name="unsplash"
          v-model="selected.id">
  <div  class="modal fade"
        id="unsplashModal"
        tabindex="-1"
        aria-labelledby="Unsplash"
        aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Recherche d'image sur Unsplash</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row mb-3">
            <div class="col-lg-9">
              <input  type="text"
                      name="search"
                      placeholder="Recherche en anglais..."
                      v-model="parameters.query"
                      class="form-control">
            </div>
            <div class="col-lg-3">
              <button type="button"
                      class="btn btn-primary"
                      v-on:click="search"
                      aria-label="Chercher">
                Chercher
              </button>
            </div>
          </div>
          <div class="row" ref="results">
            <p v-if="data.results.length === 0 || !data" >Aucun résultat</p>

            <div v-for="image in data.results"  class="col-6 col-lg-2">
              <img
                  :src="image.thumb"
                  :alt="image.alt"
                  v-on:click="select(image)"
                  class="img-fluid img-thumbnail mb-3"
                  :class="image === selected ? 'bg-secondary' : ''">
            </div>
          </div>
          <div class="d-flex"
            :class="page === 1 ? 'justify-content-end' : 'justify-content-between'">
            <div  href="#"
                v-if="page > 1"
                v-on:click="page = page - 1"
                class="btn btn-secondary">Page précédente</div>
            <div  href="#"
                v-if="page < data.total_pages"
                v-on:click="page = page + 1"
                class="btn btn-secondary">Page suivante</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%# Include vue.js before call Vue.createApp %>
<%= javascript_include_tag 'vue' %>

<script>
  var app = Vue.createApp({
    data() {
      return {
        selected: {},
        parameters: {
          url: '<%= admin_communication_unsplash_path(format: :json) %>',
          per_page: 12,
          lang: '<%= lang %>',
          query: '<%= search || "" %>'
        },
        page: 1,
        targets: {
          image: '<%= about_featured_image_image %>',
          alt: '<%= about_featured_image_alt %>',
          credit: '<%= about_featured_image_credit %>'
        },
        data: {
          results: [],
          total: 0
        },
        isOpened: false
      }
    },
    mounted() {
      var modalElement = document.querySelector('#unsplashModal')
      this.modal = bootstrap.Modal.getOrCreateInstance(modalElement);

      modalElement.addEventListener('show.bs.modal', function (){
        this.isOpened = true;
        this.search.bind(this)
      }.bind(this));

      modalElement.addEventListener('hide.bs.modal', function() {
          this.isOpened = false;
      }.bind(this));

      document.addEventListener("keydown", function(event) {
        if (event.key === "Enter" && this.isOpened) {
          event.preventDefault();
          event.stopImmediatePropagation();
        }
      }.bind(this));
    },
    watch: {
      page(value) {
        this.search();
      }
    },
    methods: {
      search() {
        if (!this.parameters.query) {
          return null;
        }

        var xmlHttp = new XMLHttpRequest();
        xmlHttp.onreadystatechange = function() {
          if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
            this.data = JSON.parse(xmlHttp.responseText);
            console.log(this.data)
          }
        }.bind(this);
        
        xmlHttp.open( "GET", this.parameters.url + '&query=' + this.parameters.query + '&per_page=' + this.parameters.per_page + '&page=' + this.page + '&lang=' + this.parameters.lang, false );
        xmlHttp.send( null );
      },
      select(image) {
        var inputImage = document.querySelector(this.targets.image),
            inputAlt = document.querySelector(this.targets.alt),
            inputCredit = document.querySelector(this.targets.credit);

        this.selected = image;

        if (inputImage) {
          inputImage.setAttribute('src', image.preview);
        }
        inputAlt.value = image.alt;
        $(inputCredit).summernote('code', image.credit);
        this.modal.hide();
      }
    }
  });

  window.addEventListener('load', function(){
    setTimeout(function() {
      app.mount('#unsplash-app');
    }, 1000);
  });
</script>
