<%
# L'Escale du livre 2022
search = about.to_s
# communication_website_page
about_identifier = about.class.to_s.parameterize.underscore
# .communication_website_post_featured_image img
about_featured_image_image = ".#{about_identifier}_featured_image img"
# #communication_website_page_featured_image_alt
about_featured_image_alt = "##{about_identifier}_featured_image_alt"
# #communication_website_page_featured_image_credit
about_featured_image_credit = "##{about_identifier}_featured_image_credit"
%>

<% if !about.featured_image.attached? && search.present? %>
  <p>Voulez-vous utiliser une de ces images Unsplash ?</p>
  <div class="row">
    <% Unsplash::Photo.search(text, 1, 4, :squarish).each do |photo| %>
      <div class="col-6">
        <%= render 'admin/communication/unsplash/photo', photo: photo %>
      </div>
    <% end %>
  </div>
<% end %>
<button type="button"
        class="btn btn-secondary btn-sm"
        data-bs-toggle="modal"
        data-bs-target="#unsplashModal">
  Chercher une image
</button>
<input  class="form-control string optional"
        type="hidden"
        value=""
        name="unsplash"
        id="unsplashInput"
        data-unsplash-img="<%= about_featured_image_image %>"
        data-unsplash-alt="<%= about_featured_image_alt %>"
        data-unsplash-credit="<%= about_featured_image_credit %>"
        >
<div  class="modal fade"
      id="unsplashModal"
      tabindex="-1"
      aria-labelledby="Unsplash"
      aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Recherche d'image sur Unsplash</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row mb-3">
          <div class="col-lg-9">
            <input  type="text"
                    name="search"
                    value="<%= search %>"
                    class="form-control">
          </div>
          <div class="col-lg-3">
            <button type="button"
                    class="btn btn-primary"
                    aria-label="Chercher">
              Chercher
            </button>
          </div>
        </div>
        <div class="row">
          <% if search.present? %>
            <% Unsplash::Photo.search(search, 1, 18, :squarish).each do |photo| %>
              <div class="col-6 col-lg-2">
                <%= render 'admin/communication/unsplash/photo', photo: photo %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
