<div class="form-check form-switch">
  <input  :id="<%= dom_id.html_safe %>"
          class="form-check-input"
          v-model="<%= model %>.<%= property %>"
          type="checkbox" />
  <label  class="form-check-label"
          aria-label="<%= label %>"
          :for="<%= dom_id.html_safe %>">
    <%= label %>
  </label>
</div>