<div class="form-check">
  <input  :id="<%= dom_id.html_safe %>"
          class="form-check-input"
          v-model="<%= model %>.<%= property %>"
          type="checkbox" />
  <label class="form-label" aria-label="<%= label %>" :for="<%= dom_id.html_safe %>">
    <%= label %>
  </label>
</div>