<%= simple_form_for [:admin, post] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="row">
    <div class="col-md-8">
      <section class="mb-5">
        <h2 class="h3"><%= t('content') %></h2>
        <%= f.input :title %>
        <%= render 'admin/application/summary/form', f: f, about: post %>
        <%= f.input :text, as: :summernote if post.text&.to_plain_text.present? %>
      </section>
      <div class="row row-small">
        <% if @website.categories.any? %>
          <div class="col-md-6">
            <h2 class="h3">
              <%= t('activerecord.attributes.communication/website/post.categories') %>
            </h2>
            <%= f.association :categories,
                              label_text: false,
                              as: :check_boxes,
                              collection: collection_tree_for_checkboxes(@website.categories) if @website.categories.any? %>
          </div>
        <% end %>
        <div class="col-md-6">
          <%= render 'admin/application/meta_description/form', f: f, about: post %>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <section class="mb-5">
        <h2 class="h3"><%= t('metadata') %></h2>
        <% if can? :publish, post %>
          <div class="row row-small">
            <div class="col-6">
              <%= f.input :published %>
            </div>
            <div class="col-6">
              <%= f.input :pinned %>
            </div>
          </div>
          <%= f.input :published_at, html5: true %>
        <% end %>
        <% if @website.languages.many? %>
          <%= f.input :language_id, collection: @website.languages, include_blank: false %>
        <% elsif @website.languages.any? %>
          <%= f.input :language_id, as: :hidden, input_html: { value: @website.languages.first.id }, wrapper: false %>
        <% end %>
        <% if current_user.author? || current_user.contributor? %>
          <%= f.input :author_id,
                      as: :hidden,
                      input_html: { value: current_user.person&.id },
                      wrapper: false %>
        <% else %>
          <%= f.association :author,
                            collection: current_university.people.ordered,
                            label_method: :to_s_alphabetical %>
        <% end %>
        <%= f.input :slug,
                    as: :string,
                    input_html: post.persisted? ? {} : {
                      class: 'js-slug-input',
                      data: { source: '#communication_website_post_title' }
                    } %>
      </section>
      <%= render 'admin/application/featured_image/edit', about: @post, f: f %>
    </div>
  </div>
  <% content_for :action_bar_right do %>
    <%= submit f %>
  <% end %>
<% end %>
