<%
small ||= false
hide_author ||= false
hide_buttons ||= false
hide_pinned ||= false
selectable ||= false
%>
<% if posts.none? %>
  <p><%= t('communication.website.posts.none') %></p>
<% else %>
  <% if selectable %>
    <input type="hidden" name="ids[]" value="">
  <% end %>
  <div class="table-responsive <%= 'table-selectable' if selectable %>">
    <table class="table table-borderless table-sm">
      <thead>
        <tr>
          <% if selectable %>
            <th class="border-0">
              <%= check_box_tag nil, nil, false, data: { batch_selectable_role: "select-all" } if selectable %>
            </th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% posts.each do |post| %>
          <tr>
            <% if selectable %>
              <td class="border-0"><%= check_box_tag "ids[]", post.id, false, data: { batch_selectable_role: "select-single" } %></td>
            <% end %>
            <td>
              <div class="card card--horizontal <%= 'draft' unless post.published? %>">
                <%= osuny_thumbnail post.featured_image, 
                                    initials: post.initials %>
                <div class="card-body">
                  <%= link_to post,
                              admin_communication_website_post_path(website_id: post.website.id, id: post.id),
                              class: "stretched-link #{ post.published? ? 'text-black' : 'text-muted' }" %>
                </div>
                <div class="card-footer">
                  <% if !hide_buttons && post.pinned %>
                    <%= Communication::Website::Post.human_attribute_name('pinned') %>
                  <% end %>
                  <% if !hide_author && post.author %>
                    <span class="ms-3">
                      <%= post.author %>
                    </span>
                  <% end %>
                  <% if post.published_at %>
                    <span class="ms-3">
                      <%= small ? l(post.published_at.to_date, format: :short)
                                : l(post.published_at, format: :date_with_explicit_month) %>
                    </span>
                  <% end %>
                </div>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>