<% content_for :title, "#{Communication::Website::Post.model_name.human(count: 2)}" %>

<% content_for :title_right do %>
  <%= @posts.total_count %>
  <%= Communication::Website::Post.model_name.human(count: @posts.total_count).downcase %>
<% end %>

<%= render 'admin/communication/websites/sidebar' do %>
  <%= render 'filters', current_path: admin_communication_website_posts_path, filters: @filters %>
  <div data-batch-selectable class="mb-5">
    <%= form_tag publish_admin_communication_website_posts_path do %>
      <%= render 'admin/communication/websites/posts/list', posts: @posts, selectable: true %>
      <%= paginate @posts, theme: 'bootstrap-5' %>
      <div>
        <div data-batch-selectable-role="actions-container">
          <div class="d-flex align-items-center">
            <div class="col-auto me-3">
              <%= t('batch_selectable.title') %>
            </div>
            <div class="col-auto me-3">
              <select name="published" class="form-select">
                <option value="false"><%= t('communication.website.posts.unpublished') %></option>
                <option value="true"><%= t('communication.website.posts.published') %></option>
              </select>
            </div>
            <div class="col-auto me-3">
              <%= submit_tag t("save"), class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <% if can?(:create, Communication::Website::Category) || (@root_categories.any? && can?(:edit, @root_categories.first))  %>
      <% action = create_link Communication::Website::Category %>
      <%= osuny_panel Communication::Website::Category.model_name.human(count: 2), action: action do %>
        <ul class="list-unstyled treeview treeview--sortable js-treeview js-treeview-sortable js-treeview-sortable-container"
            data-id=""
            data-sort-url="<%= reorder_admin_communication_website_categories_path %>">
          <%= render 'admin/communication/websites/categories/treebranch', categories: @root_categories %>
        </ul>
      <% end %>
  <% end %>
  <% if @authors.any? %>
    <%= osuny_panel t('communication.authors', count: 2) do %>
      <%= render 'admin/communication/websites/authors/list', authors: @authors %>
      <% if @authors.total_pages > 1 %>
        <%= paginate @authors, theme: 'bootstrap-5', param_name: :authors_page %>
      <% end %>
    <% end %>
  <% end %>

<% end %>

<% content_for :action_bar_left do %>
  <%= link_to t('communication.website.posts.new_curation'),
              new_admin_communication_website_post_curation_path(website_id: @website.id),
              class: button_classes if can?(:create, Communication::Website::Post) %>
<% end %>

<% content_for :action_bar_right do %>
  <%= create_link Communication::Website::Post %>
<% end %>
