<% content_for :title, @post %>

<%= render 'admin/communication/websites/sidebar' do %>
  <div class="row">
    <div class="col-lg-7">
      <%= osuny_panel Communication::Website::Post.human_attribute_name(:title) do %>
        <p class="lead"><%= @post.title %></p>
      <% end %>
    </div>
    <div class="offset-lg-1 col-lg-4">
      <%= render 'admin/application/featured_image/show', about: @post %>
    </div>
  </div>
  <hr class="mb-5">
  <%= render 'admin/application/a11y/widget', about: @post, horizontal: true %>
  <hr class="mb-5">
  <div class="row">
    <div class="col-lg-4">
      <%= render 'admin/communication/websites/posts/show/metadata' %>
      <%= render 'admin/application/i18n/widget', about: @post, small: true %>
    </div>
    <div class="col-lg-8">
      <%= render 'admin/application/summary/show', about: @post %>
      <%= render 'admin/application/meta_description/show', about: @post %>
    </div>
  </div>
  <%= render 'admin/communication/blocks/content/editor', about: @post %>
<% end %>

<% content_for :action_bar_left do %>
  <%= destroy_link @post %>
  <%= duplicate_link @post %>
  <%= static_link static_admin_communication_website_post_path(@post) %>
<% end %>

<% content_for :action_bar_right do %>
  <%= link_to t('open'),
              @post.url,
              target: :_blank,
              class: 'btn btn-light btn-xs' if @post.url %>
  <%= preview_link %>
  <%= edit_link @post %>
<% end %>
