<% content_for :title, @l10n %>

<div class="row">
  <div class="col-lg-7">
    <%= osuny_panel Communication::Website::Post::Localization.human_attribute_name(:title), small: true do %>
      <p class="lead"><%= @l10n.title %></p>
    <% end %>
    <% if @l10n.subtitle.present? %>
      <%= osuny_panel Communication::Website::Post::Localization.human_attribute_name(:subtitle), small: true do %>
        <p class="lead"><%= @l10n.subtitle %></p>
      <% end %>
    <% end %>
    <%= render 'admin/application/property/publication', about: @l10n %>
  </div>
  <div class="offset-lg-1 col-lg-4">
    <%= render 'admin/application/featured_image/show', about: @l10n, small: true %>
  </div>
</div>
<hr class="mb-5">
<%= render 'admin/application/a11y/widget', about: @l10n, horizontal: true %>
<hr class="mb-5">
<div class="row">
  <div class="col-lg-4">
    <%= osuny_panel t('metadata'), small: true do %>
      <p>
        <% if @l10n.published %>
          <%= t('admin.communication.website.post.localizations.published_on', date: l(@l10n.published_at.to_date)) %>
          <%= t('admin.communication.website.post.localizations.and_pinned') if @l10n.pinned %>
        <% else %>
          <%= t('admin.communication.website.post.localizations.draft') %>
        <% end %>
      <p>
      <% if @post.authors.any? %>
        <div>
          <%= osuny_label Communication::Website::Post.human_attribute_name(:authors) %>
          <ul class="list-unstyled">
            <% @post.authors.each do |author| %>
              <li><%= osuny_link_localized author, admin_communication_author_path(author) %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%= render 'admin/application/categories/widget/show', about: @post %> 
      <%= render 'admin/application/permalinks/redirects', about: @l10n %>
    <% end %>
    <%= render 'admin/application/l10n/widget', about: @post, l10n: @l10n, small: true %>
  </div>
  <div class="col-lg-8">
    <%= render 'admin/application/summary/show', about: @l10n, small: true %>
    <%= render 'admin/application/meta_description/show', about: @l10n %>
  </div>
</div>
<%= render 'admin/communication/contents/editor', about: @l10n %>

<% content_for :action_bar_left do %>
  <%= destroy_link @post %>
  <%= duplicate_link @post %>
  <%= static_link static_admin_communication_website_post_path(@post) %>
<% end %>

<% content_for :action_bar_right do %>
  <% post_url = @l10n.current_permalink_url_in_website(@website) %>
  <%= link_to t('open'),
              post_url,
              target: :_blank,
              class: 'btn btn-light btn-xs' if post_url %>
  <%= preview_link %>
  <%= edit_link @post %>
  <%= publish_link @post %>
<% end %>
