<% content_for :title, @post %>

<%= render 'admin/communication/websites/sidebar' do %>
  <div class="row">
    <div class="col-md-8">
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h2 class="card-title mb-0 h5"><%= t('content') %></h2>
        </div>
        <div class="card-body">
          <%= render 'admin/application/property/text', object: @post, property: :description_short %>
          <%= render 'admin/application/property/text', object: @post, property: :text %>
          <%= render 'admin/application/property/summernote_embeds', object: @post, property: :medias %>
        </div>
      </div>
      <div class="row">
      <% if @post.categories.any? %>
        <div class="col-md-6">
          <div class="card flex-fill w-100">
            <div class="card-header">
              <h2 class="card-title mb-0"><%= Communication::Website::Post.human_attribute_name('categories') %></h2>
            </div>
            <div class="card-body">
              <ul class="list-unstyled mb-0">
                <% @post.categories.each do |category| %>
                  <li><%= link_to_if can?(:read, category), category, [:admin, category] %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      <% end %>
        <% if @post.description.present? %>
          <div class="col-md-6">
            <div class="card flex-fill w-100">
              <div class="card-header">
                <h2 class="card-title mb-0"><%= t('seo') %></h2>
              </div>
              <div class="card-body">
                <h3 class="h5"><%= Communication::Website::Post.human_attribute_name('description') %></h3>
                <%= simple_format @post.description %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <%= render 'admin/communication/blocks/list', about: @post %>
    </div>
    <div class="col-md-4">
      <div class="card flex-fill w-100">
        <div class="card-header">
          <div class="float-end">
            <% if @post.url %>
              <%= link_to t('open'),
                          @post.url,
                          target: :_blank,
                          class: 'btn btn-light' %>
            <% end %>
          </div>
          <h2 class="card-title mb-0 h5"><%= t('metadata') %></h2>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <h3 class="h5"><%= Communication::Website::Post.human_attribute_name('published') %></h3>
              <p>
                <%= t @post.published %><% if @post.published & @post.published_at %>,
                  <%= l @post.published_at.to_date, format: :long if @post.published_at %>
                <% end %>
              </p>
            </div>
            <div class="col-6">
              <h3 class="h5"><%= Communication::Website::Post.human_attribute_name('pinned') %></h3>
              <p><%= t @post.pinned %></p>
            </div>
          </div>
          <% if @post.author %>
            <h3 class="h5"><%= Communication::Website::Post.human_attribute_name('author') %></h3>
            <p><%= link_to_if can?(:read, @post.author), @post.author, admin_communication_website_author_path(@post.author) %></p>
          <% end %>
          <h3 class="h5"><%= Communication::Website::Post.human_attribute_name('slug') %></h3>
          <p><%= @post.slug %></p>
        </div>
      </div>
      <%= render 'admin/application/featured_image/show', about: @post %>
    </div>
  </div>
<% end %>

<% content_for :preview do %>
  <%= @post.text.to_s %>
  <% @post.blocks.ordered.each do |block| %>
    <%= render 'admin/communication/blocks/preview', block: block %>
  <% end %>
<% end %>

<% content_for :action_bar_left do %>
  <%= destroy_link @post %>
  <%= link_to t('static'),
              static_admin_communication_website_post_path(@post),
              class: button_classes('btn-light') if current_user.server_admin? %>
<% end %>

<% content_for :action_bar_right do %>
  <%= preview_link %>
  <%= edit_link @post %>
<% end %>
