<% content_for :title, @post %>

<%= render 'admin/communication/websites/sidebar' do %>
  <div class="row">
    <div class="col-xl-8">
      <%= render 'admin/application/summary/show', about: @post %>
      <%= render 'admin/communication/blocks/list', about: @post %>
    </div>
    <div class="col-xl-4">
      <% 
      action = ''
      action += link_to t('open'),
                        @post.url,
                        target: :_blank,
                        class: 'btn btn-light btn-xs' if @post.url
      %>
      <%= osuny_panel t('metadata'), action: action do %>
        <div class="row pure__row--small">
          <div class="col-6">
            <%= osuny_label Communication::Website::Post.human_attribute_name('published') %>
            <p>
              <%= t @post.published %><% if @post.published & @post.published_at %>,
                <%= l @post.published_at.to_date, format: :long if @post.published_at %>
              <% end %>
            </p>
          </div>
          <div class="col-6">
            <%= osuny_label Communication::Website::Post.human_attribute_name('pinned') %>
            <p><%= t @post.pinned %></p>
          </div>
        </div>
        <% if @post.author %>
          <%= osuny_label Communication::Website::Post.human_attribute_name('author') %>
          <p><%= link_to_if can?(:read, @post.author), @post.author, admin_communication_website_author_path(@post.author) %></p>
        <% end %>
        <% if @post.categories.any? %>
          <%= osuny_label Communication::Website::Post.human_attribute_name('categories') %>
          <ul class="list-unstyled">
            <% @post.categories.each do |category| %>
              <li><%= link_to_if can?(:read, category), category, [:admin, category] %></li>
            <% end %>
          </ul>
        <% end %>
        <%= osuny_label Communication::Website::Post.human_attribute_name('slug') %>
        <p><%= @post.slug %></p>
      <% end %>
      <%= render 'admin/application/featured_image/show', about: @post %>
      <%= render 'admin/application/meta_description/show', about: @post %>
    </div>
  </div>
<% end %>

<% content_for :action_bar_left do %>
  <%= destroy_link @post %>
  <%= static_link static_admin_communication_website_post_path(@post) %>
<% end %>

<% content_for :action_bar_right do %>
  <%= preview_link %>
  <%= edit_link @post %>
<% end %>
