<% content_for :title, @post %>

<%= render 'admin/communication/websites/sidebar' do %>
  <div class="row">
    <div class="col-md-8">
      <%= render 'admin/application/summary/show', about: @post %>
      <%= render 'admin/communication/blocks/list', about: @post %>
    </div>
    <div class="col-md-4">
      <div class="float-end">
        <% if @post.url %>
          <%= link_to t('open'),
                      @post.url,
                      target: :_blank,
                      class: 'btn btn-light' %>
        <% end %>
      </div>
      <h2 class="h3"><%= t('metadata') %></h2>
      <div class="row row-small">
        <div class="col-6">
          <h3 class="h5"><%= Communication::Website::Post.human_attribute_name('published') %></h3>
          <p>
            <%= t @post.published %><% if @post.published & @post.published_at %>,
              <%= l @post.published_at.to_date, format: :long if @post.published_at %>
            <% end %>
          </p>
        </div>
        <div class="col-6">
          <h3 class="h5"><%= Communication::Website::Post.human_attribute_name('pinned') %></h3>
          <p><%= t @post.pinned %></p>
        </div>
      </div>
      <% if @post.author %>
        <h3 class="h5"><%= Communication::Website::Post.human_attribute_name('author') %></h3>
        <p><%= link_to_if can?(:read, @post.author), @post.author, admin_communication_website_author_path(@post.author) %></p>
      <% end %>
      <% if @post.categories.any? %>
        <h3 class="h5"><%= Communication::Website::Post.human_attribute_name('categories') %></h3>
        <ul class="list-unstyled">
          <% @post.categories.each do |category| %>
            <li><%= link_to_if can?(:read, category), category, [:admin, category] %></li>
          <% end %>
        </ul>
      <% end %>
      <h3 class="h5"><%= Communication::Website::Post.human_attribute_name('slug') %></h3>
      <p><%= @post.slug %></p>
      <%= render 'admin/application/featured_image/show', about: @post %>
      <%= render 'admin/application/meta_description/show', about: @post %>
    </div>
  </div>
<% end %>

<% content_for :action_bar_left do %>
  <%= destroy_link @post %>
  <%= link_to t('static'),
              static_admin_communication_website_post_path(@post),
              class: button_classes('btn-light') if current_user.server_admin? %>
<% end %>

<% content_for :action_bar_right do %>
  <%= preview_link %>
  <%= edit_link @post %>
<% end %>
