<% categories = collection_tree(@block.about&.website.categories) %>

<div class="row mb-1">
  <div class="col-md-6">
    <%= block_component_edit :mode %>
    <div v-if="data.mode === 'category' || data.mode === 'all'">
      <%= block_component_edit :posts_quantity %>
    </div>

    <div v-if="data.mode === 'category'">
      <%= block_component_edit :category %>
      <label class="form-label"
            for="category_id">Sélectionnez une catégorie</label>
      <select id="category_id"
            class="form-select select mb-3"
            v-model="data.category_id">
        <% categories.each_with_index do |category, index| %>
          <option value="<%= category[:id] %>"><%= category[:label].html_safe %></option>
        <% end %>
      </select>
    </div>
  </div>
</div>
<div v-if="data.mode === 'selection'">
  <a  class="<%= button_classes('mb-3') %>"
      v-on:click="data.elements.push({id: ''})">
      <%= t '.add_post' %>
  </a>
  <draggable :list="data.elements" class="row" handle=".dragHandle">
    <div v-for="(post, index) in data.elements" class="col-xxl-3 col-lg-4">
      <div class="card">
        <div class="card-body">
          <div class="mb-3">
            <a  class="btn btn-sm btn-danger float-end"
                v-on:click="data.elements.splice(data.elements.indexOf(post), 1)"
                title="Delete">
                <i class="fas fa-times"></i>
            </a>
            <a class="btn ps-0 pt-0 dragHandle" title="Drag and drop">
              <i class="fa fa-bars handle"></i>
            </a>
          </div>
          <label  class="form-label visually-hidden"
                  :for="'post-' + index + '-name'"><%= t '.post_label' %></label>
          <select :id="'post-' + index + '-name'"
                  class="form-select select"
                  v-model="post.id">
            <option value="" disabled>Posts</option>
            <% @block.about&.website.posts.ordered.each_with_index do |post, index| %>
              <option value="<%= post.id %>"><%= post.title %></option>
            <% end %>
          </select>
        </div>
      </div>
    </div>
  </draggable>
</div>
