<% categories = collection_tree(@block.about&.website.categories) %>

<div class="row mb-1">
  <div class="col-md-6">
    <%= block_component_edit :mode %>
    <div v-if="data.mode === 'category' || data.mode === 'all'">
      <%= block_component_edit :posts_quantity %>
    </div>
    <div v-if="data.mode === 'category'">
      <%= block_component_edit :category_id %>
    </div>
  </div>
</div>
<div v-if="data.mode === 'selection'">
  <%= block_component_add_element t('.add_post') %>

  <draggable :list="data.elements" class="row" handle=".dragHandle">
    <div v-for="(element, index) in data.elements" class="col-xxl-3 col-lg-4">
      <div class="card">
        <div class="card-body">
          <div class="mb-3">
            <a  class="btn btn-sm btn-danger float-end"
                v-on:click="data.elements.splice(data.elements.indexOf(element), 1)"
                title="Delete">
                <i class="fas fa-times"></i>
            </a>
            <a class="btn ps-0 pt-0 dragHandle" title="Drag and drop">
              <i class="fa fa-bars handle"></i>
            </a>
          </div>
          <%= block_component_edit :id, template: @element %>
        </div>
      </div>
    </div>
  </draggable>
</div>
