<%= block_component_edit block, :layout %>

<div class="mb-3">
  <%= block_component_edit block, :mode %>
  <div class="row pure__row--small">
    <div v-if="data.mode === 'category' || data.mode === 'all'" class="col-lg-3">
      <%= block_component_edit block, :posts_quantity %>
    </div>
    <div v-if="data.mode === 'category'" class="col-lg-9">
      <%= block_component_edit block, :category_id %>
    </div>
  </div>
</div>
<div v-if="data.mode === 'selection'">
  <%= block_component_add_element block, t('.add_post') %>
  <draggable :list="data.elements" handle=".dragHandle" class="<%= if_appstack 'list-group' %>">
    <div v-for="(element, index) in data.elements" class="d-flex draggable-item <%= if_appstack 'list-group-item' %>">
      <a class="btn ps-0 dragHandle" title="Drag and drop">
        <i class="<%= Icon::DRAG %> handle"></i>
      </a>
      <div class="flex-fill">
        <%= block_component_edit block, :id, template: @element %>
      </div>
      <a  class="btn text-danger ms-3"
          v-on:click="data.elements.splice(data.elements.indexOf(element), 1)"
          title="Delete">
          <i class="<%= Icon::DELETE %>"></i>
      </a>
    </div>
  </draggable>
</div>
