<div class="row mb-1">
  <div class="col-md-6">

    <div class="mb-4">
      <h3 class="mt-4">Sélectionnez le type de liste</h3>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="kind" v-model="data.kind" value="all" id="kind-all"
          v-on:change="data.posts_quantity = data.posts_quantity ? data.posts_quantity : 3;">
        <label class="form-check-label" for="kind-all">
          Toutes les actualités
        </label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="kind" v-model="data.kind" value="category" id="kind-category"
          v-on:change="data.posts_quantity = data.posts_quantity ? data.posts_quantity : 3;">
        <label class="form-check-label" for="kind-category">
          Une catégorie
        </label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="kind" v-model="data.kind" value="selection" id="kind-selection">
        <label class="form-check-label" for="kind-selection">
          Une sélection d'actualités
        </label>
      </div>
    </div>
    
    <div v-if="data.kind === 'category'" class="mb-2">
      <label class="form-label"
            for="category_id">Sélectionnez une catégorie</label>
      <select id="category_id"
            class="form-select select"
            v-model="data.category_id">
        <% @block.about&.website.categories.ordered.each_with_index do |category, index| %>
          <option value="<%= category.id %>"><%= category %></option>
        <% end %>
      </select>
    </div>
    <div v-if="data.kind === 'category' || data.kind === 'all'">
      <label class="form-label"
            for="posts_quantity">Choisissez la quantité d'articles à afficher</label>
      <input type="number"
            placeholder="Quantité"
            class="form-control"
            id="posts_quantity"
            min="0" max="30"
            v-model="data.posts_quantity"/>
    </div>
  </div>
</div>
<div v-if="data.kind === 'selection'">
  <a  class="<%= button_classes('mb-2') %>"
      v-on:click="data.elements.push({id: ''})">
      <%= t '.add_post' %>
  </a>
  <draggable :list="data.elements" class="row" handle=".dragHandle">
    <div v-for="(post, index) in data.elements" class="col-xxl-3 col-lg-4">
      <div class="card">
        <div class="card-body">
          <div class="mb-2">
            <a  class="btn btn-sm btn-danger float-end"
                v-on:click="data.elements.splice(data.elements.indexOf(post), 1)"
                title="Delete">
                <i class="fas fa-times"></i>
            </a>
            <a class="btn ps-0 pt-0 dragHandle" title="Drag and drop">
              <i class="fa fa-bars handle"></i>
            </a>
          </div>
          <label  class="form-label visually-hidden"
                  :for="'post-' + index + '-name'"><%= t '.post_label' %></label>
          <select :id="'post-' + index + '-name'"
                  class="form-select select"
                  v-model="post.id">
            <option value="" disabled>Posts</option>
            <% @block.about&.website.posts.ordered.each_with_index do |post, index| %>
              <option value="<%= post.id %>"><%= post.title %></option>
            <% end %>
          </select>
        </div>
      </div>
    </div>
  </draggable>
</div>
