<div class="posts">
  <% if @block.data %>
    <% @block.template.selected_posts.each do |post| %>
      <div>
        <article class="post">
          <div>
            <p class="title"><%= post %></p>
            <p><%= post.description_short %></p>
            <time datetime="<%= post.published_at %>"><%= post.published_at.to_date %></time>
          </div>
          <% if post.best_featured_image.attached? %>
            <div class="media">
              <%= kamifusen_tag post.best_featured_image %>
            </div>
          <% end %>
        </article>
      </div>
    <% end %>
  <% end %>
</div>