<%
heading_level = block.heading_rank_children
date_format = "%e %B %Y"
%>
<div class="<%= block_html_class(block) %>">
  <div class="container">
    <div class="block-content">
      <%= render 'admin/communication/blocks/partials/top', block: block %>
      <% if block.template.mode == "categories" %>
        <ul class="categories categories--grid">
          <% @website.post_categories.ordered.each do |category| %>
            <%
            category_l10n = category.localization_for(block.language)
            next if category_l10n.nil?
            %>
            <li data-title="<%= category_l10n %>">
              <%= link_to category_l10n, category_l10n.current_permalink_url_in_website(@website), class: "title" %>
              <p><%= category.posts.count %> <%= Communication::Website::Post.model_name.human(count: category.posts.count) %></p>
            </li>
          <% end %>
        </ul>
      <% elsif block.data %>
        <% if block.template.layout == "list" %>
          <%= render "admin/communication/blocks/templates/posts/layouts/list", block: block %>
        <% elsif block.template.layout == "highlight" %>
          <%= render "admin/communication/blocks/templates/posts/layouts/highlight", block: block %>
        <% elsif block.template.layout == "large" %>
          <%= render "admin/communication/blocks/templates/posts/layouts/large", block: block %>
        <% elsif block.template.layout == "carousel" %>
          <%= render "admin/communication/blocks/templates/posts/layouts/carousel", block: block %>
        <% elsif block.template.layout == "alternate" %>
          <%= render "admin/communication/blocks/templates/posts/layouts/alternate", block: block %>
        <% else # This is why we don't interpolate %>
          <%= render "admin/communication/blocks/templates/posts/layouts/grid", block: block %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>