<%
heading_level = block.heading_rank_children
date_format = "%e %B %Y"
%>
<div class="<%= block_html_class(block) %>">
  <div class="container">
    <div class="block-content">
      <%= render 'admin/communication/blocks/partials/top', block: block %>
      <% if block.template.mode == "categories" %>
        <ul class="categories categories--grid">
          <% @website.post_categories.ordered.each do |category| %>
            <%
            category_l10n = category.localization_for(block.language)
            next if category_l10n.nil?
            %>
            <li data-title="<%= category_l10n %>">
              <%= link_to category_l10n, category_l10n.current_permalink_url_in_website(@website), class: "title" %>
              <p><%= category.posts.count %> <%= Communication::Website::Post.model_name.human(count: category.posts.count) %></p>
            </li>
          <% end %>
        </ul>
      <% else %>
        <% if block.template.layout == "list" %>
          <div class="list">
            <% if block.data %>
              <% block.template.selected_posts.each do |post|
                next if post.nil?
                post_l10n =  post.localization_for(block.language)
                next if post_l10n.nil?
              %>
                <article class="post" itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">
                  <div class="post-content">
                    <h<%= heading_level %> class='post-title' itemprop='headline'>
                      <%= link_to post_l10n, post_l10n.current_permalink_url_in_website(@website) %>
                    </h<%= heading_level %>>
                    <% if post_l10n.summary.present? && block.template.option_summary %>
                      <p itemprop="articleBody"><%= post_l10n.summary %></p>
                    <% end %>
                    <% if block.template.option_author || block.template.option_date %>
                      <div class="post-meta">
                        <% if block.template.option_date %>
                          <time itemprop="datePublished" datetime="<%= post_l10n.published_at %>"><%= l(post_l10n.published_at, format: date_format) %></time>
                        <% end %>
                        <% if block.template.option_author %>
                          <div class="post-author" itemscope itemtype="https://schema.org/Person" itemprop="author">
                            <p itemprop="name"><%= post.author&.to_s_in(block.language) %></p>
                          </div>
                        <% end %>
                      </div>
                    <% end %>
                    <% if !post.categories.empty? && block.template.option_categories %>
                      <ul class="post-categories">
                        <% post.categories.each do |category| %>
                          <%
                          category_l10n = category.localization_for(block.language)
                          next if category_l10n.nil?
                          %>
                          <%= link_to category_l10n, category_l10n.current_permalink_url_in_website(@website) %>
                        <% end %>
                      </ul>
                    <% end %>
                  </div>
                  <% if block.template.option_image %>
                    <div class="media">
                      <% if post_l10n.best_featured_image.attached? %>
                        <%= kamifusen_tag post_l10n.best_featured_image %>
                      <% end %>
                    </div>
                  <% end %>
                </article>
              <% end %>
            <% end %>
          </div>

        <% elsif block.template.layout == "highlight" %>
          <% if block.data
            highlight_post = block.template.selected_posts.first
            highlight_post_l10n = highlight_post&.localization_for(block.language)
          %>
            <div class="highlight">
              <div class="highlight-post">
                <article class="post" itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">
                  <div class="post-content">
                    <h<%= heading_level %> class='post-title' itemprop='headline'>
                      <%= link_to highlight_post_l10n, highlight_post_l10n.current_permalink_url_in_website(@website) %>
                    </h<%= heading_level %>>
                    <% if highlight_post_l10n.summary.present? && block.template.option_summary %>
                      <p itemprop="articleBody"><%= highlight_post_l10n.summary %></p>
                    <% end %>
                    <% if block.template.option_author || block.template.option_date %>
                      <div class="post-meta">
                        <% if block.template.option_date %>
                          <time itemprop="datePublished" datetime="<%= highlight_post_l10n.published_at %>"><%= l(highlight_post_l10n.published_at, format: date_format) %></time>
                        <% end %>
                        <% if block.template.option_author %>
                          <div class="post-author" itemscope itemtype="https://schema.org/Person" itemprop="author">
                            <p itemprop="name"><%= highlight_post.author&.to_s_in(block.language) %></p>
                          </div>
                        <% end %>
                      </div>
                    <% end %>
                    <% if !highlight_post.categories.empty? && block.template.option_categories %>
                      <ul class="post-categories">
                        <% highlight_post.categories.each do |category| %>
                          <%
                          category_l10n = category.localization_for(block.language)
                          next if category_l10n.nil?
                          %>
                          <%= link_to category_l10n, category_l10n.current_permalink_url_in_website(@website) %>
                        <% end %>
                      </ul>
                    <% end %>
                  </div>
                  <% if block.template.option_image %>
                    <div class="media">
                      <% if highlight_post_l10n.best_featured_image.attached? %>
                        <%= kamifusen_tag highlight_post_l10n.best_featured_image %>
                      <% end %>
                    </div>
                  <% end %>
                </article>
              </div>

              <div class="list">
                <% block.template.selected_posts.each do |post|
                  next if post.nil?
                  post_l10n = post.localization_for(block.language)
                  next if post_l10n.nil?
                %>
                  <article class="post" itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">
                    <div class="post-content">
                      <h<%= heading_level %> class='post-title' itemprop='headline'>
                        <%= link_to post_l10n, post_l10n.current_permalink_url_in_website(@website) %>
                      </h<%= heading_level %>>
                      <% if post_l10n.summary.present? && block.template.option_summary %>
                        <p itemprop="articleBody"><%= post_l10n.summary %></p>
                      <% end %>
                      <% if block.template.option_author || block.template.option_date %>
                        <div class="post-meta">
                          <% if block.template.option_date %>
                            <time itemprop="datePublished" datetime="<%= post_l10n.published_at %>"><%= l(post_l10n.published_at, format: date_format) %></time>
                          <% end %>
                          <% if block.template.option_author %>
                            <div class="post-author" itemscope itemtype="https://schema.org/Person" itemprop="author">
                              <p itemprop="name"><%= post.author&.to_s_in(block.language) %></p>
                            </div>
                          <% end %>
                        </div>
                      <% end %>
                      <% if !post.categories.empty? && block.template.option_categories %>
                        <ul class="post-categories">
                          <% post.categories.each do |category| %>
                            <%
                            category_l10n = category.localization_for(block.language)
                            next if category_l10n.nil?
                            %>
                            <%= link_to category_l10n, category_l10n.current_permalink_url_in_website(@website) %>
                          <% end %>
                        </ul>
                      <% end %>
                    </div>
                    <% if block.template.option_image %>
                      <div class="media">
                        <% if post_l10n.best_featured_image.attached? %>
                          <%= kamifusen_tag post_l10n.best_featured_image %>
                        <% end %>
                      </div>
                    <% end %>
                  </article>
                <% end %>
              </div>
            </div>
          <% end %>

        <% elsif block.template.layout == "large" %>
          <div class="large <% unless block.template.option_image %> without-image<% end %>">
            <% block.template.selected_posts.each do |post|
              next if post.nil?
              post_l10n = post.localization_for(block.language)
              next if post_l10n.nil?
            %>
              <article class='post' itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">
                <div class="post-content">
                  <h<%= heading_level %> class='post-title' itemprop='headline'>
                    <%= link_to post_l10n, post_l10n.current_permalink_url_in_website(@website) %>
                  </h<%= heading_level %>>

                  <div class="post-meta">
                    <% if block.template.option_author %>
                      <div class="post-author" itemscope itemtype="https://schema.org/Person" itemprop="author">
                        <p itemprop="name"><%= post.author&.to_s_in(block.language) %></p>
                      </div>
                    <% end %>
                    <% if block.template.option_date %>
                      <time itemprop="datePublished" datetime="<%= post_l10n.published_at %>"><%= l(post_l10n.published_at, format: date_format) %></time>
                    <% end %>
                    <% if !post.categories.empty? && block.template.option_categories %>
                      <ul class="post-categories">
                        <% post.categories.each do |category| %>
                          <%
                          category_l10n = category.localization_for(block.language)
                          next if category_l10n.nil?
                          %>
                          <%= link_to category_l10n, category_l10n.current_permalink_url_in_website(@website) %>
                        <% end %>
                      </ul>
                    <% end %>
                  </div>
                  <% if post_l10n.summary.present? && block.template.option_summary %>
                    <p itemprop="articleBody"><%= post_l10n.summary %></p>
                  <% end %>
                  <p class="more meta" aria-hidden="true"><%= t 'admin.communication.blocks.templates.posts.layouts.large.more' %></p>
                </div>
                <% if block.template.option_image %>
                  <div class="media">
                    <% if post_l10n.best_featured_image.attached? %>
                      <%= kamifusen_tag post_l10n.best_featured_image %>
                    <% end %>
                  </div>
                <% end %>
              </article>
            <% end %>
          </div>

        <% elsif block.template.layout == "carousel" %>
          <div class="carousel draggable-container">
            <div class="carousel-posts draggable-content">
              <ul class="posts">
                <% block.template.selected_posts.each do |post|
                  next if post.nil?
                  post_l10n = post.localization_for(block.language)
                  next if post_l10n.nil?
                %>
                  <li class="draggable-item">
                    <article class="post" itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">
                      <div class="post-content">
                        <h<%= heading_level %> class='post-title' itemprop='headline'>
                          <%= link_to post_l10n, post_l10n.current_permalink_url_in_website(@website) %>
                        </h<%= heading_level %>>
                        <% if !post.categories.empty? && block.template.option_categories %>
                          <ul class="post-categories">
                            <% post.categories.each do |category| %>
                              <%
                              category_l10n = category.localization_for(block.language)
                              next if category_l10n.nil?
                              %>
                              <%= link_to category_l10n, category_l10n.current_permalink_url_in_website(@website) %>
                            <% end %>
                          </ul>
                        <% end %>
                        <% if post_l10n.summary.present? && block.template.option_summary %>
                          <p itemprop="articleBody"><%= post_l10n.summary %></p>
                        <% end %>
                        <% if block.template.option_author || block.template.option_date %>
                          <div class="post-meta">
                            <% if block.template.option_date %>
                              <time itemprop="datePublished" datetime="<%= post_l10n.published_at %>"><%= l(post_l10n.published_at, format: date_format) %></time>
                            <% end %>
                            <% if block.template.option_author %>
                              <div class="post-author" itemscope itemtype="https://schema.org/Person" itemprop="author">
                                <p itemprop="name"><%= post.author&.to_s_in(block.language) %></p>
                              </div>
                            <% end %>
                          </div>
                        <% end %>
                      </div>
                      <% if block.template.option_image %>
                        <div class="media">
                          <% if post_l10n.best_featured_image.attached? %>
                            <%= kamifusen_tag post_l10n.best_featured_image %>
                          <% end %>
                        </div>
                      <% end %>
                    </article>
                  </li>
                <% end %>
              </ul>
              <div class="actions-arrows">
                <button class="previous" disabled title="{{ i18n "blocks.timeline.previous"}}"></button>
                <button class="next" title="{{ i18n "blocks.timeline.next"}}"></button>
              </div>
            </div>
          </div>

        <% elsif block.template.layout == "alternate" %>
          <div class="alternate <% unless block.template.option_image %> without-image<% end %>">
            <% if block.data %>
              <% block.template.selected_posts.each_with_index do |post, index|
                next if post.nil?
                post_l10n = post.localization_for(block.language)
                next if post_l10n.nil?
              %>
                <article class="post<% if !block.template.option_image || !post_l10n.best_featured_image.attached? %> without-image<% end %>" itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">
                  <div class="post-content">
                    <h<%= heading_level %> class='post-title' itemprop='headline'>
                      <%= link_to post_l10n, post_l10n.current_permalink_url_in_website(@website) %>
                    </h<%= heading_level %>>
                    <% if post_l10n.summary.present? && block.template.option_summary %>
                      <p itemprop="articleBody"><%= post_l10n.summary %></p>
                    <% end %>
                    <% if block.template.option_author || block.template.option_date %>
                      <div class="post-meta">
                        <% if block.template.option_date %>
                          <time itemprop="datePublished" datetime="<%= post_l10n.published_at %>"><%= l(post_l10n.published_at, format: date_format) %></time>
                        <% end %>
                        <% if block.template.option_author %>
                          <div class="post-author" itemscope itemtype="https://schema.org/Person" itemprop="author">
                            <p itemprop="name"><%= post.author&.to_s_in(block.language) %></p>
                          </div>
                        <% end %>
                      </div>
                    <% end %>
                    <% if !post.categories.empty? && block.template.option_categories %>
                      <ul class="post-categories">
                        <% post.categories.each do |category| %>
                          <%
                          category_l10n = category.localization_for(block.language)
                          next if category_l10n.nil?
                          %>
                          <%= link_to category_l10n, category_l10n.current_permalink_url_in_website(@website) %>
                        <% end %>
                      </ul>
                    <% end %>
                  </div>
                  <% if block.template.option_image %>
                    <div class="media">
                      <% if post_l10n.best_featured_image.attached? %>
                        <%= kamifusen_tag post_l10n.best_featured_image %>
                      <% end %>
                    </div>
                  <% end %>
                </article>
              <% end %>
            <% end %>
          </div>

        <% else %>
          <div class="grid">
            <% if block.data %>
              <% block.template.selected_posts.each do |post|
                next if post.nil?
                post_l10n = post.localization_for(block.language)
                next if post_l10n.nil?
              %>
                <article class="post" itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">
                  <div class="post-content">
                    <h<%= heading_level %> class='post-title' itemprop='headline'>
                      <%= link_to post_l10n, post_l10n.current_permalink_url_in_website(@website) %>
                    </h<%= heading_level %>>
                    <% if post_l10n.summary.present? && block.template.option_summary %>
                      <p itemprop="articleBody"><%= post_l10n.summary %></p>
                    <% end %>
                    <% if block.template.option_author || block.template.option_date %>
                      <div class="post-meta">
                        <% if block.template.option_date %>
                          <time itemprop="datePublished" datetime="<%= post_l10n.published_at %>"><%= l(post_l10n.published_at, format: date_format) %></time>
                        <% end %>
                        <% if block.template.option_author %>
                          <div class="post-author" itemscope itemtype="https://schema.org/Person" itemprop="author">
                            <p itemprop="name"><%= post.author&.to_s_in(block.language) %></p>
                          </div>
                        <% end %>
                      </div>
                    <% end %>
                    <% if !post.categories.empty? && block.template.option_categories %>
                      <ul class="post-categories">
                        <% post.categories.each do |category| %>
                          <%
                          category_l10n = category.localization_for(block.language)
                          next if category_l10n.nil?
                          %>
                          <%= link_to category_l10n, category_l10n.current_permalink_url_in_website(@website) %>
                        <% end %>
                      </ul>
                    <% end %>
                  </div>
                  <% if block.template.option_image %>
                    <div class="media">
                      <% if post_l10n.best_featured_image.attached? %>
                        <%= kamifusen_tag post_l10n.best_featured_image %>
                      <% end %>
                    </div>
                  <% end %>
                </article>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>