<%
$class = "block block-posts"
unless block.title.blank?
  $class += " block-with-title"
end
$class += " block-posts--" + block.template.layout
%>
<section class="<%= $class %>">
  <div class="container">
    <div class="block-content">
      <% unless block.title.blank? %>
        <div class="top">
          <h2><%= block.title %></h2>
        </div>
      <% end %>
      <div class="list">
        <% if block.data %>
          <% block.template.selected_posts.each do |post| %>
            <article class="post" itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">
              <div class="post-content">
                <a href="#"><%= post %></a>
                <p itemprop="articleBody"><%= post.summary %></p>
              </div>
              <div class="post-meta">
                <time itemprop="datePublished" datetime="<%= post.published_at %>"><%= post.published_at.to_date %></time>
              </div>
              <% if post.best_featured_image.attached? %>
                <div class="media">
                  <%= kamifusen_tag post.best_featured_image %>
                </div>
              <% end %>
            </article>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</section>