<%= simple_form_for [:admin, axis] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="row">
    <div class="col-md-8">
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h5 class="card-title mb-0"><%= t('content') %></h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-8 col-xxl-9">
              <%= f.input :name %>
            </div>
            <div class="col-lg-4 col-xxl-3">
              <%= f.input :short_name %>
            </div>
          </div>
          <%= f.input :text, as: :summernote %>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h5 class="card-title mb-0"><%= t('seo') %></h5>
        </div>
        <div class="card-body">
          <%= f.input :description %>
        </div>
      </div>
    </div>
  </div>
  <% content_for :action_bar_right do %>
    <%= submit f %>
  <% end %>
<% end %>
