<%= simple_form_for [:admin, axis], url: axis.new_record? ? admin_research_laboratory_axes_path : [:admin, axis] do |f| %>
  <div class="row">
    <div class="col-md-8">
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h5 class="card-title mb-0"><%= t('content') %></h5>
        </div>
        <div class="card-body">
          <%= f.input :name %>
          <%= f.input :description, as: :text, input_html: { rows: 8 } %>
          <%= f.input :text, as: :rich_text_area %>
        </div>
      </div>
    </div>
  </div>
  <% content_for :action_bar_right do %>
    <%= submit f %>
  <% end %>
<% end %>
