<% content_for :title, @axis %>

<div class="row">
  <div class="col-md-8">
    <div class="card flex-fill w-100">
      <div class="card-header">
        <h2 class="card-title mb-0 h5"><%= t('content') %></h2>
      </div>
      <div class="card-body">
        <% unless @axis.short_name.empty? %>
        <h3 class="h5"><%= Research::Laboratory::Axis.human_attribute_name('short_name') %></h3>
        <%= @axis.short_name %>
        <% end %>
        <h3 class="h5 mt-4"><%= Research::Laboratory::Axis.human_attribute_name('description') %></h3>
        <%= simple_format @axis.description %>
        <h3 class="h5 mt-4"><%= Research::Laboratory::Axis.human_attribute_name('text') %></h3>
        <%= @axis.text %>
      </div>
    </div>
  </div>
</div>

<% content_for :action_bar_left do %>
  <%= destroy_link @axis %>
<% end %>

<% content_for :action_bar_right do %>
  <%= edit_link @axis %>
<% end %>
