<h2 class="mb-4"><%= t(".forgot_your_password") %></h2>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <div class="col-md-6">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
    </div>
    <div class="col-md-6">
      <label class="form-label">&nbsp;</label><br>
      <%= f.button :submit, t(".send_me_reset_password_instructions"), class: 'btn btn-primary' %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
<% end %>
