<% include_id ||= false %>
<div class="nested-fields mb-2">
  <div class="row pure__row--small align-items-center">
    <div class="col-1">
      <i class="<%= Icon::DRAG %> handle"></i>
    </div>
    <div class="col-9">
      <%= f.association :person, collection: @administration_people, label: false, include_blank: :translate, wrapper: false, required: true %>
    </div>
    <div class="col-2">
      <%= link_to_remove_association  "<i class=\"#{ Icon::DELETE }\"></i>".html_safe,
                                      f,
                                      class: 'btn btn-sm btn-danger' %>
    </div>
  </div>
  <%= f.hidden_field :position, data: { 'sortable-input': '' } %>
  <%= f.hidden_field :id if include_id %>
</div>
