<%= simple_form_for [:admin, article] do |f| %>
  <div class="row">
    <div class="col-md-8">
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h5 class="card-title mb-0"><%= t('content') %></h5>
        </div>
        <div class="card-body">
          <%= f.input :title, as: :text, input_html: { rows: 3 } %>
          <%= f.input :slug,
                      as: :string,
                      input_html: article.persisted? ? {} : {
                        class: 'js-slug-input',
                        data: { source: '#research_journal_article_title' }
                      } %>
          <%= f.input :abstract, as: :text, input_html: { rows: 8 } %>
          <%= f.input :pdf %>
          <%= f.input :text, as: :rich_text_area %>
          <%= f.input :references, as: :text, input_html: { rows: 10 } %>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h5 class="card-title mb-0"><%= t('metadata') %></h5>
        </div>
        <div class="card-body">
          <%= f.association :volume, collection: @journal.volumes, label: Research::Journal::Volume.model_name.human %>
          <%= f.input :published_at, html5: true %>
          <%= f.input :keywords, as: :text, input_html: { rows: 2 } %>
          <%= f.association :researchers, collection: current_university.research_researchers.ordered, as: :check_boxes %>
        </div>
      </div>
    </div>
  </div>
  <% content_for :action_bar_right do %>
    <%= submit f %>
  <% end %>
<% end %>
