<% content_for :title, @article %>

<div class="row">
  <div class="col-md-8">
    <div class="card flex-fill w-100">
      <div class="card-header">
        <h2 class="card-title mb-0 h5"><%= t('content') %></h2>
      </div>
      <div class="card-body">
        <h3 class="h5"><%= Research::Journal::Article.human_attribute_name('abstract') %></h3>
        <p><%= @article.abstract %></p>
        <% if @article.pdf.attached? %>
          <h3 class="h5 mt-4"><%= Research::Journal::Article.human_attribute_name('pdf') %></h3>
          <%= link_to @article.pdf.filename, url_for(@article.pdf) %>
        <% end %>
        <h3 class="h5 mt-4"><%= Research::Journal::Article.human_attribute_name('text') %></h3>
        <p><%= @article.text %></p>
        <h3 class="h5 mt-4"><%= Research::Journal::Article.human_attribute_name('references') %></h3>
        <p><%= @article.references %></p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card flex-fill w-100">
      <div class="card-header">
        <h2 class="card-title mb-0 h5"><%= t('metadata') %></h2>
      </div>
      <div class="card-body">
        <% if @article.volume %>
          <h3 class="h5"><%= Research::Journal::Article.human_attribute_name('volume') %></h3>
          <p><%= link_to @article.volume, [:admin, @article.volume], class: "#{'opacity-50' unless @article.volume.published?}" %></p>
        <% end %>
        <h3 class="h5"><%= Research::Journal::Article.human_attribute_name('published') %></h3>
        <p><%= t @article.published %></p>
        <% if @article.published? && @article.published_at.present? %>
          <h3 class="h5"><%= Research::Journal::Article.human_attribute_name('published_at') %></h3>
          <p><%= l @article.published_at.to_time, format: :date_with_explicit_month %></p>
        <% end %>
        <% unless @article.keywords.blank? %>
          <h3 class="h5"><%= Research::Journal::Article.human_attribute_name('keywords') %></h3>
          <p><%= @article.keywords %></p>
        <% end %>
        <% if @article.people.any? %>
          <h3 class="h5"><%= Research::Journal::Article.human_attribute_name('people') %></h3>
          <ul class="list-unstyled mb-0">
            <% @article.people.each do |person| %>
              <li><%= link_to person, admin_research_researcher_path(person) %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
    <% if @article.description.present? %>
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h5 class="card-title mb-0"><%= t('seo') %></h5>
        </div>
        <div class="card-body">
          <h3 class="h5"><%= Research::Journal::Article.human_attribute_name('description') %></h3>
          <%= simple_format @article.description %>
        </div>
      </div>
    <% end %>

  </div>
</div>

<% content_for :action_bar_left do %>
  <%= destroy_link @article %>
<% end %>

<% content_for :action_bar_right do %>
  <%= edit_link @article %>
<% end %>
