<% content_for :title, current_user %>

<%= simple_form_for current_user, url: account_path do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="row">
    <div class="col-lg-6">
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.association :language,
                        include_blank: false,
                        collection: Language.available_for_interface,
                        label_method: lambda { |l| t("languages.#{l.iso_code.to_s}") } %>
      <%= f.input :picture,
              as: :single_deletable_file,
              input_html: { accept: '.jpg,.jpeg,.png,.svg' },
              preview: 200,
              resize: 1,
              direct_upload: true %>
    </div>
    <div class="col-lg-6">
      <%= f.input :email %>
      <%= f.input :mobile_phone %>
      <%= f.input :password,
                  as: :password_with_hints,
                  hint: t('admin.password_hint'),
                  allow_password_uncloaking: true,
                  validators: {
                    length: Devise.password_length.first,
                    uppercase_char: true,
                    lowercase_char: true,
                    numeric_char: true,
                    special_char: Rails.application.config.allowed_special_chars
                  },
                  input_html: { autocomplete: "new-password" } %>
    </div>
  </div>
  <%= submit f %>

  <% if current_user.visitor? %>
    <%# we don't want the osuny priviledged account to be able to get deleted through extranet %>
    <h3 class="mt-5 mb-4"><%= t("devise.registrations.edit.cancel_my_account") %></h3>

    <p><%= t("devise.registrations.edit.unhappy") %> <%= link_to t("devise.registrations.edit.cancel_my_account"), registration_path(current_user), data: { confirm: t("devise.registrations.edit.are_you_sure") }, method: :delete %></p>
  <% end %>

<% end %>
