<% content_for :title, @person %>

<div class="row">
  <div class="col-md-9">
    <div class="biography mb-5">
      <p><%= @person&.biography %></p>
    </div>
    <p><%= t('extranet.experiences.title') %></p>
    <%= link_to University::Person::Experience.human_attribute_name('new'),
                new_experience_path,
                class: 'btn btn-sm btn-primary mt-md-n5 float-md-end' %>
    <%= render 'extranet/alumni/persons/path', person: @person, edit: true %>
  </div>
  <div class="col-md-3">
    <%= kamifusen_tag @person.best_picture, width: 400, class: 'img-fluid person__portrait' if @person&.best_picture&.attached? %>
    <div class="mb-4">
      <%= link_to t('extranet.account.edit'), edit_account_path, class: 'btn btn-primary mb-2' %>
      <%= link_to t('extranet.account.edit_personal_data'), edit_personal_data_path, class: 'btn btn-primary mb-2' %>
    </div>
    <%= render 'extranet/alumni/persons/details', person: @person unless @person.nil? %>
  </div>
</div>
