<%= osuny_panel t('metadata'), small: true do %>
  <p>
    <% if @post.published %>
      <%= t('admin.communication.website.posts.published_on', date: l(@post.published_at.to_date)) %>
      <%= t('admin.communication.website.posts.and_pinned') if @post.pinned %>
    <% else %>
      <%= t('admin.communication.website.posts.draft') %>
    <% end %>
      
    <%= t('admin.communication.website.posts.by', author: @post.author) if @post.author %>

    <%= render 'admin/application/i18n/inline', about: @post %>
      
    <% if @post.categories.any? %>
      <%= t('admin.communication.website.posts.in') %>
      <%= @post.categories.collect(&:to_s).join(', ') %>
    <% end %>
  </p>

  <%= render 'admin/application/permalinks/redirects', about: @post %>
<% end %>