<%= simple_form_for [:admin, category] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="row">
    <div class="col-md-8">
      <%= osuny_panel t('content') do %>
        <%= f.input :name %>
        <%= render 'admin/application/summary/form', f: f, about: category %>
      <% end %>
      <%= render 'admin/application/meta_description/form', f: f, about: category %>
    </div>
    <div class="col-md-4">
      <%= osuny_panel t('metadata') do %>
        <%= f.input :slug,
                    as: :string,
                    input_html: category.persisted? ? {} : {
                      class: 'js-slug-input',
                      data: { source: '#communication_website_category_name' }
                    } %>
        <%= f.association :parent,
                          collection: collection_tree(@website.categories.for_language(current_website_language), category),
                          label_method: ->(p) { sanitize p[:label] },
                          value_method: ->(p) { p[:id] } %>
      <% end %>
      <%= render 'admin/application/featured_image/edit', about: category, f: f %>
    </div>
  </div>
  <% content_for :action_bar_right do %>
    <%= submit f %>
  <% end %>
<% end %>
