<% content_for :title, @category %>

<%= render 'admin/communication/websites/sidebar' do %>
  <div class="row">
    <div class="col-md-8">
      <%= render 'admin/application/summary/show', about: @category %>
      <%= render 'admin/communication/blocks/editor/editor', about: @category %>
    </div>
    <div class="col-md-4">
      <%= render 'admin/application/i18n/widget', about: @category %>
      <%= osuny_panel t('metadata') do %>
        <%= osuny_label Communication::Website::Category.human_attribute_name('slug') %>
        <p><%= @category.slug %></p>
        <% if @category.parent %>
          <%= osuny_label Communication::Website::Category.human_attribute_name('parent') %>
          <p><%= link_to_if can?(:read, @category.parent),
                          @category.parent,
                          admin_communication_website_category_path(
                            website_id: @website.id,
                            id: @category.parent.id
                          ) %></p>
        <% end %>
        <% if @category.children.any? %>
          <%= osuny_label Communication::Website::Category.human_attribute_name('children') %>
          <ul class="list-unstyled mb-0">
            <% @category.children.each do |child| %>
              <li><%= link_to_if can?(:read, child),
                              child,
                              admin_communication_website_category_path(
                                website_id: @website.id,
                                id: child.id
                              ) %></li>
            <% end %>
          </ul>
        <% end %>
      <% end %>
      <%= render 'admin/application/featured_image/show', about: @category %>
      <%= render 'admin/application/meta_description/show', about: @category %>
    </div>
  </div>
  <% if @posts.total_count > 0 %>
    <%= osuny_panel Communication::Website::Post.model_name.human(count: 2),
                    subtitle: "#{@posts.total_count} #{Communication::Website::Post.model_name.human(count: @posts.total_count).downcase }" do %>
      <%= render 'admin/communication/websites/posts/list', posts: @posts, hide_category: true %>
      <%= paginate @posts, theme: 'bootstrap-5' %>
    <% end %>
  <% end %>
<% end %>

<% content_for :action_bar_left do %>
  <%= destroy_link @category %>
  <%= static_link static_admin_communication_website_category_path(@category) %>
<% end %>

<% content_for :action_bar_right do %>
  <%= edit_link @category %>
<% end %>
