<div class="description">
  <%= block_component_preview :description %>
</div>

<div class="table-responsive">
  <caption><%= block_component_preview :caption %></caption>
  <table class="<%= table_classes %>">
    <thead>
      <tr>
        <%= block_component_preview :columns %>
      </tr>
    </thead>
    <tbody>
      <% @block.template.elements.each do |row| %>
        <tr>
          <%= block_component_preview :cells, template: row %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
