<div class="<%= block_html_class(block) %>">
  <div class="container">
    <div class="block-content">
      <%= render 'admin/communication/blocks/partials/top', block: block %>
      <div class="table-responsive">
        <table>
          <% unless block.template.caption.blank? %>
            <caption><%= block_component_show block, :caption %></caption>
          <% end %>
          <thead>
            <tr>
              <%= block_component_show block, :columns %>
            </tr>
          </thead>
          <tbody>
            <% block.template.elements.each do |row| %>
              <tr>
                <%= block_component_show block, :cells, template: row %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>