<% param_name ||= :page %>

<% if cohorts.total_count > 0 %>
  <div class="card">
    <div class="card-header">
      <h2 class="card-title mb-0 h5"><%= "#{Education::Cohort.model_name.human(count: 2)} (#{cohorts.total_count})" %></h2>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th><%= Education::Cohort.human_attribute_name('program') %></th>
          <th><%= Education::Cohort.human_attribute_name('academic_year') %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% cohorts.each do |cohort| %>
          <% program = cohort.program %>
          <tr>
            <td><%= link_to_if can?(:read, program), program, [:admin, program] %></td>
            <td><%= program.level_i18n %></td>
            <td><%= cohort.academic_year %></td>
            <td class="text-end">
              <div class="btn-group" role="group">
                <%= link_to t('edit'),
                          '#',
                          class: button_classes if can?(:update, cohort) %>
                <%= link_to t('delete'),
                          '#',
                          method: :delete,
                          data: { confirm: t('please_confirm') },
                          class: button_classes_danger if can?(:destroy, cohort) %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <% if cohorts.total_pages > 1 %>
      <div class="card-footer">
        <%= paginate cohorts, theme: 'bootstrap-5', param_name: param_name %>
      </div>
    <% end %>

  </div>
  
<% end %>
