<%= block_component_edit block, :layout %>

<div class="row pure__row--small">
  <div class="col-xl-6">
    <%= block_component_edit block, :description %>
  </div>
  <div class="col-xl-6">
    <label class="form-label">&nbsp;</label>
    <%= block_component_edit block, :with_link %>
    <%= block_component_edit block, :alphabetical %>
  </div>
</div>
<draggable :list="data.elements" class="mb-3 <%= if_appstack 'list-group' %>" handle=".partnerHandle">
  <div v-for="(element, index) in data.elements" class="draggable-item <%= if_appstack 'list-group-item' %>">
    <div class="d-flex mb-n3">
      <div>
        <a class="btn ps-0 pt-0 partnerHandle">
          <i class="<%= Icon::DRAG %> handle"></i>
        </a>
      </div>
      <div class="flex-fill">
        <%= block_component_edit block, :id, template: @element, label: '' %>
        <div class="row pure__row--small mt-n2"  v-if="!element.id">
          <div class="col-xl-4 col-md-6">
            <%= block_component_edit block, :name, template: @element %>
          </div>
          <div class="col-xl-4 col-md-6">
            <%= block_component_edit block, :url, template: @element %>
          </div>
          <div class="col-xl-4 col-md-6">
            <%= block_component_edit block, :logo, template: @element %>
          </div>
        </div>
      </div>
      <div>
        <a  class="btn btn-sm text-danger ms-3"
            v-on:click="data.elements.splice(data.elements.indexOf(element), 1)"
            title="<%= t '.remove_partner' %>">
            <i class="<%= Icon::DELETE %>"></i>
        </a>
      </div>
    </div>
  </div>
</draggable>
<%= block_component_add_element block, t('.add_partner') %>
