<div class="row">
  <div class="col-xl-6">
    <%= block_component_edit :description %>
  </div>
  <div class="col-xl-6">
    <label class="form-label">&nbsp;</label>
    <%= block_component_edit :with_link %>
    <%= block_component_edit :alphabetical %>
  </div>
</div>
<draggable :list="data.elements" class="list-group mb-3" handle=".partnerHandle">
  <div v-for="(element, index) in data.elements" class="list-group-item">
    <div class="d-flex mb-n3">
      <div>
        <a class="btn ps-0 pt-0 partnerHandle">
          <i class="fa fa-bars handle"></i>
        </a>
      </div>
      <div class="flex-fill">
        <%= block_component_edit :id, template: @element, label: '' %>
        <div class="row"  v-if="!element.id">
          <div class="col-xl-4 col-md-6">
            <%= block_component_edit :name, template: @element %>
          </div>
          <div class="col-xl-4 col-md-6">
            <%= block_component_edit :url, template: @element %>
          </div>
          <div class="col-xl-4 col-md-6">
            <%= block_component_edit :logo, template: @element %>
          </div>
        </div>
      </div>
      <div>
        <a  class="btn btn-sm btn-danger ms-3"
            v-on:click="data.elements.splice(data.elements.indexOf(element), 1)"
            title="<%= t '.remove_partner' %>">
            <i class="fas fa-times"></i>
        </a>
      </div>
    </div>
  </div>
</draggable>
<%= block_component_add_element t('.add_partner') %>
