<%
  class_name = "block block-partners"
  unless block.title.blank?
    class_name += " block-with-title"
  end
  class_name += " block-partners--" + block.template.layout
%>

<section class="<%= class_name %>">
  <div class="container">
    <div class="block-content">
      <% unless block.title.blank? && block.template.description.blank? %>
        <div class="top">
          <% unless block.title.blank? %>
            <h2><%= block.title %></h2>
          <% end %>
          <% unless block.template.description.blank? %>
            <div class="description">
              <p><%= block_component_show block, :description %></p>
            </div>
          <% end %>
        </div>
      <% end %>

      <% if block.template.layout == "grid" %>
        <div class="organizations grid">
      <% else # Map %>
        <div class="map" data-marker-icon="<%= image_path 'map-marker.svg' %>">
          <link   rel="stylesheet" 
                  href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
                  integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
                  crossorigin=""/>
          <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
                  integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
                  crossorigin=""></script>
      <% end %>
        <% block.template.elements.each do |element| %>
          <article  class="organization"
                    data-latitude="<%= element.organization&.latitude %>"
                    data-longitude="<%= element.organization&.longitude %>">
            <h3>
              <% if element.best_url %>
                <a href="<%= element.best_url %>" target="_blank">
              <% end %>
              <%= element.best_name %>
              <% if element.best_url%>
                </a>
              <% end %>
            </h3>
            <% if element.best_logo %>
              <div class="media">
                <%= kamifusen_tag element.best_logo, width: 600%>
              </div>
            <% end %>
          </article>
        <% end %>
      </div>
    </div>
  </div>
</section>
