<% content_for :title, t("communication.website.index_pages.default.#{@index_page.kind}.title") %>

<%= render 'admin/communication/websites/sidebar' do %>

  <%= simple_form_for @index_page, url: admin_communication_website_index_path(website_id: @website.id, kind: @index_page.kind) do |f| %>
    <div class="row">
      <div class="col-md-8">
        <div class="card flex-fill w-100">
          <div class="card-header">
            <h5 class="card-title mb-0"><%= t('content') %></h5>
          </div>
          <div class="card-body">
            <%= f.input :title %>
            <%= f.input :path,
                        input_html: {
                          class: 'js-slug-input',
                          data: { source: '#communication_website_index_page_title' }
                        } %>
            <%= f.input :description %>
            <%= f.input :text %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card flex-fill w-100">
          <div class="card-header">
            <h5 class="card-title mb-0"><%= t('activerecord.attributes.communication/website/page.featured_image') %></h5>
          </div>
          <div class="card-body">
            <%= f.input :featured_image,
                        as: :single_deletable_file,
                        direct_upload: true,
                        label: false,
                        input_html: { accept: '.jpg,.jpeg,.png' },
                        preview: true
             %>
             <%= f.input :featured_image_alt %>
          </div>
        </div>
      </div>
    </div>
    <% content_for :action_bar_right do %>
      <%= submit f %>
    <% end %>
  <% end %>

<% end %>
