<%
expanded ||= false
%>
<% if current_user.server_admin? %>
    <div class="card bg-light">
        <div class="card-header bg-light">
            <div class="card-actions float-end">
              <i  class="fas fa-arrow-down text-muted"
                  data-bs-toggle="collapse"
                  data-bs-target="#dependencies"
                  aria-expanded="<%= expanded %>"
                  aria-controls="dependencies"></i>
            </div>
            <h2 class="card-title mb-0 h5 text-muted">Dependencies <small>server admin only</small></h2>
        </div>
        <div class="card-body collapse <%= 'show' if expanded %>" id="dependencies">
            <h2 class="h5">git_dependencies</h2>
            <div class="table-responsive">
              <table class="<%= table_classes %>">
                  <thead>
                      <tr>
                          <th>Id</th>
                          <th>Class</th>
                          <th>Name</th>
                      </tr>
                  </thead>
                  <tbody>
                      <% git_dependencies.each do |dependency| %>
                          <tr>
                              <td><%= dependency.id %></td>
                              <td><%= dependency.class %></td>
                              <td><%= dependency.to_s %></td>
                          </tr>
                      <% end %>
                  </tbody>
              </table>
            </div>

            <h2 class="h5 mt-5">active_storage_blobs</h2>
            <div class="table-responsive">
              <table class="<%= table_classes %>">
                  <thead>
                      <tr>
                          <th>Id</th>
                          <th>Filename</th>
                      </tr>
                  </thead>
                  <tbody>
                      <% active_storage_blobs.each do |blob| %>
                          <tr>
                              <td><%= blob.id %></td>
                              <td><%= blob.filename %></td>
                          </tr>
                      <% end %>
                  </tbody>
              </table>
            </div>
        </div>
    </div>
<% end %>
