<div class="offcanvas offcanvas-end" tabindex="-1" id="filters" aria-labelledby="filtersLabel">
  <div class="offcanvas-header">
    <h4><%= t('filters.title') %></h4>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="<%= t('filters.buttons.close') %>"></button>
  </div>
  <div class="offcanvas-body">
    <div>
      <%= yield %>
      <div class='form-group mt-2'>
        <%= submit_tag t('filters.buttons.submit'), class: button_classes %>
        <%= link_to t('filters.buttons.reset'), current_path, class: 'btn btn-secondary btn-xs' %>
      </div>
    </div>
  </div>
</div>

<div class="text-sm-end mt-n2 mt-sm-n5">
  <button class="btn btn-sm btn-primary my-1" type="button" data-bs-toggle="offcanvas" data-bs-target="#filters" aria-controls="filters">
    <%= t('filters.buttons.expand') %>
    <% if active_filters_count > 0 %>
      &nbsp;
      <span class="badge bg-white text-primary">
        &nbsp;<%= active_filters_count %>&nbsp;
      </span>
    <% end %>
  </button>
</div>