<%
collapsable = true if collapsable.nil? # not ||= because collapsable can be "false"
should_be_open = false
filters.each { |filter| should_be_open = true if params.has_key?(filter[:scope_name]) }
%>

<div class="filters">
  <% if collapsable %>
    <a  class="btn btn-light btn-xs filters__button"
        data-bs-toggle="collapse"
        href="#collapseFilters"
        role="button"
        aria-expanded="false"
        aria-controls="collapseFilters">
      <%= t('filters.buttons.expand') %>
      <i class="<%= Icon::FILTERS %>"></i>
    </a>
  <% end %>
  <div class="collapse filters__content mt-2 mt-md-0 <%= (!collapsable || should_be_open) ? 'show' : '' %>" id="collapseFilters">
    <%= form_tag current_path, method: :get, class: 'do-not-unlock' do |f| %>
      <% filters.each do |filter| %>
        <div class="filters__content__filter">
          <% if filter[:scope_name] == :for_search_term %>
            <%= text_field_tag  filter[:scope_name],
                                params[filter[:scope_name]],
                                placeholder: filter[:label],
                                class: 'form-control mb-2 filter' %>
          <% else %>
            <% if filter[:tree] %>
              <% choices = collection_tree(filter[:choices]).map { |elmt| [elmt[:label].html_safe, elmt[:id]] } %>
            <% else %>
              <% choices = filter[:choices].map { |elmt| elmt.is_a?(String) ?  [elmt, elmt] : [elmt.is_a?(Hash) ? elmt[:to_s] : elmt.to_s, elmt[:id]] } %>
            <% end %>
            <% field_name = filter[:multiple] ? "#{filter[:scope_name]}[]" : filter[:scope_name] %>
            <%= select_tag  field_name,
                            options_for_select(choices, params[filter[:scope_name]]),
                            include_blank: filter[:label],
                            class: 'form-select mb-2 filter' %>
          <% end %>
        </div>
      <% end %>
      <%= submit_tag t('filters.buttons.submit'), class: 'btn btn-primary btn-submit' %>
      <%= link_to t('reset'), current_path, class: 'btn btn-secondary' %>
    <% end %>
  </div>
</div>