<nav id="sidebar" class="sidebar<%= ' collapsed' if @menu_collapsed %>">
  <div class="sidebar-content js-simplebar">
    <%= link_to admin_root_path, class: 'sidebar-brand' do %>
      <%= image_tag 'osuny-white.svg', class: 'img-fluid' %>
    <% end %>
    <%= render_navigation context: :admin %>

    <footer class="small my-5">
      <hr>
      <%= link_to t('terms_of_service'), t('terms_of_service_url'), target: '_blank', rel: 'noreferrer', class: 'sidebar-link' %>
      <%= link_to t('privacy_policy'), t('privacy_policy_url'), target: '_blank', rel: 'noreferrer', class: 'sidebar-link' %>
      <%= link_to t('cookies_policy'), t('cookies_policy_url'), target: '_blank', rel: 'noreferrer', class: 'sidebar-link' %>
      <%= link_to t('cookies_consent_choice'), '', class: 'sidebar-link js-gdpr__cookie_consent__display_again' %>
    </footer>
  </div>
</nav>
