<div id="preview" class="preview modal fade preview--mobile">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title h4"><%= t 'preview.title' %></h5>
        <div class="btn-group m-auto" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-primary preview__button preview__button__mobile">
            <i class="fas fa-mobile"></i>
            <%= t 'preview.mobile' %>
          </button>
          <button type="button" class="btn btn-light preview__button preview__button__tablet">
            <i class="fas fa-tablet"></i>
            <%= t 'preview.tablet' %>
          </button>
          <button type="button" class="btn btn-light preview__button preview__button__desktop">
            <i class="fas fa-desktop"></i>
            <%= t 'preview.desktop' %>
          </button>
        </div>
        <button type="button" class="btn-close ms-0" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-2">
        <iframe src="<%= request.path %>/preview" loading="lazy"></iframe>
      </div>
    </div>
  </div>
</div>