<nav id="topbar" class="navbar navbar-expand navbar-light navbar-bg">
  <div class="navbar-collapse collapse">
    <a class="sidebar-toggle">
      <i class="hamburger align-self-center"></i>
    </a>
    <%= render_breadcrumbs builder: Appstack::BreadcrumbsOnRailsBuilder %>
    <ul class="navbar-nav navbar-align">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-bs-toggle="dropdown">
          <span class="text-dark"><%= current_user %></span>
        </a>
        <div class="dropdown-menu dropdown-menu-end">
          <%= link_to 'Profil', edit_user_registration_path, class: 'dropdown-item' %>
          <%= link_to 'Déconnexion', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
        </div>
      </li>
      <li>
        <a class="nav-link nav-link--last" href="#">
          <%= image_tag 'avatar.jpg', class: 'avatar img-fluid rounded-circle' %>
        </a>
      </li>
    </ul>
  </div>
</nav>
