<div class="modal show" tabindex="-1" role="dialog" :class="{'d-block': cloud.modal.opened}">
  <div class="modal-dialog modal-fullscreen modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <div class="col-auto d-none d-lg-block">
          <h5 class="modal-title"><%= t 'photo_import.title' %></h5>
        </div>
        <div class="col-auto d-flex flex-fill mx-lg-5">
          <div class="input-group">
            <input  type="text"
                    name="search"
                    placeholder="<%= t 'photo_import.placeholder' %>"
                    v-model="cloud.query"
                    @keyup.enter="cloudSearch"
                    class="form-control ms-auto">
            <button type="button"
                    class="btn btn-primary me-auto"
                    @click="cloudSearch"
                    aria-label="<%= t 'photo_import.search' %>">
              <%= t 'photo_import.search' %>
            </button>
          </div>
        </div>
        <div class="col-auto">
          <button type="button" class="btn-close" v-on:click="cloudClose()"></button>
        </div>
      </div>
      <div class="modal-body overflow-x-hidden">
        <div class="row">
          <div class="col-lg-6">
            <p v-if="cloud.unsplash.data.results.length === 0 || !cloud.unsplash.data" >
              <%= t 'photo_import.nothing' %>
            </p>
            <div class="photo_import__results photo_import__unsplash photo_import__unsplash__results">
              <img  :src="image.thumb"
                    :alt="image.alt"
                    v-for="image in cloud.unsplash.data.results" class="photo_import__results__result"
                    v-on:click="cloudSelectUnsplash(image)">
            </div>
            <p class="small text-muted" v-if="cloud.unsplash.data.total_pages">
              {{cloud.unsplash.page}} / {{cloud.unsplash.data.total_pages }}
            </p>
          </div>
          <div class="col-lg-6">
            <p v-if="cloud.pexels.data.results.length === 0 || !cloud.pexels.data" >
              <%= t 'photo_import.nothing' %>
            </p>
            <div class="photo_import__results photo_import__pexels photo_import__pexels__results">
              <img  :src="image.thumb"
                    :alt="image.alt"
                    v-for="image in cloud.pexels.data.results"
                    v-on:click="cloudSelectPexels(image)"
                    class="photo_import__results__result">
            </div>
            <p class="small text-muted" v-if="cloud.pexels.data.total_pages">
              {{cloud.pexels.page}} / {{cloud.pexels.data.total_pages }}
            </p>
          </div>
        </div>
      </div>
      <div class="modal-footer d-block">
        <div class="row">
          <div class="col-lg-6">
            <div class="row photo_import__unsplash photo_import__unsplash__nav">
              <div class="col-lg-5">
                <a  href="#"
                    v-if="cloud.unsplash.page > 1"
                    v-on:click="cloud.unsplash.page = cloud.unsplash.page - 1"
                    class="btn btn-light btn-sm">
                  <%= t 'photo_import.previous' %>
                </a>
              </div>
              <div class="col-lg-2 text-center">
                <%= image_tag 'communication/photo_imports/unsplash.svg', width: 100, alt: 'Unsplash' %>
              </div>
              <div class="col-lg-5 text-end">
                <a  href="#" v-if="cloud.unsplash.page < cloud.unsplash.data.total_pages"
                    v-on:click="cloud.unsplash.page = cloud.unsplash.page + 1"
                    class="btn btn-light btn-sm">
                  <%= t 'photo_import.next' %>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="row photo_import__pexels photo_import__pexels__nav">
              <div class="col-lg-5">
                <a  href="#"
                    v-if="cloud.pexels.page > 1"
                    v-on:click="cloud.pexels.page = cloud.pexels.page - 1"
                    class="btn btn-light btn-sm">
                  <%= t 'photo_import.previous' %>
                </a>
              </div>
              <div class="col-lg-2 text-center">
                <%= image_tag 'communication/photo_imports/pexels.png', width: 100, alt: 'Unsplash' %>
              </div>
              <div class="col-lg-5 text-end">
                <a  href="#"
                    v-if="cloud.pexels.page < cloud.pexels.data.total_pages"
                    v-on:click="cloud.pexels.page = cloud.pexels.page + 1"
                    class="btn btn-light btn-sm">
                  <%= t 'photo_import.next' %>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>