<%= osuny_panel t('featured_image.title'), small: true do %>
  <div class="image_picker__selector__loader"></div>
  <div class="app-content">
    <div v-if="!current.image.blob.id" class="image_picker__selector">
      <div class="image_picker__selector__viewport">
        <input  hidden
                ref="file"
                type="file"
                accept="<%= default_images_formats_accepted %>"
                v-on:change="onFileImageChange($event)">
        <button type="button"
                class="btn"
                v-on:click.prevent="$refs.file.click()">
          <%= lucide_icon('upload') %>
          <%= t 'photo_import.buttons.upload' %>
        </button>
        <div class="form-text"><%= images_formats_accepted_hint %></div>
      </div>
      <button type="button"
              class="btn btn-sm"
              v-on:click="cloudOpen()">
        <%= lucide_icon('cloud-download') %>
        <%= t 'photo_import.buttons.unsplash' %>
      </button>
      <button type="button"
              class="btn btn-sm"
              data-bs-toggle="modal"
              data-bs-target="#mediaImportModal">
        <%= lucide_icon('image') %>
        <%= t('photo_import.buttons.medias') %>
      </button>
    </div>
    <div v-if="current.image.blob.id">
      <img :src="current.image.blob.preview" class="img-fluid" />
      <div class="text-end">
        <a  class="btn btn-sm text-danger pe-0"
            v-on:click="removeImage()">
          <i class="<%= Icon::DELETE %>"></i>
          <%= t('featured_image.remove') %>
        </a>
      </div>
      <div class="mb-3">
        <label class="form-label" aria-label="<%= t('featured_image.alt.label') %>" for="alt">
          <%= t('featured_image.alt.label') %>
        </label>
        <input  id="alt"
                class="form-control"
                data-translatable="true" 
                v-model="current.image.alt"
                placeholder="<%= t('featured_image.alt.label') %>"
                type="text">
        <div class="form-text"><%= t('featured_image.alt.hint') %></div>
      </div>
      <div class="mb-3 summernote">
        <label class="form-label" aria-label="<%= t('featured_image.credit.label') %>" for="credit">
          <%= t('featured_image.credit.label') %>
        </label>
        <textarea id="credit" 
                  class="form-control summernote-vue"
                  data-translatable="true"
                  v-model="current.image.credit"
                  placeholder="<%= t('featured_image.credit.label') %>"></textarea>
        <div class="form-text"><%= t('featured_image.credit.hint') %></div>
      </div>
    </div>
  </div>
<% end %>