<%
@title = @l10n.title
@subtitle = @l10n.try(:subtitle)
@summary = @l10n.summary

hero_classes = "hero"
if @l10n.featured_image.present? && @l10n.featured_image.attached?
  format = ActiveStorage::Utils.format(@l10n.featured_image)
  hero_classes += " hero--with-image hero--image-#{format}" if format.present?
end
%>
<header class="<%= hero_classes %>">
  <div class="container">
    <div class="content">
      <div class="hero-text">
        <% if @summary.present? || @subtitle.present? %>
          <hgroup<% if @summary.present? %> class="has-lead"<% end %>>
            <h1>
              <%= @title %>
              <% if @subtitle.present? %>
                <span><%= @subtitle %></span>
              <% end %>
            </h1>
            <% if @summary.present? %>
              <%= sanitize @summary %>
            <% end %>
          </hgroup>
        <% else %>
          <h1><%= @title %></h1>
        <% end %>
      </div>
      <%= render 'admin/application/preview/featured_image', l10n: @l10n %>
    </div>
  </div>
</header>
