<%
hero_classes = "hero"
if @image.present? && @image.attached?
  format = ActiveStorage::Utils.format(@image)
  hero_classes += " hero--with-image hero--image-#{format}" if format.present?
end
%>
<header class="<%= hero_classes %>">
  <div class="container">
    <div class="content">
      <div class="hero-text">
        <% if @summary.present? || @subtitle.present? %>
          <hgroup<% if @summary.present? %> class="has-lead"<% end %>>
            <h1>
              <%= @title %>
              <% if @subtitle.present? %>
                <span><%= @subtitle %></span>
              <% end %>
            </h1>
            <% if @summary.present? %>
              <%= sanitize @summary %>
            <% end %>
          </hgroup>
        <% else %>
          <h1><%= @title %></h1>
        <% end %>
      </div>
      <figure>
        <%= kamifusen_tag @image if @image.present? && @image.attached? %>
      </figure>
    </div>
  </div>
</header>
