<%
program = f.object
best_prop_value = program.public_send("best_#{property}")
best_prop_source = program.public_send("best_#{property}_source")
id = "#{property}Collapse"
%>
<% if best_prop_source %>
  <%
  # best_prop_source is a l10n
  best_prop_source_about = best_prop_source.about
  best_prop_source_language = best_prop_source.language
  %>
  <div class="accordion mb-3">
    <div class="accordion-item">
      <a  href="#<%= id %>"
          class="accordion-button collapsed"
          data-bs-toggle="collapse"
          aria-expanded="false"
          aria-controls="<%= id %>">
        <%= Education::Program::Localization.human_attribute_name(property) %>
        (<%= t 'admin.inheritance.status' %>)
      </a>
    </div>
    <div class="collapse" id="<%= id %>">
      <%= f.input property,
                  as: :summernote,
                  label: false,
                  input_html: {
                    data: { 'summernote-config' => 'mini-list' }
                  }
                   %>
      <div class="bg-light p-2 mt-n2">
        <p class="small text-muted mt-2 mb-0">
          <%= t 'admin.inheritance.sentence_html',
                link: link_to(
                  best_prop_source,
                  [:admin, best_prop_source_about, { lang: best_prop_source_language }],
                  target: :_blank
                ) %>
        </p>
        <%= sanitize best_prop_value %>
      </div>
    </div>
  </div>
<% else %>
  <%= f.input property,
              as: :summernote,
              input_html: {
                data: { 'summernote-config' => 'mini-list' }
              } %>
<% end %>
