<%
program = f.object
best_prop_value = program.public_send("best_#{property}_new")
best_prop_source = program.public_send("best_#{property}_new_source")
id = "#{property}_newCollapse"
%>
<% if best_prop_source %>
  <div class="accordion mb-3">
    <div class="accordion-item">
      <a  href="#<%= id %>"
          class="accordion-button collapsed"
          data-bs-toggle="collapse"
          aria-expanded="false"
          aria-controls="<%= id %>">
        <%= Education::Program.human_attribute_name(property) %> (new)
        (<%= t 'admin.inheritance.status' %>)
      </a>
    </div>
    <div class="collapse" id="<%= id %>">
      <%= f.input "#{property}_new", as: :summernote, label: false %>
      <div class="bg-light p-2 mt-n2">
        <b><%= t 'admin.inheritance.sentence_html', link: link_to(best_prop_source, [:admin, best_prop_source]) %></b><br>
        <%= best_prop_value %>
      </div>
    </div>
  </div>
<% else %>
  <%= f.input "#{property}_new", as: :summernote %>
<% end %>
