<% content_for :title, t('activerecord.models.communication/website/structure.one') %>

<%= render 'admin/communication/websites/sidebar' do %>
  <%= simple_form_for @structure, url: admin_communication_website_structure_path(website_id: @website.id) do |f| %>
    <div class="row">
      <div class="col-md-6">
        <div class="card flex-fill w-100">
          <div class="card-body">
            <%= f.input :home_title %>
            <hr class="my-5">
            <%= f.input :communication_posts_title %>
            <%= f.input :communication_posts_description %>
            <%= f.input :communication_posts_path,
                        input_html: {
                          class: 'js-slug-input',
                          data: { source: '#communication_website_structure_communication_posts_title' }
                        } %>
            <hr class="my-5">
            <%= f.input :education_programs_title %>
            <%= f.input :education_programs_description %>
            <%= f.input :education_programs_path,
                        input_html: {
                          class: 'js-slug-input',
                          data: { source: '#communication_website_structure_education_programs_title' }
                        } %>
            <hr class="my-5">
            <%= f.input :research_articles_title %>
            <%= f.input :research_articles_description %>
            <%= f.input :research_articles_path,
                        input_html: {
                          class: 'js-slug-input',
                          data: { source: '#communication_website_structure_research_articles_title' }
                        } %>
            <hr class="my-5">
            <%= f.input :research_volumes_title %>
            <%= f.input :research_volumes_description %>
            <%= f.input :research_volumes_path,
                        input_html: {
                          class: 'js-slug-input',
                          data: { source: '#communication_website_structure_research_volumes_title' }
                        } %>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card flex-fill w-100">
          <div class="card-body">
            <%= f.input :persons_title %>
            <%= f.input :persons_description %>
            <%= f.input :persons_path,
                        input_html: {
                          class: 'js-slug-input',
                          data: { source: '#communication_website_structure_persons_title' }
                        } %>
            <hr class="my-5">
            <%= f.input :administrators_title %>
            <%= f.input :administrators_description %>
            <%= f.input :administrators_path,
                        input_html: {
                          class: 'js-slug-input',
                          data: { source: '#communication_website_structure_administrators_title' }
                        } %>
            <hr class="my-5">
            <%= f.input :authors_title %>
            <%= f.input :authors_description %>
            <%= f.input :authors_path,
                        input_html: {
                          class: 'js-slug-input',
                          data: { source: '#communication_website_structure_authors_title' }
                        } %>
            <hr class="my-5">
            <%= f.input :researchers_title %>
            <%= f.input :researchers_description %>
            <%= f.input :researchers_path,
                        input_html: {
                          class: 'js-slug-input',
                          data: { source: '#communication_website_structure_researchers_title' }
                        } %>
            <hr class="my-5">
            <%= f.input :teachers_title %>
            <%= f.input :teachers_description %>
            <%= f.input :teachers_path,
                        input_html: {
                          class: 'js-slug-input',
                          data: { source: '#communication_website_structure_teachers_title' }
                        } %>
          </div>
        </div>
      </div>
    </div>
    <% content_for :action_bar_right do %>
      <%= submit f %>
    <% end %>
  <% end %>
<% end %>
