<% content_for :title, Language.model_name.human(count: 2) %>

<div class="table-responsive">
  <table class="<%= table_classes %>">
    <thead>
      <tr>
        <th><%= Language.human_attribute_name('name') %></th>
        <th><%= Language.human_attribute_name('iso_code') %></th>
        <th><%= Language.human_attribute_name('summernote_locale') %></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @languages.each do |language| %>
        <tr>
          <td><%= link_to language, [:server, language] %></td>
          <td><%= language.iso_code %></td>
          <td><%= language.summernote_locale %></td>
          <td class="text-end">
            <div class="btn-group" role="group">
              <%= link_to t('edit'),
                        edit_server_language_path(language),
                        class: button_classes %>
              <%= link_to t('delete'),
                        server_language_path(language),
                        method: :delete,
                        data: { confirm: t('please_confirm') },
                        class: button_classes_danger %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% content_for :action_bar_right do %>
  <%= link_to t('create'), new_server_language_path, class: button_classes %>
<% end %>
