<p id="notice"><%= notice %></p>

<p>
  <strong>University:</strong>
  <%= @university_person_alumnus_import.university_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @university_person_alumnus_import.user_id %>
</p>

<%= link_to 'Edit', edit_university_person_alumnus_import_path(@university_person_alumnus_import) %> |
<%= link_to 'Back', university_person_alumnus_imports_path %>
