<div class="table-responsive">
  <table class="<%= table_classes(with_actions: false) %> mt-5">
    <thead>
      <tr>
        <th><%= Education::Program.model_name.human %></th>
        <% checks.each do |check| %>
          <th><%= Education::Program.human_attribute_name(check) %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% programs.each do |program| %>
        <tr>
          <td>
            <% if program.ancestors.any? %>
              <small>
                <% program.ancestors.each do |program| %>
                  <%= program %> /
                <% end %>
              </small><br>
            <% end %>
            <%= link_to program, [:admin, program] %>
          </td>
          <% checks.each do |check| %>
            <% valid = !program.public_send("best_#{check}").blank? %>
            <td>
              <% if valid %>
                <span class="<%= Icon::CHECK_OK %> text-success"></span>
              <% else %>
                <span class="<%= Icon::CHECK_KO %> text-danger"></span>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
