<%= osuny_separator %>
<%= render "admin/application/contact_details/edit/postal_address", f: f, lf: lf, about: about, l10n: l10n %>
<%= osuny_separator %>
<div class="row">
  <%= render "admin/application/contact_details/edit/phone_numbers", f: f, lf: lf, about: about, l10n: l10n %>
  <%= render "admin/application/contact_details/edit/emails", f: f, lf: lf, about: about, l10n: l10n %>
  <%= render "admin/application/contact_details/edit/websites", f: f, lf: lf, about: about, l10n: l10n %>
  <%= render "admin/application/contact_details/edit/social_networks", f: f, lf: lf, about: about, l10n: l10n %>
</div>
<%= osuny_separator %>
