<% content_for :title, University::Organization::Import.model_name.human(count: 2) %>

<table class="<%= table_classes %>">
  <thead>
    <tr>
      <th><%= University::Organization::Import.human_attribute_name('name') %></th>
      <th><%= University::Organization::Import.human_attribute_name('lines') %></th>
    </tr>
  </thead>
  <tbody>
    <% @imports.each do |import| %>
      <tr>
        <td><%= link_to import, [:admin, import] %></td>
        <td><%= import.lines %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% content_for :action_bar_right do %>
  <%= create_link University::Organization::Import %>
<% end %>
