<% content_for :title, @block %>
<%
@block.data = {} if @block.data.nil? || @block.data.blank?
@block.data['elements'] ||= []
%>
<div id="app">
  <%= simple_form_for [:admin, @block] do |f| %>
    <%= render "admin/communication/website/blocks/templates/#{@block.template}/edit", f: f %>
    <textarea name="communication_website_block[data]" rows="20" cols="200" class="d-none">
      {{ JSON.stringify(data) }}
    </textarea>
    <% content_for :action_bar_right do %>
      <%= submit f %>
    <% end %>
  <% end %>
</div>

<%# Include vue.js before call Vue.createApp %>
<%= javascript_include_tag 'vue' %>

<script>
  var app = Vue.createApp({
    components: {
      draggable: VueDraggableNext.VueDraggableNext,
    },
    data() {
      return { data: <%= @block.data.to_json.html_safe %> }
    },
    methods: {
      // TODO : replace by real image upload
      onFileImageChange(event, object, key) {
        var files = event.target.files || event.dataTransfer.files;
        if (!files.length)
          return;
        this.assignImage(files[0], object, key);
      },
      assignImage(file, object, key) {
        var image = new Image();
        var reader = new FileReader();

        reader.onload = function(event){
          object[key] = event.target.result;
        }.bind(this);

        reader.readAsDataURL(file);
      }
    }
  });
  app.mount('#app')
</script>
