<%= simple_form_for item, url: item.persisted?  ? [:admin, item, { menu_id: @menu.id }]
                                                : admin_communication_website_menu_items_path(@menu) do |f| %>
  <div class="row">
    <div class="col-md-8">
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h5 class="card-title mb-0"><%= t('content') %></h5>
        </div>
        <div class="card-body">
          <%= f.input :title %>
          <%= f.input :kind,
                      include_blank: false,
                      label_method: -> (p) { I18n.t(p[1], scope: 'enums.communication/website/menu/item.kind') },
                      input_html: {
                        class: 'js-kind-input',
                        data: { url: kind_switch_admin_communication_website_menu_items_path }
                       } %>
          <div class="d-none js-url-field">
            <%= f.input :url, as: :string %>
          </div>
          <div class="d-none js-about-fields">
            <%= f.input :about_type, as: :hidden, input_html: { class: 'js-about-id' } %>
            <%= f.association :about, collection: @website.list_of_pages, label_method: ->(p) { sanitize p[:label] }, value_method: ->(p) { p[:id] }, input_html: { class: 'js-about-id' } %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h5 class="card-title mb-0"><%= t('metadata') %></h5>
        </div>
        <div class="card-body">
          <%= f.association :parent,
                            collection: item.list_of_other_items,
                            label_method: -> (p) { sanitize p[:label] },
                            value_method: -> (p) { p[:id] } %>
        </div>
      </div>
    </div>
  </div>
  <% content_for :action_bar_right do %>
    <%= submit f %>
  <% end %>
<% end %>
