function displayAbout(kind, options) {
    $('.js-url-field').addClass('d-none');
    $('.js-about-fields').removeClass('d-none');
    $('.js-about-type').val(kind);
    $('.js-about-id').html(options);
}

function hideAbout() {
    $('.js-about-fields').addClass('d-none');
}

<% if @kind == 'url' %>
    $('.js-url-field').removeClass('d-none');
    hideAbout();
<% elsif @kind == 'page' %>
    <%
    options = ['<option value="" label=" "></option>']
    collection_tree(@website.pages).each do |page|
        options << "<option value=\"#{page[:id]}\">#{page[:label]}</option>"
    end
    %>
    displayAbout('Communication::Website::Page', "<%= j(raw(options.join(''))) %>");
<% elsif @kind == 'program' %>
    <%
    options = ['<option value="" label=" "></option>']
    collection_tree(@website.programs).each do |page|
        options << "<option value=\"#{page[:id]}\">#{page[:label]}</option>"
    end
    %>
    displayAbout('Education::Program', "<%= j(raw(options.join(''))) %>");
<% elsif @kind == 'news_category' %>
    <%
        options = ['<option value="" label=" "></option>']
        collection_tree(@website.categories).each do |category|
            options << "<option value=\"#{category[:id]}\">#{category[:label]}</option>"
        end
    %>
    displayAbout('Communication::Website::Category', "<%= j(raw(options.join(''))) %>");
<% elsif @kind == 'news_article' %>
    <%
    options = ['<option value="" label=" "></option>']
    @website.posts.ordered.each do |post|
        options << "<option value=\"#{post.id}\">#{post.to_s}</option>"
    end
    %>
    displayAbout('Communication::Website::Post', "<%= j(raw(options.join(''))) %>");
<% elsif @kind == 'research_volume' %>
    <%
    options = ['<option value="" label=" "></option>']
    @website.research_volumes.ordered.each do |volume|
        options << "<option value=\"#{volume.id}\">#{volume.to_s}</option>"
    end
    %>
    displayAbout('Research::Journal::Volume', "<%= j(raw(options.join(''))) %>");
<% elsif @kind == 'research_article' %>
    <%
    options = ['<option value="" label=" "></option>']
    @website.research_articles.ordered.each do |article|
        options << "<option value=\"#{article.id}\">#{article.to_s}</option>"
    end
    %>
    displayAbout('Research::Journal::Article', "<%= j(raw(options.join(''))) %>");
<% else %>
    $('.js-url-field').addClass('d-none');
    hideAbout();
<% end %>
