<% content_for :title, @item %>

<div class="row">
  <div class="col-md-6">
    <div class="card flex-fill w-100">
      <div class="card-header">
        <h5 class="card-title mb-0"><%= t('metadata') %></h5>
      </div>
      <table class="<%= table_classes %>">
        <tbody>
          <tr>
            <td width="150"><%= Communication::Website::Menu::Item.human_attribute_name('kind') %></td>
            <td><%= @item.kind %></td>
          </tr>
          <% if @item.kind_url? %>
            <tr>
              <td width="150"><%= Communication::Website::Menu::Item.human_attribute_name('url') %></td>
              <td><%= link_to @item.url, @item.url, target: :blank unless @item.url.blank? %></td>
            </tr>
          <% elsif @item.kind_page? %>
            <tr>
              <td width="150"><%= Communication::Website::Menu::Item.human_attribute_name('about') %></td>
              <td><%= link_to_if can?(:read, @item.about), @item.about, [:admin, @item.about] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<h2><%= "#{Communication::Website::Menu::Item.model_name.human(count: 2)} (#{@children.size})" %></h2>
<%= link_to t('create'),
            new_admin_communication_website_menu_item_path(website_id: @website, menu_id: @menu.id, parent_id: @item.id),
            class: button_classes %>

<%= render 'admin/communication/website/menu/items/list', items: @children, item: @item if @children.any? %>

<% content_for :action_bar_right do %>
  <%= link_to t('edit'),
              edit_admin_communication_website_menu_item_path(@item, website_id: @website, menu_id: @menu.id),
              class: button_classes %>
<% end %>
