<h2>
  Tous les sites
  <span class="float-end">
    <%= @websites.total_count %>
    <%= Communication::Website.model_name.human(count: @websites.total_count).downcase %>
  </span>
</h2>
<div class="table-responsive">
  <table class="table">
    <tbody>
      <% @websites.each do |website| %>
        <tr class="position-relative">
          <td><%= link_to website.original_localization.to_s,
                          showcase_website_path(website),
                          class: 'stretched-link' %></td>
          <td><%= website.university %></td>
          <td><%= website.showcase_tags.to_sentence %></td>
          <td class="text-end"><%= website.in_production_at.year %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= paginate @websites %>
