<% content_for :title, @website %>

<h1><%= @website %></h1>

<div class="row g-5 mt-5">
  <div class="col-lg-6">
    <% if @website.screenshot.attached? %>
      <%= kamifusen_tag @website.screenshot, 
                        class: 'img-fluid rounded mb-3' %>
    <% end %>
  </div>
  <div class="col-lg-6">
    <div class="mb-5">
      <p class="small text-muted">Adresse du site</p>
      <i class="bi bi-compass-fill me-1"></i>
      <%= contact_link @website.url, :website %>
    </div>
    <div class="mb-5">
    <p class="small text-muted">Code source</p>
    <i class="bi bi-github me-1"></i>
      <%= contact_link @website.repository_url, :github %>
    </div>
    <div class="mb-5">
      <p class="small text-muted">Thèmes</p>
      <% @website.showcase_tags.each do |tag| %>
        <%= link_to tag, 
                    showcase_tag_path(tag.slug), 
                    class: 'btn btn-sm btn-outline-light text-dark rounded-pill' %>
      <% end %>
    </div>
    <div class="mb-5">
      <p class="small text-muted">Organisation</p>
      <% if @website.university.logo.attached? %>
        <%= image_tag @website.university.logo, 
                      width: 200,
                      class: 'img-fluid p-3' %>
      <% else %>
        <p><%= @website.university %></p>
      <% end %>
    </div>
  </div>
</div>