<%
rows ||= 3
%>
<label  class="form-label" for="<%= property %>">
  <%= t "admin.communication.blocks.templates.#{@block.template_kind}.edit.#{property}.label" %>
</label>
<div class="mb-3">
  <textarea id="<%= property %>"
            class="form-control"
            rows="<%= rows %>"
            v-model="data.<%= property %>"
            placeholder="<%= t "admin.communication.blocks.templates.#{@block.template_kind}.edit.#{property}.placeholder" %>"></textarea>
</div>
