<%= simple_form_for [:admin, program] do |f| %>
  <div class="row">
    <div class="col-md-4">
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h5 class="card-title mb-0"><%= t('education.program.main_informations') %></h5>
        </div>
        <div class="card-body">
          <%= f.input :name %>
          <%= f.input :level, include_blank: false, label_method: -> (p) { I18n.t(p[1], scope: 'enums.education/program.level') } %>
          <%= f.input :capacity %>
          <%= f.input :ects %>
          <%= f.input :continuing %>
          <%= f.association :schools,
                            as: :check_boxes,
                            collection: current_university.education_schools.ordered %>
          <%= f.association :parent, collection: program.persisted? ? program.list_of_other_programs : current_university.list_of_programs, label_method: ->(p) { sanitize p[:label] }, value_method: ->(p) { p[:id] } %>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h5 class="card-title mb-0"><%= t('education.program.useful_informations') %></h5>
        </div>
        <div class="card-body">
          <%= f.input :registration, as: :rich_text_area %>
          <%= f.input :pricing, as: :rich_text_area %>
          <%= f.input :duration, as: :rich_text_area %>
          <%= f.input :contacts, as: :rich_text_area %>
          <%= f.input :accessibility, as: :rich_text_area %>
          <%= f.input :other, as: :rich_text_area %>
        </div>
      </div>
    </div>
  </div>
  <div class="card flex-fill w-100">
    <div class="card-header">
      <h5 class="card-title mb-0"><%= t('education.program.educational_informations') %></h5>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <%= f.input :prerequisites, as: :rich_text_area %>
          <%= f.input :objectives, as: :rich_text_area %>
          <%= f.input :opportunities, as: :rich_text_area %>
        </div>
        <div class="col-md-6">
          <%= f.input :pedagogy, as: :rich_text_area %>
          <%= f.input :evaluation, as: :rich_text_area %>
          <%= f.association :teachers,
                            as: :check_boxes,
                            collection: current_university.teachers.ordered %>
        </div>
      </div>
    </div>
  </div>
  <% content_for :action_bar_right do %>
    <%= submit f %>
  <% end %>
<% end %>
