<%= simple_form_for [:admin, program] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="row">
    <div class="col-lg-8 col-xxl-9">
      <%= render 'admin/education/programs/forms/part', part: :essential do %>
        <div class="row">
          <div class="col-lg-9">
            <%= f.input :name %>
          </div>
          <div class="col-lg-3">
            <%= f.input :short_name %>
          </div>
        </div>
        <%= render 'admin/application/summary/form', f: f, about: program %>
        <div class="row">
          <div class="col-lg-6">
            <%= f.association :diploma,
                              collection: current_university.diplomas.ordered %>
            <%= f.association :schools,
                              as: :check_boxes,
                              collection: current_university.education_schools.ordered %>
          </div>
          <div class="col-lg-6">
            <%= f.input :capacity %>
            <legend class="col-form-label pt-0 mb-1"><%= t('education.program.registration_scheme') %></legend>
            <div class="mb-n3"><%= f.input :initial %></div>
            <div class="mb-n3"><%= f.input :continuing %></div>
            <div><%= f.input :apprenticeship %></div>
            <%= f.input :downloadable_summary %>
          </div>
        </div>
      <% end %>

      <%= render 'admin/education/programs/forms/part', part: :presentation do %>
        <div class="row">
          <div class="col-xxl-6">
            <%= f.input :presentation,
                        as: :summernote,
                        input_html: {
                          data: { 'summernote-config' => 'link' }
                        } %>
          </div>
          <div class="col-xxl-6">
            <%= render 'admin/education/programs/forms/input_with_inheritance', f: f, property: :objectives %>
          </div>
        </div>
      <% end %>

      <%= render 'admin/education/programs/forms/part', part: :pedagogy do %>
        <div class="row">
          <div class="col-xxl-6">
            <%= render 'admin/education/programs/forms/input_with_inheritance', f: f, property: :content %>
          </div>
          <div class="col-xxl-6">
            <%= render 'admin/education/programs/forms/input_with_inheritance', f: f, property: :pedagogy %>
            <%= render 'admin/education/programs/forms/input_with_inheritance', f: f, property: :evaluation %>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-md-8">
            <label class="form-label">
              <%= Education::Program.human_attribute_name('teachers') %>
            </label>
          </div>
          <div class="col-md-4 text-end">
            <%= link_to_add_association t('add'),
            f,
            :university_person_involvements,
            class: button_classes,
            partial: 'admin/education/programs/involvement_fields',
            data: {
              'association-insertion-method': 'append',
              'association-insertion-node':   '#involvements',
            } %>
          </div>
        </div>
        <div id="involvements">
          <%
          sorted_involvements = program.university_person_involvements
                                       .sort_by { |involvement|
            [involvement.person&.last_name, involvement.person&.first_name]
          }
          %>
          <%= f.simple_fields_for :university_person_involvements,
                                  sorted_involvements,
                                  include_id: false do |involvement_f| %>
            <%= render 'admin/education/programs/involvement_fields', f: involvement_f, include_id: true %>
          <% end %>
        </div>
      <% end %>

      <%= render 'admin/education/programs/forms/part', part: :results do %>
        <div class="row">
          <div class="col-xxl-6">
            <%= render 'admin/education/programs/forms/input_with_inheritance', f: f, property: :opportunities %>
          </div>
          <div class="col-xxl-6">
            <%= render 'admin/education/programs/forms/input_with_inheritance', f: f, property: :results %>
          </div>
        </div>
      <% end %>

      <%= render 'admin/education/programs/forms/part', part: :admission do %>
        <div class="row">
          <div class="col-xxl-6">
            <%= render 'admin/education/programs/forms/input_with_inheritance', f: f, property: :prerequisites %>
          </div>
          <div class="col-xxl-6">
            <%= render 'admin/education/programs/forms/input_with_inheritance', f: f, property: :pricing %>
          </div>
          <div class="col-xxl-6">
            <%= render 'admin/education/programs/forms/input_with_inheritance', f: f, property: :registration %>
            <%= f.input :registration_url %>
          </div>
          <div class="col-xxl-6">
            <%= render 'admin/education/programs/forms/input_with_inheritance', f: f, property: :accessibility %>
          </div>
          <div class="col-xxl-6">
            <%= render 'admin/education/programs/forms/input_with_inheritance', f: f, property: :other %>
          </div>
          <div class="col-xxl-6">
            <%= render 'admin/education/programs/forms/input_with_inheritance', f: f, property: :contacts %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-lg-4 col-xxl-3">
      <%= render 'admin/education/programs/forms/part', part: :technical do %>
        <%= f.input :published %>
        <%= f.input :slug,
                    as: :string,
                    input_html: program.persisted? ? {} : {
                      class: 'js-slug-input',
                      data: { source: '#education_program_name' }
                    } %>
        <%= f.association :parent,
                          collection: collection_tree(current_university.education_programs, program),
                          label_method: ->(p) { sanitize p[:label] },
                          value_method: ->(p) { p[:id] } %>
      <% end %>
      <%= render 'admin/application/featured_image/edit', about: program, f: f %>
      <%= render 'admin/application/meta_description/form', f: f, about: program %>
    </div>
  </div>

  <% content_for :action_bar_right do %>
    <%= submit f %>
  <% end %>
<% end %>
