<%= simple_nested_form_for [:admin, program] do |f| %>
  <div class="row">
    <div class="col-md-3">
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h5 class="card-title mb-0"><%= t('education.program.main_informations') %></h5>
        </div>
        <div class="card-body">
          <%= f.input :name %>
          <%= f.input :slug,
                      as: :string,
                      input_html: program.persisted? ? {} : {
                        class: 'js-slug-input',
                        data: { source: '#education_program_name' }
                      } %>
          <%= f.input :published %>
          <%= f.input :level, include_blank: false %>
          <%= f.input :capacity %>
          <%= f.input :ects %>
          <%= f.input :continuing %>
          <%= f.association :schools,
                            as: :check_boxes,
                            collection: current_university.education_schools.ordered %>
          <%= f.association :parent,
                            collection: collection_tree(current_university.education_programs, program),
                            label_method: ->(p) { sanitize p[:label] },
                            value_method: ->(p) { p[:id] } %>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h5 class="card-title mb-0"><%= t('education.program.useful_informations') %></h5>
        </div>
        <div class="card-body">
          <%= f.input :description %>
          <%= render 'admin/education/programs/forms/input_with_inheritance', f: f, property: :registration %>
          <%= render 'admin/education/programs/forms/input_with_inheritance', f: f, property: :pricing %>
          <%= render 'admin/education/programs/forms/input_with_inheritance', f: f, property: :duration %>
          <%= render 'admin/education/programs/forms/input_with_inheritance', f: f, property: :accessibility %>
          <%= render 'admin/education/programs/forms/input_with_inheritance', f: f, property: :other %>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h5 class="card-title mb-0"><%= t('activerecord.attributes.education/program.featured_image') %></h5>
        </div>
        <div class="card-body">
          <%= f.input :featured_image,
                      as: :single_deletable_file,
                      direct_upload: true,
                      label: false,
                      input_html: { accept: '.jpg,.jpeg,.png' },
                      preview: true
           %>
           <%= f.input :featured_image_alt %>
        </div>
      </div>
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h5 class="card-title mb-0"><%= t('activerecord.attributes.education/program.team') %></h5>
        </div>
        <div class="card-body">
          <%= render 'admin/education/programs/forms/input_with_inheritance', f: f, property: :contacts %>
        </div>
      </div>
    </div>
  </div>
  <div class="card flex-fill w-100">
    <div class="card-header">
      <h5 class="card-title mb-0"><%= t('education.program.educational_informations') %></h5>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <%= render 'admin/education/programs/forms/input_with_inheritance', f: f, property: :objectives %>
          <%= render 'admin/education/programs/forms/input_with_inheritance', f: f, property: :content %>
        </div>
        <div class="col-md-4">
          <%= render 'admin/education/programs/forms/input_with_inheritance', f: f, property: :opportunities %>
          <%= render 'admin/education/programs/forms/input_with_inheritance', f: f, property: :prerequisites %>
          <%= render 'admin/education/programs/forms/input_with_inheritance', f: f, property: :results %>
        </div>
        <div class="col-md-4">
          <%= render 'admin/education/programs/forms/input_with_inheritance', f: f, property: :evaluation %>
          <%= render 'admin/education/programs/forms/input_with_inheritance', f: f, property: :pedagogy %>
        </div>
      </div>
    </div>
  </div>
  <% content_for :action_bar_right do %>
    <%= submit f %>
  <% end %>
<% end %>
