<%= simple_form_for [:admin, program] do |f| %>
  <div class="row">
    <div class="col-md-4">
      <h2 class="h4">Informations essentielles</h2>
      <%= f.input :name %>
      <%= f.input :level, include_blank: false %>
      <%= f.input :capacity %>
      <%= f.input :ects %>
      <%= f.input :continuing %>
    </div>
    <div class="col-md-8">
      <h2 class="h4">Informations pratiques</h2>
      <%= f.input :registration %>
      <%= f.input :pricing %>
      <%= f.input :duration %>
      <%= f.input :contacts %>
      <%= f.input :accessibility %>
    </div>
    <div class="col-md-12">
      <h2 class="mt-5 h4">Informations pédagogiques</h2>
    </div>
    <div class="col-md-6">
      <%= f.input :prerequisites, input_html: { rows: 5 } %>
      <%= f.input :objectives, input_html: { rows: 5 } %>
    </div>
    <div class="col-md-6">
      <%= f.input :pedagogy, input_html: { rows: 5 } %>
      <%= f.input :evaluation, input_html: { rows: 5 } %>
    </div>
  </div>
  <% content_for :action_bar_right do %>
    <%= submit f %>
  <% end %>
<% end %>
