<%= simple_form_for [:admin, program] do |f| %>
  <div class="row">
    <div class="col-md-3">
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h5 class="card-title mb-0"><%= t('education.program.main_informations') %></h5>
        </div>
        <div class="card-body">
          <%= f.input :name %>
          <%= f.input :slug,
                      as: :string,
                      input_html: program.persisted? ? {} : {
                        class: 'js-slug-input',
                        data: { source: '#education_program_name' }
                      } %>
          <%= f.input :published %>
          <%= f.input :level, include_blank: false %>
          <%= f.input :capacity %>
          <%= f.input :ects %>
          <%= f.input :continuing %>
          <%= f.association :schools,
                            as: :check_boxes,
                            collection: current_university.education_schools.ordered %>
          <%= f.association :parent,
                            collection: collection_tree(current_university.education_programs, program),
                            label_method: ->(p) { sanitize p[:label] },
                            value_method: ->(p) { p[:id] } %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h5 class="card-title mb-0"><%= t('education.program.useful_informations') %></h5>
        </div>
        <div class="card-body">
          <%= f.input :description %>
          <%= render 'admin/education/programs/forms/input_with_inheritance', f: f, property: :registration %>
          <%= render 'admin/education/programs/forms/input_with_inheritance_new', f: f, property: :registration %>
          <%= render 'admin/education/programs/forms/input_with_inheritance', f: f, property: :pricing %>
          <%= render 'admin/education/programs/forms/input_with_inheritance_new', f: f, property: :pricing %>
          <%= render 'admin/education/programs/forms/input_with_inheritance', f: f, property: :duration %>
          <%= render 'admin/education/programs/forms/input_with_inheritance_new', f: f, property: :duration %>
          <%= render 'admin/education/programs/forms/input_with_inheritance', f: f, property: :accessibility %>
          <%= render 'admin/education/programs/forms/input_with_inheritance_new', f: f, property: :accessibility %>
          <%= render 'admin/education/programs/forms/input_with_inheritance', f: f, property: :other %>
          <%= render 'admin/education/programs/forms/input_with_inheritance_new', f: f, property: :other %>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h5 class="card-title mb-0"><%= t('activerecord.attributes.education/program.featured_image') %></h5>
        </div>
        <div class="card-body">
          <%= f.input :featured_image,
                      as: :single_deletable_file,
                      direct_upload: true,
                      label: false,
                      input_html: { accept: '.jpg,.jpeg,.png' },
                      preview: true
           %>
           <%= f.input :featured_image_alt %>
        </div>
      </div>
    </div>
  </div>
  <div class="card flex-fill w-100">
    <div class="card-header">
      <h5 class="card-title mb-0"><%= t('activerecord.attributes.education/program.team') %></h5>
    </div>
    <div class="card-body">
      <%= render 'admin/education/programs/forms/input_with_inheritance', f: f, property: :contacts %>
      <%= render 'admin/education/programs/forms/input_with_inheritance_new', f: f, property: :contacts %>

      <p><%= Education::Program.human_attribute_name('teachers') %></p>
      <%= link_to_add_association t('add'), f, :university_person_involvements,
                                  class: "btn btn-primary mb-3",
                                  partial: 'admin/education/programs/involvement_fields',
                                  data: {
                                    'association-insertion-method': 'append',
                                    'association-insertion-node':   '#involvements',
                                  } %>

      <div class="row mb-3" id="involvements">
        <%
        sorted_involvements = program.university_person_involvements.sort_by { |involvement|
          [involvement.person&.last_name, involvement.person&.first_name]
        }
        %>
        <%= f.simple_fields_for :university_person_involvements, sorted_involvements, include_id: false do |involvement_f| %>
          <%= render 'admin/education/programs/involvement_fields', f: involvement_f, include_id: true %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card flex-fill w-100">
    <div class="card-header">
      <h5 class="card-title mb-0"><%= t('education.program.educational_informations') %></h5>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <%= render 'admin/education/programs/forms/input_with_inheritance', f: f, property: :objectives %>
          <%= render 'admin/education/programs/forms/input_with_inheritance_new', f: f, property: :objectives %>
          <%= render 'admin/education/programs/forms/input_with_inheritance', f: f, property: :content %>
          <%= render 'admin/education/programs/forms/input_with_inheritance_new', f: f, property: :content %>
          <%= render 'admin/education/programs/forms/input_with_inheritance', f: f, property: :prerequisites %>
          <%= render 'admin/education/programs/forms/input_with_inheritance_new', f: f, property: :prerequisites %>
        </div>
        <div class="col-md-6">
          <%= render 'admin/education/programs/forms/input_with_inheritance', f: f, property: :pedagogy %>
          <%= render 'admin/education/programs/forms/input_with_inheritance_new', f: f, property: :pedagogy %>
          <%= render 'admin/education/programs/forms/input_with_inheritance', f: f, property: :evaluation %>
          <%= render 'admin/education/programs/forms/input_with_inheritance_new', f: f, property: :evaluation %>
          <%= render 'admin/education/programs/forms/input_with_inheritance', f: f, property: :opportunities %>
          <%= render 'admin/education/programs/forms/input_with_inheritance_new', f: f, property: :opportunities %>
          <%= render 'admin/education/programs/forms/input_with_inheritance', f: f, property: :results %>
          <%= render 'admin/education/programs/forms/input_with_inheritance_new', f: f, property: :results %>
        </div>
      </div>
    </div>
  </div>
  <% content_for :action_bar_right do %>
    <%= submit f %>
  <% end %>
<% end %>
