<table class="table">
  <thead>
    <tr>
      <th><%= Education::Program.model_name.human %></th>
      <th><%= Education::Program.human_attribute_name('level') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% programs.each do |program| %>
      <tr>
        <td><%= link_to_if can?(:read, program), program, [:admin, program] %></td>
        <td><%= program.level_i18n %></td>
        <td class="text-end pe-0">
          <div class="btn-group" role="group">
            <%= link_to t('edit'),
                        edit_admin_education_program_path(program),
                        class: button_classes if can?(:update, program) %>
            <%= link_to t('delete'),
                        admin_education_program_path(program),
                        method: :delete,
                        data: { confirm: program.children.any? ? t('please_confirm_with_children') : t('please_confirm') },
                        class: button_classes_danger if can?(:destroy, program) %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
