<% programs.each do |program| %>
  <li class="treeview__element js-treeview-element <%= 'treeview__element--empty' unless program.has_children? %>" data-id="<%= program.id %>" data-parent="<%= program.parent_id %>">
    <div class="d-flex align-items-center treeview__label border-bottom p-1">
      <%= link_to children_admin_education_program_path(id: program.id),
                  class: 'js-treeview-openzone d-inline-block p-2 ps-0', style: 'width: 22px', remote: true do %>
        <span class="open_btn">
          <i class="open_btn--with_children fas fa-folder"></i>
          <i class="open_btn--without_children far fa-folder"></i>
        </span>
        <span class="close_btn">
          <i class="close_btn--with_children fas fa-folder-open"></i>
          <i class="close_btn--without_children far fa-folder-open"></i>
        </span>
      <% end %>
      <%= link_to program,
                  admin_education_program_path(id: program.id) %>
      <span class="move_btn py-2 ps-2"><i class="fas fa-sort"></i></span>
      <div class="btn-group ms-auto" role="group">
        <%= edit_link program %>
        <%= destroy_link program %>
      </div>
    </div>
    <ul class="list-unstyled treeview__children js-treeview-children <%= 'js-treeview-sortable-container' if can?(:reorder, program) %> ms-4" data-id="<%= program.id %>">
      <li class="treeview__empty">
        <div class="d-flex align-items-center treeview__label border-bottom p-1">
          <span class="p-2 ps-0"><%= t('empty_folder') %></span>
        </div>
      </li>
      <li class="treeview__loading border-bottom p-1"><%= t('loading') %></li>
    </ul>
  </li>
<% end %>
