<% content_for :title, Education::Program.model_name.human(count: 2) %>

<% content_for :title_right do %>
  <%= create_link Education::Program %>
<% end %>

<div class="d-flex justify-content-between mb-4">
  <p>
    <%= @programs.total_count %>
    <%= Education::Program.model_name.human(count: @programs.total_count).downcase %>
  </p>
  <%= render 'filters', current_path: admin_education_programs_path %>
</div>

<%= render 'admin/education/programs/list', programs: @programs %>
<%= paginate @programs %>
