<% content_for :title, @program.name %>
<% content_for :image, kamifusen_tag(@program.best_featured_image) if @program.best_featured_image.attached? %>
<div class="container">
  <p class="lead" itemprop="abstract">
    <%= @program.presentation %>
  </p>
</div>
<section id="presentation">
  <div class="container">
    <div class="content">
      <div>
        <h2><%= Education::Program.human_attribute_name('presentation') %></h2>
      </div>
      <div>
        <div class="subpart">
          <%= @program.objectives %>
        </div>
        <div class="subpart">
          <h3>Informations administratives</h3>
          <div class="table-responsive">
            <table class="<%= table_classes %> table-infos">
              <caption>Informations administratives</caption>
              <tbody>
                <% if @program.diploma%>
                  <tr>
                    <th>Crédits ECTS</th>
                    <td><%= @program.diploma.ects %></td>
                  </tr>
                <% end %>
                <tr>
                  <th>Formation initiale</th>
                  <td><%= t @program.initial %></td>
                </tr>
                <tr>
                  <th>Formation continue</th>
                  <td><%= t @program.continuing %></td>
                </tr>
                <tr>
                  <th>Apprentissage</th>
                  <td><%= t @program.apprenticeship %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="blocks">
  <%= render 'admin/communication/blocks/content/show', about: @program %>
</div>

<section id="pedagogy">
  <div class="container">
    <div class="content">
      <div>
        <h2>Pédagogie</h2>
      </div>
      <div>
        <div class="subpart">
          <h3><%= Education::Program.human_attribute_name('content') %></h3>
          <%= @program.content %>
        </div>
        <div class="subpart">
          <h3><%= Education::Program.human_attribute_name('pedagogy') %></h3>
          <%= @program.pedagogy %>
        </div>
        <div class="subpart">
          <h3><%= Education::Program.human_attribute_name('evaluation') %></h3>
          <%= @program.evaluation %>
        </div>
        <div class="subpart">
          <h3>Enseignants·es</h3>
          <div class="table-responsive">
            <table class="table-persons">
              <caption>Enseignants·es</caption>
              <tbody>
                <% @program.university_person_involvements.each do |involvement| %>
                  <tr>
                    <th scope="row"><a><%= involvement %></a></th>
                    <td><%= involvement.description%></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="results">
  <div class="container">
    <div class="content">
      <div>
        <h2>Après la formation</h2>
      </div>
    <div>
    <div class="subpart">
      <h3><%= Education::Program.human_attribute_name('opportunities') %></h3>
      <%= @program.opportunities %>
      <h3><%= Education::Program.human_attribute_name('results') %></h3>
      <%= @program.results %>
    </div>
  </div>
</section>

<section id="admission">
  <div class="container">
    <div class="content">
      <div>
        <h2>Admission</h2>
      </div>
      <div>
        <div class="subpart">
          <h3><%= Education::Program.human_attribute_name('prerequisites') %></h3>
          <%= @program.prerequisites %>
        </div>
        <div class="subpart">
          <h3><%= Education::Program.human_attribute_name('pricing') %></h3>
          <%= @program.pricing %>
        </div>
        <div class="subpart">
          <h3><%= Education::Program.human_attribute_name('registration') %></h3>
          <%= @program.registration %>
        </div>
        <div class="subpart">
          <h3><%= Education::Program.human_attribute_name('accessibility') %></h3>
          <%= @program.accessibility %>
        </div>
        <div class="subpart">
          <h3><%= Education::Program.human_attribute_name('other') %></h3>
          <%= @program.other %>
        </div>
        <div class="subpart">
          <h3>Rôles</h3>
          <% @program.university_roles.each do |role| %>
            <p>
              <b><%= role.description %></b><br>
              <% role.people.each do |person| %>
                <a><%= person %></a><br>
                <a rel="noreferrer" target="_blank"><%= person.email %></a><br>
              <% end %>
            </p>
          <% end %>
        </div>
        <div class="subpart">
          <h3><%= Education::Program.human_attribute_name('contacts') %></h3>
          <%= @program.contacts %>
        </div>
      </div>
    </div>
  </div>
</section>
