<% content_for :title, @program %>

<div class="row">
  <div class="col-lg-8 col-xxl-9">
    <%= render 'admin/education/programs/forms/part',
                part: :essential,
                collapsed: false do %>
      <div class="row">
        <div class="col-lg-6">
          <h3 class="h5">
            <%= Education::Program.human_attribute_name('name') %>
          </h3>
          <p><%= @program.name %></p>
          <h3 class="h5 mt-4">
            <%= Education::Program.human_attribute_name('diploma') %>
          </h3>
          <p><%= link_to @program.diploma, [:admin, @program.diploma] if @program.diploma %></p>
          <h3 class="h5 mt-4">
            <%= Education::Program.human_attribute_name('description_short') %>
          </h3>
          <p class="lead">
            <%= sanitize @program.description_short %>
          </p>
          <% if @program.schools.any? %>
            <h3 class="h5 mt-4">
              <%= Education::Program.human_attribute_name('schools') %>
            </h3>
            <ul class="list-unstyled">
              <% @program.schools.ordered.each do |school| %>
                <li><%= link_to_if can?(:read, school), school, [:admin, school] %></li>
              <% end %>
            </ul>
          <% end %>
        </div>
        <div class="col-lg-6">
          <h3 class="h5">
            <%= Education::Program.human_attribute_name('short_name') %>
          </h3>
          <p><%= @program.short_name %></p>
          <h3 class="h5 mt-4">
            <%= Education::Program.human_attribute_name('capacity') %>
          </h3>
          <p><%= @program.capacity %></p>
          <h3 class="h5 mt-4">
            <%= Education::Program.human_attribute_name('initial') %>
          </h3>
          <p><%= t @program.initial %></p>
          <h3 class="h5 mt-4">
            <%= Education::Program.human_attribute_name('continuing') %>
          </h3>
          <p><%= t @program.continuing %></p>
          <h3 class="h5 mt-4">
            <%= Education::Program.human_attribute_name('apprenticeship') %>
          </h3>
          <p><%= t @program.apprenticeship %></p>
          <% if @program.downloadable_summary.attached? %>
            <h3 class="h5 mt-4">
              <%= Education::Program.human_attribute_name('downloadable_summary') %>
            </h3>
            <p><%= link_to "#{@program.downloadable_summary.filename} (#{ number_to_human_size @program.downloadable_summary.blob.byte_size })",
                            url_for(@program.downloadable_summary), 
                            target: :_blank %></p>
          <% end %>
        </div>
      </div>
    <% end %>
    <%= render 'admin/education/programs/forms/part', part: :presentation, collapsed: true do %>
      <div class="row">
        <div class="col-xxl-6">
          <h3 class="h5">
            <%= Education::Program.human_attribute_name('presentation') %>
          </h3>
          <p><%= @program.presentation %></p>
        </div>
        <div class="col-xxl-6">
          <%= render 'admin/application/property/text', object: @program, property: :objectives %>
        </div>
      </div>
    <% end %>
    <%= render 'admin/communication/blocks/list', about: @program %>
    <%= render 'admin/education/programs/forms/part', part: :pedagogy, collapsed: true do %>
      <div class="row">
        <div class="col-xxl-6">
          <%= render 'admin/application/property/text', object: @program, property: :content %>
        </div>
        <div class="col-xxl-6">
          <%= render 'admin/application/property/text', object: @program, property: :pedagogy %>
          <%= render 'admin/application/property/text', object: @program, property: :evaluation %>
        </div>
      </div>
      <%= render 'admin/education/programs/show/teachers', involvements: @teacher_involvements %>
    <% end %>
    <%= render 'admin/education/programs/forms/part', part: :results, collapsed: true do %>
      <div class="row">
        <div class="col-xxl-6">
          <%= render 'admin/application/property/text', object: @program, property: :opportunities %>
        </div>
        <div class="col-xxl-6">
          <%= render 'admin/application/property/text', object: @program, property: :results %>
        </div>
      </div>
    <% end %>
    <%= render 'admin/education/programs/forms/part', part: :admission, collapsed: true do %>
      <div class="row">
        <div class="col-xxl-6">
          <%= render 'admin/application/property/text', object: @program, property: :prerequisites %>
          <%= render 'admin/application/property/text', object: @program, property: :registration %>
          <%= render 'admin/application/property/text', object: @program, property: :other %>
        </div>
        <div class="col-xxl-6">
          <%= render 'admin/application/property/text', object: @program, property: :pricing %>
          <%= render 'admin/application/property/text', object: @program, property: :accessibility %>
          <%= render 'admin/application/property/text', object: @program, property: :contacts %>
          <% if @program.registration_url.present? %>
            <h3 class="h5"><%= Education::Program.human_attribute_name(:registration_url) %></h3>
            <p><%= link_to @program.registration_url, @program.registration_url, target: :_blank %></p>
          <% end %>
        </div>
      </div>
      <%= render 'admin/education/programs/show/roles', roles: @roles %>
    <% end %>

    <% if @program.children.any? %>
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h5 class="card-title mb-0"><%= Education::Program.model_name.human(count: 2) %></h5>
        </div>
        <%= render 'admin/education/programs/list', programs: @program.children %>
      </div>
    <% end %>

    <%= render 'admin/education/programs/show/cohorts' %>
  </div>
  <div class="col-lg-4 col-xxl-3">
    <%= render 'admin/education/programs/forms/part', part: :technical do %>
      <h3 class="h5"><%= Education::Program.human_attribute_name('published') %></h3>
      <p><%= t @program.published %></p>
      <h3 class="h5"><%= Education::Program.human_attribute_name('slug') %></h3>
      <p><%= @program.slug %></p>
      <% if @program.parent %>
        <h3 class="h5"><%= Education::Program.human_attribute_name('parent') %></h3>
        <p><%= link_to @program.parent, [:admin, @program.parent] %></p>
      <% end %>
    <% end %>
    <%= render 'admin/application/featured_image/show', about: @program %>
    <% if @program.description.present? %>
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h5 class="card-title mb-0"><%= t('seo') %></h5>
        </div>
        <div class="card-body">
          <h3 class="h5"><%= Education::Program.human_attribute_name('description') %></h3>
          <%= simple_format @program.description %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% content_for :action_bar_left do %>
  <%= destroy_link @program %>
  <%= link_to t('static'),
              static_admin_education_program_path(@program),
              class: button_classes('btn-light') if current_user.server_admin? %>
<% end %>

<% content_for :action_bar_right do %>
  <%= preview_link %>
  <%= edit_link @program %>
<% end %>
