<% content_for :title, @program %>

<div class="row">

  <div class="col-md-4">
    <div class="card flex-fill w-100">
      <div class="card-header">
        <h2 class="card-title mb-0 h5"><%= t('education.program.main_informations') %></h2>
      </div>
      <div class="card-body">
        <h3 class="h5"><%= Education::Program.human_attribute_name('name') %></h3>
        <%= @program.name %>
        <h3 class="h5 mt-4"><%= Education::Program.human_attribute_name('level') %></h3>
        <%= @program.level %>
        <h3 class="h5 mt-4"><%= Education::Program.human_attribute_name('capacity') %></h3>
        <%= @program.capacity %>
        <h3 class="h5 mt-4"><%= Education::Program.human_attribute_name('ects') %></h3>
        <%= @program.ects %>
        <h3 class="h5 mt-4"><%= Education::Program.human_attribute_name('continuing') %></h3>
        <%= t @program.continuing %>
        <% if @program.schools.any? %>
          <h3 class="h5 mt-4"><%= Education::Program.human_attribute_name('schools') %></h3>
          <ul class="list-unstyled">
            <% @program.schools.ordered.each do |school| %>
              <li><%= link_to_if can?(:read, school), school, [:admin, school] %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card flex-fill w-100">
      <div class="card-header">
        <h5 class="card-title mb-0"><%= t('education.program.useful_informations') %></h5>
      </div>
      <div class="card-body">
        <% i = 0 %>
        <% ['description', 'registration', 'pricing', 'duration', 'contacts', 'accessibility', 'other'].each do |prop| %>
          <% next if @program.public_send(prop).blank? %>
          <h3 class="h5 <%= 'mt-4' if i > 0 %>"><%= Education::Program.human_attribute_name(prop) %></h3>
          <%= @program.public_send prop %>
          <% i += 1 %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="card flex-fill w-100">
  <div class="card-header">
    <h5 class="card-title mb-0"><%= t('education.program.educational_informations') %></h5>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <% i = 0 %>
        <% ['prerequisites', 'objectives', 'opportunities'].each do |prop| %>
          <% next if @program.public_send(prop).blank? %>
          <h3 class="h5 <%= 'mt-4' if i > 0 %>"><%= Education::Program.human_attribute_name(prop) %></h3>
          <%= @program.public_send prop %>
          <% i += 1 %>
        <% end %>
      </div>
      <div class="col-md-6">
        <% i = 0 %>
        <% ['pedagogy', 'evaluation'].each do |prop| %>
          <% next if @program.public_send(prop).blank? %>
          <h3 class="h5 <%= 'mt-4' if i > 0 %>"><%= Education::Program.human_attribute_name(prop) %></h3>
          <%= @program.public_send prop %>
          <% i += 1 %>
        <% end %>
        <% if @program.teachers.any? %>
          <h3 class="h5 <%= 'mt-4' if i > 0 %>"><%= Education::Program.human_attribute_name('teachers') %></h3>
          <ul class="list-unstyled">
            <% @program.teachers.ordered.each do |teacher| %>
              <li><%= link_to_if can?(:read, teacher), teacher, admin_education_teacher_path(teacher) %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% content_for :action_bar_right do %>
  <%= edit_link @program %>
<% end %>
