<% content_for :title, @program %>

<div class="row">

  <div class="col-md-4">
    <div class="card flex-fill w-100">
      <div class="card-header">
        <h2 class="card-title mb-0 h5"><%= t('education.program.main_informations') %></h2>
      </div>
      <div class="card-body">
        <h3 class="h5"><%= Education::Program.human_attribute_name('name') %></h3>
        <%= @program.name %>
        <h3 class="h5 mt-4"><%= Education::Program.human_attribute_name('level') %></h3>
        <%= @program.level_i18n %>
        <h3 class="h5 mt-4"><%= Education::Program.human_attribute_name('capacity') %></h3>
        <%= @program.capacity %>
        <h3 class="h5 mt-4"><%= Education::Program.human_attribute_name('ects') %></h3>
        <%= @program.ects %>
        <h3 class="h5 mt-4"><%= Education::Program.human_attribute_name('continuing') %></h3>
        <%= t @program.continuing %>
        <% if @program.schools.any? %>
          <h3 class="h5 mt-4"><%= Education::Program.human_attribute_name('schools') %></h3>
          <ul class="list-unstyled">
            <% @program.schools.ordered.each do |school| %>
              <li><%= link_to_if can?(:read, school), school, [:admin, school] %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
    <% if @program.featured_image.attached? && @program.featured_image.variable? %>
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h5 class="card-title mb-0"><%= t('activerecord.attributes.education/program.featured_image') %></h5>
        </div>
        <div class="card-body">
          <%= image_tag @program.featured_image.variant(resize: '600'), class: 'img-fluid mb-3' %><br>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-md-8">
    <div class="card flex-fill w-100">
      <div class="card-header">
        <h5 class="card-title mb-0"><%= t('education.program.useful_informations') %></h5>
      </div>
      <div class="card-body">
        <h3 class="h5 mt-4">
          <%= Education::Program.human_attribute_name('description') %>
        </h3>
        <p><%= @program.description %></p>
        <% [
              :registration,
              :pricing,
              :duration,
              :contacts,
              :accessibility,
              :content,
              :results,
              :other
            ].each_with_index do |prop, index| %>
          <%
          best_prop_value = @program.public_send("best_#{prop}")
          best_prop_source = @program.public_send("best_#{prop}_source")
          %>
          <% next if best_prop_value.blank? # No value at all%>
          <h3 class="h5 mt-4">
            <%= Education::Program.human_attribute_name(prop) %>
            <% if best_prop_source %>
              <span class="small text-muted">
                <%= t 'admin.inheritance.sentence_html', link: link_to(best_prop_source, [:admin, best_prop_source]) %>
              </span>
            <% end %>
          </h3>
          <%= best_prop_value %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="card flex-fill w-100">
  <div class="card-header">
    <h5 class="card-title mb-0"><%= t('education.program.educational_informations') %></h5>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <% i = 0 %>
        <% ['prerequisites', 'objectives', 'opportunities'].each do |prop| %>
          <% next if @program.public_send(prop).blank? %>
          <h3 class="h5 <%= 'mt-4' if i > 0 %>"><%= Education::Program.human_attribute_name(prop) %></h3>
          <%= @program.public_send prop %>
          <% i += 1 %>
        <% end %>
      </div>
      <div class="col-md-6">
        <% i = 0 %>
        <% ['pedagogy', 'evaluation'].each do |prop| %>
          <% next if @program.public_send(prop).blank? %>
          <h3 class="h5 <%= 'mt-4' if i > 0 %>"><%= Education::Program.human_attribute_name(prop) %></h3>
          <%= @program.public_send prop %>
          <% i += 1 %>
        <% end %>

        <h3 class="h5 <%= 'mt-4' if i > 0 %>"><%= Education::Program.human_attribute_name('teachers') %></h3>
        <p><%= link_to t('create'), new_admin_education_program_teacher_path(program_id: @program.id), class: 'btn btn-primary' %></p>
        <%= render 'admin/education/program/teachers/list', teachers: @program.teachers.includes(:person).ordered %>
      </div>
    </div>
  </div>
</div>

<div class="card flex-fill w-100">
  <div class="card-header">
    <h5 class="card-title mb-0"><%= Education::Program.human_attribute_name('roles') %></h5>
  </div>
  <div class="card-body">
    <p><%= link_to t('create'), new_admin_education_program_role_path(program_id: @program.id), class: 'btn btn-primary' %></p>
    <%= render 'admin/education/program/roles/list', roles: @program.roles.ordered %>
  </div>
</div>

<% if @program.children.any? %>
  <div class="card flex-fill w-100">
    <div class="card-header">
      <h5 class="card-title mb-0"><%= Education::Program.model_name.human(count: 2) %></h5>
    </div>
    <div class="card-body">
      <%= render 'admin/education/programs/list', programs: @program.children %>
    </div>
  </div>
<% end %>

<% content_for :action_bar_right do %>
  <%= edit_link @program %>
<% end %>
