<% content_for :title, @program %>

<p>
  <strong>Name:</strong>
  <%= @program.name %>
</p>

<p>
  <strong>Level:</strong>
  <%= @program.level %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @program.capacity %>
</p>

<p>
  <strong>Ects:</strong>
  <%= @program.ects %>
</p>

<p>
  <strong>Continuing:</strong>
  <%= @program.continuing %>
</p>

<p>
  <strong>Prerequisites:</strong>
  <%= @program.prerequisites %>
</p>

<p>
  <strong>Objectives:</strong>
  <%= @program.objectives %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @program.duration %>
</p>

<p>
  <strong>Registration:</strong>
  <%= @program.registration %>
</p>

<p>
  <strong>Pedagogy:</strong>
  <%= @program.pedagogy %>
</p>

<p>
  <strong>Evaluation:</strong>
  <%= @program.evaluation %>
</p>

<p>
  <strong>Accessibility:</strong>
  <%= @program.accessibility %>
</p>

<% content_for :action_bar_right do %>
  <%= edit_link @program %>
<% end %>
