<% content_for :title, @program %>

<div class="row">
  <div class="col-lg-8 col-xxl-9">
    <%= render 'admin/application/summary/show', about: @program %>
    <%= render 'admin/education/programs/forms/part',
                part: :essential,
                collapsed: false do %>
      <div class="row">
        <div class="col-lg-6">
          <%= osuny_label Education::Program.human_attribute_name('name') %>
          <p><%= @program.name %></p>
          <%= osuny_label Education::Program.human_attribute_name('diploma') %>
          <p><%= link_to @program.diploma, [:admin, @program.diploma] if @program.diploma %></p>
          <% if @program.schools.any? %>
            <%= osuny_label Education::Program.human_attribute_name('schools') %>
            <ul class="list-unstyled">
              <% @program.schools.ordered.each do |school| %>
                <li><%= link_to_if can?(:read, school), school, [:admin, school] %></li>
              <% end %>
            </ul>
          <% end %>
        </div>
        <div class="col-lg-6">
          <%= osuny_label Education::Program.human_attribute_name('short_name') %>
          <p><%= @program.short_name %></p>
          <%= osuny_label Education::Program.human_attribute_name('capacity') %>
          <p><%= @program.capacity %></p>
          <%= osuny_label Education::Program.human_attribute_name('initial') %>
          <p><%= t @program.initial %></p>
          <%= osuny_label Education::Program.human_attribute_name('continuing') %>
          <p><%= t @program.continuing %></p>
          <%= osuny_label Education::Program.human_attribute_name('apprenticeship') %>
          <p><%= t @program.apprenticeship %></p>
          <% if @program.downloadable_summary.attached? %>
            <%= osuny_label Education::Program.human_attribute_name('downloadable_summary') %>
            <p><%= link_to "#{@program.downloadable_summary.filename} (#{ number_to_human_size @program.downloadable_summary.blob.byte_size })",
                            url_for(@program.downloadable_summary),
                            target: :_blank %></p>
          <% end %>
        </div>
      </div>
    <% end %>
    <%= render 'admin/education/programs/forms/part', part: :presentation, collapsed: true do %>
      <div class="row">
        <div class="col-xxl-6">
          <%= render 'admin/application/property/text', object: @program, property: :presentation %>
        </div>
        <div class="col-xxl-6">
          <%= render 'admin/application/property/text', object: @program, property: :objectives %>
        </div>
      </div>
    <% end %>
    <%= render 'admin/communication/blocks/index_edit', about: @program %>
    <hr class="pure__separation">
    <%= render 'admin/education/programs/forms/part', part: :pedagogy, collapsed: true do %>
      <div class="row">
        <div class="col-xxl-6">
          <%= render 'admin/application/property/text', object: @program, property: :content %>
        </div>
        <div class="col-xxl-6">
          <%= render 'admin/application/property/text', object: @program, property: :pedagogy %>
          <%= render 'admin/application/property/text', object: @program, property: :evaluation %>
        </div>
      </div>
      <%= render 'admin/education/programs/show/teachers', involvements: @teacher_involvements %>
    <% end %>
    <%= render 'admin/education/programs/forms/part', part: :results, collapsed: true do %>
      <div class="row">
        <div class="col-xxl-6">
          <%= render 'admin/application/property/text', object: @program, property: :opportunities %>
        </div>
        <div class="col-xxl-6">
          <%= render 'admin/application/property/text', object: @program, property: :results %>
        </div>
      </div>
    <% end %>
    <%= render 'admin/education/programs/forms/part', part: :admission, collapsed: true do %>
      <div class="row">
        <div class="col-xxl-6">
          <%= render 'admin/application/property/text', object: @program, property: :prerequisites %>
          <%= render 'admin/application/property/text', object: @program, property: :registration %>
          <%= render 'admin/application/property/text', object: @program, property: :other %>
        </div>
        <div class="col-xxl-6">
          <%= render 'admin/application/property/text', object: @program, property: :pricing %>
          <%= render 'admin/application/property/text', object: @program, property: :accessibility %>
          <%= render 'admin/application/property/text', object: @program, property: :contacts %>
          <% if @program.registration_url.present? %>
            <%= osuny_label Education::Program.human_attribute_name(:registration_url) %>
            <p><%= link_to @program.registration_url, @program.registration_url, target: :_blank %></p>
          <% end %>
        </div>
      </div>
      <%= render 'admin/education/programs/show/roles', roles: @roles %>
    <% end %>

    <% if @program.children.any? %>
      <%= osuny_panel Education::Program.model_name.human(count: 2) do %>
        <%= render 'admin/education/programs/list', programs: @program.children %>
      <% end %>
    <% end %>

    <%= render 'admin/education/programs/show/cohorts' %>
  </div>
  <div class="col-lg-4 col-xxl-3">
    <%= render 'admin/education/programs/forms/part', part: :technical do %>
      <%= osuny_label Education::Program.human_attribute_name('published') %>
      <p><%= t @program.published %></p>
      <%= osuny_label Education::Program.human_attribute_name('slug') %>
      <p><%= @program.slug %></p>
      <% if @program.parent %>
        <%= osuny_label Education::Program.human_attribute_name('parent') %>
        <p><%= link_to @program.parent, [:admin, @program.parent] %></p>
      <% end %>
    <% end %>
    <%= render 'admin/application/featured_image/show', about: @program %>
    <%= render 'admin/application/meta_description/show', about: @program %>
  </div>
</div>

<% content_for :action_bar_left do %>
  <%= destroy_link @program %>
  <%= static_link static_admin_education_program_path(@program) %>
<% end %>

<% content_for :action_bar_right do %>
  <%= preview_link %>
  <%= edit_link @program %>
<% end %>
