<% content_for :title, @l10n %>

<% content_for :title_right do %>
  <%= button_advanced do %>
    <%= destroy_link @program %>
  <% end %>
  <%= preview_link %>
  <%= edit_link @program %>
<% end %>

<div class="row">
  <div class="col-lg-8">
    <%= render 'admin/application/summary/show', about: @l10n %>
    <div class="row mt-5">
      <div class="col-lg-6">
        <%= render 'admin/education/programs/show/short_name', short_name: @l10n.short_name %>
        <%= render 'admin/education/programs/show/diploma', diploma: @program.diploma %>
        <%= render 'admin/education/programs/show/parent', parent: @program.parent %>
        <%= render 'admin/education/programs/show/children', children: @program.children %>
        <%= render 'admin/education/programs/show/schools', schools: @program.schools %>
        <%= render 'admin/education/programs/show/locations', locations: @program.locations %>
      </div>
      <div class="col-lg-6">
        <%= render 'admin/education/programs/show/duration', duration: @l10n.duration %>
        <%= render 'admin/education/programs/show/registration_scheme', program: @program %>
        <%= render 'admin/education/programs/show/downloadable_summary', downloadable_summary: @l10n.downloadable_summary %>
        <%= render 'admin/application/categories/widget/show', about: @program %>
      </div>
    </div>
    <%= osuny_separator %>
    <div class="row mt-5">
      <div class="col-lg-6">
        <%= render 'admin/application/permalinks/redirects', about: @l10n %>
      </div>
      <div class="col-lg-6">
        <%= render 'admin/application/property/text', object: @l10n, property: :presentation %>
        <%= render 'admin/application/property/text', object: @l10n, property: :objectives %>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <% if @l10n.logo.attached? %>
      <%= osuny_label Education::Program::Localization.human_attribute_name('logo') %>
      <div class="mb-5">
        <%= kamifusen_tag @l10n.logo, class: 'img-fluid svg-fluid' %>
      </div>
    <% end %>
    <%= render 'admin/application/images/featured/show', about: @l10n %>
    <%= render 'admin/education/programs/show/published', published: @l10n.published %>
    <%= render 'admin/application/meta_description/show', about: @l10n %>
  </div>
</div>

<%= osuny_separator %>

<%= render 'admin/application/a11y/widget', about: @l10n, horizontal: true %>
<%= render 'admin/communication/blocks/group/editor', about: @l10n %>

<%= osuny_separator %>

<div class="education_program_nav_in_summary">
  <div class="row mb-4">
    <div class="col-lg-4">
      <p class="small text-muted">
        <%= t('admin.education.programs.submenu') %>
      </p>
    </div>
    <div class="col-lg-8 small">
      <%= render_navigation context: 'navigation/admin/education/program',
                            renderer: :list  %>
    </div>
  </div>
</div>

<% content_for :server_admin_only do %>
  <%= static_link static_admin_education_program_path(@program) %>
<% end %>
