<% content_for :title, @program %>

<div class="row">
  <div class="col-lg-8">
    <%= osuny_panel Education::Program.human_attribute_name('name'), small: true do %>
      <p class="lead"><%= @program.name %></p>
    <% end %>
  </div>
  <div class="offset-lg-1 col-lg-3">
    <%= render 'admin/application/featured_image/show', about: @program, small: true %>
  </div>
</div>

<%= osuny_separator %>
<%= render 'admin/education/programs/show/details', program: @program %>

<%= osuny_separator %>
<%= render 'admin/application/a11y/widget', about: @program, horizontal: true, small: true %>

<%= osuny_separator %>
<div class="row mb-5">
  <div class="col-lg-4">
    <%= render 'admin/education/programs/show/metadata', program: @program %>
  </div>
  <div class="col-lg-8">
    <%= render 'admin/application/summary/show', about: @program, small: true %>
  </div>
</div>

<div class="row">
  <div class="col-lg-4">
    <h2 class="h4"><%= t("education.program.parts.presentation.label") %></h2>
  </div>
</div>
<div class="row">
  <div class="offset-lg-4 col-lg-8">
    <%= render 'admin/application/property/text', object: @program, property: :presentation %>
    <%= render 'admin/application/property/text', object: @program, property: :objectives %>
    <%= osuny_label 'Informations administratives' %>
    <table class="table">
      <tbody>
        <tr>
          <th><%= Education::Program.human_attribute_name('initial') %></th>
          <td class="text-end"><%= t @program.initial %></td>
        </tr>
        <tr>
          <th><%= Education::Program.human_attribute_name('continuing') %></th>
          <td class="text-end"><%= t @program.continuing %></td>
        </tr>
        <tr>
          <th><%= Education::Program.human_attribute_name('apprenticeship') %></th>
          <td class="text-end"><%= t @program.apprenticeship %></td>
        </tr>
        <tr>
          <th><%= Education::Program.human_attribute_name('capacity') %></th>
          <td class="text-end"><%= @program.capacity %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<%= render 'admin/communication/blocks/content/editor', about: @program %>

<div class="row">
  <div class="col-lg-4">
    <h2 class="h4"><%= t("education.program.parts.pedagogy.label") %></h2>
  </div>
</div>
<div class="row">
  <div class="offset-lg-4 col-lg-8">
    <%= render 'admin/application/property/text', object: @program, property: :content %>
    <%= render 'admin/application/property/text', object: @program, property: :pedagogy %>
    <%= render 'admin/application/property/text', object: @program, property: :evaluation %>
    <%= render 'admin/education/programs/show/teachers', involvements: @teacher_involvements %>
  </div>
</div>

<div class="row">
  <div class="col-lg-4">
    <h2 class="h4"><%= t("education.program.parts.results.label") %></h2>
  </div>
</div>
<div class="row">
  <div class="offset-lg-4 col-lg-8">
    <%= render 'admin/application/property/text', object: @program, property: :opportunities %>
    <%= render 'admin/application/property/text', object: @program, property: :results %>
  </div>
</div>

<div class="row">
  <div class="col-lg-4">
    <h2 class="h4"><%= t("education.program.parts.admission.label") %></h2>
  </div>
</div>
<div class="row">
  <div class="offset-lg-4 col-lg-8">
    <%= render 'admin/application/property/text', object: @program, property: :prerequisites %>
    <%= render 'admin/application/property/text', object: @program, property: :registration %>
    <%= render 'admin/application/property/text', object: @program, property: :other %>
    <%= render 'admin/application/property/text', object: @program, property: :pricing %>
    <%= render 'admin/application/property/text', object: @program, property: :accessibility %>
    <%= render 'admin/application/property/text', object: @program, property: :contacts %>
    <% if @program.registration_url.present? %>
      <%= osuny_label Education::Program.human_attribute_name(:registration_url) %>
      <p><%= link_to @program.registration_url, @program.registration_url, target: :_blank %></p>
    <% end %>
    <%= render 'admin/education/programs/show/roles', roles: @roles %>
  </div>
</div>

<% if @program.cohorts.any? %>
  <div class="row">
    <div class="col-lg-4">
      <h2 class="h4"><%= Education::Cohort.model_name.human(count: 2) %></h2>
    </div>
  </div>
  <div class="row">
    <div class="offset-lg-4 col-lg-8">
      <%= render 'admin/education/programs/show/cohorts' %>
    </div>
  </div>
<% end %>

<% content_for :action_bar_left do %>
  <%= destroy_link @program %>
  <%= static_link static_admin_education_program_path(@program) %>
<% end %>

<% content_for :action_bar_right do %>
  <%= preview_link %>
  <%= edit_link @program %>
<% end %>
