<% content_for :title, Research::Journal.model_name.human(count: 2) %>

<h1><%= Research::Journal.model_name.human(count: 2) %></h1>

<% @journals.each do |journal| %>
  <div class="row">
    <div class="col-md-8">
      <h2 class="mt-5"><%= journal %></h2>
      <p><%= journal.description %></p>
      <%= link_to 'Lire', journal, class: 'btn btn-primary stretched-link' %>
    </div>
    <div class="offset-md-1 col-md-3">
      <%= render journal.volumes.first if journal.volumes.any? %>
    </div>
  </div>
<% end %>
