<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th><%= osuny_label Communication::Website::Permalink.human_attribute_name(:path) %></th>
        <th><%= osuny_label Communication::Website::Permalink.human_attribute_name(:type) %></th>
        <th><%= osuny_label Communication::Website::Permalink.human_attribute_name(:about) %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% permalinks.each do |permalink| %>
        <tr>
          <td><pre class="mb-0"><%= permalink.path %></pre></td>
          <td>
            <% property = permalink.internal? ? :internal : :external %>
            <%= Communication::Website::Permalink.human_attribute_name(property) %>
          </td> 
          <td>
            <% if permalink.internal? %>
              <%= render 'admin/communication/websites/permalinks/about', permalink: permalink %>
            <% else %>
              <%= permalink.target_url %>
            <% end %>
          </td>
          <td class="text-end">
            <div class="btn-group mb-n2">
              <%= edit_link permalink %>
              <%= destroy_link permalink %>
            </div>
          </td>
        </tr>
      <% end %>
    </tr>
  </table>
</div>