<% content_for :title, @l10n %>

<%= render 'admin/application/categories/show', category: @category, l10n: @l10n %>

<% if @people.total_count > 0 %>
  <p>
    <%= @people.total_count %>
    <%= University::Person.model_name.human(count: @people.total_count).downcase %>
  </p>
  <%= render 'admin/university/people/list', people: @people %>
  <%= paginate @people %>
<% end %>

<% content_for :server_admin_only do %>
  <%= static_link static_admin_university_person_category_path(@category) %>
<% end %>
  
<% content_for :action_bar_left do %>
  <%= destroy_link @category %>
<% end %>

<% content_for :action_bar_right do %>
  <%= edit_link @category %>
<% end %>
