<%
edit ||= false
%>
<li class="experiences__experience py-4 border-top">
  <div class="row">
    <div class="col-md-6">
      <p class="mb-0">
        <b><%= experience.description %></b><br>
        <%= "#{experience.from_year} —" if experience.from_year %>
        <%= experience.to_year || t('today') %>
      </p>
      <%= link_to University::Person::Experience.human_attribute_name('edit'),
                  edit_experience_path(experience),
                  class: 'btn btn-sm btn-secondary mt-2' if edit %>
    </div>
    <div class="col-md-6 text-end">
      <% if experience.organization.present? %>
        <%= link_to experience.organization do %>
          <% if experience.organization.logo.attached? %>
            <%= kamifusen_tag experience.organization.logo, width: 100, class: 'img-fluid experience__organization__logo' %>
          <% else %>
            <p class="text-end><%= link_to experience.organization, experience.organization %></p>
          <% end %>
        <% end %>
      <div>
    <% end %>
  </div>
</li>
