<%
edit ||= false
%>
<li class="experiences__experience row py-3">
  <div class="col-md-4">
    <p><b><%= experience.description %></b></p>
    <p class="mb-0">
      <%= "#{experience.from_year} —" if experience.from_year %>
      <%= experience.to_year || t('today') %>
    </p>

    <%= link_to University::Person::Experience.human_attribute_name('edit'),
                edit_experience_path(experience),
                class: 'btn btn-sm btn-secondary mt-2' if edit %>
  </div>
  <% if experience.organization.present? %>
    <div class="col-md-6">
      <p><%= link_to experience.organization, experience.organization %></p>
      <% if experience.organization.url %>
        <p class="mb-0"><small><%= link_to experience.organization.url, experience.organization.url %></small></p>
      <% end %>
    </div>
    <div class="col-md-2">
      <% if experience.organization.logo.attached? %>
        <%= link_to experience.organization do %>
          <%= kamifusen_tag experience.organization.logo, height: 80, class: 'img-fluid' %>
        <% end %>
      <% end %>
    <div>
  <% end %>
</li>
