<%= simple_form_for experience, url: experience.persisted? ? experience_path(experience) : experiences_path do |f| %>
  <div class="row">
    <div class="col-lg-6">
      <%= f.input :description, as: :string %>
      <div class="row">
        <div class="col-6">
          <%= f.input :from_year %>
        </div>
        <div class="col-6">
          <%= f.input :to_year %>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <%= f.association :organization, include_blank: false %>
    </div>
  </div>
  <%= submit f %>
<% end %>