<% content_for :header do %>
  <%
  if @l10n.featured_image.attached?
    image_classes = 'col-md-3 offset-2'
    image_width = 400
    width, height = @l10n.featured_image.metadata.values_at('width', 'height')
    ratio = width.present? && height.present? ? (width.to_f / height.to_f) : nil
    if ratio && ratio > 1
      image_classes = 'col-md-5'
      image_width = 700
    end
  end
  %>
  <div class="row">
    <div class="header__info col-md-7">
      <h1><%= @l10n %></h1>
      <p class="small mt-2">
        <%= l @l10n.published_at, format: :date_with_explicit_month if @l10n.published_at %>
        <% if @post.category 
            category_l10n = @post.category.localization_for(current_language)
            next if category_l10n.nil? %>
          — <%= link_to category_l10n, posts_category_path(slug: category_l10n.slug), class: "link" %>
        <% end %>
      </p>
    </div>
    <% if @l10n.featured_image.attached? %>
      <div class="<%= image_classes %>">
        <figure class="<% if @l10n.featured_image_credit.present? %>with-credit<% end %>">
          <%= kamifusen_tag @l10n.featured_image, class: 'img-fluid', width: image_width %>
          <% if @l10n.featured_image_credit.present? %>
            <figcaption tabindex="0">
                <%= sanitize @l10n.featured_image_credit %>
            </figcaption>
          <% end %>
        </figure>
      </div>
    <% end %>
  </div>
<% end %>

<%= render 'admin/communication/contents/show', about: @l10n %>
