<div class="carousel draggable-container">
  <div class="carousel-posts draggable-content">
    <ul class="posts">
      <% block.template.selected_posts.each do |post|
        next if post.nil?
        post_l10n = post.localization_for(block.language)
        permalink = post_l10n.current_permalink_url_in_website(@website)
      %>
        <li class="draggable-item">
          <article class="post" itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">
            <div class="post-content">
              <%= render 'admin/communication/blocks/templates/posts/partials/heading', 
                          level: block.heading_rank_children,
                          label: post_l10n.to_s,
                          permalink: permalink %>
              <%= render 'admin/communication/blocks/templates/posts/partials/summary',
                          block: block,
                          post: post,
                          post_l10n: post_l10n %>
              <%= render 'admin/communication/blocks/templates/posts/partials/post_meta',
                          block: block,
                          post: post,
                          post_l10n: post_l10n %>
              <%= render 'admin/communication/blocks/templates/posts/partials/categories',
                          block: block,
                          post: post,
                          post_l10n: post_l10n %>
            </div>
            <% if block.template.option_image %>
              <div class="media">
                <% if post_l10n.best_featured_image.attached? %>
                  <%= kamifusen_tag post_l10n.best_featured_image %>
                <% end %>
              </div>
            <% end %>
          </article>
        </li>
      <% end %>
    </ul>
    <div class="actions-arrows">
      <button class="previous" disabled title="{{ i18n "blocks.timeline.previous"}}"></button>
      <button class="next" title="{{ i18n "blocks.timeline.next"}}"></button>
    </div>
  </div>
</div>
