<% content_for :title, @l10n %>

<div class="row">
  <div class="col-md-8 order-2 order-md-1">
    <% unless @l10n.text.blank? %>
      <div class="biography mb-5">
        <%= sanitize @l10n.text %>
      </div>
    <% end %>
    <% if @people.any? %>
      <div class="experiences mb-5">
        <h3 class="mb-5"><%= t('extranet.contacts.organizations.people') %></h3>
        <%= render 'extranet/contacts/persons/list', people: @people %>
      </div>
    <% end %>
  </div>
  <div class="offset-md-1 col-md-3 order-1 order-md-2">
    <%= kamifusen_tag @organization.logo, 
                      width: 400, 
                      class: 'img-fluid organization__logo mb-5' if @organization.logo.attached? %>
    <%= render 'extranet/contacts/organizations/details',
                organization: @organization,
                l10n: @l10n %>
  </div>
</div>
