<% content_for :title, @l10n %>

<div class="row">
  <div class="col-lg-8 order-2 order-lg-1">
    <%= render 'extranet/organizations/show/description',
                organization: @organization,
                l10n: @l10n %>
    <% if @people.any? %>
      <div class="experiences mb-5">
        <h3 class="mb-5"><%= t('extranet.contacts.organizations.people') %></h3>
        <%= render 'extranet/contacts/persons/list', people: @people %>
        <%= paginate @people, theme: 'bootstrap-5' %>
      </div>
    <% end %>
  </div>
  <div class="offset-lg-1 col-lg-3 order-1 order-lg-2">
    <%= render 'extranet/organizations/show/details',
                organization: @organization,
                l10n: @l10n %>
  </div>
</div>
