<%= simple_form_for [:admin, administrator] do |f| %>
  <div class="card flex-fill w-100">
    <div class="card-header">
      <h5 class="card-title mb-0"><%= t('admin.infos') %></h5>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <% used_administrator_ids = @school.administrators.where.not(id: administrator.id).pluck(:person_id) %>
          <%= f.association :person, collection: current_university.people.administratives.where.not(id: used_administrator_ids).ordered %>
        </div>
        <div class="col-md-6">
          <%= f.input :description, as: :string %>
        </div>
      </div>
    </div>
  </div>
  <% content_for :action_bar_right do %>
    <%= submit f %>
  <% end %>
<% end %>
