<div class="row" data-id="block_<%= block.id %>">
  <div class="offset-lg-4 col-lg-8">
    <article class="blocks__list__element mt-5 <%= 'draft' unless block.published? %>">
      <div class="mb-2">
        <div class="float-end">
          <%= duplicate_link block %>
          <%= edit_link block %>
        </div>
        <span class="small text-muted mb-2"><%= block.template_kind_i18n  %></span>
        <span class="blocks__list__handle"><i class="<%= Icon::SORT %> handle"></i></span>
      </div>
      <div class="blocks__list__preview">
        <% 
        @block = block 
        @template = @block.template
        %>
        <%= render "admin/communication/blocks/templates/#{@block.template_kind}/preview" %>
      </div>
      <%= render 'admin/application/a11y/status', about: block unless block.accessible? %>
    </article>
  </div>
</div>