<div class="card flex-fill w-100">
  <div class="card-header">
    <div class="float-end">
      <%= link_to t('add'),
                  new_admin_communication_block_path(about_id: about.id, about_type: about.class.name),
                  class: button_classes if can? :create, Communication::Block %>
    </div>
    <h2 class="card-title mb-0 h5">
      <%= Communication::Block.model_name.human(count: 2) %>
    </h2>
  </div>
  <% if about.blocks.any? %>
    <table class="<%= table_classes %>">
      <thead>
        <tr>
          <% if can? :reorder, Communication::Block %>
            <th width="20" class="ps-0">&nbsp;</th>
          <% end %>
          <th><%= Communication::Block.human_attribute_name('title') %></th>
          <th><%= Communication::Block.human_attribute_name('template') %></th>
          <th><%= t 'accessibility.label' %></th>
          <th></th>
        </tr>
      </thead>
      <tbody data-sortable data-sort-url="<%= reorder_admin_communication_blocks_path %>">
        <% about.blocks.ordered.each do |block| %>
          <tr data-id="<%= block.id %>">
            <% if can? :reorder, Communication::Block %>
              <td><i class="fa fa-bars handle"></i></td>
            <% end %>
            <td><%= block.to_s.truncate(50) %></td>
            <td><%= block.template_kind_i18n  %></td>
            <td>
              <p class="m-0 lead">
                <i class="fas fa-universal-access <%= block.accessible? ?
                    'text-success' : 'text-danger'%>"></i>
              </p>
            </td>
            <td class="text-end">
              <%= link_to 'Dependencies', 
                          [:admin, block],
                          class: button_classes('btn-light') if current_user.server_admin? %>
              <%= edit_link block %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
