<div class="card flex-fill w-100">
  <div class="card-header">
    <div class="float-end">
      <%= link_to t('add'),
                  new_admin_communication_block_path(about_id: about.id, about_type: about.class.name),
                  class: button_classes %>
    </div>
    <h2 class="card-title mb-0 h5">
      <%= Communication::Block.model_name.human(count: 2) %>
    </h2>
  </div>
    <table class="<%= table_classes %>">
      <thead>
        <tr>
          <th width="20" class="ps-0">&nbsp;</th>
          <th><%= Communication::Block.human_attribute_name('title') %></th>
          <th><%= Communication::Block.human_attribute_name('template') %></th>
          <th></th>
        </tr>
      </thead>
      <tbody data-sortable data-sort-url="<%= reorder_admin_communication_blocks_path %>">
        <% about.blocks.ordered.each do |block| %>
          <tr data-id="<%= block.id %>">
            <td><i class="fa fa-bars handle"></i></td>
            <td><%= link_to block, admin_communication_block_path(block) %></td>
            <td><%= block.template_i18n  %></td>
            <td class="text-end">
              <%= edit_link block %>
              <%= destroy_link block %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
