<%
action = ''
action += link_to t('admin.communication.blocks.add'),
                  new_admin_communication_block_path(about_id: about.id, about_type: about.class.name),
                  class: button_classes if can? :create, Communication::Block
action += link_to t('admin.communication.blocks.headings.add'),
                  new_admin_communication_heading_path(about_id: about.id, about_type: about.class.name),
                  class: button_classes('ms-2') if can? :create, Communication::Block::Heading
%>
<%= osuny_panel Communication::Block.model_name.human(count: 2), action: action do %>
  <% if about.headings.any? %>
    <% about.headings.root.each do |heading| %>
      <%= link_to heading, edit_admin_communication_heading_path(heading) %>
    <% end %>
  <% end %>
  <% if about.blocks.any? %>
    <div class="table-responsive">
      <table class="<%= table_classes %>">
        <thead>
          <tr>
            <th></th>
            <th><%= Communication::Block.human_attribute_name :title %></th>
            <th><%= Communication::Block.human_attribute_name :template %></th>
            <th></th>
          </tr>
        </thead>
        <tbody data-sortable data-sort-url="<%= reorder_admin_communication_blocks_path %>">
          <% about.blocks.ordered.each do |block| %>
            <tr data-id="<%= block.id %>" class="<%= 'draft' unless block.published? %>">
              <% if can? :reorder, Communication::Block %>
                <td class="ps-0 blocks__list__handle"><i class="<%= Icon::DRAG %> handle"></i></td>
              <% end %>
              <td class="blocks__list__name">
                <%= block.to_s.truncate(50) %><br>
                <span class="small"><%= block.template_kind_i18n  %></span>
                <%= render 'admin/application/a11y/status', about: block %>
              </td>
              <td class="blocks__list__image">
                <%= image_tag "communication/blocks/templates/#{block.template_kind}.jpg", alt: '' %>
              </td>
              <td class="blocks__list__buttons">
                <div class="btn-group">
                  <%= duplicate_link block %>
                  <%= edit_link block %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <% if about.blocks.count > 9 %>
        <%= raw action %>
      <% end %>
    </div>
  <% end %>
<% end %>
