<%= osuny_panel Communication::Block.model_name.human(count: 2) do %>
  <div class="blocks" data-sortable data-sort-url="<%= reorder_admin_communication_blocks_path %>">
    <% about.blocks.with_no_heading.ordered.each do |block| %>
      <%= render 'admin/communication/blocks/block', block: block %>
    <% end %>
    <% about.headings.root.each do |heading| %>
      <%= render 'admin/communication/blocks/headings/heading', heading: heading %>
    <% end %>
  </div>
  <div class="row mt-5">
    <div class="col-lg-4">
      <%= link_to t('admin.communication.blocks.headings.add'),
                  new_admin_communication_heading_path(about_id: about.id, about_type: about.class.name),
                  class: 'p-5 d-block bg-light text-center h4' if can? :create, Communication::Block::Heading%>
    </div>
    <div class="col-lg-8">
      <%= link_to t('admin.communication.blocks.add'),
                  new_admin_communication_block_path(about_id: about.id, about_type: about.class.name),
                  class: 'p-5 d-block bg-light text-center h4' if can? :create, Communication::Block%>
    </div>
  </div>
<% end %>
