<%
action = ''
action += link_to t('add'),
                  new_admin_communication_block_path(about_id: about.id, about_type: about.class.name),
                  class: button_classes if can? :create, Communication::Block
%>
<%= osuny_panel Communication::Block.model_name.human(count: 2), action: action do %>
  <% if about.blocks.any? %>
    <div class="table-responsive">
      <table class="<%= table_classes %>">
        <tbody data-sortable data-sort-url="<%= reorder_admin_communication_blocks_path %>">
          <% about.blocks.ordered.each do |block| %>
            <tr data-id="<%= block.id %>" class="<%= 'draft' unless block.published? %>">
              <% if can? :reorder, Communication::Block %>
                <td class="ps-0"><i class="fa fa-bars handle"></i></td>
              <% end %>
              <td>
                <%= block.to_s.truncate(50) %><br>
                <span class="small"><%= block.template_kind_i18n  %></span>
              </td>
              <td class="p-0">
                <%= image_tag "communication/blocks/templates/#{block.template_kind}.jpg",
                              height: "100px", alt: '', style:"max-height: 75px" %>
              </td>
              <td><%= render 'admin/application/a11y/status', about: block %></td>
              <td class="text-end pe-0">
                <div class="btn-group">
                  <%= duplicate_link block %>
                  <%= edit_link block %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
<% end %>
