<% content_for :title, @block %>
<% content_for :title_right do %>
  <%= t "enums.communication.block.template_kind.#{@block.template_kind}" %>
<% end %>
<div id="app" v-cloak>
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only"><%= t 'loading' %></span>
  </div>
  <%= simple_form_for [:admin, @block] do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="row">
      <div class="col-xxl-9 col-lg-8">
        <div class="row pure__row--small">
          <div class="col-lg-6">
            <%= f.input :title %>
          </div>
          <div class="col-lg-6">
            <label class="form-label d-none d-lg-block">&nbsp;</label>
            <%= f.input :published %>
          </div>
        </div>
        <%= render "admin/communication/blocks/templates/#{@block.template_kind}/edit", f: f %>
      </div>
      <div class="col-xxl-3 col-lg-4">
        <%= render 'admin/application/a11y/widget', about: @block %>
      </div>
    </div>
    <textarea name="communication_block[data]" rows="20" cols="200" class="d-none">
      {{ JSON.stringify(data) }}
    </textarea>
    <% content_for :action_bar_left do %>
      <%= destroy_link @block %>
      <%= duplicate_link @block %>
    <% end %>
    <% content_for :action_bar_right do %>
      <%= submit f %>
    <% end %>
  <% end %>
</div>

<%# Include vue.js before call Vue.createApp %>
<%= javascript_include_tag 'vue' %>

<script>
  var app = Vue.createApp({
    components: {
      draggable: VueDraggableNext.VueDraggableNext,
    },
    data() {
      return {
        directUpload: {
          url: "<%= rails_direct_uploads_url.html_safe %>",
          blobUrlTemplate: "<%= medium_url(":signed_id", ":filename").html_safe %>"
        },
        data: <%= @block.data.to_json.html_safe %>,
        <% if @element %>
        defaultElement: <%= @element.default_data.to_json.html_safe %>
        <% end %>
      }
    },
    methods: {
      // TODO : create a uploader vue3 component
      onFileImageChange(event, object, key) {
        var files = event.target.files || event.dataTransfer.files;
        if (!files.length)
          return;
        this.uploadFile(event.target, files[0], object, key);
      },
      uploadFile(input, file, object, key) {
        var size = Math.round(file.size / 1024 / 1024),
            sizeLimit = <%= Communication::Block::IMAGE_MAX_SIZE %>,
            sizeLimitMo = 0,
            controller;
        if (input.hasAttribute('data-size-limit')) {
          sizeLimit = input.getAttribute('data-size-limit');
        }
        sizeLimitMo = Math.round(sizeLimit / 1024 / 1024);
        controller = new Vue.DirectUploadController(input, file, this.directUpload.url);
        if (file.size > sizeLimit) {
          alert("<%= t('admin.communication.blocks.alerts.file_is_too_big').html_safe %> (" + size + " Mo > " + sizeLimitMo + " Mo)");
          return;
        }
        controller.start(function (blob) {
          object[key] = {
              id: blob.id,
              signed_id: blob.signed_id,
              filename: blob.filename
          };
        });
      },
      getFileUrl(signed_id, filename) {
        return this.directUpload.blobUrlTemplate
          .replace(':signed_id', signed_id)
          .replace(':filename', filename);
      },
      getImageUrl(data) {
        return this.getFileUrl(data.signed_id, "image_1024x.jpg");
      },
      handleSummernotes() {
        var $summernoteElements = $('.summernote-vue');

        $summernoteElements.each(function(index){
          this.initSummernote($summernoteElements.get(index));
        }.bind(this));
      },
      handleCodemirrors() {
        var $codemirrorElements = $('.codemirror-vue');

        $codemirrorElements.each(function(index){
          this.initCodemirror($codemirrorElements.get(index));
        }.bind(this));
      },
      initSummernote(element) {
        var config = element.getAttribute('data-summernote-config') || 'default';
        $(element).summernote({
          lang: '<%= current_language.summernote_locale unless current_language.summernote_locale.blank? %>',
          toolbar: window.SUMMERNOTE_CONFIGS[config].toolbar, // Dependent of app/assets/javascripts/admin/plugins/summernote.js
          followingToolbar: true,
          disableDragAndDrop: true,
          callbacks: {
            onChange: function(contents, $editable) {
              element.value = contents;
              element.dispatchEvent(new Event('input'));
            }.bind(this)
          }
        });
      },
      initCodemirror(element) {
        var editor = CodeMirror.fromTextArea(element, {
            lineNumbers: true,
            styleActiveLine: true,
            indentUnit: 2,
            viewportMargin: Infinity,
            mode: element.getAttribute('data-codemirror-mode')
        });
        editor.on("change", function (instance, changeObj) {
          element.value = instance.getValue();
          element.dispatchEvent(new Event('input'));
        });
      }
    },
    mounted: function() {
      this.handleSummernotes();
      // Use Timeout to prevent display issues
      setTimeout(this.handleCodemirrors.bind(this), 0);
    }
  });

  window.addEventListener('direct-upload:initialize', function (event) {
    event.target.insertAdjacentHTML('afterend', `<progress value="0" max="100" style="width: 100%;"></progress>`)
  });

  window.addEventListener('direct-upload:progress', function (event) {
    var progressBar = event.target.parentNode.querySelector('progress');
    if (progressBar) {
      progressBar.value = event.detail.progress;
    }
  });

  window.addEventListener('direct-upload:end', function (event) {
    var progressBar = event.target.parentNode.querySelector('progress');
    if (progressBar) {
      progressBar.parentNode.removeChild(progressBar);
    }
  });

  window.addEventListener('load', function(){
    setTimeout(function() {
      app.mount('#app');
    }, 1000);
  });
</script>
