<% content_for :title, @block %>
<% content_for :title_right do %>
  <%= t "enums.communication.block.template_kind.#{@block.template_kind}" %>
<% end %>
<%
payload = {
  data: @block.data,
  defaultElement: @element&.default_data,
  directUploadUrl: rails_direct_uploads_url,
  blobUrlTemplate: medium_url(':signed_id', ':filename', lang: nil, keycdn: ENV['KEYCDN_HOST'].present?),
  summernoteLocale: current_interface_language.summernote_locale.presence
}
%>
<div
  id="app"
  data-editor-form-root
  data-mode="edit"
  data-block-id="<%= @block.id %>"
  data-block-path="<%= admin_communication_block_path(@block) %>"
  data-payload="<%= payload.to_json %>"
  data-languagetool-locale="<%= I18n.locale %>"
  data-languagetool-email="<%= ENV['LANGUAGE_TOOL_USERNAME'] %>"
  data-languagetool-token="<%= ENV['LANGUAGE_TOOL_ADD_ON_TOKEN'] %>"
  class="pb-5">
  <%= simple_form_for [:admin, @block], html: { id: 'block-form' } do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <%= render 'admin/application/a11y/widget', about: @block %>

    <%= f.input :published,
                label: t('publication.published'),
                wrapper: :custom_boolean_switch %>
    <%= f.input :title,
                input_html: { data: { translatable: true } } %>

    <%= render "admin/communication/blocks/templates/#{@block.template_kind}/edit", f: f, block: @block %>

    <div class="mt-5">
      <a  class="text-muted small"
          data-bs-toggle="collapse"
          href="#advanced"
          role="button"
          aria-expanded="false"
          aria-controls="advanced">
        <i class="bi bi-gear-fill"></i>
        <%= t('admin.advanced_settings') %>
      </a>
      <div class="collapse mt-3" id="advanced">
        <%
        if @block.title.present?
          slug = @block.slug
          about_l10n = @block.about
          about = about_l10n.about
          %>
          <div class="mb-5">
            <%= osuny_label t('admin.communication.blocks.advanced.anchor') %>
            <pre>#<%= slug %></pre>
            <%
            if about.try(:is_direct_object?) && !about.is_a?(Communication::Website)
              website = about.website
              hugo = about_l10n.hugo(website)
              %>
              <%= osuny_label t('admin.communication.blocks.advanced.url_with_anchor') %>
              <pre><%= hugo.permalink %>#<%= slug %></pre>
            <% end %>
          </div>
        <% end %>
        <%= f.input :html_class %>
        <% if @block.html_class.present? %>
          <pre><%= @block.html_class_prepared %></pre>
        <% end %>
      </div>
    </div>
    <textarea name="communication_block[data]" rows="20" cols="200" class="d-none">
      {{ JSON.stringify(data) }}
    </textarea>
    <div class="vue__changes vue__changes--changed">
      <button type="button" class="btn btn-light vue__changes__cancel"><%= t('vue.changes.cancel') %></button>
      <%= render 'admin/application/l10n/libre_translate_button', l10n: @block.about %>
      <%= submit f %>
    </div>
  <% end %>
</div>
