<% content_for :title, t('communication.block.choose_template') %>

<div class="row">
  <% Communication::Block.templates.keys.each do |template| %>
    <% @block.template = template %>
    <div class="col-lg-3 col-md-4">
      <div class="card">
        <% asset = "communication/blocks/templates/#{template}.jpg" %>
        <%= image_tag asset, alt: '' if Rails.application.assets.find_asset(asset) %>
        <div class="card-body">
          <h5 class="card-title"><%= t "enums.communication.block.template.#{template}" %></h5>
          <%= simple_form_for [:admin, @block] do |f| %>
            <%= f.input :about_type, as: :hidden %>
            <%= f.input :about_id, as: :hidden %>
            <%= f.input :template, as: :hidden %>
            <%= f.submit  t('communication.block.choose'),
                          class: button_classes('stretched-link') %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
