<% content_for :title, t('communication.block.choose_template') %>

<div class="row">
  <% Communication::Block.template_kinds.keys.each do |template_kind| %>
    <% @block.template_kind = template_kind %>
    <div class="col-lg-3 col-md-4">
      <div class="card">
        <%= image_tag "communication/blocks/templates/#{template_kind}.jpg", alt: '' %>
        <div class="card-body">
          <h5 class="card-title"><%= t "enums.communication.block.template_kind.#{template_kind}" %></h5>
          <%= simple_form_for [:admin, @block] do |f| %>
            <%= f.input :about_type, as: :hidden %>
            <%= f.input :about_id, as: :hidden %>
            <%= f.input :template_kind, as: :hidden %>
            <%= f.submit  t('communication.block.choose'),
                          class: button_classes('stretched-link') %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
