<div class="card mt-5">
  <div class="card-header">
    <div class="float-end">
      <%= link_to t('create'),
                  new_admin_communication_website_category_path(website_id: @website),
                  class: button_classes if can?(:create, Communication::Website::Category) %>
    </div>
    <h2 class="card-title">
      <%= link_to admin_communication_website_categories_path(website_id: @website) do %>
        <%= Communication::Website::Category.model_name.human(count: 2) %>
        <small>
          -
          <%= t('communication.website.see_all', number: @website.categories.count) %>
        </small>
      <% end %>
    </h2>
  </div>
  <%= render 'admin/communication/website/categories/list', categories: @website.categories.root.ordered %>
</div>
