<%
title = @website.feature_agenda_name(current_language)
action = ''
action += link_to t('create'),
                  new_admin_communication_website_agenda_event_path(website_id: @website),
                  class: button_classes if can?(:create, Communication::Website::Agenda::Event)
%>
<%= osuny_panel title, action: action do %>
  <div class="row g-2 mb-3">
    <%
    @events.each do |event|
      event_l10n = event.best_localization_for(current_language)
      %>
      <div>
        <div class="<%= osuny_card_classes(horizontal: true) %>">
          <%= osuny_thumbnail_localized event %>
          <div class="card-body">
            <%= osuny_link_localized  event,
                                      admin_communication_website_agenda_event_path(
                                        website_id: event.website.id,
                                        id: event.id
                                      ),
                                      classes: "stretched-link" %>
            <% if event_l10n&.subtitle.present? %>
              <br><span class="text-muted"><%= event_l10n.subtitle %></span>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <%= render 'admin/application/components/all',
                link: admin_communication_website_agenda_events_path(website_id: @website) %>
  </div>
<% end %>
