<%
title = @website.feature_jobboard_name(current_language)
action = ''
action += link_to t('create'),
                  new_admin_communication_website_jobboard_job_path(website_id: @website),
                  class: button_classes if can?(:create, Communication::Website::Jobboard::Job)
%>
<%= osuny_panel title, action: action do %>
  <div class="row g-2 mb-3">
    <%
    @jobs.each do |job|
      job_l10n = job.best_localization_for(current_language)
      %>
      <div>
        <div class="<%= osuny_card_classes(horizontal: true) %>">
          <%= osuny_thumbnail_localized job %>
          <div class="card-body">
            <%= osuny_link_localized  job,
                                      admin_communication_website_jobboard_job_path(
                                        website_id: job.website.id,
                                        id: job.id
                                      ),
                                      classes: "stretched-link" %>
            <% if job_l10n&.subtitle.present? %>
              <br><span class="text-muted"><%= job_l10n.subtitle %></span>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <%= render 'admin/application/components/all',
                link: admin_communication_website_jobboard_jobs_path(website_id: @website) %>
  </div>
<% end %>
