<%
action = ''
action += link_to t('create'),
                  new_admin_communication_website_page_path(website_id: @website),
                  class: button_classes if can?(:create, Communication::Website::Page)
%>
<%= osuny_panel t('communication.website.last_pages'),
                action: action do %>
  <div class="row g-2 mb-3">
    <% @pages.each do |page| %>
      <div class="<%= 'col-lg-6 col-xxl-4' if large %>">
        <div class="card card--horizontal">
          <%= osuny_thumbnail_localized page %>
          <div class="card-body">
            <%= osuny_link_localized page, admin_communication_website_page_path(website_id: page.website.id, id: page.id), classes: "stretched-link" %>
          </div>
          <div class="card-footer text-muted">
            <%= l page.updated_at.to_date, format: :short %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to t('communication.website.see_all', number: @all_pages.count),
              admin_communication_website_pages_path(website_id: @website) %>
<% end %>
