<div class="card mb-5">
  <div class="card-header">
    <div class="float-end">
      <%= link_to t('create'),
                  new_admin_communication_website_page_path(website_id: @website),
                  class: button_classes if can?(:create, Communication::Website::Page) %>
    </div>
    <h2 class="card-title">
      <%= link_to admin_communication_website_pages_path(website_id: @website) do %>
        <%= t('communication.website.last_pages') %>
        <small>
          -
          <%= t('communication.website.see_all', number: @website.pages.accessible_by(current_ability).where(language_id: current_website_language.id).count) %>
        </small>
      <% end %>
    </h2>
  </div>
  <%= render 'admin/communication/websites/pages/list',
              pages: @pages %>
</div>
