<% content_for :title, @l10n %>

<%= render 'admin/application/categories/show', category: @category, l10n: @l10n %>

<% if @posts.total_count > 0 %>
  <div class="row">
    <div class="offset-lg-4 col-lg-8">
      <p>
        <%= @posts.total_count %> 
        <%= Communication::Website::Post.model_name.human(count: @posts.total_count).downcase %>
      </p>
      <%= render 'admin/communication/websites/posts/list', posts: @posts, hide_category: true %>
      <%= paginate @posts %>
    </div>
  </div>
<% end %>

<% content_for :server_admin_only do %>
  <%= static_link static_admin_communication_website_post_category_path(@category) %>
<% end %>
  
<% content_for :action_bar_left do %>
  <%= destroy_link @category %>
<% end %>

<% content_for :action_bar_right do %>
  <%= edit_link @category %>
<% end %>
