<%= simple_form_for [:admin, organization] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="row">
    <div class="col-md-8">
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h5 class="card-title mb-0"><%= t('content') %></h5>
        </div>
        <div class="card-body">
          <%= f.input :name %>
          <%= render 'admin/application/chapo/form', f: f, about: organization %>
          <%= f.input :text,
                      as: :summernote,
                      input_html: {
                        data: { 'summernote-config' => 'mini-list' }
                      } %>
        </div>
      </div>
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h5 class="card-title mb-0">
            <%= University::Organization.human_attribute_name('contact') %>
          </h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <%= f.input :address %>
              <%= f.input :zipcode %>
              <%= f.input :city %>
              <%= f.input :country, input_html: { class: 'form-select' } %>
            </div>
            <div class="col-md-6">
              <%= f.input :url %>
              <%= f.input :phone %>
              <%= f.input :email %>
            </div>
          </div>
        </div>
      </div>
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h5 class="card-title mb-0">
            <%= University::Organization.human_attribute_name('legal') %>
          </h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <%= f.input :long_name %>
            </div>
            <div class="col-md-6">
              <%= f.input :kind, include_blank: false %>
              <%= f.input :siren %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h5 class="card-title mb-0"><%= t('informations') %></h5>
        </div>
        <div class="card-body">
          <%= f.input :slug,
                      as: :string,
                      input_html: organization.persisted? ? {} : {
                        class: 'js-slug-input',
                        data: { source: '#university_organization_name' }
                      } %>
          <%= f.input :active %>
        </div>
      </div>
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h5 class="card-title mb-0"><%= t 'university.organization.logo' %></h5>
        </div>
        <div class="card-body">
          <%= f.input :logo,
                      as: :single_deletable_file,
                      input_html: { accept: '.jpg,.jpeg,.png,.svg' },
                      preview: 200,
                      resize: false,
                      direct_upload: true %>
          <%= f.input :logo_on_dark_background,
                      as: :single_deletable_file,
                      input_html: { accept: '.jpg,.jpeg,.png,.svg' },
                      preview: 200,
                      resize: false,
                      direct_upload: true %>
        </div>
      </div>
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h5 class="card-title mb-0"><%= t('seo') %></h5>
        </div>
        <div class="card-body">
          <%= f.input :description %>
        </div>
      </div>
    </div>
  </div>
  <% content_for :action_bar_right do %>
    <%= submit f %>
  <% end %>
<% end %>
