<%= simple_form_for [:admin, organization] do |f| %>
  <%= f.simple_fields_for :localizations, l10n do |lf| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <%= lf.hidden_field :language_id, value: current_language.id %>

    <div class="row mb-5">
      <div class="col-lg-3">
        <%= lf.input :name %>
        <%= f.input :active, wrapper: :custom_boolean_switch %>
        <%= render  "admin/application/slug/form",
                    f: lf,
                    source: '#university_organization_localizations_attributes_0_name' %>
        <%= lf.input :logo,
                    as: :single_deletable_file,
                    input_html: { accept: default_images_formats_accepted },
                    preview: 200,
                    resize: false %>
        <%= lf.input :logo_on_dark_background,
                    as: :single_deletable_file,
                    input_html: { accept: default_images_formats_accepted },
                    preview: 200,
                    resize: false %>
        <%= osuny_separator %>
        <%= render 'admin/application/images/featured/form', f: lf, about: l10n %>
      </div>
      <div class="offset-lg-1 col-lg-8">
        <%= render 'admin/application/summary/form', f: lf, about: l10n %>
        <%= lf.input :text,
                    as: :summernote,
                    input_html: {
                      data: { 'summernote-config' => 'mini-list' }
                    } %>
        <%= render 'admin/application/categories/widget/form', f: f, categories: @categories %>
        <%= render 'admin/application/contact_details/edit', f: f, lf: lf, about: organization, l10n: l10n %>
        <%= osuny_panel University::Organization.human_attribute_name('legal') do %>
          <div class="row pure__row--small">
            <div class="col-xl-6">
              <%= lf.input :long_name %>
            </div>
            <div class="col-xl-6">
              <%= f.input :kind, include_blank: false %>
            </div>
            <div class="col-xl-6">
              <%= f.input :siren %>
            </div>
          </div>
        <% end %>
        <div class="row">
          <div class="col-lg-6">
            <%= render 'admin/application/images/shared/form', f: lf, about: l10n %>
          </div>
          <div class="col-lg-6">
            <%= render 'admin/application/meta_description/form', f: lf, about: l10n %>
          </div>
        </div>
      </div>
    </div>
    <% content_for :action_bar_right do %>
      <%= submit f %>
    <% end %>
  <% end %>
<% end %>
