<%= simple_form_for [:admin, organization] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="row">
    <div class="col-xl-8">
      <%= osuny_panel t('content') do %>
        <%= f.input :name %>
        <%= render 'admin/application/summary/form', f: f, about: organization %>
        <%= f.input :text,
                    as: :summernote,
                    input_html: {
                      data: { 'summernote-config' => 'mini-list' }
                    } %>
      <% end %>
      <%= osuny_panel University::Organization.human_attribute_name('physical') do %>
        <div class="row pure__row--small">
          <div class="col-xl-6">
            <%= f.input :address_name %>
            <%= f.input :address %>
            <%= f.input :address_additional %>
          </div>
          <div class="col-xl-6">
            <%= f.input :zipcode %>
            <%= f.input :city %>
            <%= f.input :country, input_html: { class: 'form-select' } %>
          </div>
        </div>
      <% end %>
      <%= osuny_panel University::Organization.human_attribute_name('digital') do %>
        <div class="row pure__row--small">
          <div class="col-xl-6">
            <%= f.input :url %>
          </div>
          <div class="col-xl-6">
            <%= f.input :phone %>
          </div>
          <div class="col-xl-6">
            <%= f.input :email %>
          </div>
          <div class="col-xl-6">
            <%= f.input :linkedin %>
          </div>
          <div class="col-xl-6">
            <%= f.input :twitter %>
          </div>
          <div class="col-xl-6">
            <%= f.input :mastodon %>
          </div>
        </div>
      <% end %>
      <%= osuny_panel University::Organization.human_attribute_name('legal') do %>
        <div class="row pure__row--small">
          <div class="col-xl-6">
            <%= f.input :long_name %>
          </div>
          <div class="col-xl-6">
            <%= f.input :kind, include_blank: false %>
          </div>
          <div class="col-xl-6">
            <%= f.input :siren %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-xl-4">
      <%= osuny_panel University::Organization.human_attribute_name('legal') do %>
        <%= f.input :slug,
                    as: :string,
                    input_html: organization.persisted? ? {} : {
                      class: 'js-slug-input',
                      data: { source: '#university_organization_name' }
                    } %>
        <%= f.input :active %>
      <% end %>
      <%= osuny_panel University::Organization.human_attribute_name('legal') do %>
        <%= f.input :logo,
                    as: :single_deletable_file,
                    input_html: { accept: '.jpg,.jpeg,.png,.svg' },
                    preview: 200,
                    resize: false,
                    direct_upload: true %>
        <%= f.input :logo_on_dark_background,
                    as: :single_deletable_file,
                    input_html: { accept: '.jpg,.jpeg,.png,.svg' },
                    preview: 200,
                    resize: false,
                    direct_upload: true %>
      <% end %>
      <%= render 'admin/application/meta_description/form', f: f, about: organization %>
    </div>
  </div>
  <% content_for :action_bar_right do %>
    <%= submit f %>
  <% end %>
<% end %>
