<% content_for :title, "#{University::Organization.model_name.human(count: 2)} (#{@organizations.total_count})" %>

<%= render 'filters', current_path: admin_university_organizations_path, filters: @filters if @filters.any?  %>

<%= render 'admin/university/organizations/list', organizations: @organizations %>
<%= paginate @organizations, theme: 'bootstrap-5' %>

<h1 class="mt-5"><%= "#{University::Organization::Category.model_name.human(count: 2)} (#{@categories.total_count})" %></h1>
<%= render 'admin/university/organizations/categories/list', categories: @categories %>
<%= paginate @categories, theme: 'bootstrap-5', param: :categories_page %>

<% content_for :action_bar_left do %>
  <%= link_to t('import_btn'),
              new_admin_university_organizations_import_path,
              class: button_classes if can? :create, University::Organization %>
<% end %>

<% content_for :action_bar_right do %>
  <%= create_link University::Organization %>
<% end %>
