<% content_for :title, University::Organization.model_name.human(count: 2) %>

<% content_for :title_right do %>
  <%= render 'language_switcher' %>
<% end %>

<p><%= t('admin.elements', count: @organizations.total_count) %></p>
<%= render 'filters', current_path: admin_university_organizations_path, filters: @filters if @filters.any?  %>
<%= render 'admin/university/organizations/list', organizations: @organizations %>
<%= paginate @organizations %>

<% content_for :action_bar_left do %>
  <%= link_to t('import_btn'),
              new_admin_university_organizations_import_path,
              class: button_classes if can? :create, University::Organization %>
  <%= link_to t('export'),
              request.params.merge(format: "xlsx"),
              class: button_classes %>
<% end %>

<% content_for :action_bar_right do %>
  <%= create_link University::Organization %>
<% end %>