<% content_for :title, @l10n %>

<div class="row">
  <div class="col-md-8">
    <%= render 'admin/application/summary/show', about: @l10n %>

    <%= osuny_panel University::Organization.human_attribute_name('text') do %>
      <%= @organization.text.to_s.html_safe %>
    <% end if strip_tags(@organization.text.to_s).present? %>

    <%= osuny_panel University::Organization.human_attribute_name('physical') do %>
      <%= osuny_property_show_text @l10n, :address_name, hide_blank: true %>
      <%= osuny_property_show_text @organization, :address, hide_blank: true %>
      <%= osuny_property_show_text @l10n, :address_additional, hide_blank: true %>
      <%= osuny_property_show_text @organization, :zipcode, hide_blank: true %>
      <%= osuny_property_show_text @organization, :city, hide_blank: true %>
      <% if @organization.country.present? %>
        <div class="col-md-4">
          <%= osuny_label University::Organization.human_attribute_name('country') %>
        </div>
        <div class="col-md-8">
          <p><%= @organization.country_name %></p>
        </div>
      <% end %>
      <% if @organization.geolocated? %>
        <div class="col-md-4">
          <%= osuny_label University::Organization.human_attribute_name('geolocation') %>
        </div>
        <div class="col-md-8">
          <p><%= @organization.geo_point.to_s %></p>
        </div>
      <% end %>

    <% end %>
    <%= osuny_panel University::Organization.human_attribute_name('digital') do %>
      <div class="row pure__row--small">
        <%= osuny_property_show_url @organization, :url, hide_blank: true %>
        <%= osuny_property_show_text @organization, :phone, hide_blank: true %>
        <%= osuny_property_show_text @organization, :email, hide_blank: true %>
        <%= osuny_property_show_text @l10n, :linkedin, hide_blank: true %>
        <%= osuny_property_show_text @l10n, :twitter, hide_blank: true %>
        <%= osuny_property_show_text @l10n, :mastodon, hide_blank: true %>
      </div>
    <% end %>

    <%= osuny_panel University::Organization.human_attribute_name('legal') do %>
      <div class="row pure__row--small">
        <%= osuny_property_show_text @l10n, :long_name, hide_blank: true %>
        <div class="col-md-4">
          <%= osuny_label University::Organization.human_attribute_name('kind') %>
        </div>
        <div class="col-md-8">
          <p><%= @organization.kind_i18n %></p>
        </div>
        <%= osuny_property_show_text @organization, :siren, hide_blank: true %>
      </div>
    <% end %>

    <%= osuny_separator %>

    <%= render 'admin/communication/blocks/content/editor', about: @l10n %>
  </div>

  <div class="col-md-4">
    <%= osuny_panel t('metadata') do %>
      <%= osuny_property_show_text @l10n, :slug, hide_blank: true %>
      <%= osuny_property_show_boolean @organization, :active %>
    <% end %>

    <%= render 'admin/application/l10n/widget', about: @organization, l10n: @l10n %>

    <% if @organization.categories.any? %>
      <%= osuny_panel University::Organization.human_attribute_name('categories') do %>
        <ul class="list-unstyled">
          <% @organization.categories.ordered.each do |category| %>
            <li><%= link_to_if can?(:read, category), category, [:admin, category] %></li>
          <% end %>
        </ul>
      <% end %>
    <% end %>

    <%= osuny_panel t('university.organization.logo') do %>
      <% if @l10n.logo.attached? %>
        <div>
          <%= osuny_label University::Organization::Localization.human_attribute_name('logo') %><br>
          <%= kamifusen_tag @l10n.logo, class: 'img-fluid img-fill bg-light img-thumbnail p-5 mb-3' %>
        </div>
      <% end %>
      <% if @l10n.logo_on_dark_background.attached? %>
        <div>
          <%= osuny_label University::Organization::Localization.human_attribute_name('logo_on_dark_background') %><br>
          <%= kamifusen_tag @l10n.logo_on_dark_background, class: 'img-fluid img-fill bg-dark img-thumbnail p-5' %>
        </div>
      <% end %>
    <% end if @l10n.logo.attached? || @l10n.logo_on_dark_background.attached? %>

    <%= render 'admin/application/meta_description/show', about: @l10n %>
  </div>
</div>

<%= osuny_panel t('university.organization.employees') do %>
  <div class="table-responsive">
    <table class="<%= table_classes %>">
      <thead>
        <tr>
          <th><%= University::Person.human_attribute_name('last_name') %></th>
          <th><%= University::Person.human_attribute_name('first_name') %></th>
          <th><%= t('university.person.experience.period') %></th>
        </tr>
      </thead>
      <tbody>
        <% @organization.experiences.ordered.each do |experience| %>
          <%
            person = experience.person
            path = admin_university_person_path(person)
          %>
          <tr>
            <td><%= link_to_if can?(:read, person), person.last_name, path %></td>
            <td><%= link_to_if can?(:read, person), person.first_name, path %></td>
            <td>
              <%= "#{experience.from_year} - #{experience.to_year.present? ? experience.to_year : t('today')}" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end if @organization.experiences.any? %>

<%= render 'admin/application/connections/list', about: @organization %>

<% content_for :action_bar_left do %>
  <%= destroy_link @organization %>
  <%= static_link static_admin_university_organization_path(@organization) %>
<% end %>

<% content_for :action_bar_right do %>
  <%= edit_link @organization %>
<% end %>
