<% content_for :title, @organization %>
<div class="row">
  <div class="col-md-8">
    <div class="card flex-fill w-100">
      <div class="card-header">
        <h5 class="card-title mb-0"><%= t('content') %></h5>
      </div>
      <div class="card-body">
        <% [:name].each do |property| %>
          <h3 class="h5"><%= University::Organization.human_attribute_name(property) %></h3>
          <p><%= @organization.send property %></p>
        <% end %>
        <h3 class="h5"><%= University::Organization.human_attribute_name(:text) %></h3>
        <%= @organization.text.to_s.html_safe %>
      </div>
    </div>
    <div class="card flex-fill w-100">
      <div class="card-header">
        <h5 class="card-title mb-0">
          <%= University::Organization.human_attribute_name('contact') %>
        </h5>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <% [:address, :zipcode, :city, :country].each do |property| %>
              <% value = @organization.send property %>
              <% next if value.blank? %>
              <h3 class="h5">
                <%= University::Organization.human_attribute_name(property) %>
              </h3>
              <p><%= value %></p>
            <% end %>
          </div>
          <div class="col-md-6">
            <% unless @organization.url.blank? %>
              <h3 class="h5">
                <%= University::Organization.human_attribute_name(:url) %>
              </h3>
              <p><%= link_to  @organization.url,
                              @organization.url,
                              target: :_blank %></p>
            <% end %>
            <% [:phone, :email].each do |property| %>
              <% value = @organization.send property %>
              <% next if value.blank? %>
              <h3 class="h5">
                <%= University::Organization.human_attribute_name(property) %>
              </h3>
              <p><%= value %></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="card flex-fill w-100">
      <div class="card-header">
        <h5 class="card-title mb-0">
          <%= University::Organization.human_attribute_name('legal') %>
        </h5>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <h3 class="h5"><%= University::Organization.human_attribute_name(:long_name) %></h3>
            <p><%= @organization.long_name %></p>
          </div>
          <div class="col-md-6">
            <h3 class="h5"><%= University::Organization.human_attribute_name(:kind) %></h3>
            <p><%= @organization.kind_i18n %></p>
            <h3 class="h5"><%= University::Organization.human_attribute_name(:siren) %></h3>
            <p><%= @organization.siren %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card flex-fill w-100">
      <div class="card-header">
        <h5 class="card-title mb-0"><%= t('informations') %></h5>
      </div>
      <div class="card-body">
        <h3 class="h5"><%= University::Organization.human_attribute_name(:slug) %></h3>
        <p><%= @organization.slug %></p>
        <h3 class="h5"><%= University::Organization.human_attribute_name(:active) %></h3>
        <%= @organization.active %>
      </div>
    </div>
    <% if @organization.logo.attached? %>
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h5 class="card-title mb-0">
            <%= University::Organization.human_attribute_name('logo') %>
          </h5>
        </div>
        <div class="card-body">
          <%= kamifusen_tag @organization.logo, class: 'img-fluid' if @organization.logo.attached? %>
        </div>
      </div>
    <% end %>
    <% if @organization.description.present? %>
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h5 class="card-title mb-0"><%= t('seo') %></h5>
        </div>
        <div class="card-body">
          <h3 class="h5"><%= University::Organization.human_attribute_name('description') %></h3>
          <%= simple_format @organization.description %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% if @organization.experiences.any? %>
  <h2><%= University::Person::Alumnus.model_name.human(count: 2) %></h2>

  <table class="<%= table_classes %>">
    <thead>
      <tr>
        <th><%= University::Person.human_attribute_name('last_name') %></th>
        <th><%= University::Person.human_attribute_name('first_name') %></th>
        <th><%= t('university.person.experience.period') %></th>
      </tr>
    </thead>
    <tbody>
      <% @organization.experiences.ordered.each do |experience| %>
        <%
          alumnus = experience.person
          path = admin_university_alumnus_path(alumnus)
        %>
        <tr>
          <td><%= link_to_if can?(:read, alumnus), alumnus.last_name, path %></td>
          <td><%= link_to_if can?(:read, alumnus), alumnus.first_name, path %></td>
          <td>
            <%= "#{experience.from_year} - #{experience.to_year.present? ? experience.to_year : t('today')}" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% content_for :action_bar_left do %>
  <%= destroy_link @organization %>
<% end %>

<% content_for :action_bar_right do %>
  <%= edit_link @organization %>
<% end %>
