<% content_for :title, @l10n %>

<div class="row">
  <div class="col-xl-3">
    <%= osuny_label Communication::Extranet::Document::Localization.human_attribute_name('file') %>
    <p>
      <%= link_to @l10n.file.filename, @l10n.file.url, target: :_blank if @l10n.file.attached?  %>
    </p>
  </div>
  <div class="col-xl-3">
    <%= osuny_label Communication::Extranet::Document::Localization.human_attribute_name('published') %>
    <p>
      <%= t @l10n.published %><% if @l10n.published %>,
        <%= l @l10n.published_at, format: :date_with_explicit_month %>
      <% end %>
    </p>
  </div>
  <div class="col-xl-3">
    <%= osuny_label Communication::Extranet::Document::Category.model_name.human %>
    <p><%= osuny_link_localized @document.category, [:admin, @document.category] %></p>
  </div>
  <div class="col-xl-3">
    <%= osuny_label Communication::Extranet::Document::Kind.model_name.human %>
    <p><%= osuny_link_localized @document.kind, [:admin, @document.kind] %></p>
  </div>
</div>

<% content_for :action_bar_left do %>
  <%= destroy_link @document %>
<% end %>

<% content_for :action_bar_right do %>
  <%= edit_link @document %>
<% end %>
