<div class="<%= block_html_class(block) %>">
  <div class="container">
    <div class="block-content">
      <%= render 'admin/communication/blocks/partials/top', block: block %>

      <ul>
        <% block.template.elements.each do |element| %>
          <li>
            <div>
              <h3><%= element.title %></h3>
              <p><%= element.description %></p>
            </div>
            <%= block_component_show block, :image, template: element %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
