<div class="row mt-5 g-3">
  <%
  # Show days, Monday to Sunday
  7.times do |index|
    day_index = (index + 1) % 7
    %>
    <div class="col mb-3">
      <%= I18n.t("date.day_names")[day_index].titleize %>
      <hr>
    </div>
  <% end %>
</div>
<%
current = nil
finished = false
first_day_of_month = month.to_date
%>
<%
# More than enough months
6.times do %>
  <div class="row g-3">
    <%
    # 7 days per week
    7.times do |index|
      # Week starting on monday
      # https://apidock.com/ruby/v2_2_9/Date/cwday
      cwday = index + 1
      # Start at the proper day
      current = first_day_of_month if current.nil? && cwday == first_day_of_month.cwday && !finished
      %>
      <div class="col mb-3">
        <% 
        if current.present?
          events = month.events_for(current)
          %>
          <div class="position-relative p-2 rounded" style="<% if events.any? %>background: white; <% end %>min-height: 60px;">
            <p class="small text-muted m-0">
              <% if events.any? %><a href="#day-<%= current.day %>" class="stretched-link"><% end %>
              <%= current.day %>
              <% if events.any? %></a><% end %>
            </p>
            <p class="m-0">
              <% if events.any? %>
                <%= osuny_published true %>
                <%= events.count %>
              <% end %>
            </p>
            <%
            current += 1.day
            if current.month != first_day_of_month.month
              current = nil
              finished = true
            end
            %>
          </div>
          <hr>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
