<table class="<%= table_classes %>">
  <thead>
    <tr>
      <th><%= Administration::Member.human_attribute_name('last_name') %></th>
      <th><%= Administration::Member.human_attribute_name('first_name') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% teachers.each do |teacher| %>
      <tr>
        <td><%= link_to teacher, admin_education_teacher_path(teacher) %></td>
        <td class="text-end">
          <div class="btn-group" role="group">
            <%= link_to t('edit'),
                      edit_admin_education_teacher_path(teacher),
                      class: button_classes %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
