<table class="<%= table_classes %>">
  <thead>
    <tr>
      <th><%= Education::Teacher.human_attribute_name('name') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% teachers.each do |teacher| %>
      <tr>
        <td><%= link_to teacher, admin_education_teacher_path(teacher) %></td>
        <td class="text-end">
          <div class="btn-group" role="group">
            <%= link_to t('edit'),
                      edit_admin_education_teacher_path(teacher),
                      class: button_classes %>
            <%= link_to t('delete'),
                      admin_education_teacher_path(teacher),
                      method: :delete,
                      data: { confirm: t('please-confirm') },
                      class: button_classes_danger %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
