<% content_for :title, University::Person::Localization::Teacher.model_name.human(count: 2) %>

<div class="d-flex justify-content-between mb-4">
  <p>
    <%= @teachers.total_count %>
    <%= University::Person::Localization::Teacher.model_name.human(count: @teachers.total_count).downcase %>
  </p>
  <%= render 'filters', current_path: admin_education_teachers_path %>
</div>

<div class="row g-3">
  <% @teachers.each do |person| %>
    <div class="col-6 col-lg-3 col-xxl-2">
      <div class="<%= osuny_card_classes %>">
        <%= osuny_thumbnail_localized person, large: true %>
        <div class="card-body">
          <p class="mb-2">
            <%= osuny_link_localized  person,
                                      admin_research_researcher_path(person),
                                      classes: 'stretched-link'  %>
          </p>
          <% if person.education_programs_as_teacher.any? %>
            <p class="text-muted mb-0">
              <%= person.education_programs_as_teacher.size %>
              <%= Education::Program.model_name.human(count: person.education_programs_as_teacher.size).downcase %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%= paginate @teachers %>
