<% content_for :title, @teacher %>

<div class="row">

  <div class="col-md-8">
    <div class="card flex-fill w-100">
      <div class="card-header">
        <h2 class="card-title mb-0 h5"><%= t('metadata') %></h2>
      </div>
      <div class="card-body">
        <h3 class="h5"><%= Education::Teacher.human_attribute_name('biography') %></h3>
        <p><%= @teacher.biography %></p>
        <h3 class="h5"><%= Education::Teacher.human_attribute_name('slug') %></h3>
        <p><%= @teacher.slug %></p>
        <% if @teacher.user %>
          <h3 class="h5"><%= Education::Teacher.human_attribute_name('user') %></h3>
          <p><%= link_to_if can?(:read, @teacher.user), @teacher.user, admin_user_path(@teacher.user) %></p>
        <% end %>
      </div>
    </div>
  </div>

  <% if @teacher.programs.any? %>
    <div class="col-md-4">
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h2 class="card-title mb-0 h5"><%= Education::Teacher.human_attribute_name('programs') %></h2>
        </div>
        <div class="card-body">
          <ul class="list-unstyled">
            <% @teacher.programs.ordered.each do |program| %>
              <li><%= link_to_if can?(:read, program), program, [:admin, program] %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>

</div>


<% content_for :action_bar_right do %>
  <%= edit_link @teacher %>
<% end %>
