<% content_for :title, @teacher %>

<%= render 'admin/university/people/main_infos', person: @teacher %>


<% if @programs.total_count > 0 %>
  <div class="card">
    <div class="card-header">
      <h2 class="card-title mb-0 h5"><%= "#{Education::Program.model_name.human(count: 2)} (#{@programs.total_count})" %></h2>
    </div>
    <%= render 'admin/education/programs/list', programs: @programs %>
    <% if @programs.total_pages > 1 %>
      <div class="card-footer">
        <%= paginate @programs, theme: 'bootstrap-5' %>
      </div>
    <% end %>
  </div>
<% end %>

<% content_for :action_bar_right do %>
  <%= link_to t('edit'), edit_admin_education_teacher_path(@teacher), class: button_classes if can?(:edit, Education::Program) %>
<% end %>
