<%
action = ''
action += link_to t('education.schools.manage_roles'),
                  admin_education_school_roles_path(school_id: @school.id),
                  class: button_classes if can?(:update, University::Role)
%>
<%= osuny_panel Education::School.human_attribute_name('roles'), action: action do %>
  <% if @roles.any? %>
    <div class="table-responsive">
      <table class="<%= table_classes %>">
        <thead>
          <tr>
            <th class="ps-0"><%= University::Role.model_name.human %></th>
            <th><%= University::Role.human_attribute_name('people') %></th>
          </tr>
        </thead>
        <tbody>
          <% roles.each do |role| %>
            <tr>
              <td class="ps-0">
                <%= link_to_if  can?(:read, role),
                                role,
                                edit_admin_education_school_role_path(role, { school_id: @school.id }) %>
              </td>
              <td>
                <ul class="list-unstyled">
                  <% role.involvements.includes(:person).ordered.each do |involvement| %>
                    <li><%= link_to_if can?(:read, involvement.person), involvement.person.to_s, admin_university_person_path(involvement.person) %></li>
                  <% end %>
                </ul>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
<% end %>
