<% content_for :title, @category %>

<%= render 'admin/communication/websites/sidebar' do %>
  <div class="row">
    <div class="col-md-8">
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h2 class="card-title mb-0 h5"><%= t('content') %></h2>
        </div>
        <div class="card-body">
          <h3 class="h5"><%= Communication::Website::Category.human_attribute_name('description') %></h3>
          <%= sanitize @category.description %>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h2 class="card-title mb-0 h5"><%= t('metadata') %></h2>
        </div>
        <div class="card-body">
          <h3 class="h5"><%= Communication::Website::Category.human_attribute_name('slug') %></h3>
          <p><%= @category.slug %></p>
          <% if @category.parent %>
            <h3 class="h5"><%= Communication::Website::Category.human_attribute_name('parent') %></h3>
            <p><%= link_to_if can?(:read, @category.parent),
                            @category.parent,
                            admin_communication_website_category_path(
                              website_id: @website.id,
                              id: @category.parent.id
                            ) %></p>
          <% end %>
          <% if @category.children.any? %>
            <h3 class="h5"><%= Communication::Website::Category.human_attribute_name('children') %></h3>
            <ul class="list-unstyled mb-0">
              <% @category.children.each do |child| %>
                <li><%= link_to_if can?(:read, child),
                                child,
                                admin_communication_website_category_path(
                                  website_id: @website.id,
                                  id: child.id
                                ) %></li>
              <% end %>
            </ul>
          <% end %>
        </div>
      </div>
      <% if @category.featured_image.attached? && @category.featured_image.variable? %>
        <div class="card flex-fill w-100">
          <div class="card-header">
            <h5 class="card-title mb-0"><%= t('activerecord.attributes.communication/website/category.featured_image') %></h5>
          </div>
          <div class="card-body">
            <%= image_tag @category.featured_image.variant(resize: '600'), class: 'img-fluid mb-3' %><br>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <% if @posts.total_count > 0 %>
    <div class="card">
      <div class="card-header">
        <h5><%= "#{Communication::Website::Post.model_name.human(count: 2)} (#{@posts.total_count})" %></h5>
      </div>
      <%= render 'admin/communication/website/posts/list', posts: @posts, hide_category: true %>
      <div class="card-footer">
        <%= paginate @posts, theme: 'bootstrap-5' %>
      </div>
    </div>
  <% end %>
<% end %>

<% content_for :action_bar_left do %>
  <%= link_to t('static'),
              static_admin_communication_website_category_path(@category),
              class: button_classes('btn-light') if current_user.server_admin? %>
<% end %>

<% content_for :action_bar_right do %>
  <%= edit_link @category %>
  <%= destroy_link @category %>
<% end %>
