<% content_for :title, @category %>

<%= render 'admin/communication/websites/sidebar' do %>
  <div class="row">
    <div class="col-md-8">
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h2 class="card-title mb-0 h5"><%= t('content') %></h2>
        </div>
        <div class="card-body">
          <h3 class="h5"><%= Communication::Website::Category.human_attribute_name('description') %></h3>
          <%= sanitize @category.description %>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h2 class="card-title mb-0 h5"><%= t('metadata') %></h2>
        </div>
        <table class="<%= table_classes %>">
          <tbody>
            <tr>
              <td width="150"><%= Communication::Website::Category.human_attribute_name('slug') %></td>
              <td><%= @category.slug %></td>
            </tr>
            <% if @category.parent %>
              <tr>
                <td><%= Communication::Website::Category.human_attribute_name('parent') %></td>
                <td><%= link_to_if can?(:read, @category.parent),
                                @category.parent,
                                admin_communication_website_category_path(
                                  website_id: @website.id,
                                  id: @category.parent.id
                                ) %></td>
              </tr>
            <% end %>
            <% if @category.children.any? %>
              <tr>
                <td><%= Communication::Website::Category.human_attribute_name('children') %></td>
                <td>
                  <ul class="list-unstyled mb-0">
                    <% @category.children.each do |child| %>
                      <li><%= link_to_if can?(:read, child),
                                      child,
                                      admin_communication_website_category_path(
                                        website_id: @website.id,
                                        id: child.id
                                      ) %></li>
                    <% end %>
                  </ul>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>

<% if @posts.total_count > 0 %>
  <h2><%= "#{Communication::Website::Post.model_name.human(count: 2)} (#{@posts.total_count})" %></h2>

  <%= render 'admin/communication/website/posts/list', posts: @posts, hide_category: true %>
  <%= paginate @posts, theme: 'bootstrap-5' %>
<% end %>

<% content_for :action_bar_left do %>
  <%= link_to t('communication.website.force_publication'),
              publish_admin_communication_website_category_path(@category),
              method: :post,
              class: button_classes %>
<% end %>

<% content_for :action_bar_right do %>
  <%= edit_link @category %>
<% end %>
