<% content_for :title, 'Transparence' %>

<h1 class="font-sans">Transparence</h1>

<h2 class="mt-5 h4 mb-4">Contributions annuelles</h2>
<article class="border-bottom py-2">
  <div class="row fw-bold">
    <div class="col-md-10">
      <%= @universities.count %> organisations ou personnes contributrices
    </div>
    <div class="col-md-2">
      Contribution annuelle
    </div>
  </div>
</article>
<% @universities.each do |university| %>
  <article class="border-bottom py-2">
    <div class="row">
      <div class="col-md-10">
        <%= university %>
      </div>
      <div class="col-md-2">
        <%= number_to_currency university.contribution_amount, precision: 0, locale: :fr  %>
      </div>
    </div>
  </article>
<% end %>
<div class="row">
  <div class="col-md-10">
    <%= t('server_admin.universities.contributions_total') %>
  </div>
  <div class="col-md-2">
    <%= number_to_currency @contributions_total, precision: 0, locale: :fr %>
  </div>
</div>

<h2 class="mt-5 h4 mb-4">Coûts de fonctionnement annuels</h2>
<p>Les coût sont remis à jour à la main, ils ne sont pas très précis.</p>

<article class="border-bottom py-2">
  <div class="row fw-bold">
    <div class="col-md-4">
      Organisation
    </div>
    <div class="col-md-6">
      Nature
    </div>
    <div class="col-md-2">
      Coût annuel
    </div>
  </div>
</article>
<% @costs.each do |cost| %>
  <article class="border-bottom py-2">
    <div class="row">
      <div class="col-md-4">
        <%= cost.first %>
      </div>
      <div class="col-md-6">
        <%= cost.second %>
      </div>
      <div class="col-md-2">
        <%= number_to_currency cost.last, precision: 0, locale: :fr  %>
      </div>
    </div>
  </article>
<% end %>
<div class="row">
  <div class="col-md-10">
    Coûts (total)
  </div>
  <div class="col-md-2">
    <%= number_to_currency @costs_total, precision: 0, locale: :fr %>
  </div>
</div>

<h2 class="mt-5 h4 mb-4">Balance annuelle</h2>
<p>Tant que la SCIC osuny n'est pas en place, noesya utilise l'excédent pour payer une part de la maintenance et des développements.</p>
<p class="display-1">
  <%= number_to_currency @balance, precision: 0, locale: :fr  %>
</p>

<div class="my-5">
  <p>Ces données sont disponibles de façon ouverte au format JSON.</p>
  <%= link_to 'Open data', root_path(format: :json), class: 'btn btn-primary' %>
</div>
