<%= simple_form_for [:admin, website] do |f| %>
  <div class="row">
    <div class="col-md-4">
      <%= f.input :name %>
      <%= f.input :about_type,
                  collection: Communication::Website.about_types,
                  label_method: lambda { |object|
                    I18n.t("activerecord.attributes.communication/website.about_#{object}")
                  },
                  include_blank: false %>
      <%
      unless website.about_type.blank?
        case website.about_type
        when Research::Journal.name
          collection = current_university.research_journals
        when Education::School.name
          collection = current_university.education_schools
        end
      %>
        <%= f.input :about_id,
                    collection: collection %>
      <% end %>
    </div>
    <div class="col-md-4">
      <%= f.input :domain %>
      <%= f.input :repository %>
      <%= f.input :access_token %>
    </div>
    <div class="col-md-4">
    </div>
  </div>
  <% content_for :action_bar_right do %>
    <%= submit f %>
  <% end %>
<% end %>
