<%= simple_form_for [:admin, website] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="row">
    <div class="col-md-4">
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h5 class="card-title mb-0"><%= t('metadata') %></h5>
        </div>
        <div class="card-body">
          <%= f.input :name %>
          <%= f.input :url %>
          <%= render 'admin/communication/abouts', f: f, i18n_key: 'activerecord.attributes.communication/website.about_' %>
          <%= f.association :languages, as: :check_boxes %>
          <%= f.input :in_production %>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h5 class="card-title mb-0"><%= t('communication.website.git') %></h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <%= f.input :git_provider, include_blank: false %>
              <%= f.input :git_endpoint %>
            </div>
            <div class="col-md-6">
              <%= f.input :access_token %>
              <%= f.input :repository %>
              <%= f.input :git_branch %>
            </div>
          </div>
        </div>
      </div>
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h5 class="card-title mb-0"><%= t('communication.website.analytics') %></h5>
        </div>
        <div class="card-body">
          <%= f.input :plausible_url %>
      </div>
    </div>

  </div>
  <% content_for :action_bar_right do %>
    <%= submit f %>
  <% end %>
<% end %>
