<%= simple_form_for [:admin, website] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="row">
    <div class="col-xl-4">
      <%= osuny_panel t('metadata') do %>
        <%= f.input :name %>
        <%= f.input :url %>
        <%= render 'admin/communication/abouts', f: f, i18n_key: 'activerecord.attributes.communication/website.about_' %>
        <%= f.association :languages, as: :check_boxes, required: true, wrapper_html: { class: "js-languages" }, label_method: lambda { |l| language_name(l.iso_code) } %>
        <%= f.association :default_language, include_blank: t('simple_form.include_blanks.defaults.language'), input_html: (@website.persisted? ? { disabled: true } : { class: "js-default-language" }) %>
        <%= f.input :in_production %>
      <% end %>
    </div>
    <div class="col-xl-8">
      <%= osuny_panel t('communication.website.git') do %>
          <div class="row">
            <div class="col-xl-6">
              <%= f.input :autoupdate_theme %>
              <%= f.input :git_provider, include_blank: false %>
              <%= f.input :git_endpoint %>
              <%= f.input :deployment_status_badge, 
                          as: :string, 
                          input_html: {
                            autocomplete: 'deployment_status_badge',
                            role: 'presentation'
                          }
                          %>
            </div>
            <div class="col-xl-6">
              <%= f.input :access_token, 
                          as: :string, 
                          placeholder: masked_string(f.object.access_token), 
                          hint: t("simple_form.hints.communication_website.access_token_#{f.object.access_token.blank? ? 'without' : 'with'}_existing").html_safe,
                          input_html: {
                            autocomplete: 'access_token',
                            role: 'presentation',
                            value: ''
                          }
                          %>
              <%= f.input :repository %>
              <%= f.input :git_branch %>
            </div>
          </div>
      <% end %>
      <%= osuny_panel t('communication.website.analytics') do %>
        <%= f.input :plausible_url %>
      <% end %>
    </div>
  </div>
  <% content_for :action_bar_right do %>
    <%= submit f %>
  <% end %>
<% end %>
