<%= simple_form_for [:admin, website] do |f| %>
  <div class="row">
    <div class="col-md-4">
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h5 class="card-title mb-0"><%= t('content') %></h5>
        </div>
        <div class="card-body">
          <%= f.input :name %>
          <%= f.input :about_type,
                      collection: Communication::Website.about_types,
                      input_html: { data: { conditional: true } },
                      label_method: lambda { |object|
                        I18n.t("activerecord.attributes.communication/website.about_#{object}")
                      },
                      include_blank: false %>
          <div  class="d-none"
                data-conditional-source="communication_website_about_type"
                data-conditional-value="Education::School">
            <%= f.input :about_id,
                        collection: current_university.education_schools,
                        label: Education::School.model_name.human,
                        include_blank: false %>
          </div>
          <div  class="d-none"
                data-conditional-source="communication_website_about_type"
                data-conditional-value="Research::Journal">
            <%= f.input :about_id,
                        collection: current_university.research_journals,
                        label: Research::Journal.model_name.human,
                        include_blank: false %>
          </div>
          <div  class="d-none"
                data-conditional-source="communication_website_about_type"
                data-conditional-value="Research::Laboratory">
            <%= f.input :about_id,
                        collection: current_university.research_laboratories,
                        label: Research::Laboratory.model_name.human,
                        include_blank: false %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h5 class="card-title mb-0"><%= t('metadata') %></h5>
        </div>
        <div class="card-body">

          <p class="mt-4"><strong><%= t('communication.website.git') %></strong></p>
          <div class="row">
            <div class="col-md-6">
              <%= f.input :url %>
              <%= f.input :repository %>
            </div>
            <div class="col-md-6">
              <%= f.input :git_provider, include_blank: false %>
              <%= f.input :access_token %>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
  <% content_for :action_bar_right do %>
    <%= submit f %>
  <% end %>
<% end %>
