<%= simple_form_for [:admin, website] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="row">
    <div class="col-xl-4">
      <%= osuny_panel t('metadata') do %>
        <%= f.input :name %>
        <%= f.input :url %>
        <%= f.input :in_production %>
        <%= render 'admin/communication/abouts', f: f, i18n_key: 'activerecord.attributes.communication/website.about_' %>
      <% end %>
    </div>
    <div class="col-xl-4">
      <%= osuny_panel Communication::Website.human_attribute_name('features') do %>
        <%= f.input :feature_posts %>
        <%= f.input :feature_agenda %>
      <% end %>
      <%= osuny_panel t('communication.website.hosting') do %>
        <%= f.input :deuxfleurs_hosting, hint: website.deuxfleurs_id %>
      <% end %>
      <%= osuny_panel t('communication.website.analytics') do %>
        <%= f.input :plausible_url %>
      <% end %>
    </div>
    <div class="col-xl-4">
      <%= osuny_panel Language.model_name.human(count: 2) do %>
        <%= f.association :languages, as: :check_boxes, required: true, wrapper_html: { class: "js-languages" }, label_method: lambda { |l| language_name(l.iso_code) } %>
        <%= f.association :default_language, include_blank: t('simple_form.include_blanks.defaults.language'), input_html: (@website.persisted? ? { disabled: true } : { class: "js-default-language" }) %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-4">
      <%= osuny_panel t('communication.website.git') do %>
        <%= f.input :autoupdate_theme %>
        <%= f.input :git_provider, include_blank: false %>
        <%= f.input :git_endpoint %>
        <%= f.input :access_token, 
                    as: :string, 
                    placeholder: masked_string(f.object.access_token), 
                    hint: t("simple_form.hints.communication_website.access_token_#{f.object.access_token.blank? ? 'without' : 'with'}_existing").html_safe,
                    input_html: {
                      autocomplete: 'access_token',
                      role: 'presentation',
                      value: ''
                    }
                    %>
        <%= f.input :repository %>
        <%= f.input :git_branch %>
        <%= f.input :deployment_status_badge, 
                    as: :string, 
                    input_html: {
                      autocomplete: 'deployment_status_badge',
                      role: 'presentation'
                    }
                    %>
      <% end %>
    </div>
    <div class="col-xl-6">
      <%= osuny_panel t('communication.website.analytics') do %>
        <%= f.input :plausible_url %>
      <% end %>
    </div>
    <div class="col-xl-6">
      <%= osuny_panel Communication::Website.human_attribute_name('social') do %>
        <%= f.input :social_mastodon %>
        <%= f.input :social_peertube %>
        <%= f.input :social_x %>
        <%= f.input :social_linkedin %>
        <%= f.input :social_youtube %>
        <%= f.input :social_vimeo %>
        <%= f.input :social_instagram %>
        <%= f.input :social_facebook %>
        <%= f.input :social_tiktok %>
      <% end %>
    </div>
  </div>
  <% content_for :action_bar_right do %>
    <%= submit f %>
  <% end %>
<% end %>
