<div class="row mt-2 website__sidebar">
  <div class="col-lg-3">
    <ul class="list-unstyled" role="tablist">
      <%
      navigation = [
        {
          title: Communication::Website.model_name.human,
          path: admin_communication_website_path(id: @website, website_id: nil),
          icon: Icon::COMMUNICATION_WEBSITE_HOME,
          ability: can?(:read, @website)
        },
        {
          title: Communication::Website::Post.model_name.human(count: 2),
          path: admin_communication_website_posts_path(website_id: @website),
          icon: Icon::COMMUNICATION_WEBSITE_POST,
          ability: can?(:read, Communication::Website::Post)
        },
        {
          title: t('admin.communication.website.pages.structure'),
          path: admin_communication_website_pages_path(website_id: @website),
          icon: Icon::COMMUNICATION_WEBSITE_PAGES,
          ability: can?(:read, Communication::Website::Page)
        },
        {
          title: Communication::Website::Menu.model_name.human(count: 2),
          path: admin_communication_website_menus_path(website_id: @website),
          icon: Icon::COMMUNICATION_WEBSITE_MENUS,
          ability: can?(:read, Communication::Website::Category)
        }
      ]

      navigation << {
        title: t('communication.website.analytics'),
        path: analytics_admin_communication_website_path(@website.id, website_id: nil),
        icon: Icon::COMMUNICATION_WEBSITE_ANALYTICS,
        ability: can?(:read, @website)
      } if @website.plausible_url.present?

      navigation.each_with_index do |object, index|
        next unless object[:ability]
        active = index.zero?  ? controller_name == "websites" && action_name == "show"
                              : object[:path].in?(request.path)
      %>
        <li class="mb-3">
          <a class="d-block py-1 <%= active ? 'text-black' : 'text-muted' %>" href="<%= object[:path] %>">
            <i class="<%= object[:icon] %>" style="min-width: 30px"></i>
            <%= object[:title].html_safe %>
          </a>
        </li>
      <% end %>
    </ul>
    <% if @website.languages.many? %>
      <select class="form-control form-select my-5"  onchange="if (this.value) window.location.href=this.value">
        <% @website.languages.each do |language| %>
          <%
          label = language_name(language.iso_code)
          path = url_for request.params.merge(lang: language.iso_code)
          selected = current_website_language == language
          %>
          <option value="<%= path %>"<% if selected %> selected="selected"<% end %>><%= label %></option>
        <% end %>
      </select>
    <% end %>
  </div>
  <div class="col-lg-9">
    <%= yield %>
  </div>

</div>
