<% content_for :title, @website %>
<% content_for :action_bar_right do %>
  <%= link_to t('communication.website.imported.refresh'),
              import_admin_communication_website_path,
              method: :post,
              class: button_classes %>
<% end %>

<div class="card">
  <div class="card-header">
    <h2><%= @imported_posts.total_count %> posts</h2>
  </div>
  <table class="<%= table_classes %>">
    <thead>
      <tr>
        <th><%= Communication::Website::Imported::Post.human_attribute_name('title') %></th>
        <th><%= Communication::Website::Imported::Post.human_attribute_name('original') %></th>
        <th class="text-end" width="150">Generated post</th>
      </tr>
    </thead>
    <tbody>
      <% @imported_posts.each do |post| %>
        <tr>
          <td><%= post %></td>
          <td class="small"><%= link_to post.path, post.url, target: :_blank %></td>
          <td class="text-end">
            <%= link_to t('show'),
                          admin_communication_website_post_path(website_id: post.post.website.id, id: post.post.id),
                          class: button_classes %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="card-footer">
    <%= paginate @imported_posts, param_name: :posts_page, theme: 'bootstrap-5' %>
  </div>
</div>

<div class="card mt-5">
  <div class="card-header">
    <h2><%= @imported_pages.total_count %> pages</h2>
  </div>
  <table class="<%= table_classes %>">
    <thead>
      <tr>
        <th><%= Communication::Website::Imported::Page.human_attribute_name('title') %></th>
        <th><%= Communication::Website::Imported::Page.human_attribute_name('original') %></th>
        <th class="text-end" width="150">Generated page</th>
      </tr>
    </thead>
    <tbody>
      <% @imported_pages.each do |page| %>
        <tr>
          <td><%= page %></td>
          <td class="small"><%= link_to page.path, page.url, target: :_blank %></td>
          <td class="text-end">
            <%= link_to t('show'),
                          admin_communication_website_page_path(website_id: page.page.website.id, id: page.page.id),
                          class: button_classes %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="card-footer">
    <%= paginate @imported_pages, param_name: :pages_page, theme: 'bootstrap-5' %>
  </div>
</div>
