<% content_for :title, @website %>
<% content_for :action_bar_right do %>
  <%= link_to t('communication.website.imported.refresh'),
              import_admin_communication_website_path,
              method: :post,
              class: button_classes %>
<% end %>

<div class="card">
  <div class="card-header">
    <h2><%= @imported_posts.total_count %> posts</h2>
  </div>
  <table class="<%= table_classes %>">
    <thead>
      <tr>
        <th><%= Communication::Website::Imported::Post.human_attribute_name('title') %></th>
        <th><%= Communication::Website::Imported::Post.human_attribute_name('original') %></th>
        <th class="text-end" width="150">Generated post</th>
      </tr>
    </thead>
    <tbody>
      <% @imported_posts.each do |post| %>
        <tr>
          <td><%= post %></td>
          <td class="small"><%= link_to post.path, post.url, target: :_blank %></td>
          <td class="text-end">
            <%= link_to t('show'),
                          admin_communication_website_post_path(website_id: post.post.website.id, id: post.post.id),
                          class: button_classes if post.post.present? %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="card-footer">
    <%= paginate @imported_posts, param_name: :posts_page, theme: 'bootstrap-5' %>
  </div>
</div>

<div class="card mt-5">
  <div class="card-header">
    <h2><%= @imported_pages.total_count %> pages</h2>
  </div>
  <table class="<%= table_classes %>">
    <thead>
      <tr>
        <th><%= Communication::Website::Imported::Page.human_attribute_name('title') %></th>
        <th><%= Communication::Website::Imported::Page.human_attribute_name('original') %></th>
        <th class="text-end" width="150">Generated page</th>
      </tr>
    </thead>
    <tbody>
      <% @imported_pages.each do |page| %>
        <tr>
          <td><%= page %></td>
          <td class="small"><%= link_to page.path, page.url, target: :_blank %></td>
          <td class="text-end">
            <%= link_to t('show'),
                          admin_communication_website_page_path(website_id: page.page.website.id, id: page.page.id),
                          class: button_classes if page.page.present? %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="card-footer">
    <%= paginate @imported_pages, param_name: :pages_page, theme: 'bootstrap-5' %>
  </div>
</div>

<div class="card mt-5">
  <div class="card-header">
    <h2><%= @imported_media.total_count %> media (<%= number_to_human_size(@imported_media_total_size) %>)</h2>
  </div>
  <table class="<%= table_classes %>">
    <thead>
      <tr>
        <th><%= Communication::Website::Imported::Medium.human_attribute_name('filename') %></th>
        <th><%= t('communication.website.imported.media.file_size') %></th>
        <th class="text-end" width="150">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% @imported_media.each do |medium| %>
        <tr>
          <td><%= medium.filename %></td>
          <td><%= number_to_human_size(medium.file.blob.byte_size) if medium&.file&.attached? %></td>
          <td class="text-end">
            <% if medium&.file&.attached? %>
              <%= link_to t('show'),
                            url_for(medium.file),
                            class: button_classes,
                            target: :blank %>
            <% else %>
              <%= t('communication.website.imported.media.not_imported_yet') %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="card-footer">
    <%= paginate @imported_media, param_name: :media_page, theme: 'bootstrap-5' %>
  </div>
</div>

<div class="card mt-5">
  <div class="card-header">
    <h2><%= @imported_authors.total_count %> authors</h2>
  </div>
  <table class="<%= table_classes %>">
    <thead>
      <tr>
        <th><%= Administration::Member.human_attribute_name('name') %></th>
        <th class="text-end" width="150">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% @imported_authors.each do |author| %>
        <tr>
          <td><%= author.name %></td>
          <td class="text-end">
            <%= link_to t('show'),
                          admin_communication_website_author_path(website_id: author.author.website.id, id: author.author.id),
                          class: button_classes %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="card-footer">
    <%= paginate @imported_authors, param_name: :authors_page, theme: 'bootstrap-5' %>
  </div>
</div>

<div class="card mt-5">
  <div class="card-header">
    <h2><%= @imported_categories.count %> categories</h2>
  </div>
  <table class="<%= table_classes %>">
    <thead>
      <tr>
        <th><%= Communication::Website::Category.human_attribute_name('name') %></th>
        <th><%= Communication::Website::Imported::Category.human_attribute_name('original') %></th>
        <th class="text-end" width="150">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% @imported_categories.each do |category| %>
        <tr>
          <td><%= category.name %></td>
          <td class="small"><%= link_to category.url, category.url, target: :_blank %></td>
          <td class="text-end">
            <%= link_to t('show'),
                          admin_communication_website_category_path(website_id: category.category.website.id, id: category.category.id),
                          class: button_classes %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
