<% content_for :title, Communication::Website.model_name.human(count: 2) %>


<div class="d-flex justify-content-between mb-4">
  <p>
    <%= @websites.total_count %>
    <%= Communication::Website.model_name.human(count: @websites.total_count).downcase %>
  </p>
  <%= render 'filters', current_path: admin_communication_websites_path %>
</div>

<%= render 'admin/communication/websites/list', websites: @websites %>
<%= paginate @websites %>

<% content_for :action_bar_right do %>
  <%= create_link Communication::Website %>
<% end %>
