<% content_for :title, Communication::Website.model_name.human(count: 2) %>

<table class="<%= table_classes %>">
  <thead>
    <tr>
      <th><%= Communication::Website.human_attribute_name('name') %></th>
      <th><%= Communication::Website.human_attribute_name('domain') %></th>
      <th><%= Communication::Website.human_attribute_name('about_type') %></th>
      <th><%= Communication::Website.human_attribute_name('about') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @websites.each do |website| %>
    <tr>
      <td><%= link_to website, [:admin, website] %></td>
      <td><%= link_to website.domain_url, website.domain_url, target: :_blank %></td>
      <td><%= I18n.t("activerecord.attributes.communication/website.about_#{website.about_type}") %></td>
      <td><%= website.about %></td>
      <td class="text-end">
        <div class="btn-group" role="group">
          <%= edit_link website %>
          <%= destroy_link website %>
        </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<% content_for :action_bar_right do %>
  <%= create_link Communication::Website %>
<% end %>
