<% content_for :title, @website %>

<% content_for :title_right do %>
  <% unless @website.url.blank? %>
    <%= link_to @website.url, @website.url, target: :_blank %><br>
  <% end %>
  <%= I18n.t("activerecord.attributes.communication/website.about_#{@website.about_type}") %>
  <% if @website.about %>
    (<%= link_to @website.about, [:admin, @website.about] unless @website.about.nil? %>)
  <% end %>
<% end %>

<%= render 'admin/communication/websites/sidebar' do %>
  <%= render 'admin/communication/websites/show/posts' if can? :read, Communication::Website::Post %>
  <div class="row">
    <% if can? :read, Communication::Website::Page %>
      <div class="col-md-8">
        <%= render 'admin/communication/websites/show/pages' %>
      </div>
    <% end %>
    <% if can? :read, Communication::Website::Home %>
      <div class="col-md-4">
        <%= render 'admin/communication/websites/show/home' %>
      </div>
    <% end %>
  </div>
<% end %>

<% content_for :action_bar_right do %>
  <% if can? :read, Communication::Website::Imported::Website %>
    <% if @website.imported? %>
      <%= link_to t('communication.website.imported.show'),
                  import_admin_communication_website_path,
                  class: button_classes %>
    <% else %>
      <%= link_to t('communication.website.imported.launch'),
                  import_admin_communication_website_path,
                  method: :post,
                  class: button_classes %>
    <% end %>
  <% end %>
  <%= edit_link @website %>
<% end %>
