<% content_for :title, @website %>

<p>
  <%= link_to @website.domain_url, @website.domain_url, target: :_blank %>
</p>

<p>
  <%= I18n.t("activerecord.attributes.communication/website.about_#{@website.about_type}") %>
  <%= link_to @website.about, [:admin, @website.about] unless @website.about.nil? %>
</p>

<h2 class="mt-5"><%= Communication::Website::Page.model_name.human(count: 2) %></h2>

<%= link_to t('create'),
            new_admin_communication_website_page_path(website_id: @website),
            class: button_classes('me-3') %>

<%= link_to 'Toutes les pages',
            admin_communication_website_pages_path(website_id: @website) %>

<%= render 'admin/communication/website/pages/list', pages: @website.pages.recent %>

<% content_for :buttons do %>
  <%= edit_link @website %>
<% end %>
