<% content_for :title, @academic_year %>

<header class="mb-5">
  <h1><%= @academic_year %></h1>
</header>

<h2 class="mb-4">
  <%= @academic_year.cohorts.count %>
  <%= Education::Cohort.model_name.human(count: @academic_year.cohorts.count).downcase %>
</h2>
<%= render 'extranet/cohorts/list', cohorts: @academic_year.cohorts %>

<h2 class="mt-5 mb-4">
  <%= @academic_year.people.count %>
  <%= University::Person::Alumnus.model_name.human(count: @academic_year.people.count).downcase %>
</h2>
<%= render 'extranet/persons/list', people: @academic_year.people %>
