<% content_for :title, @academic_year %>
<% content_for :header_right do %>
  <%= @alumni.count %>
  <%= University::Person::Alumnus.model_name.human(count: @alumni.count).downcase %>
<% end %>

<div class="row">
  <div class="col-lg-4">
    <h2 class="mb-4">
      <%= @cohorts.count %>
      <%= Education::Cohort.model_name.human(count: @cohorts.count).downcase %>
    </h2>
  </div>
  <div class="col-lg-8">
    <%= render 'extranet/cohorts/list', cohorts: @cohorts %>
  </div>
</div>

<h2 class="mt-5 mb-4">
  <%= @alumni.count %>
  <%= University::Person::Alumnus.model_name.human(count: @alumni.count).downcase %>
</h2>

<%= render 'extranet/persons/list', people: @alumni %>
