<p id="notice"><%= notice %></p>

<p>
  <strong>University:</strong>
  <%= @education_academic_year.university_id %>
</p>

<p>
  <strong>Year:</strong>
  <%= @education_academic_year.year %>
</p>

<%= link_to 'Edit', edit_education_academic_year_path(@education_academic_year) %> |
<%= link_to 'Back', education_academic_years_path %>
