<div class="row">
  <div class="col-lg-4">
    <%= lf.input :name, label: t('category.name'), input_html: { id: 'category_name' } %>
    <%= render  'admin/application/slug/form',
                f: lf,
                source: '#category_name' %>
    <%= f.association :parent,
                      collection: osuny_collection_tree(
                        collection,
                        except: category,
                        localized: true
                      ) unless category.is_taxonomy %>
    <%= f.input :is_taxonomy, label: t('category.is_taxonomy') if category.possible_taxonomy? %>
  </div>
  <div class="col-lg-8">
    <%= render 'admin/application/summary/form', f: lf, about: l10n %>
    <%= render 'admin/application/meta_description/form', f: lf, about: l10n %>
  </div>
</div>