<% if categories.any? %>
  <%= osuny_panel t('admin.categories.title') do %>
    <div class="row">
      <% categories.taxonomies.each do |taxonomy| %>
        <div class="col-lg-6 col-xxl-4">
          <%= osuny_label taxonomy %>
          <%= f.association :categories,
                            label_text: false,
                            as: :check_boxes,
                            collection: osuny_collection(
                              taxonomy.descendants,
                              localized: true
                            ) %>
        </div>
      <% end %>
      <% if categories.root.free.any? %>
        <div class="col-lg-6 col-xxl-4">
          <%= osuny_label t('admin.categories.other') %>
          <%= f.association :categories,
                            label_text: false,
                            as: :check_boxes,
                            collection: osuny_collection_tree(
                              categories.root.free,
                              localized: true
                            ) %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>