<div class="row">
  <div class="col-lg-3">
    <%= render 'admin/application/images/featured/show', about: l10n, small: true %>
  </div>
  <div class="offset-lg-1 col-lg-8">
    <%= render 'admin/application/summary/show', about: l10n, small: true %>
    <%= render 'admin/application/l10n/widget', about: category, l10n: l10n, small: true %>
    <div class="row mb-5">
      <% if category.parent %>
        <div class="col-lg-6">
          <%= osuny_label t('category.parent') %>
          <p>
            <%= osuny_link_localized_if can?(:read, category.parent), category.parent, [:admin, category.parent] %>
          </p>
        </div>
      <% end %>
      <% if @category.children.any? %>
        <div class="col-lg-6">
          <%= osuny_label t('category.children') %>
          <ul class="list-unstyled mb-0">
            <% category.children.ordered(current_language).each do |child| %>
              <li>
                <%= osuny_link_localized_if can?(:read, child), child, [:admin, child] %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
    <%= render 'admin/application/meta_description/show', about: l10n %>
  </div>
</div>