<% content_for :title, t('server_admin.dashboard') %>

<div class="row">
  <% @parts.each do |part| %>
    <div class="col-md-6 d-flex">
      <%= osuny_small_panel part[:title] do %>
        <%= link_to t('server_admin.see_list'), part[:path], class: 'btn btn-sm btn-primary stretched-link' %>
      <% end %>
    </div>
  <% end %>
</div>

<%= osuny_small_panel 'Theme' do %>
  <div class="lead mb-5"><%= Osuny::ThemeInfo.get_current_version %></div>
  <p>
    <%= t('server_admin.websites.outdated') %>
    (<%= @websites.to_a.count %>)
  </p>
  <%= render 'server/websites/list', websites: @websites if @websites.any? %>
<% end %>
