<div  class="js-content-editor mb-5"
      data-sort-blocks-url="<%= reorder_admin_communication_blocks_path(lang: nil, website_id: nil, extranet_id: nil) %>"
      data-sort-headings-url="<%= reorder_admin_communication_headings_path(lang: nil, website_id: nil, extranet_id: nil) %>">
  <ul class="nav nav-tabs justify-content-md-end">
    <li class="nav-item">
      <a  class="nav-link active" 
          id="mode-content-tab"
          data-bs-toggle="tab" 
          data-bs-target="#mode-content" 
          type="button" 
          role="tab" 
          aria-controls="mode-content" 
          aria-selected="true">
        Écrire le contenu
      </a>
    </li>
    <li class="nav-item">
      <a  class="nav-link"
          id="mode-structure-tab"
          data-bs-toggle="tab" 
          data-bs-target="#mode-structure" 
          type="button" 
          role="tab" 
          aria-controls="mode-structure" 
          aria-selected="false">
        Organiser le plan
      </a>
    </li>
  </ul>
  <div class="tab-content">
    <div  class="tab-pane fade show active" 
          id="mode-content" 
          role="tabpanel" 
          aria-labelledby="mode-content-tab" 
          tabindex="0">
      <div class="row">
        <div class="offset-xl-6 col-xl-6">
          <p class="text-end text-muted small mt-2">Dans le mode "Écrire le contenu", vous pouvez déplacer les blocs et les titres où vous voulez, indépendamment les uns des autres. Ainsi, vous pouvez déplacer un titre plus haut dans le document sans qu'il n'emporte ses blocs.</p>
        </div>
      </div>
      <div  class=" content-editor__elements
                    content-editor__elements__root
                    js-content-editor-sortable-container"
            id="content-editor-elements-root"
            v-show="mode == 'content'">
        <% about.blocks.without_heading.ordered.each do |block| %>
          <%= render 'admin/communication/blocks/block', block: block %>
        <% end %>
        <% about.headings.root.ordered.each do |heading| %>
          <%= render 'admin/communication/blocks/headings/heading', heading: heading %>
        <% end %>
      </div>
      <div class="content-editor__actions row mt-5">
        <div class="col-lg-4">
          <%= link_to t('admin.communication.blocks.headings.add'),
                      new_admin_communication_heading_path(about_id: about.id, about_type: about.class.name),
                      class: 'py-5 px-2 d-block bg-light text-center border h4' if can? :create, Communication::Block::Heading %>
        </div>
        <div class="col-lg-8">
          <%= link_to t('admin.communication.blocks.add'),
                      new_admin_communication_block_path(about_id: about.id, about_type: about.class.name),
                      class: 'py-5 px-2 d-block bg-light text-center border h4' if can? :create, Communication::Block %>
        </div>
      </div>
    </div>
    <div  class="tab-pane fade" 
          id="mode-structure" 
          role="tabpanel" 
          aria-labelledby="profile-tab" 
          tabindex="1">
      <div class="row">
        <div class="offset-xl-6 col-xl-6">
          <p class="text-end text-muted small mt-2">Dans le mode "Organiser le plan", vous ne voyez pas les blocs mais seulement les titres. Lorsque vous déplacez un titre, tous les blocs suivent. C'est le mode idéal pour ranger les documents longs.</p>
        </div>
      </div>
        <% about.headings.root.ordered.each do |heading| %>
          <%= render 'admin/communication/blocks/headings/heading', heading: heading, hide_blocks: true %>
        <% end %>
    </div>
  </div>

</div>
