<div class="offcanvas offcanvas-end" tabindex="-1" id="filtersOffcanvas" aria-labelledby="filtersLabel">
  <div class="offcanvas-header">
    <h4><%= t('filters.title') %></h4>
    <button type="button"
            class="btn-close text-reset"
            data-bs-dismiss="offcanvas"
            aria-label="<%= t('filters.buttons.close') %>">
    </button>
  </div>
  <div class="offcanvas-body">
    <%= yield %>
    <div class='form-group mt-2 d-flex justify-content-between'>
      <%= link_to t('filters.buttons.reset'), current_path, class: 'btn btn-secondary btn-xs' %>
      <%= submit_tag t('filters.buttons.submit'), class: button_classes %>
    </div>
  </div>
</div>

<button class="btn btn-sm btn-secondary"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#filtersOffcanvas"
        aria-controls="filters">
  <%= t('filters.buttons.expand') %>
  <% if active_filters_count > 0 %>
    <span class="badge rounded-pill ms-2 bg-white text-primary">
      <%= active_filters_count %>
    </span>
  <% end %>
  <%= lucide_icon 'search' %>
</button>