<footer class="bg-black text-white py-5">
  <div class="container-fluid">
    <div class="row my-5 pb-5">
      <div class="offset-lg-1 col-lg-5 pb-4 backgroundTasks__count">
        <p class="text-white"><%= t('admin.pending_tasks.tasks') %></p>
        <div class="display-5 text-serif"><%= background_tasks_count %></div>
      </div>
      <div class="col-lg-5 pb-4">
        <p class="text-white-50 text-uppercase"><%= t('admin.pending_tasks.what_is_it') %></p>
        <p class="text-white"><%= t('admin.pending_tasks.text_html') %></p>
      </div>
    </div>
    <div class="d-md-flex justify-content-between my-5 py-5 mb-sm-0">
      <div class="mb-5">
        <%= link_to t('admin.footer.signature'),
                    'https://www.osuny.org',
                    target: :_blank,
                    class: 'text-white-50' %>
      </div>
      <ul class="list-unstyled d-md-flex">
        <%
          [
            ['Aide à la contribution', 'https://support.osuny.org'],
            ['Aide au code', 'https://developers.osuny.org'],
            ['Site d\'exemple', 'https://example.osuny.org'],
            ['Thème Figma', 'https://www.figma.com/community/file/1176490763864113451'],
            ['Statut', 'https://status.osuny.org'],
          ].each do |item| 
        %>
          <li>
            <%= link_to item.first, item.last, target: :_blank, class: 'text-white-50' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</footer>