<div class="hero">
  <div class="container-fluid">
    <% if breadcrumbs.one? %>
      <div class="welcome py-4">
        <%= t('hello', name: current_user.first_name) %>
      </div>
    <% else %>
      <%= render_breadcrumbs builder: Osuny::BreadcrumbsOnRailsBuilder %>
    <% end %>
    <div class="d-xl-flex mt-5">
      <% if @feature_nav.present? %>
        <%= render_navigation context: @feature_nav %>
      <% else %>
        <h1><%= yield :title %></h1>
      <% end %>
      <div class="ms-xl-auto text-xl-end mt-2">
        <%= yield :title_right %>
      </div>
    </div>
    <% if content_for(:title_left) %>
      <div class="mt-2">
        <%= yield :title_left %>
      </div>
    <% end %>
  </div>
</div>