<div class="hero">
  <div class="container-fluid">
    <% if breadcrumbs.one? %>
      <div class="welcome py-4">
        <%= t('hello', name: current_user.first_name) %>
      </div>
    <% else %>
      <%= render_breadcrumbs builder: Osuny::BreadcrumbsOnRailsBuilder %>
    <% end %>
    <div class="hero__content">
      <div class="d-xl-flex align-items-end">
        <% if @feature_nav.present? %>
          <%= render_navigation context: @feature_nav %>
        <% else %>
          <h1><%= yield :title %></h1>
        <% end %>
        <div class="ms-xl-auto text-xl-end">
          <%= yield :title_right %>
        </div>
      </div>
      <% if content_for(:title_left) %>
        <div class="mt-4">
          <%= yield :title_left %>
        </div>
      <% end %>
    </div>
  </div>
</div>