<section class="flex-fill position-relative mb-5 <%= classes %>">
  <div class="d-lg-flex me-4 <%= 'mb-0' if small %>">
    <% if title %>
      <% if small %>
        <%= osuny_label title %>
      <% else %>
        <h2 class="me-3 pt-1 h6 text-muted text-uppercase"><%= title %></h2>
      <% end %>
    <% end %>
    <% if action %>
      <div class="mb-2"><%= raw action %></div>
    <% end %>
  </div>
  <% if subtitle %>
    <p><%= subtitle %></p>
  <% end %>
  <%= yield %>
</section>