<%
size = large ? 600 : 140
classes ||= ''
image_class = 'img-fluid'
content_type = ''
if image && image.attached?
  content_type = image.blob.content_type
  image_class += ' h-100 w-100 object-fit-contain' if image.variable? && !cropped
end
%>
<div class="osuny__thumbnail
            osuny__thumbnail--<%= large ? 'large' : 'small' %>
            osuny__thumbnail--<%= cropped ? 'cropped' : 'uncropped' %>
            osuny__thumbnail--<%= content_type.parameterize.underscore %>
            <%= classes %>">
  <% if image && image.attached? && image.variable? %>
    <%= kamifusen_tag image,
                      width: size,
                      height: size,
                      crop: cropped,
                      quality: 50,
                      class: image_class %>
  <% else %>
    <span class="osuny__thumbnail__initials">
      <%= initials %>
    </span>
  <% end %>
</div>
