<% content_for :title, University::Organization.model_name.human(count: 2) %>

<header class="mb-5">
  <h1><%= University::Organization.model_name.human(count: 2) %></h1>
  <p>
    <%= @count %>
    <%= University::Organization.model_name.human(count: @count).downcase %>
  </p>
</header>


<div class="row">
  <div class="col-md-3">
    <%= render 'faceted_search/facets', facets: @facets %>
  </div>
  <div class="offset-lg-1 col-lg-8">
    <%= render "extranet/organizations/list" %>
    <%= paginate @organizations, theme: 'bootstrap-5' %>
  </div>
</div>
