<% content_for :title, @organization %>
<div class="row">
  <div class="col-md-6">
    <%= render 'admin/application/summary/show', about: @organization %>

    <% if strip_tags(@organization.text.to_s).present? %>
    <h2><%= University::Organization.human_attribute_name('text') %></h2>
    <%= @organization.text.to_s.html_safe %>
    <% end %>

    <h2><%= University::Organization.human_attribute_name('legal') %></h2>
    <div class="row">
      <% if @organization.long_name.present? %>
        <div class="col-xxl-6">
          <%= osuny_label University::Organization.human_attribute_name('long_name') %>
          <p><%= @organization.long_name %></p>
        </div>
      <% end %>
      <div class="col-xxl-6">
        <%= osuny_label University::Organization.human_attribute_name('kind') %>
        <p><%= @organization.kind_i18n %></p>
      </div>
      <% if @organization.siren.present? %>
        <div class="col-xxl-6">
          <%= osuny_label University::Organization.human_attribute_name('siren') %>
          <p><%= @organization.siren %></p>
        </div>
      <% end %>
    </div>
  </div>

  <div class="col-md-6">
    <% if @organization.address_name.present? ||
          @organization.address.present? ||
          @organization.address_additional.present? ||
          @organization.zipcode.present? ||
          @organization.city.present? ||
          @organization.country.present? ||
          @organization.geolocated? %>
      <h2><%= University::Organization.human_attribute_name('physical') %>
      <div class="row">
        <% [
            :address_name,
            :address,
            :address_additional,
            :zipcode,
            :city,
          ].each do |property| %>
          <% value = @organization.send property %>
          <% next if value.blank? %>
          <div class="col-xxl-6">
            <%= osuny_label University::Organization.human_attribute_name(property) %>
            <p><%= value %></p>
          </div>
        <% end %>
        <% if @organization.country.present? %>
          <div class="col-xxl-6">
            <%= osuny_label University::Organization.human_attribute_name('country') %>
            <p><%= ISO3166::Country[@organization.country].common_name %></p>
          </div>
        <% end %>
        <% if @organization.geolocated? %>
          <div class="col-xxl-6">
            <%= osuny_label University::Organization.human_attribute_name('geolocation') %>
            <p><%= @organization.geo_point.to_s %></p>
          </div>
        <% end %>
      </div>
    <% end %>

    <% if @organization.phone.present? ||
          @organization.email.present? ||
          @organization.linkedin.present? ||
          @organization.twitter.present? ||
          @organization.mastodon.present? %>
      <h2><%= University::Organization.human_attribute_name('digital') %></h2>
      <div class="row">
        <% unless @organization.url.blank? %>
          <div class="col-xxl-6">
            <%= osuny_label University::Organization.human_attribute_name('url') %>
            <p><%= link_to  @organization.url,
                            @organization.url,
                            target: :_blank %></p>
          </div>
        <% end %>
        <% [
            :phone,
            :email,
            :linkedin,
            :twitter,
            :mastodon
            ].each do |property| %>
          <% value = @organization.send property %>
          <% next if value.blank? %>
          <div class="col-xxl-6">
            <%= osuny_label University::Organization.human_attribute_name(property) %>
            <p><%= value %></p>
          </div>
        <% end %>
      </div>
    <% end %>

    <% if @organization.logo.attached? || @organization.logo_on_dark_background.attached? %>
      <h2><%= t('university.organization.logos') %></h2>
      <% if @organization.logo.attached? %>
        <%= osuny_label University::Organization.human_attribute_name('logo') %><br>
        <%= kamifusen_tag @organization.logo, class: 'img-fluid img-fill bg-light img-thumbnail mb-3' %>
      <% end %>
      <% if @organization.logo_on_dark_background.attached? %>
        <%= osuny_label University::Organization.human_attribute_name('logo_on_dark_background') %><br>
        <%= kamifusen_tag @organization.logo_on_dark_background, class: 'img-fluid img-fill bg-dark img-thumbnail' %>
      <% end %>
    <% end %>
  </div>

</div>
<%= link_to t('edit'), edit_organization_path(@organization), class: 'btn btn-primary' %>
