<% content_for :title, @organization %>

<div class="row">
  <div class="col-md-8 order-2 order-md-1">
    <div class="row">
      <div class="col-md-9">
        <div class="biography mb-5">
          <p><%= sanitize @organization.text %></p>
        </div>
      </div>
    </div>
    <% if @organization.experiences.any? %>
      <div class="experiences">
        <p class="mb-4"><%= t('extranet.organization.experiences', count: @organization.experiences.count) %></p>
        <ul class="list-unstyled">
          <% @organization.experiences.ordered.each do |experience| %>
            <li class="mb-4">
              <article class="row position-relative">
                <div class="col-md-3">
                  <% if experience.person.best_picture.attached? %>
                    <%= kamifusen_tag experience.person.best_picture, width: 400, class: 'img-fluid' %>
                  <% else %>
                    <%= image_tag 'extranet/avatar.png', width: 400, class: 'img-fluid' %>
                  <% end %>
                </div>
                <div class="col-md-9 ms-md-n4">
                  <div class="border-top">
                    <div class="row pt-4">
                      <div class="col-md-6">
                        <p><b><%= link_to experience.person.name, experience.person, class: "stretched-link" %></b></p>
                      </div>
                      <div class="col-md-6">
                        <p class="text-end">
                          <% if experience.description.present? %>
                            <%= experience.description %><br>
                          <% end %>
                          <%= "#{experience.from_year} —" if experience.from_year %>
                          <%= experience.to_year || t('today') %>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  <div class="offset-md-1 col-md-3 order-1 order-md-2">
    <%= kamifusen_tag @organization.logo, width: 400, class: 'img-fluid organization__logo' if @organization.logo.attached? %>

    <dl>
        <dt><%= University::Organization.human_attribute_name(:kind) %></dt>
        <dd><%= @organization.kind_i18n %></dd>
      <% if @organization.phone.present? %>
        <dt><%= University::Organization.human_attribute_name(:phone) %></dt>
        <dd><a href="tel:<%= @organization.phone %>" target="_blank" rel="noreferrer"><%= @organization.phone %></a></dd>
      <% end %>
      <% if @organization.email.present? %>
        <dt><%= University::Organization.human_attribute_name(:email) %></dt>
        <dd><a href="mailto:<%= @organization.email %>" target="_blank" rel="noreferrer"><%= @organization.email %></a></dd>
      <% end %>
      <% if @organization.url.present? %>
        <dt><%= University::Organization.human_attribute_name(:url) %></dt>
        <dd>
          <%= link_to @organization.url, @organization.url %>
        </dd>
      <% end %>
    </dl>
  </div>
</div>
