<% content_for :title, @organization %>
<div class="row mb-5 top">
  <div class="<%= 'col-md-9' if @organization.logo.attached? %>">
    <header>
      <h1><%= @organization %></h1>
      <% if @organization.url %>
        <p><small><%= link_to @organization.url, @organization.url %></small></p>
      <% end %>
    </header>
  </div>
  <% if @organization.logo.attached? %>
    <div class="col-md-3">
      <%= kamifusen_tag @organization.logo, width: 400, class: 'img-fluid' %>
    </div>
  <% end %>
</div>


<div class="row">
  <div class="col-md-9">
    <div class="biography">
      <p><%= @organization.text %></p>
    </div>
    <div class="experiences">
      <p class="mb-4"><%= t('extranet.organization.experiences', count: @organization.experiences.count) %></p>
      <ul>
          <% @organization.experiences.ordered.each do |experience| %>
          <li class="mb-3">
            <div>
              <%= link_to experience.person, class: "stretched-link" do %>
                <% if experience.person.picture.attached? %>
                  <%= kamifusen_tag experience.person.picture, width: 200, class: 'img-fluid' %>
                <% else %>
                  <%= image_tag 'extranet/avatar.png', width: 200, class: 'img-fluid' %>
                <% end %>
              <% end %>
            </div>
            <div>
              <p><b><%= experience.person.name %></b></p>
              <p>
                <% if experience.description.present? %>
                  <%= experience.description %><br>
                <% end %>
                <%= "#{experience.from_year} —" if experience.from_year %>
                <%= experience.to_year || t('today') %>
              </p>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="col-md-3">
    <dl>
        <dt><%= University::Organization.human_attribute_name(:kind) %></dt>
        <dd><%= @organization.kind %></dd>
      <% if @organization.phone.present? %>
        <dt><%= University::Organization.human_attribute_name(:phone) %></dt>
        <dd><a href="tel:<%= @organization.phone %>" target="_blank" rel="noreferrer"><%= @organization.phone %></a></dd>
      <% end %>
      <% if @organization.email.present? %>
        <dt><%= University::Organization.human_attribute_name(:email) %></dt>
        <dd><a href="mailto:<%= @organization.email %>" target="_blank" rel="noreferrer"><%= @organization.email %></a></dd>
      <% end %>
      <% if @organization.url.present? %>
        <dt><%= University::Organization.human_attribute_name(:url) %></dt>
        <dd>
          <%= link_to @organization.url, @organization.url %>
        </dd>
      <% end %>
    </dl>
  </div>
</div>
