<div class="mb-4">
  <%= osuny_label t('metadata') %><br>

  <% if @l10n.published %>
    <%= t('communication.extranet.post.metadata.published_on', date: l(@l10n.published_at, format: :date_with_explicit_month)) %>
    <% if @l10n.pinned %>
      <%= t('communication.extranet.post.metadata.and_pinned') %>
    <% end %>
  <% else %>
    <%= t('communication.extranet.post.metadata.draft') %>
  <% end %>

  <% if @post.author %>
    <br>
    <%= t('communication.extranet.post.metadata.by', author: @post.author.best_localization_for(current_language)) %>
  <% end %>
  
  <%= render 'admin/application/l10n/widget', about: @post, l10n: @l10n, small: true %>
</div>


