<div class="table-responsive">
  <table class="<%= table_classes %>">
    <thead>
      <tr>
        <th><%= Communication::Website.human_attribute_name('name') %></th>
        <th><%= Communication::Website.human_attribute_name('about') %></th>
        <th><%= Communication::Website.human_attribute_name('url') %></th>
        <th><%= Communication::Website.human_attribute_name('theme_version') %></th>
        <th><%= University.model_name.human %></th>
        <th><%= Communication::Website.human_attribute_name('created_at') %></th>
        <th width="160"></th>
      </tr>
    </thead>
    <tbody>
      <% websites.ordered.each do |website| %>
        <tr id="website-<%= website.id %>">
          <td><%= link_to website.name, admin_communication_website_url(website, host: website.university.url), target: :_blank %></td>
          <td><%= I18n.t("activerecord.attributes.communication/website.about_#{website.about_type}") %></td>
          <td>
            <%= link_to website.url, website.url, target: :_blank if website.url.present? %>
            <% if website.in_production %>
              <span class="badge bg-success">Prod</span>
            <% end %>
          </td>
          <td class="js-version"><%= link_to website.theme_version, website.theme_version_url, target: :_blank if website.theme_version_url.present? %></td>
          <td><%= link_to website.university, [:server, website.university] %></td>
          <td><%= l website.created_at.to_date %></td>
          <td>
            <%= link_to t('server_admin.websites.buttons.sync'), sync_theme_server_website_path(website), method: :post, remote: true, class: button_classes if website.url.present? %>
            <%= link_to t('server_admin.websites.buttons.update'), update_theme_server_website_path(website), method: :post, class: button_classes if website.url.present? && website.github? %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
