<% content_for :title, @website.to_s_in(current_language) %>

<% url = server_website_path(@website) %>
<%= simple_form_for @website, url: url do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="row">
    <div class="col-md-6">
      <%= f.association :university,
                        include_blank: false,
                        collection: University.all.ordered %>
    </div>
  </div>

  <% content_for :action_bar_right do %>
    <%= cancel url %>
    <%= submit f %>
  <% end %>
<% end %>