<% if @program.cohorts.any? %>
  <div class="card flex-fill w-100">
    <div class="card-header">
      <div class="float-end">
        <%= @program.alumni.count %>
        <%= University::Person::Alumnus.model_name.human(count: 2).downcase %>
      </div>
      <h5 class="card-title mb-0"><%= Education::Cohort.model_name.human(count: 2) %></h5>
    </div>
    <table class="<%= table_classes %>">
      <thead>
        <tr>
          <th><%= Education::Cohort.human_attribute_name('year') %></th>
          <th><%= Education::Cohort.human_attribute_name('school') %></th>
          <th><%= Education::Cohort.human_attribute_name('alumni') %></th>
        </tr>
      </thead>
      <tbody>
        <% @program.cohorts.ordered.each do |cohort| %>
          <tr>
            <td>
              <%= link_to [:admin, cohort] do %>
                <%= cohort.academic_year %>
                <%= cohort.name %>
              <% end %>
            </td>
            <td><%= link_to_if can?(:read, cohort.school), cohort.school, [:admin, cohort.school] %></td>
            <td><%= cohort.people.count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
