<div class="row">
  <div class="col-lg-4">
    <% if program.diploma.present? %>
      <%= osuny_label Education::Program.human_attribute_name('diploma') %>
      <p><%= osuny_link_localized program.diploma, [:admin, program.diploma] %></p>
    <% end %>
    <% if program.schools.any? %>
      <%= osuny_label Education::Program.human_attribute_name('schools') %>
      <ul class="list-unstyled">
        <% program.schools.ordered(current_language).each do |school| %>
          <li><%= osuny_link_localized school, [:admin, school] %></li>
        <% end %>
      </ul>
    <% end %>
    <% if program.locations.any? %>
      <%= osuny_label Education::Program.human_attribute_name('locations') %>
      <ul class="list-unstyled">
        <% program.locations.ordered(current_language).each do |location| %>
          <li><%= osuny_link_localized_if can?(:read, location), location, [:admin, location] %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div class="col-lg-8">
    <%= osuny_label Education::Program::Localization.human_attribute_name('short_name') %>
    <p><%= l10n.short_name %></p>
    <% if l10n.downloadable_summary.attached? %>
      <%= osuny_label Education::Program::Localization.human_attribute_name('downloadable_summary') %>
      <p><%= link_to "#{l10n.downloadable_summary.filename} (#{ number_to_human_size l10n.downloadable_summary.blob.byte_size })",
                      url_for(l10n.downloadable_summary),
                      target: :_blank %></p>
    <% end %>
    <% if @program.parent %>
      <%= osuny_label Education::Program.human_attribute_name('parent') %>
      <p><%= osuny_link_localized @program.parent, [:admin, @program.parent] %></p>
    <% end %>
    <% if @l10n.duration %>
      <%= osuny_label Education::Program::Localization.human_attribute_name('duration') %>
      <p><%= @l10n.duration %></p>
    <% end %>
    <% if @program.children.any? %>
      <%= osuny_label Education::Program.model_name.human(count: 2) %>
      <ul class="list-unstyled">
        <% @program.children.each do |child| %>
          <li><%= osuny_link_localized child, [:admin, child] %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>