<%
action = ''
if !current_user.program_manager? || current_user.programs_to_manage.pluck(:education_program_id).include?(@program.id)
action += link_to t('education.manage_teachers'),
                  admin_education_program_teachers_path(program_id: @program.id),
                  class: button_classes if can?(:update, University::Person::Involvement)
end
%>
<%= osuny_panel Education::Program.human_attribute_name('teachers'), action: action, classes: 'mt-5' do %>
  <% if @teacher_involvements.any? %>
    <div class="table-responsive">
      <table class="<%= table_classes %>">
        <thead>
          <tr>
            <th class="ps-0"><%= University::Person.model_name.human %></th>
            <th><%= University::Person::Involvement.human_attribute_name('description') %></th>
          </tr>
        </thead>
        <tbody>
          <% @teacher_involvements.each do |involvement| %>
            <tr>
              <td class="ps-0">
                <%= link_to_if can?(:read, involvement.person), involvement.person.to_s, admin_university_person_path(involvement.person) %>
              </td>
              <td><%= involvement.description %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
<% end %>