<%= simple_form_for [:admin, location] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="row mb-5">
    <div class="col-lg-4">
      <%= f.input :name %>
      <%= render 'admin/application/summary/form', f: f, about: location %>
    </div>
    <div class="col-lg-4">
      <%= f.input :address %>
      <div class="row pure__row--small">
        <div class="col-md-4">
          <%= f.input :zipcode %>
        </div>
        <div class="col-md-8">
          <%= f.input :city %>
        </div>
      </div>
      <%= f.input :country, input_html: { class: 'form-select' } %>
    </div>
    <div class="col-lg-4">
      <%= f.input :phone %>
      <%= f.input :url %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <%= f.association :schools, as: :check_boxes %>
    </div>
    <div class="col-lg-4">
      <%= f.association :programs, as: :check_boxes %>
    </div>
  </div>
  <% content_for :action_bar_right do %>
    <%= submit f %>
  <% end %>
<% end %>
