<div class="row g-2 mb-3">
  <% locations.each do |location| %>
    <div>
      <div class="<%= osuny_card_classes(horizontal: true) %>">
        <%= osuny_thumbnail_localized location %>
        <% if location.deleted? %>
          <div class="card-body">
            <%= location.best_localization_for(current_language) %>
          </div>
          <% if can?(:restore, location) %>
            <div class="card-footer mb-n2">
              <%= link_to t('restore'),
                          restore_admin_administration_location_path(location),
                          method: :post,
                          class: button_classes %>
            </div>
          <% end %>
        <% else %>
          <div class="card-body">
            <%= osuny_link_localized location, [:admin, location] %>
          </div>
          <div class="card-footer small text-muted">
            <%= location.full_street_address %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
