<% content_for :title, @location %>


<div class="row">
  <div class="col-lg-7">
    <%= osuny_panel Communication::Website::Page.human_attribute_name(:title), small: true do %>
      <p class="lead mb-1"><%= @location.name %></p>
      <p><%= @location.summary %></p>
    <% end %>
  </div>
  <div class="offset-lg-1 col-lg-4">
    <%= render 'admin/application/featured_image/show', about: @location, small: true %>
  </div>
</div>

<div class="row">
  <div class="col-lg-4">
    <%= osuny_label Education::School.human_attribute_name('address') %>
    <p>
      <% if @location.address_name.present? %>
      <%= @location.address_name %><br>
      <% end %>
      <% if @location.address.present? %>
        <%= @location.address %><br>
      <% end %>
      <% if @location.address_additional.present? %>
        <%= @location.address_additional %><br>
      <% end %>
      <%= @location.zipcode %> <%= @location.city %> <%= @location.country %>
    </p>
  </div>
  <% if @location.phone.present? %>
    <div class="col-lg-4">
      <%= osuny_label Education::School.human_attribute_name('phone') %>
      <p><%= @location.phone %></p>
    </div>
  <% end %>
  <% if @location.url.present? %>
    <div class="col-lg-4">
      <%= osuny_label Administration::Location.human_attribute_name('url') %>
      <p><%= link_to @location.url, @location.url, target: :_blank %></p>
    </div>
  <% end %>
</div>

<div class="row mt-5">
  <% if @location.schools.any? %>
    <div class="col-lg-4">
      <%= osuny_panel Administration::Location.human_attribute_name('schools') do %>
        <ul class="list-unstyled">
          <% @location.schools.ordered.each do |school| %>
            <li><%= link_to_if can?(:read, school), school, [:admin, school] %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>

  <% if @location.programs.any? %>
    <div class="col-lg-4">
      <%= osuny_panel Administration::Location.human_attribute_name('programs') do %>
        <ul class="list-unstyled">
          <% @location.programs.ordered.each do |program| %>
            <li><%= link_to_if can?(:read, program), program, [:admin, program] %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>

  <% if @location.websites.any? %>
    <div class="col-lg-4">
      <%= osuny_panel Administration::Location.human_attribute_name('websites') do %>
        <ul class="list-unstyled">
          <% @location.websites.each do |website| %>
            <li><%= link_to website, [:admin, website] %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>
</div>

<%= render 'admin/communication/blocks/content/editor', about: @location %>

<%= render 'admin/application/connections/list', about: @location %>

<% content_for :action_bar_left do %>
  <%= destroy_link @location %>
  <%= static_link static_admin_administration_location_path(@location) %>
<% end %>

<% content_for :action_bar_right do %>
  <%= edit_link @location %>
<% end %>
