<% content_for :title, @l10n %>

<div class="row">
  <div class="col-lg-3">
    <%= render 'admin/application/images/featured/show', about: @l10n, small: true %>
  </div>
  <div class="offset-lg-1 col-lg-8">
    <%= render 'admin/application/summary/show', about: @l10n, small: true %>
    <div class="mb-5">
      <%= render 'admin/application/contact_details/show', about: @location, l10n: @l10n %>
    </div>
    <% if @schools.any? %>
      <%= osuny_panel Administration::Location.human_attribute_name('schools'), small: true do %>
        <%= render 'admin/education/schools/list', schools: @schools %>
      <% end %>
    <% end %>
    <% if @programs.any? %>
      <%= osuny_panel Administration::Location.human_attribute_name('programs'), small: true do %>
        <%= render 'admin/education/programs/list', programs: @programs %>
      <% end %>
    <% end %>
    <% if @websites.any? %>
      <%= osuny_panel Administration::Location.human_attribute_name('websites'), small: true do %>
        <%= render 'admin/communication/websites/list', websites: @websites %>
      <% end %>
    <% end %>
  </div>
</div>

<%= render 'admin/communication/contents/editor', about: @l10n %>

<%= render 'admin/application/connections/list', about: @location %>

<% content_for :action_bar_left do %>
  <%= destroy_link @location %>
  <%= static_link static_admin_administration_location_path(@location) %>
<% end %>

<% content_for :action_bar_right do %>
  <%= edit_link @location %>
<% end %>
