<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= content_for?(:title) ? raw("#{yield(:title)} ∙ Osuny")
                                    : 'Osuny' %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'admin/appstack', media: 'all' %>
    <%= favicon_link_tag 'favicon.png' %>
  </head>
  <body class="<%= body_classes %>" data-theme="default" data-layout="fluid" data-sidebar-position="left" data-sidebar-behavior="sticky">
    <div class="toasts-container" style="position: fixed; top: 20px; right: 20px; z-index: 100000;">
      <% unless notice.nil? %>
        <div class="js-notyf-notice d-none">
          <%= notice %>
        </div>
      <% end %>
      <% unless alert.nil? %>
        <div class="js-notyf-alert d-none">
          <%= alert %>
        </div>
      <% end %>
    </div>
    <div class="wrapper">
      <nav id="sidebar" class="sidebar">
        <div class="sidebar-content js-simplebar">
          <%= link_to server_root_path, class: 'sidebar-brand' do %>
            <%= image_tag 'osuny-white.svg', class: 'img-fluid' %>
          <% end %>
          <%= render_navigation context: :server %>
        </div>
      </nav>
      <%= render 'admin/layouts/themes/appstack/footer' %>
      <div class="main">
        <%= render 'server/application/top' %>
        <main class="content">
          <div class="container-fluid p-0">
            <h1><%= yield :title %></h1>
            <%= yield %>
          </div>
        </main>
      </div>
    </div>
    <%= javascript_include_tag 'admin/appstack' %>
    <%= render 'gdpr/cookie_consent' %>
    <%= render 'bugsnag' %>
  </body>
</html>
