<%= osuny_panel Communication::Website.human_attribute_name('features') do %>
  <div class="row">
    <div class="col-lg-3">
      <%= f.input :feature_posts %>
    </div>
    <div class="col-lg-3">
      <%= f.input :feature_agenda %>
    </div>
    <div class="col-lg-3">
      <%= f.input :feature_portfolio %>
    </div>
    <div class="col-lg-3">
      <%= f.input :feature_jobboard %>
    </div>
    <% if @website.can_have_feature_alumni? %>
      <div class="col-lg-3">
        <%= f.input :feature_alumni %>
      </div>
    <% end %>
  </div>
<% end %>