<div class="row g-2 mb-3">
  <% publications.each do |publication| %>
    <div>
      <div class="<%= osuny_card_classes(horizontal: true) %>">
        <div class="card-body">
          <%= link_to publication, [:admin, publication] %><br>
          <small><%= sanitize publication.authors_list %></small>
        </div>
        <div class="card-footer d-flex">
          <span class="badge text-bg-light me-4"><%= publication.source_i18n %></span>
          <%= l publication.publication_date %>
        </div>
      </div>
    </div>
  <% end %>
</div>
