<div class="row g-2 mb-3">
  <% publications.each do |publication| %>
    <div>
      <div class="<%= osuny_card_classes %>">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-8">
              <h3 class="card-title">
                <%= link_to publication, [:admin, publication], class: 'stretched-link' %><br>
              </h3>
              <small><%= sanitize publication.authors_list.truncate(200) %></small>
            </div>
            <div class="col-lg-4 small">
              <p><%= l publication.publication_date %></p>
              <p><%= t("hal_openscience.document.type.#{publication.doctype}.one", locale: :fr) %></p>
              <span class="badge text-bg-light"><%= publication.source_i18n %></span><br>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
