<% content_for :title, Research::Publication.model_name.human(count: 2) %>

<p>
  <%= @publications.total_count %>
  <%= Research::Publication.model_name.human(count: @publications.total_count).downcase %>
</p>
<%= render 'filters', current_path: admin_research_publications_path %>
<%= render 'admin/research/publications/list', publications: @publications %>
<%= paginate @publications %>

<% content_for :action_bar_right do %>
  <%= create_link Research::Publication %>
<% end %>
