<div class="modal show" tabindex="-1" role="dialog" :class="{'d-block': medias.modal.opened}">
  <div class="modal-dialog modal-fullscreen modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <div class="col-auto d-none d-lg-block">
          <h5 class="modal-title"><%= t('communication.description.parts.media.title') %></h5>
        </div>
        <div class="col-auto d-flex flex-fill mx-lg-5">
          <div class="input-group">
            <input  type="text"
                    name="search"
                    placeholder="<%= t 'photo_import.placeholder' %>"
                    v-model="medias.query"
                    v-on:keyup.enter="mediasSearch"
                    class="form-control ms-auto">
            <button type="button"
                    class="btn btn-primary me-auto"
                    v-on:click="mediasSearch"
                    aria-label="<%= t 'photo_import.search' %>">
              <%= t 'photo_import.search' %>
            </button>
          </div>
        </div>
        <div class="col-auto">
        <button type="button" class="btn-close" v-on:click="mediasClose()"></button>
        </div>
      </div>
      <div class="modal-body overflow-x-hidden" id="media-results">
        <p v-if="medias.data.results.length === 0 || !medias.data" >
          <%= t 'photo_import.nothing' %>
        </p>
        <div class="photo_import__results photo_import__media photo_import__media__results">
          <img  :src="media.thumb"
                :alt="media.alt"
                class="photo_import__results__result"
                v-for="media in medias.data.results"
                v-on:click="mediasSelect(media)">
        </div>
        <p class="small text-muted" v-if="medias.data.total_pages">
          {{medias.page}} / {{medias.data.total_pages }}
        </p>
      </div>
      <div class="modal-footer d-block" v-if="medias.data.total_pages > 1">
        <div class="row">
          <div class="col-lg-6">
            <a  href="#"
                v-if="medias.page > 1"
                v-on:click="medias.page = medias.page - 1"
                class="btn btn-light btn-sm">
              <%= t 'photo_import.previous' %>
            </a>
          </div>
          <div class="col-lg-6 text-end">
            <a  href="#" v-if="medias.page < medias.data.total_pages"
                v-on:click="medias.page = medias.page + 1"
                class="btn btn-light btn-sm">
              <%= t 'photo_import.next' %>
            </a>
          </div>
      </div>
    </div>
  </div>
</div>