<% content_for :title, @role %>

<% if @involvements.any? %>
  <table class="table">
    <thead>
      <tr>
        <% if can? :reorder, University::Role %>
          <th width="20" class="ps-0">&nbsp;</th>
        <% end %>
        <th class="ps-0"><%= University::Person.model_name.human %></th>
        <th></th>
      </tr>
    </thead>
    <tbody data-sortable data-sort-url="<%= reorder_admin_education_program_role_people_path(@role, { program_id: @program.id }) %>">
      <% @involvements.each do |involvement| %>
        <tr data-id="<%= involvement.id %>">
          <% if can? :reorder, University::Role %>
            <td><i class="fa fa-bars handle"></i></td>
          <% end %>
          <td class="ps-0">
            <%= link_to_if  can?(:read, involvement.person),
                            involvement.person,
                            [:admin, involvement.person] %>
          </td>
          <td class="text-end pe-0">
            <%= link_to t('remove'),
                        admin_education_program_role_person_path(involvement, { program_id: @program.id, role_id: @role.id }),
                        method: :delete,
                        data: { confirm: t('please_confirm') },
                        class: button_classes_danger if can?(:destroy, involvement) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>


<% content_for :action_bar_right do %>
  <%= link_to t('edit'),
              edit_admin_education_program_role_path(@role, { program_id: @program.id }),
              class: button_classes if can?(:update, @role) %>
<% end %>
