<%
optimizer = Osuny::Category::Optimizer.new(about)
columns ||= 1
classes = "col-lg-#{12/columns}"
# TODO manage child free categories
%>
<div class="row">
<% optimizer.groups_by_taxonomy.each do |taxonomy, taxons_in_use| %>
  <div class="<%= classes %> mb-4">
    <%= osuny_label taxonomy.to_s_in(current_language) %>
    <ul class="list-unstyled">
      <% taxons_in_use.each do |category| %>
        <li><%= osuny_link_localized_if can?(:read, category), category, [:admin, category] %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<% if optimizer.free_categories.any? %>
  <div class="<%= classes %> mb-4">
    <%= osuny_label t('category.title') %>
    <ul class="list-unstyled">
      <% optimizer.free_categories.each do |category| %>
        <li><%= osuny_link_localized_if can?(:read, category), category, [:admin, category] %></li>
      <% end %>
    </ul>
  </div>
<% end %>
</div>
