<% hide_logo ||= false %>

<footer class="pt-5">
  <div class="container">
    <% unless hide_logo %>
      <div class="footer-logo pb-5 mb-5 text-center">
        <%= render 'logo' %>
      </div>
    <% end %>
    <div class="row justify-space-between">
      <div class="col-md-6">
        <% if current_extranet.about.is_a?(Education::School) %>
          <address itemscope itemtype="https://schema.org/CollegeOrUniversity">
            <span itemprop="name"><%= current_extranet.about.name %></span>
            <div itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
              <span itemprop="streetAddress"><%= current_extranet.about.address %></span><br>
              <span itemprop="postalCode"><%= current_extranet.about.zipcode %></span>
              <span itemprop="addressLocality"><%= current_extranet.about.city %></span><br>
            </div>
          </address>
        <% elsif current_extranet.about.is_a?(Education::Program) %>
          <div itemscope itemtype="https://schema.org/EducationalOccupationalCredential">
            <span itemprop="name"><%= current_extranet.about.name %></span>
          </div>
        <% end %>
      </div>

      <nav class="text-md-end col-md-6">
        <%= link_to t('terms_of_service'),
                    terms_path,
                    target: '_blank',
                    rel: 'noreferrer' if current_extranet.has_terms? %>
        <%= link_to t('privacy_policy'),
                    privacy_policy_path,
                    target: '_blank',
                    rel: 'noreferrer' if current_extranet.has_privacy_policy? %>
        <%= link_to t('cookies_policy'),
                    cookies_policy_path,
                    target: '_blank',
                    rel: 'noreferrer' if current_extranet.has_cookies_policy? %>
        <%= link_to t('extranet.data'), data_path %>
        <%= link_to t('cookies_consent_choice'),
                    '',
                    class: 'js-gdpr__cookie_consent__display_again' %>
                  
        <%= t 'extranet.osuny_html' %>
      </nav>
    </div>

  </div>
</footer>
