<% 
hide_logo ||= false
about = current_extranet.about
%>

<footer class="pt-5">
  <div class="container">
    <% unless hide_logo %>
      <div class="footer-logo pb-5 mb-5 text-center">
        <%= render 'logo' %>
      </div>
    <% end %>
    <div class="row justify-space-between">
      <div class="col-md-6">
        <% if about.is_a?(Education::School) %>
          <address itemscope itemtype="https://schema.org/CollegeOrUniversity">
            <span itemprop="name"><%= about.name %></span>
            <div itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
              <span itemprop="streetAddress"><%= about.address %></span><br>
              <span itemprop="postalCode"><%= about.zipcode %></span>
              <span itemprop="addressLocality"><%= about.city %></span><br>
            </div>
            <% if about.url.present? %>
              <a href="<%= social_website_to_url about.url %>" target="_blank" property="url"><%= social_website_to_s about.url %></a>
            <% end %>
          </address>
        <% elsif current_extranet.about.is_a?(Education::Program) %>
          <div itemscope itemtype="https://schema.org/EducationalOccupationalCredential">
            <span itemprop="name"><%= current_extranet.about.name %></span>
          </div>
        <% end %>
      </div>

      <nav class="text-md-end col-md-6">
        <%= link_to t('terms_of_service'),
                    terms_path,
                    target: '_blank',
                    rel: 'noreferrer' if current_extranet.has_terms? %>
        <%= link_to t('privacy_policy'),
                    privacy_policy_path,
                    target: '_blank',
                    rel: 'noreferrer' if current_extranet.has_privacy_policy? %>
        <%= link_to t('cookies_policy'),
                    cookies_policy_path,
                    target: '_blank',
                    rel: 'noreferrer' if current_extranet.has_cookies_policy? %>
        <%= link_to t('extranet.data'), data_path %>
        <%= t 'extranet.osuny_html' %>
      </nav>
    </div>

  </div>
</footer>
