<footer class="pt-5">
  <div class="container text-center">
    <div class="mb-5">
      <%= render 'logo' %>
    </div>
    <nav class="nav justify-content-center">
      <%= link_to t('terms_of_service'),
                  t('terms_of_service_url'),
                  class: 'nav-link',
                  target: '_blank',
                  rel: 'noreferrer' %>
      <%= link_to t('privacy_policy'),
                  t('privacy_policy_url'),
                  class: 'nav-link',
                  target: '_blank',
                  rel: 'noreferrer' %>
      <%= link_to t('cookies_policy'),
                  t('cookies_policy_url'),
                  class: 'nav-link',
                  target: '_blank',
                  rel: 'noreferrer' %>
      <%= link_to t('cookies_consent_choice'),
                  '',
                  class: 'nav-link js-gdpr__cookie_consent__display_again' %>
    </nav>
  </div>
</footer>
