<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title><%= yield :title %></title>
<%= csrf_meta_tags %>
<%= csp_meta_tag %>
<%= stylesheet_link_tag 'extranet', media: 'all' %>
<link rel="stylesheet" href="<%= style_path(format: :css) %>" media="all">
<link rel="stylesheet" href="https://example.osuny.org/assets/css/extranet.min.css" media="all">
<%= javascript_include_tag 'extranet' %>
<script src="https://example.osuny.org/js/extranet.js"></script>
<% if current_extranet.favicon.attached? %>
  <%= favicon_link_tag url_for(current_extranet.favicon.variant(:thumb)) %>
<% else %>
  <%= favicon_link_tag 'favicon.png' %>
<% end %>
<% if current_extranet.color.present? && current_extranet.color != '#000000' %>
  <style>
  h1 a {
    color: <%= current_extranet.color %>;
    text-decoration-color: <%= current_extranet.color %>66;
  }
  h1 a:hover {
    color: <%= current_extranet.color %>;
    text-decoration-color: <%= current_extranet.color %>;
  }
  .navbar .active .nav-link {
    color: <%= current_extranet.color %>;
  }
  .btn-primary {
    background-color: <%= current_extranet.color %>;
    border-color: <%= current_extranet.color %>;
  }
  </style>
<% end %>
