<fieldset class="mb-3">
  <legend class="col-form-label"><%= label %></legend>
  <% component.options.each do |option| %>
    <div class="form-check">
      <input  class="form-check-input"
              type="radio"
              name="<%= model %>.<%= property %>"
              value="<%= option %>"
              v-model="<%= model %>.<%= property %>"
              id="<%= dom_id.html_safe %>-<%= option %>">
      <label class="form-check-label" for="<%= dom_id.html_safe %>-<%= option %>">
        <%= t "#{i18n_component}.options.#{option}" %>
      </label>
    </div>
  <% end %>
</fieldset>
