<% content_for :title, t('communication.authors', count: 2) %>

<div class="d-flex justify-content-between mb-4">
  <p>
    <%= @authors.total_count %>
    <%= t('communication.authors', count: @authors.total_count).downcase %>
  </p>
  <%= render 'filters', current_path: admin_communication_website_post_authors_path  %>
</div>
<%= render 'admin/communication/websites/posts/authors/list', authors: @authors %>
<%= paginate @authors %>

<% content_for :action_bar_right do %>
  <%= link_to t('communication.manage_authors'), admin_university_people_path, class: button_classes if can?(:read, University::Person) %>
<% end %>
