<% content_for :title, @author_l10n %>

<% content_for :title_right do %>
  <%= edit_link @author %>
<% end %>

<% if @posts.any? %>
  <p>
    <%= @posts.total_count %>
    <%= Communication::Website::Post.model_name.human(count: @posts.total_count).downcase %>
  </p>
  <%= render 'admin/communication/websites/posts/list', posts: @posts %>
  <%= paginate @posts if @posts.total_pages > 1 %>
<% end %>
