<%
class_name = "block block-volumes"
unless block.title.blank?
  class_name += " block-with-title"
end
%>
<div class="<%= class_name %>">
  <div class="container">
    <div class="block-content">
      <% unless block.title.blank? %>
        <div class="top">
          <% unless block.title.blank? %>
            <p class="block-title"><%= block.title %></p>
          <% end %>
        </div>
      <% end %>
      <% if block.data %>
        <div class="volumes">
          <% 
          block.template.selected_volumes.each do |volume|
            next if volume.nil?
            volume_l10n = volume.localization_for(block.language)
            next if volume_l10n.nil?
            %>
          <article class="volume" itemscope itemtype="https://schema.org/Book https://schema.org/PublicationVolume">
            <hgroup>
              <h<%= block.heading_rank_children %>>
                <%= link_to volume_l10n, '#' %>
              </h<%= block.heading_rank_children %>>
            </hgroup>
            <div class="media">
              <%= kamifusen_tag volume_l10n.featured_image %>
            </div>
          </article>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>