<% heading_level = block.heading_rank_children %>

<div class="<%= block_html_class(block) %>">
  <div class="container">
    <div class="block-content">
      <%= render 'admin/communication/blocks/partials/top', block: block %>

      <% if block.template.layout ===  "list" %>
        <div class="list">
          <% block.template.selected_projects.each do |project|
              next if project.nil?
          %>
            <article class="project" itemscope itemtype="https://schema.org/CreativeWork">
              <h<%= heading_level %> class='project-title' itemprop='name'>
                <%= link_to project, project.current_permalink_url_in_website(@website) %>
              </h<%= heading_level %>>
            </article>
          <% end %>
        </div>

      <% elsif block.template.layout ===  "large" %>
        <div class="large">
          <% block.template.selected_projects.each do |project|
              next if project.nil?
          %>
            <article class="project" itemscope itemtype="https://schema.org/CreativeWork">
              <div class="project-content">
                <div class="project-description">
                  <h<%= heading_level %> class='project-title' itemprop='name'>
                    <%= link_to project, project.current_permalink_url_in_website(@website) %>
                  </h<%= heading_level %>>
                  <% if project.summary.present? %>
                    <p itemprop="abstract"><%= project.summary %></p>
                  <% end %>
                  <div class="project-meta">
                    <% if project.year.present? %>
                      <time itemprop="datePublished" datetime="<%= project.year %>"><%= project.year %></time>
                    <% end %>
                    <% if project.categories.present? %>
                      <ul class="project-categories">
                        <% project.categories.each do |category| %>
                          <li>
                            <%= link_to category, category.current_permalink_url_in_website(@website) %>
                          </li>
                        <% end %>
                      </ul>
                    <% end %>
                  </div>
                  <p class="more meta" aria-hidden="true"><%= t 'admin.communication.blocks.templates.projects.layouts.large.more' %></p>
                </div>
              </div>
              <div class="media">
                <% if project.featured_image.attached? %>
                  <%= kamifusen_tag project.featured_image %>
                <% end %>
              </div>
            </article>
          <% end %>
        </div>

      <% elsif block.template.layout ===  "alternate" %>
        <div class="alternate">
          <% block.template.selected_projects.each_with_index do |project, index|
              next if project.nil?
          %>
            <article class="project <% if (index %2 ==0) %>left<% else %> right<% end %>" itemscope itemtype="https://schema.org/CreativeWork">
              <div class="project-content">
                <div class="project-description">
                  <h<%= heading_level %> class='project-title' itemprop='name'>
                    <%= link_to project, project.current_permalink_url_in_website(@website) %>
                  </h<%= heading_level %>>
                  <% if project.summary.present? %>
                    <p itemprop="abstract"><%= project.summary %></p>
                  <% end %>
                  <% if project.categories.present? %>
                    <ul class="project-categories">
                      <% project.categories.each do |category| %>
                        <li>
                          <%= link_to category, category.current_permalink_url_in_website(@website) %>
                        </li>
                      <% end %>
                    </ul>
                  <% end %>
                </div>
              </div>
              <div class="media">
                <% if project.featured_image.attached? %>
                  <%= kamifusen_tag project.featured_image %>
                <% end %>
              </div>
            </article>
          <% end %>
        </div>

      <% else %>
        <div class="grid">
          <% block.template.selected_projects.each do |project|
              next if project.nil?
          %>
            <article class="project" itemscope itemtype="https://schema.org/CreativeWork">
              <div class="project-content">
                <div class="project-description">
                  <h<%= heading_level %> class='project-title' itemprop='name'>
                    <%= link_to project, project.current_permalink_url_in_website(@website) %>
                  </h<%= heading_level %>>
                  <% if project.summary.present? %>
                    <p itemprop="abstract"><%= project.summary %></p>
                  <% end %>
                  <% if project.categories.present? %>
                    <ul class="project-categories">
                      <% project.categories.each do |category| %>
                        <li>
                          <%= link_to category, category.current_permalink_url_in_website(@website) %>
                        </li>
                      <% end %>
                    </ul>
                  <% end %>
                </div>
              </div>
              <div class="media">
                <% if project.featured_image.attached? %>
                  <%= kamifusen_tag project.featured_image %>
                <% end %>
              </div>
            </article>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>