<%= simple_form_for [:admin, page] do |f| %>
  <div class="row">
    <div class="col-md-8">
      <%= f.input :title %>
      <%= f.input :slug %>
      <%= f.input :description %>
    </div>
    <div class="col-md-4">
      <%= f.input :published_at, html5: true %>
      <%= f.association :parent, collection: page.website.pages.where.not(id: page) %>
      <%= f.association :website, include_blank: false %>
    </div>
  </div>
  <% content_for :buttons do %>
    <%= submit f %>
  <% end %>
<% end %>
