<table class="table">
  <thead>
    <tr>
      <th class="ps-0"><%= Communication::Website::Page.human_attribute_name('title') %></th>
      <th><%= Communication::Website::Page.human_attribute_name('path') %></th>
      <th width="150"></th>
    </tr>
  </thead>
  <tbody>
    <% pages.each do |page| %>
      <tr>
        <td class="ps-0"><%= link_to page, admin_communication_website_page_path(website_id: page.website.id, id: page.id) %></td>
        <td><%= page.path %></td>
        <td class="text-end pe-0">
          <%= link_to t('edit'),
                      edit_admin_communication_website_page_path(website_id: page.website.id, id: page.id),
                      class: button_classes %>
          <%= link_to t('delete'),
                      admin_communication_website_page_path(website_id: page.website.id, id: page.id),
                      method: :delete,
                      data: { confirm: t('please-confirm') },
                      class: button_classes_danger %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
