<% content_for :title, Communication::Website::Page.model_name.human(count: 2) %>

<table class="table">
  <thead>
    <tr>
      <th><%= Communication::Website::Page.human_attribute_name('title') %></th>
      <th><%= Communication::Website::Page.human_attribute_name('permalink') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><%= link_to page, admin_communication_website_page_path(page.id) %></td>
        <td><%= page.permalink %></td>
        <td class="text-end">
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% content_for :buttons do %>
  <%= create_link Communication::Website::Page %>
<% end %>
