<% content_for :title, @page %>

<div class="row">
  <div class="col-md-8">
    <div class="card flex-fill w-100">
      <div class="card-header">
        <h2 class="card-title mb-0 h5"><%= t('content') %></h2>
      </div>
      <div class="card-body">
        <h3 class="h5"><%= Communication::Website::Page.human_attribute_name('description') %></h3>
        <%= sanitize @page.description %>

        <h3 class="h5 mt-4"><%= Communication::Website::Page.human_attribute_name('text') %></h3>
        <%= @page.text %>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card flex-fill w-100">
      <div class="card-header">
        <h2 class="card-title mb-0 h5"><%= t('metadata') %></h2>
      </div>
      <table class="<%= table_classes %>">
        <tbody>
          <tr>
            <td width="150"><%= Communication::Website::Page.human_attribute_name('slug') %></td>
            <td><%= @page.slug %></td>
          </tr>
          <tr>
            <td><%= Communication::Website::Page.human_attribute_name('path') %></td>
            <td><%= @page.path %></td>
          </tr>
          <tr>
            <td><%= Communication::Website::Page.human_attribute_name('published') %></td>
            <td>
              <%= t @page.published %>
            </td>
          </tr>
          <% if @page.parent %>
            <tr>
              <td><%= Communication::Website::Page.human_attribute_name('parent') %></td>
              <td><%= link_to_if can?(:read, @page.parent),
                              @page.parent,
                              admin_communication_website_page_path(
                                website_id: @website.id,
                                id: @page.parent.id
                              ),
                              class: "#{'opacity-50' unless @page.parent.published?}" %></td>
            </tr>
          <% end %>
          <% if @page.children.any? %>
            <tr>
              <td><%= Communication::Website::Page.human_attribute_name('children') %></td>
              <td>
                <ul class="list-unstyled mb-0">
                  <% @page.children.each do |child| %>
                    <li>
                      <%= link_to_if can?(:read, child),
                                    child,
                                    admin_communication_website_page_path( website_id: @website.id, id: child.id),
                                    class: "#{'opacity-50' unless child.published?}" %>
                    </li>
                  <% end %>
                </ul>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <% if @page.featured_image.attached? && @page.featured_image.variable? %>
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h5 class="card-title mb-0"><%= t('activerecord.attributes.communication/website/page.featured_image') %></h5>
        </div>
        <div class="card-body">
          <%= image_tag @page.featured_image.variant(resize: '600'), class: 'img-fluid mb-3' %><br>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% content_for :action_bar_left do %>
  <%= link_to t('communication.website.force_publication'),
              publish_admin_communication_website_page_path(@page),
              method: :post,
              class: button_classes %>
<% end %>

<% content_for :action_bar_right do %>
  <%= edit_link @page %>
  <%= destroy_link @page %>
<% end %>
