<% content_for :title, @page %>

<%= render 'admin/communication/websites/sidebar' do %>

  <div class="row">
    <div class="col-md-8">
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h2 class="card-title mb-0 h5"><%= t('content') %></h2>
        </div>
        <div class="card-body">
          <%= render 'admin/application/property/text', object: @page, property: :description %>
          <%= render 'admin/application/property/text', object: @page, property: :text %>
        </div>
      </div>
      <%= render 'admin/communication/website/blocks/list', about: @page %>
    </div>
    <div class="col-md-4">
      <div class="card flex-fill w-100">
        <div class="card-header">
          <div class="float-end">
            <% if @page.url %>
              <%= link_to t('open'),
                          @page.url,
                          target: :_blank,
                          class: 'btn btn-light' %>
            <% end %>
          </div>
          <h2 class="card-title mb-0 h5"><%= t('metadata') %></h2>
        </div>
        <div class="card-body">
          <h3 class="h5"><%= Communication::Website::Page.human_attribute_name('slug') %></h3>
          <p><%= @page.slug %></p>
          <h3 class="h5"><%= Communication::Website::Page.human_attribute_name('path') %></h3>
          <p><%= @page.path %></p>
          <h3 class="h5"><%= Communication::Website::Page.human_attribute_name('published') %></h3>
          <p><%= t @page.published %></p>
          <% if @page.parent %>
            <h3 class="h5"><%= Communication::Website::Page.human_attribute_name('parent') %></h3>
            <p><%= link_to_if can?(:read, @page.parent),
                              @page.parent,
                              admin_communication_website_page_path(
                                website_id: @website.id,
                                id: @page.parent.id
                              ),
                              class: "#{'opacity-50' unless @page.parent.published?}" %></p>
          <% end %>
          <% if @page.related_category %>
            <h3 class="h5"><%= Communication::Website::Page.human_attribute_name('related_category') %></h3>
            <p><%= link_to_if can?(:read, @page.related_category),
                              @page.related_category,
                              admin_communication_website_category_path(
                                website_id: @website.id,
                                id: @page.related_category.id
                              ) %></p>
          <% end %>
          <% if @page.children.any? %>
            <h3 class="h5"><%= Communication::Website::Page.human_attribute_name('children') %></h3>
            <ul class="list-unstyled mb-0">
              <% @page.children.each do |child| %>
                <li>
                  <%= link_to_if can?(:read, child),
                                child,
                                admin_communication_website_page_path( website_id: @website.id, id: child.id),
                                class: "#{'opacity-50' unless child.published?}" %>
                </li>
              <% end %>
            </ul>
          <% end %>
        </div>
      </div>
      <% if @page.featured_image.attached? && @page.featured_image.variable? %>
        <div class="card flex-fill w-100">
          <div class="card-header">
            <h5 class="card-title mb-0"><%= t('activerecord.attributes.communication/website/page.featured_image') %></h5>
          </div>
          <div class="card-body">
            <%= image_tag @page.featured_image.variant(resize: '600'), class: 'img-fluid mb-3' %><br>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<% content_for :preview do %>
  <%= @page.text.to_s %>
<% end %>

<% content_for :action_bar_left do %>
  <%= link_to t('static'),
              static_admin_communication_website_page_path(@page),
              class: button_classes('btn-light') if can? :static, @page %>
<% end %>

<% content_for :action_bar_right do %>
  <%= preview_link %>
  <%= edit_link @page %>
<% end %>
