<% content_for :title, @page %>

<%= render 'admin/communication/websites/sidebar' do %>

  <div class="row">
    <div class="col-md-8">

      <% if @page.is_special_page? %>
        <div class="card text-white bg-secondary flex-fill w-100">
          <div class="card-body">
            <%= t('admin.communication.website.pages.is_special_page') %>
            <b class="text-white"><%= t("communication.website.pages.defaults.#{@page.kind}.admin_description") %></b>
          </div>
        </div>
      <% end %>

      <div class="card flex-fill w-100">
        <div class="card-header">
          <h2 class="card-title mb-0 h5"><%= t('content') %></h2>
        </div>
        <div class="card-body">
          <%= render 'admin/application/property/text', object: @page, property: :description_short %>
          <%= render 'admin/application/property/text', object: @page, property: :text %>
        </div>
      </div>
      <%= render 'admin/communication/blocks/list', about: @page %>
    </div>
    <div class="col-md-4">
      <div class="card flex-fill w-100">
        <div class="card-header">
          <div class="float-end">
            <% if @page.url %>
              <%= link_to t('open'),
                          @page.url,
                          target: :_blank,
                          class: 'btn btn-light' %>
            <% end %>
          </div>
          <h2 class="card-title mb-0 h5"><%= t('metadata') %></h2>
        </div>
        <div class="card-body">
          <% unless @page.slug.blank? %>
            <h3 class="h5"><%= Communication::Website::Page.human_attribute_name('slug') %></h3>
            <p><%= @page.slug %></p>
          <% end %>
          <h3 class="h5"><%= Communication::Website::Page.human_attribute_name('path') %></h3>
          <p><%= @page.path %></p>
          <h3 class="h5"><%= Communication::Website::Page.human_attribute_name('published') %></h3>
          <p><%= t @page.published %></p>
          <% if @page.parent %>
            <h3 class="h5"><%= Communication::Website::Page.human_attribute_name('parent') %></h3>
            <p><%= link_to_if can?(:read, @page.parent),
                              @page.parent,
                              admin_communication_website_page_path(
                                website_id: @website.id,
                                id: @page.parent.id
                              ),
                              class: "#{'opacity-50' unless @page.parent.published?}" %></p>
          <% end %>

          <% if can?(:edit, @website) && @page.best_bodyclass %>
            <h3 class="h5"><%= Communication::Website::Page.human_attribute_name('bodyclass') %></h3>
            <p>
              <%= @page.best_bodyclass %>
              <% if @page.bodyclass.blank? %>
                <br>
                <span class="small text-muted">
                  <%= t 'admin.inheritance.sentence_without_link' %>
                </span>
              <% end %>
            </p>
          <% end %>

          <% if @page.related_category %>
            <h3 class="h5"><%= Communication::Website::Page.human_attribute_name('related_category') %></h3>
            <p><%= link_to_if can?(:read, @page.related_category),
                              @page.related_category,
                              admin_communication_website_category_path(
                                website_id: @website.id,
                                id: @page.related_category.id
                              ) %></p>
          <% end %>
          <% if @page.children.any? %>
            <h3 class="h5"><%= Communication::Website::Page.human_attribute_name('children') %></h3>
            <ul class="list-unstyled mb-0">
              <% @page.children.ordered.each do |child| %>
                <li>
                  <%= link_to_if can?(:read, child),
                                child,
                                admin_communication_website_page_path( website_id: @website.id, id: child.id),
                                class: "#{'opacity-50' unless child.published?}" %>
                </li>
              <% end %>
            </ul>
          <% end %>
        </div>
      </div>
      <%= render 'admin/application/featured_image/show', about: @page %>
      <% if @page.description.present? %>
        <div class="card flex-fill w-100">
          <div class="card-header">
            <h5 class="card-title mb-0"><%= t('seo') %></h5>
          </div>
          <div class="card-body">
            <h3 class="h5"><%= Communication::Website::Page.human_attribute_name('description') %></h3>
            <%= simple_format @page.description %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<% content_for :preview do %>
  <%= @page.text.to_s %>
<% end %>

<% content_for :action_bar_left do %>
  <%= destroy_link @page if @page.is_regular_page? %>
  <%= link_to t('static'),
              static_admin_communication_website_page_path(@page),
              class: button_classes('btn-light') if current_user.server_admin? %>
<% end %>

<% content_for :action_bar_right do %>
  <%= preview_link %>
  <%= edit_link @page %>
<% end %>
