<div class="table-responsive">
  <table class="<%= table_classes %>">
    <thead>
      <tr>
        <th class="ps-0" width="60%"><%= Communication::Extranet::File.human_attribute_name('name') %></th>
        <th class="ps-3"><%= Communication::Extranet::File.human_attribute_name('published') %></th>
        <th colspan="2" class="ps-3"><%= Communication::Extranet::File.human_attribute_name('meta') %></th>
      </tr>
    </thead>
    <tbody>
      <% files.each do |file| %>
        <tr <% if file.draft? %>class="draft"<% end %>>
          <td class="ps-0">
            <%= link_to file,
                        admin_communication_extranet_file_path(extranet_id: file.extranet.id, id: file.id),
                        class: "#{'draft' unless file.published?}" %>
          </td>
          <td class="ps-3 small">
            <%= t file.published %>, 
            <%= l file.published_at, format: :date_with_explicit_month if file.published_at %>
          </td>
          <td>
            <div class="btn-group" role="group">
              <%= link_to t('edit'),
                          edit_admin_communication_extranet_file_path(extranet_id: file.extranet.id, id: file.id),
                          class: button_classes if can?(:update, file) %>
              <%= link_to t('delete'),
                          admin_communication_extranet_file_path(extranet_id: file.extranet.id, id: file.id),
                          method: :delete,
                          data: { confirm: t('please_confirm') },
                          class: button_classes_danger if can?(:destroy, file) %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
