<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= content_for?(:title) ? raw("#{yield(:title)} ∙ Osuny") : 'Osuny' %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script>
    // Avoid opening menu on load
    </script>
    <%= stylesheet_link_tag "admin/#{current_admin_theme}", media: 'all' %>
    <%= favicon_link_tag 'favicon.png' %>
  </head>
  <%= render "admin/layouts/themes/#{current_admin_theme}" %>
</html>
