<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= content_for?(:title) ? raw("#{yield(:title)} ∙ Osuny") : 'Osuny' %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script nonce="<%= request.content_security_policy_nonce %>">
    // Avoid opening menu on load
    </script>
    <%= stylesheet_link_tag "admin", media: 'all' %>
    <%= favicon_link_tag 'favicon.png' %>
  </head>
  <body class="<%= body_classes %>">
  <%= render "admin/application/components/nav" %>
  <%= render "admin/application/components/realm" %>
  <%= render "admin/application/components/subnav" %>
  <%= render "admin/application/components/hero" %>
  <%= render 'application/notice' %>
  <main class="container-fluid">
    <%= render "admin/application/components/user_unconfirmed" unless current_user.confirmed? %>
    <%# the next line (and the assoicated action / route / locales) can be safely deleted when every user has an optin_newsletter set %>
    <%= render "admin/application/components/user_optin_unconfirmed" if current_user.optin_newsletter.nil? unless @hide_optin_alert == true %>
    <div class="position-relative">
      <%= yield %>
    </div>
    <%= render 'admin/application/components/preview' if @preview %>
    <%= render 'admin/application/components/server_admin_only' %>
  </main>
  <%= render "admin/application/components/commands" %>
  <%= render "admin/application/components/footer" %>
  <%= javascript_include_tag 'admin' %>
  <%= javascript_include_tag 'vue-apps', type: 'module' %>
  <%= render 'bugsnag' %>
  <%= render 'summernote_localization' %>
</body>
</html>
