<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= content_for?(:title) ? raw("#{yield(:title)} ∙ Osuny") : 'Osuny' %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script nonce="<%= request.content_security_policy_nonce %>">
    // Avoid opening menu on load
    </script>
    <%= stylesheet_link_tag "admin", media: 'all' %>
    <%= favicon_link_tag 'favicon.png' %>
    <!-- LanguageTool embedding code -->
    <link rel="stylesheet" href="https://languagetoolplus.com/standalone/0.4/styles/fonts.css" />
    <link rel="stylesheet" href="https://languagetoolplus.com/standalone/0.4/styles/styles.css" />
    <script src="https://languagetoolplus.com/standalone/0.4/languagetool.js"></script>
  </head>
  <body class="<%= body_classes %>">
  <%= render "admin/application/components/nav" %>
  <%= render "admin/application/components/subnav" %>
  <%= render "admin/application/components/hero" %>
  <%= render 'application/notice' %>
  <main class="container-fluid">
    <%= render "admin/application/components/user_unconfirmed" %>
    <div class="position-relative">
      <%= yield %>
    </div>
    <%= render 'admin/application/preview' if @preview %>
  </main>
  <%= render "admin/application/components/commands" %>
  <%= render "admin/application/components/footer" %>
  <%= javascript_include_tag 'admin' %>
  <%= render 'bugsnag' %>
  <%= render 'summernote_localization' %>
</body>
</html>
