<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= content_for?(:title) ? raw("#{yield(:title)} ∙ Osuny")
                                    : 'Osuny' %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script>
    // Avoid opening menu on load
    </script>
    <%= stylesheet_link_tag 'admin', media: 'all' %>
    <%= favicon_link_tag 'favicon.png' %>
  </head>
  <body class="<%= body_classes %>" data-layout="fluid" data-sidebar-position="left">
    <div class="toasts-container" style="position: fixed; top: 20px; right: 20px; z-index: 100000;">
      <% unless notice.nil? %>
        <div class="js-notyf-notice d-none">
          <%= notice %>
        </div>
      <% end %>
      <% unless alert.nil? %>
        <div class="js-notyf-alert d-none">
          <%= alert %>
        </div>
      <% end %>
    </div>
    <div class="wrapper">
      <%= render 'admin/application/nav' %>
      <%= render 'admin/application/footer' %>
      <div class="main">
        <%= render 'admin/application/top' %>
        <main class="content">
          <div class="container-fluid p-0">
            <% unless current_user.confirmed? %>
              <div class="alert alert-warning">
                <div class="alert-message">
                  <%= t('admin.users_alerts.pending_confirmation', duration: distance_of_time_in_words(Rails.configuration.devise.allow_unconfirmed_access_for)) %>
                  <%= link_to t('devise.confirmations.new.resend_confirmation_instructions'), resend_user_confirmation_path, method: :post, class: 'alert-link' %>
                </div>
              </div>
            <% end %>
            <div class="d-flex justify-content-between">
              <h1><%= yield :title %></h1>
              <p class="text-end pt-1"><%= yield :title_right %></p>
            </div>
            <%= yield %>
          </div>
          <%= render 'admin/application/preview' %>
        </main>
      </div>
    </div>
    <%= javascript_include_tag 'admin' %>
    <%= render 'gdpr/cookie_consent' %>
    <%= render 'bugsnag' %>
  </body>
</html>
