<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= yield :title %></title>
    <% if @website %>
      <link rel="stylesheet" media="all" href="<%= style_admin_communication_website_path @website.id, website_id: nil %>" />
    <% else %>
      <%= stylesheet_link_tag 'admin/pure', media: 'all' %>
    <% end %>
  </head>
  <body class="full-width">
    <header class="hero">
      <%= yield :image %>
      <div class="container">
        <div>
          <h1><%= yield :title %></h1>
        </div>
        <ol class="breadcrumb" itemscope="" itemtype="https://schema.org/BreadcrumbList">
          <li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
            <a itemprop="item"><span itemprop="name">Accueil</span></a>
            <meta itemprop="position" content="1">
          </li>
          <li class="breadcrumb-item active" aria-current="page" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
            <span itemprop="name"><%= yield :title %></span>
            <meta itemprop="position" content="2">
          </li>
        </ol>
      </div>
    </header>
    <main class="page-with-blocks" id="main" role="main" tabindex="-1">
      <div class="blocks">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
