<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= @title %></title>
    <% if @website %>
      <link rel="stylesheet" media="all" href="<%= admin_communication_website_style_path @website.id %>" />
    <% else %>
      <%= stylesheet_link_tag 'admin', media: 'all' %>
    <% end %>
    <style>
      /*
      En prévisualisation il n'y a pas de menu, donc pas besoin de laisser de la place au-dessus du hero
      */
      .hero {
        margin-top: 0;
        padding-top: 1px;
      }
      a {
        pointer-events: none !important;
      }
    </style>
    <% if content_for?(:leaflet_required) %>
      <%= stylesheet_link_tag 'leaflet', media: 'all' %>
      <%= javascript_include_tag 'leaflet' %>
    <% end %>
  </head>
  <body class="full-width">
    <main id="main" class="page-with-blocks">
      <%= render 'admin/application/preview/hero' %>
      <div class="document-content">
        <div class="blocks">
          <%= yield %>
        </div>
      </div>
    </main>
    <%= render 'admin/application/preview/lightbox' %>
  </body>
  <script src="https://example.osuny.org/js/preview.js"></script>
</html>
