<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= yield :title %></title>
    <% if @website %>
      <link rel="stylesheet" media="all" href="<%= admin_communication_website_style_path @website.id %>" />
    <% else %>
      <%= stylesheet_link_tag 'admin/pure', media: 'all' %>
    <% end %>
    <style>
    /* 
    En prévisualisation il n'y a pas de menu, donc pas besoin de laisser de la place au-dessus du hero
    */
    .hero {
      margin-top: 0;
      padding-top: 0;
    }
    .note {
      position: relative;
    }
    .note__call {
      background: #CCCCCC;
      border-radius: 4px;
      color: #000000;
      cursor: pointer;
      font-size: 14px;
      padding: 2px 6px;
      margin-left: 2px;
    }
    .note__content {
      display: none;
      background: #CCCCCC;
      border-radius: 4px;
      position: absolute;
      width: 450px;
      padding: 10px;
      top: 6px;
      right: -5px;
      font-size: 16px;
      line-height: 140%;
    }
    .note--visible .note__content {
      display: block;
    } 
    .note__content, 
    .note__content * {
      color: #000000;
    }
    </style>
    <script nonce="<%= request.content_security_policy_nonce %>">
      var notes = document.getElementsByClassName("note");
      for (var i = 0; i < notes.length; i++) {
        var note = notes[i];
        note.addEventListener('click', function (event) {
          note.classList.add('.note--visible');
        })
      }
    </script>
    <% if content_for?(:leaflet_required) %>
      <%= stylesheet_link_tag 'leaflet', media: 'all' %>
      <%= javascript_include_tag 'leaflet' %>
    <% end %>
  </head>
  <body class="full-width">
    <header class="hero <%= 'hero--with-image hero--image-square' if yield(:image).present? %>">
      <div class="container">
        <div class="content">
          <hgroup>
            <h1><%= yield :title %></h1>
            <p class="lead"><%= yield :summary %></p>
          </hgroup>
          <figure>
            <%= yield :image %>
          </figure>
        </div>
      </div>
    </header>
    <main class="page-with-blocks" id="main" role="main" tabindex="-1">
      <div class="blocks">
        <%= yield %>
      </div>
    </main>
  </body>
  <script src="https://example.osuny.org/js/preview.js"></script>
  
</html>
