<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= yield :title %></title>
    <% if @website %>
      <link rel="stylesheet" media="all" href="<%= admin_communication_website_style_path @website.id %>" />
    <% else %>
      <%= stylesheet_link_tag 'admin/pure', media: 'all' %>
    <% end %>
    <style>
    /* 
    En prévisualisation il n'y a pas de menu, donc pas besoin de laisser de la place au-dessus du hero
    */
    .hero {
      margin-top: 0;
      padding-top: 0;
    }
    </style>
  </head>
  <body class="full-width">
    <header class="hero <%= 'hero--with-image hero--image-square' if yield(:image).present? %>">
      <div class="container">
        <div class="content">
          <hgroup>
            <h1><%= yield :title %></h1>
            <p class="lead"><%= yield :summary %></p>
          </hgroup>
          <figure>
            <%= yield :image %>
          </figure>
        </div>
      </div>
    </header>
    <main class="page-with-blocks" id="main" role="main" tabindex="-1">
      <div class="blocks">
        <%= yield %>
      </div>
    </main>
  </body>
  <script src="https://example.osuny.org/js/preview.js"></script>
</html>
