<%= simple_form_for [:admin, project] do |f| %>
  <%= f.simple_fields_for :localizations, l10n do |lf| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <%= lf.hidden_field :language_id, value: current_language.id %>

    <div class="row">
      <div class="col-md-8">
        <%= osuny_panel t('content') do %>
          <%= lf.input :title %>
          <%= lf.input :subtitle %>
          <%= render 'admin/application/summary/form', f: lf, about: l10n %>
          <%= render 'admin/application/header_cta/form', f: lf %>
        <% end %>
        <%= render 'admin/application/categories/widget/form', f: f, categories: @categories %>
        <%= render 'admin/application/meta_description/form', f: lf, about: l10n %>
      </div>
      <div class="col-md-4">
        <%= osuny_panel t('metadata') do %>
          <%= render 'admin/application/publication/form', f: lf, about: project %>
          <%= f.input :year %>
          <%= render  'admin/application/slug/form',
                      f: lf,
                      source: '#communication_website_portfolio_project_localizations_attributes_0_title' %>
          <%= f.input :full_width, wrapper: :custom_boolean_switch %>
        <% end %>
        <%= render 'admin/application/images/shared/form', about: l10n, f: lf %>
      </div>
    </div>

    <% content_for :action_bar_right do %>
      <%= render 'admin/application/l10n/libre_translate_button', l10n: l10n %>
      <%= submit f %>
    <% end %>
  <% end %>
<% end %>
