<%= simple_form_for [:admin, project] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="row">
    <div class="col-md-8">
      <%= osuny_panel t('content') do %>
        <%= f.input :title %>
        <%= render 'admin/application/summary/form', f: f, about: project %>
      <% end %>
      <% if @categories.any? %>
        <%= osuny_panel t('activerecord.attributes.communication/website/portfolio/project.categories') do %>
          <%= f.association :categories,
                            label_text: false,
                            as: :check_boxes,
                            collection: collection_tree_for_checkboxes(@categories) %>
        <% end %>
      <% end %>

      <%= render 'admin/application/meta_description/form', f: f, about: project %>

    </div>
    <div class="col-md-4">
      <%= osuny_panel t('metadata') do %>
        <%= f.input :published if can? :publish, project %>
        <%= f.input :year %>
        <%= render  "admin/application/slug/form",
                    f: f,
                    source: '#communication_website_agenda_project_title' %>
      <% end %>
      <%= render 'admin/application/featured_image/edit', about: project, f: f %>
      <%= render 'admin/application/shared_image/edit', about: project, f: f %>
    </div>
  </div>

  <% content_for :action_bar_left do %>
    <%= render 'admin/application/i18n/translate_button', about: project %>
  <% end %>

  <% content_for :action_bar_right do %>
    <%= submit f %>
  <% end %>
<% end %>
