<%
small ||= false
%>
<% if projects.none? %>
  <p><%= t('admin.communication.website.portfolio.projects.none') %></p>
<% else %>
  <div class="row g-2 mb-2">
    <% projects.each do |project| %>
      <div>
        <div class="card card--horizontal">
          <%= osuny_thumbnail project %>
          <div class="card-body">
            <%= osuny_published project.published? unless small %>
            <%= link_to project,
                        admin_communication_website_portfolio_project_path(website_id: project.website.id, id: project.id),
                        class: 'stretched-link text-black' %>
          </div>
          <div class="card-footer">
            <%= project.year %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>