<%
small ||= false
%>
<% if projects.none? %>
  <p><%= t('admin.communication.website.portfolio.projects.none') %></p>
<% else %>
  <div class="row g-2 mb-2">
    <% projects.each do |project| %>
      <div>
        <div class="<%= osuny_card_classes(horizontal: true) %>">
          <%= osuny_thumbnail_localized project %>
          <div class="card-body">
            <%= osuny_published_localized project unless small %>
            <%= osuny_link_localized  project,
                                      admin_communication_website_portfolio_project_path(
                                        website_id: project.website.id,
                                        id: project.id
                                      ),
                                      classes: "stretched-link" %>
          </div>
          <div class="card-footer">
            <%= project.year %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>