<% content_for :title, Communication::Website::Portfolio::Project.model_name.human(count: 2) %>

<% content_for :title_right do %>
  <%= render 'language_switcher' %>
<% end %>

<p>
  <%= @projects.total_count %>
  <%= Communication::Website::Portfolio::Project.model_name.human(count: @projects.total_count).downcase %>
</p>
<%= render 'filters', current_path: admin_communication_website_portfolio_projects_path, filters: @filters %>
<%= render 'admin/communication/websites/portfolio/projects/list', projects: @projects %>
<%= paginate @projects %>

<% content_for :action_bar_right do %>
  <%= create_link Communication::Website::Portfolio::Project %>
<% end %>
