<div class="card">
  <div class="card-header">
    <%= t "admin.communication.blocks.templates.#{@block.template_kind}.edit.#{property}.label" %>
  </div>
  <div class="card-body">
    <div class="mb-3">
      <div v-if="!data.<%= property %>">
        <label  class="form-label"
                for="<%= property %>">
          <%= t 'admin.communication.blocks.components.image.input.label' %>
        </label>
        <input  class="form-control"
                type="file"
                accept="image/*"
                @change="onFileImageChange( $event, data, '<%= property %>' )"
                id="<%= property %>">
      </div>
      <div v-if="data.<%= property %>" class="align-items-top">
        <img  :src="getImageUrl(data.<%= property %>)"
              class="img-fluid me-2"
              style="max-height: 80px"
              />
        <a  class="btn btn-sm btn-danger mt-2"
            v-on:click="data.<%= property %>=null">
            <i class="fas fa-times"></i>
            <%= t 'admin.communication.blocks.components.image.input.remove' %>
        </a>
      </div>
    </div>
    <label  class="form-label"
            for="<%= property %>_alt">
      <%= t 'admin.communication.blocks.components.image.alt.label' %>
    </label>
    <input  id="<%= property %>_alt"
            type="text"
            class="form-control mb-3"
            v-model="data.<%= property %>_alt"
            placeholder="<%= t 'admin.communication.blocks.components.image.alt.placeholder' %>" />

    <label  class="form-label"
            for="<%= property %>_credit">
      <%= t 'admin.communication.blocks.components.image.credit.label' %>
    </label>
    <input  id="<%= property %>_credit"
            type="text"
            class="form-control"
            v-model="data.<%= property %>_credit"
            placeholder="<%= t 'admin.communication.blocks.components.image.credit.placeholder' %>" />
  </div>
</div>
