<%
label = t('admin.communication.blocks.components.image.input.label')
remove = t('admin.communication.blocks.components.image.input.remove')
hint = default_images_formats_accepted_hint
%>
<div class="mb-3">
  <div v-if="!<%= model %>.<%= property %>.id">
    <label  class="form-label"
            :for="<%= dom_id.html_safe %>">
      <%= label %>
    </label>
    <input  class="form-control"
            type="file"
            accept="<%= default_images_formats_accepted %>"
            @change="onFileImageChange( $event, <%= model %>, '<%= property %>' )"
            data-size-limit="<%= Communication::Block::IMAGE_MAX_SIZE %>"
            :id="<%= dom_id.html_safe %>"
            >
  </div>
  <div v-if="<%= model %>.<%= property %>.id">
    <img :src="getImageUrl(<%= model %>.<%= property %>)" class="img-fluid mb-3" />
  </div>
  <a  class="btn btn-sm text-danger"
      v-on:click="<%= model %>.<%= property %>={}"
      v-if="<%= model %>.<%= property %>.id">
      <i class="<%= Icon::DELETE %>"></i>
    <%= remove %>
  </a>
  <div v-if="!<%= model %>.<%= property %>.id" class="form-text">
    <%= hint %>
  </div>
</div>
