<% posts = block.about&
                .website
                .posts
                .tmp_original # TODO L10N : remove
                .ordered(block.language) %>
<label  class="form-label <%= 'visually-hidden' if label.blank? %>"
        :for="<%= dom_id.html_safe %>">
  <%= label %>
</label>
<select :id="<%= dom_id.html_safe %>"
        class="form-select select"
        v-model="<%= model %>.<%= property %>">
  <% if placeholder %>
    <option value="" disabled><%= placeholder %></option>
  <% end %>
  <% posts.each do |post| %>
    <option value="<%= post.id %>"><%= post.to_s_in(block.language) %></option>
  <% end %>
</select>
