<% content_for :title, t('server_admin.optin_users.title') %>

<% content_for :title_right do %>
  <%= button_advanced do %>
    <%= link_to t('export'),
                request.params.merge(format: "xlsx"),
                class: button_classes %>
  <% end %>
<% end %>

<div class="d-flex justify-content-between mb-4">
  <p>
    <%= number_with_delimiter @users.total_count %>
    <%= User.model_name.human(count: @users.total_count).downcase %>
  </p>
</div>

<div class="table-responsive">
  <table class="<%= table_classes %>">
    <thead>
      <tr>
        <th><%= User.human_attribute_name(:email) %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.email %></td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= paginate @users %>