<%= simple_form_for [:admin, user] do |f| %>
  <div class="row">
    <div class="col-md-4">
      <div class="card flex-fill w-100">
        <div class="card-body">
          <%= f.input :email %>
          <%= f.input :first_name %>
          <%= f.input :last_name %>
          <%= f.association :language,
                            include_blank: false,
                            label_method: lambda { |l| t("languages.#{l.iso_code.to_s}") } %>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card flex-fill w-100">
        <div class="card-body">
          <%= f.input :password,
                      as: :password_with_hints,
                      required: user.new_record?,
                      hint: user.new_record? ? nil : t('admin.password_hint'),
                      allow_password_uncloaking: true,
                      validators: {
                        length: Devise.password_length.first,
                        uppercase_char: true,
                        lowercase_char: true,
                        numeric_char: true,
                        special_char: Rails.application.config.allowed_special_chars
                      },
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :mobile_phone %>
          <%= f.input :role, include_blank: false, collection: current_user.managed_roles, label_method: lambda { |k| t("activerecord.attributes.user.roles.#{k[1]}")} %>
          <div data-show-for-roles="program_manager">
            <%= f.association :programs_to_manage,
                              as: :check_boxes,
                              collection: collection_tree(current_university.education_programs.ordered),
                              label_method: ->(p) { sanitize p[:label] },
                              value_method: ->(p) { p[:id] } %>
          </div>
          <div data-show-for-roles="website_manager">
            <%= f.association :websites_to_manage,
                              as: :check_boxes,
                              collection: current_university.communication_websites.ordered
                               %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card flex-fill w-100">
        <div class="card-body">
          <%= f.input :picture,
                  as: :single_deletable_file,
                  input_html: { accept: '.jpg,.jpeg,.png' },
                  preview: 200,
                  resize: 1,
                  direct_upload: true %>
        </div>
      </div>
    </div>

  </div>
  <% content_for :action_bar_right do %>
    <%= submit f %>
  <% end %>
<% end %>
