<%= simple_form_for [:admin, user] do |f| %>
  <div class="row">
    <div class="col-md-4">
      <%= f.input :email %>
      <%= f.input :role, include_blank: false, collection: current_user.managed_roles %>
    </div>
    <div class="col-md-4">
      <%= f.input :first_name %>
      <%= f.input :last_name %>
    </div>
    <div class="col-md-4">
      <%= f.input :picture %>
    </div>
    <div class="col-md-4">
      <%= f.association :language, include_blank: false %>
    </div>
    <div class="col-md-4">
      <%= f.input :mobile_phone %>
    </div>
  </div>
  <% content_for :action_bar_right do %>
    <%= submit f %>
  <% end %>
<% end %>
