<%= simple_form_for [:admin, user] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="row">
    <div class="col-lg-3">
      <%= f.input :email %>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :mobile_phone %>
      <%= render 'admin/application/l10n/form', f: f %>
    </div>
    <div class="col-lg-6">
      <%= osuny_label User.human_attribute_name('roles') %>
      <% if user.server_admin? %>
        <%= f.input :server_admin %>
      <% else %>
        <p class="text-muted small mb-2"><%= t('admin.users.roles_hint') %></p>
        <div id="user_roles">
          <%= f.simple_fields_for :roles do |role_f| %>
            <%= render 'admin/users/role_fields', f: role_f %>
          <% end %>
        </div>
        <%= link_to_add_association t('admin.users.add_role'), f, :roles,
              class: button_classes,
              data: {
                'association-insertion-method': 'append',
                'association-insertion-node':   '#user_roles'
              } %>
      <% end %>
    </div>
    <div class="col-lg-3">
      <%= f.input :picture,
              as: :single_deletable_file,
              input_html: { accept: default_images_formats_accepted },
              preview: 200,
              resize: 1 %>
    </div>
  </div>
  <% content_for :action_bar_right do %>
    <%= cancel [:admin, user] %>
    <%= submit f %>
  <% end %>
<% end %>
