<% content_for :title, "#{User.model_name.human(count: 2)} (#{@users.total_count})" %>

<%= render 'admin/application/filters',
    current_path: admin_users_path,
    filters: @filters if @filters.any? %>

<table class="table">
  <thead>
    <tr>
      <th><%= User.human_attribute_name('email') %></th>
      <th><%= User.human_attribute_name('first_name') %></th>
      <th><%= User.human_attribute_name('last_name') %></th>
      <th><%= User.human_attribute_name('role') %></th>
      <th><%= User.human_attribute_name('language') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.email, [:admin, user] %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= t("activerecord.attributes.user.roles.#{user.role}") %></td>
        <td><%= user.language %></td>
        <td class="text-end">
          <div class="btn-group" role="group">
            <%= edit_link user %>
            <%= destroy_link user %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @users, theme: 'bootstrap-5' %>

<% content_for :action_bar_right do %>
  <%= create_link User %>
<% end %>
