<% content_for :title, User.model_name.human(count: 2) %>

<div class="d-flex justify-content-between mb-4">
  <p>
    <%= @users.total_count %>
    <%= User.model_name.human(count: @users.total_count).downcase %>
  </p>
  <%= render 'filters', current_path: admin_users_path %>
</div>

<%= render 'admin/users/list', users: @users %>
<%= paginate @users %>
