<% content_for :title, @user %>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.role %>
</p>

<p>
  <strong>Language:</strong>
  <%= @user.language %>
</p>

<% if @user.researcher %>
  <p>
    <strong><%= User.human_attribute_name('researcher') %></strong>
    <%= link_to @user.researcher, [:admin, @user.researcher] %>
  </p>
<% end %>

<% if @user.picture.attached? && @user.picture.variable? %>
  <p>
    <strong>Picture:</strong>
    <%= image_tag @user.picture.variant(resize: '200x') %>
  </p>
<% end %>


<% content_for :buttons do %>
  <%= edit_link @user %>
<% end %>
