<% content_for :title, @user %>

<% content_for :title_right do %>
  <%= button_advanced do %>
    <%= destroy_link @user %>
  <% end %>
  <%= edit_link @user %>
<% end %>

<%= render 'lock' %>

<div class="row">
  <div class="col-lg-3">
    <%= osuny_label User.human_attribute_name('email') %>
    <p><%= link_to @user.email, "mailto:#{@user.email}" %></p>
    <%= osuny_label User.human_attribute_name('first_name') %>
    <p><%= @user.first_name %></p>
    <%= osuny_label User.human_attribute_name('last_name') %>
    <p><%= @user.last_name %></p>
    <%= osuny_label User.human_attribute_name('mobile_phone') %>
    <p><%= @user.mobile_phone %></p>
    <%= osuny_label User.human_attribute_name('language') %>
    <p><%= language_name(@user.language.iso_code) %></p>
  </div>
  <div class="col-lg-6">
    <%= osuny_label User.human_attribute_name('roles') %>
    <% if @user.server_admin? %>
      <p><%= t("activerecord.attributes.user.server_admin") %></p>
    <% else %>
      <% if @user.roles.any? %>
        <ul class="list-unstyled">
          <% @user.roles.includes(:scope).each do |user_role| %>
            <li>
              <%= t("activerecord.attributes.user/role.roles.#{user_role.role}") %><%
                if user_role.scope %> — <%= user_role.scope.try(:to_s_in, current_language) || user_role.scope %><% end %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p><%= t("activerecord.attributes.user.roles.#{@user.role}") %></p>
      <% end %>
    <% end %>
    <% if @user.person %>
      <%= osuny_label User.human_attribute_name('person') %>
      <p><%= osuny_link_localized @user.person, [:admin, @user.person] %></p>
    <% end %>
    <% if @user.current_sign_in_at.present? %>
      <%= osuny_label User.human_attribute_name('current_sign_in_at') %>
      <p><%= l(@user.current_sign_in_at, format: :date_with_explicit_month) %></p>
    <% end %>
  </div>
  <% if @user.picture.attached? %>
    <div class="col-lg-3">
      <%= osuny_label t('activerecord.attributes.user.picture') %>
      <%= kamifusen_tag @user.picture, class: 'img-fluid' %>
    </div>
  <% end %>
</div>
