function displayAbout(kind, options) {
    $('.js-url-field').addClass('d-none');
    $('.js-about-fields').removeClass('d-none');
    $('.js-about-type').val(kind);
    $('.js-about-id').html(options);
}

function hideAbout() {
    $('.js-about-fields').addClass('d-none');
}

<% if @kind == 'url' %>
    $('.js-url-field').removeClass('d-none');
    hideAbout();
<% elsif @kind == 'page' %>
    <%
    options = ['<option value="" label=" "></option>']
    collection_tree(@website.pages.for_language(current_website_language)).each do |page|
        options << "<option value=\"#{page[:id]}\">#{page[:label]}</option>"
    end
    %>
    displayAbout('Communication::Website::Page', "<%= j(raw(options.join(''))) %>");
<% elsif @kind == 'diploma' %>
    <%
    options = ['<option value="" label=" "></option>']
    @website.education_diplomas.ordered.each do |diploma|
        options << "<option value=\"#{diploma.id}\">#{diploma.to_s}</option>"
    end
    %>
    displayAbout('Education::Diploma', "<%= j(raw(options.join(''))) %>");

<% elsif @kind == 'program' %>
    <%
    options = ['<option value="" label=" "></option>']
    collection_tree(@website.education_programs).each do |page|
        options << "<option value=\"#{page[:id]}\">#{page[:label]}</option>"
    end
    %>
    displayAbout('Education::Program', "<%= j(raw(options.join(''))) %>");
<% elsif @kind == 'category' %>
    <%
        options = ['<option value="" label=" "></option>']
        collection_tree(@website.categories.for_language(current_website_language)).each do |category|
            options << "<option value=\"#{category[:id]}\">#{category[:label]}</option>"
        end
    %>
    displayAbout('Communication::Website::Category', "<%= j(raw(options.join(''))) %>");
<% elsif @kind == 'post' %>
    <%
    options = ['<option value="" label=" "></option>']
    @website.posts.for_language(current_website_language).ordered.each do |post|
        options << "<option value=\"#{post.id}\">#{post.to_s}</option>"
    end
    %>
    displayAbout('Communication::Website::Post', "<%= j(raw(options.join(''))) %>");
<% elsif @kind == 'volume' %>
    <%
    options = ['<option value="" label=" "></option>']
    @website.research_volumes.ordered.each do |volume|
        options << "<option value=\"#{volume.id}\">#{volume.to_s}</option>"
    end
    %>
    displayAbout('Research::Journal::Volume', "<%= j(raw(options.join(''))) %>");
<% elsif @kind == 'paper' %>
    <%
    options = ['<option value="" label=" "></option>']
    @website.research_papers.ordered.each do |paper|
        options << "<option value=\"#{paper.id}\">#{paper.to_s}</option>"
    end
    %>
    displayAbout('Research::Journal::Paper', "<%= j(raw(options.join(''))) %>");
<% else %>
    $('.js-url-field').addClass('d-none');
    hideAbout();
<% end %>
