<% content_for :title, @l10n %>

<% content_for :title_right do %>
  <%= button_advanced do %>
    <%# FIXME = destroy_link @file if @file.contexts.none? %>
  <% end %>
  <%= edit_link @file %>
<% end %>

<div class="row">
  <div class="col-lg-4">
    <%= link_to t('download'),
              download_medium_path(signed_id: @l10n.original_blob.signed_id),
              class: button_classes %>
  </div>
  <div class="col-lg-8">
    <div class="row">
      <div class="col-lg-6">
        <%= osuny_label Communication::File::Localization.human_attribute_name(:original_filename) %>
        <p><%= @l10n.original_filename %></p>
      </div>
      <div class="col-lg-6">
        <%= osuny_label Communication::File::Localization.human_attribute_name(:original_content_type) %>
        <p><%= @l10n.original_content_type %></p>
      </div>
      <div class="col-lg-6">
        <%= osuny_label Communication::File::Localization.human_attribute_name(:original_byte_size) %>
        <p><%= number_to_human_size @l10n.original_byte_size %></p>
      </div>
    </div>
  
    <%= render 'admin/application/categories/widget/show', about: @file %>
    <%#= render 'admin/communication/files/contexts/list', file: @file %>
  </div>
</div>
