<%
$class = "block block-key_figures" 
unless @block.title.empty?
  $class += " block-with-title"
end
%>
<section class="<%= $class %>">
  <div class="container">
    <div class="block-content">
      <div class="top">
        <% unless @block.title.empty? && @block.template.description.empty? %>
          <div class="top">
            <% unless @block.title.empty? %>
              <h2><%= @block.title %></h2>
            <% end %>
            <% unless @block.template.description.empty? %>
              <div class="description">
                <p><%= block_component_preview :description %></p>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <ul class="<%= @block.template.elements.count.even? ? "even-items" : "odd-items" %>">
        <% @block.template.elements.each do |element| %>
          <li>
            <dl>
              <dt><strong><%= block_component_preview :number, template: element %></strong><%= block_component_preview :unit, template: element %></dt>
              <dd><%= block_component_preview :description, template: element %></dd>
            </dl>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</section>
