<div class="<%= block_html_class(block) %>">
  <div class="container">
    <div class="block-content">
      <% unless block.title.blank? && block.template.description.blank? %>
        <div class="top">
          <% unless block.title.blank? %>
            <p class="block-title"><%= block.title %></p>
          <% end %>
          <% unless block.template.description.blank? %>
            <div class="description">
              <p><%= block_component_show block, :description %></p>
            </div>
          <% end %>
        </div>
      <% end %>
      <ul class="<%= block.template.elements.count.even? ? "even-items" : "odd-items" %>">
        <% block.template.elements.each do |element| %>
          <li>
            <dl>
              <% if element.image %>
                <%= block_component_show block, :image, template: element %>
              <% end %>
              <dt><strong><%= block_component_show block, :number, template: element %></strong><%= block_component_show block, :unit, template: element %></dt>
              <dd><%= block_component_show block, :description, template: element %></dd>
            </dl>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
