<%= block_component_snippet block, :description %>
<div class="row mb-3">
  <% block.template.elements.each do |element| %>
    <div class="col-sm-6">
      <% if element.image.present? %>
        <div class="row">
          <div class="col-6">
            <%= block_component_snippet block, :image, template: element %>
          </div>
        </div>
      <% end %>
      <div class="lead">
        <%= block_component_snippet block, :number, template: element %>
        <%= block_component_snippet block, :unit, template: element %>
      </div>
      <%= block_component_snippet block, :description, template: element %>
    </div>
  <% end %>
</div>