<%= simple_form_for [:admin, school] do |f| %>
  <%= f.simple_fields_for :localizations, l10n do |lf| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <%= lf.hidden_field :language_id, value: current_language.id %>
    <div class="row mb-5">
      <div class="col-lg-3">
        <%= lf.input :name %>
        <%= lf.input  :logo,
                      as: :single_deletable_file,
                      input_html: { accept: default_images_formats_accepted },
                      preview: 200 %>
      </div>
      <div class="offset-lg-1 col-lg-8">
        <%= render 'admin/application/contact_details/edit', f: f, lf: lf, about: school, l10n: l10n %>
        <%= f.association :programs,
                          as: :check_boxes,
                          collection: osuny_collection_tree(
                            current_university.education_programs.root,
                            localized: true
                          ) %>
      </div>
    </div>
    <% content_for :action_bar_right do %>
      <%= cancel [:admin, school] %>
      <%= submit f %>
    <% end %>
  <% end %>
<% end %>
