<div class="row g-2 mb-3">
  <% schools.each do |school| %>
    <div>
      <div class="<%= osuny_card_classes(horizontal: true) %>">
        <%= osuny_thumbnail_localized school %>
        <% if school.deleted? %>
          <div class="card-body">
            <%= school.best_localization_for(current_language) %>
          </div>
          <% if can?(:restore, school) %>
            <div class="card-footer">
              <%= link_to t('restore'),
                          restore_admin_education_school_path(school),
                          method: :post,
                          class: button_classes %>
            </div>
          <% end %>
        <% else %>
          <div class="card-body">
            <%= osuny_link_localized school, [:admin, school], classes: 'stretched-link' %>
          </div>
          <div class="card-footer small text-muted">
            <%= school.programs.count %>
            <%= Education::Program.model_name.human(count: school.programs.count).downcase %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
