<% content_for :title, Education::School.model_name.human(count: 2) %>

<% content_for :title_right do %>
  <%= create_link Education::School %>
<% end %>

<div class="d-flex justify-content-between mb-5">
  <%= render 'admin/application/components/lifecycle/pills',
              path_method: :admin_education_schools_path %>
  <%= render 'filters', current_path: admin_education_schools_path %>
</div>
<%= render 'admin/application/components/lifecycle/label' %>

<%= render 'admin/education/schools/list', schools: @schools %>
<%= paginate @schools %>
