<% content_for :title, Education::School.model_name.human(count: 2) %>

<%= render 'filters', current_path: admin_education_schools_path, filters: @filters if @filters.any?  %>

<table class="table">
  <thead>
    <tr>
      <th><%= Education::School.human_attribute_name('name') %></th>
      <th><%= Education::School.human_attribute_name('address') %></th>
      <th><%= Education::School.human_attribute_name('zipcode') %></th>
      <th><%= Education::School.human_attribute_name('city') %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @schools.each do |school| %>
      <tr>
        <td><%= link_to school.name, [:admin, school] %></td>
        <td><%= school.address %></td>
        <td><%= school.zipcode %></td>
        <td><%= school.city %></td>
        <td class="text-end">
          <div class="btn-group" role="group">
            <%= edit_link school %>
            <%= destroy_link school %>
          </div>
        </td>
    <% end %>
  </tbody>
</table>

<%= paginate @schools, theme: 'bootstrap-5' %>


<% content_for :action_bar_right do %>
  <%= create_link Education::School %>
<% end %>
