<% content_for :title, @school %>

<div class="row">

  <div class="col-xxl-4">
    <%= osuny_panel title: t('metadata') do %>
      <%= osuny_label Education::School.human_attribute_name('address') %>
      <p>
        <%= @school.address %><br>
        <%= @school.zipcode %> <%= @school.city %><br>
        <%= @school.country %>
      </p>
      <%= osuny_label Education::School.human_attribute_name('phone') %>
      <p><%= @school.phone %></p>
    <% end %>
  </div>

  <% if @school.programs.any? %>
    <div class="col-xxl-4">
      <%= osuny_panel title: Education::School.human_attribute_name('programs') do %>
        <ul class="list-unstyled">
          <% @school.programs.ordered.each do |program| %>
            <li><%= link_to_if can?(:read, program), program, [:admin, program] %></li>
          <% end %>
        </ul>
        <%= @school.alumni.count %>
        <%= University::Person::Alumnus.model_name.human(count: 2).downcase %>
      <% end %>
    </div>
  <% end %>

  <% if @school.websites.any? %>
    <div class="col-xxl-4">
      <%= osuny_panel title: Education::School.human_attribute_name('websites') do %>
        <ul class="list-unstyled">
          <% @school.websites.each do |website| %>
            <li><%= link_to website, [:admin, website] %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>

</div>

<%= render 'admin/education/schools/show/roles', roles: @roles %>

<% content_for :action_bar_left do %>
  <%= destroy_link @school %>
<% end %>

<% content_for :action_bar_right do %>
  <%= edit_link @school %>
<% end %>
