<% content_for :title, @school %>

<% content_for :title_right do %>
  <% if @school.websites.any? %>
    <%= Communication::Website.model_name.human %>
    <i class="fas fa-arrow-right small"></i>
    <% @school.websites.each do |website| %>
      <%= link_to website, [:admin, website] %><br>
    <% end %>
  <% end %>
<% end %>

<p>
  <%= @school.address %><br>
  <%= @school.zipcode %> <%= @school.city %><br>
  <%= @school.country %>
  <%= @school.phone %>
</p>

<% content_for :action_bar_right do %>
  <%= edit_link @school %>
<% end %>
