<% content_for :title, @l10n %>

<div class="row">
  <div class="col-lg-3">
    <% if @l10n.logo.attached? %>
      <div>
        <%= osuny_label University::Organization::Localization.human_attribute_name('logo') %><br>
        <%= kamifusen_tag @l10n.logo, class: 'img-fluid img-fill bg-light img-thumbnail p-5 mb-3' %>
      </div>
    <% end %>
  </div>
  <div class="offset-lg-1 col-lg-8">
    <div class="mb-5">
      <%= render 'admin/application/contact_details/show', about: @school, l10n: @l10n %>
    </div>
    <% if @websites.any? %>
      <%= osuny_panel Administration::Location.human_attribute_name('websites'), small: true do %>
        <%= render 'admin/communication/websites/list', websites: @websites %>
      <% end %>
    <% end %>

    <% if @locations.any? %>
      <%= osuny_panel Education::School.human_attribute_name('locations') do %>
        <%= render 'admin/administration/locations/list', locations: @locations %>
      <% end %>
    <% end %>

    <%
    action = ''
    action += link_to t('education.schools.manage_roles'),
                      admin_education_school_roles_path(school_id: @school.id),
                      class: button_classes if can?(:update, University::Role)
    %>
    <%= osuny_panel Education::School.human_attribute_name('roles'), action: action do %>
      <% if @roles.any? %>
        <%= render 'admin/education/schools/roles/list', roles: @roles %>
      <% end %>
    <% end %>

    <% if @programs.any? %>
      <%= osuny_panel Education::School.human_attribute_name('programs') do %>
        <%= render 'admin/education/programs/list', programs: @programs %>
        <div>
          <%= @school.alumni.count %>
          <%= University::Person::Alumnus.model_name.human(count: 2).downcase %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>


<% content_for :action_bar_left do %>
  <%= destroy_link @school %>
  <%= static_link static_admin_education_school_path(@school) %>
<% end %>

<% content_for :action_bar_right do %>
  <%= edit_link @school %>
<% end %>
