<% content_for :title, @school %>

<div class="row">

  <div class="col-md-4">
    <div class="card flex-fill w-100">
      <div class="card-header">
        <h2 class="card-title mb-0 h5"><%= t('metadata') %></h2>
      </div>
      <div class="card-body">
        <h3 class="h5"><%= Education::School.human_attribute_name('address') %></h3>
        <p>
          <%= @school.address %><br>
          <%= @school.zipcode %> <%= @school.city %><br>
          <%= @school.country %>
        </p>
        <h3 class="h5"><%= Education::School.human_attribute_name('phone') %></h3>
        <p><%= @school.phone %></p>
      </div>
    </div>
  </div>

  <% if @school.programs.any? %>
    <div class="col-md-4">
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h2 class="card-title mb-0 h5"><%= Education::School.human_attribute_name('programs') %></h2>
        </div>
        <div class="card-body">
          <ul class="list-unstyled">
            <% @school.programs.ordered.each do |program| %>
              <li><%= link_to_if can?(:read, program), program, [:admin, program] %></li>
            <% end %>
          </ul>
          <%= @school.alumni.count %>
          <%= University::Person::Alumnus.model_name.human(count: 2).downcase %>
        </div>
      </div>
    </div>
  <% end %>

  <% if @school.websites.any? %>
    <div class="col-md-4">
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h2 class="card-title mb-0 h5"><%= Education::School.human_attribute_name('websites') %></h2>
        </div>
        <div class="card-body">
          <ul class="list-unstyled">
            <% @school.websites.each do |website| %>
              <li><%= link_to website, [:admin, website] %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>

</div>

<%= render 'admin/education/schools/show/roles', roles: @roles %>

<% content_for :action_bar_left do %>
  <%= destroy_link @school %>
<% end %>

<% content_for :action_bar_right do %>
  <%= edit_link @school %>
<% end %>
