<%
element = @block.template.default_element
%>
<%= render 'admin/communication/blocks/components/layouts/edit',
            horizontal: true %>

<%= render  'admin/communication/blocks/components/add_element/edit',
            label: t('.add_image') %>

<draggable :list="data.elements" handle=".imageHandle" class="row">
  <div  v-for="(element, index) in data.elements"
        :key="index"
        class="col-xxl-2 col-xl-3 col-md-4 col-6">
    <div class="card">
      <div class="card-header border-bottom">
        <a class="btn ps-0 pt-0 imageHandle">
          <i class="fa fa-bars handle"></i>
        </a>
        <div class="float-end">
          <a  class="btn btn-sm btn-danger"
              v-on:click="data.elements.splice(data.elements.indexOf(element), 1)"
              title="<%= t '.remove_image' %>">
              <i class="fas fa-times"></i>
          </a>
        </div>
      </div>
      <img :src="getImageUrl(element.file)" class="img-fluid d-block" v-if="element.file.id" />
      <div class="card-body">
        <label  class="form-label"
                :for="'element-' + index + '-file'">
          <%= t '.image_label' %>
        </label>
        <input  class="form-control mb-3"
                type="file"
                accept="image/*"
                @change="onFileImageChange( $event, element, 'file' )"
                :id="'element-' + index + '-file'">

        <%= block_component_edit :alt, element: element %>
        <%= block_component_edit :credit, element: element %>
        <%= block_component_edit :text, element: element %>
      </div>
    </div>
  </div>
</draggable>
