<%= block_component_preview :description %>
<%= block_component_preview :layout %>
<div class="row">
  <% @block.template.elements.each do |element| %>
    <% next unless element.blob %>
    <div class="col-6">
      <article class="card">
        <%= block_component_preview :image, template: element %>
        <div class="card-body">
          <div class="small">
            <p class="mb-0">
              <%= block_component_preview :alt, template: element %>
            </p>
            <%= block_component_preview :credit, template: element %>
          </div>
          <p class="mb-0">
            <%= block_component_preview :text, template: element %>
          </p>
        </div>
      </article>
    </div>
  <% end %>
</div>
