<%
$class = "block block-gallery" 
if @block.title
  $class += " block-with-title"
end

$class += " block-gallery--" + @block.template.layout
%>

<section class="<%= $class %>">
  <div class="container">
    <div class="block-content">
      <% if @block.title || @block.template.description %>
        <div class="top">
          <% if @block.title %>
            <h2><%= @block.title %></h2>
          <% end %>
          <% if @block.template.description %>
            <div class="description">
              <p><%= block_component_preview :description %></p>
            </div>
          <% end %>
        </div>
      <% end %>

      <% if @block.template.layout ===  "carousel" %>
        <% if !@block.template.elements.one? %>
          <div class="splide" role="group" data-splide='{"arrows":true,"pagination":false,"autoWidth":true,"autoplay":false}'>
            <div class="splide__track">
              <div class="splide__list">
        <% end %>
        <% @block.template.elements.each do |element| %> 
          <%= block_component_preview :image, template: element %>
        <% end %>
        <% if !@block.template.elements.one? %>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="gallery" role="group">
          <% @block.template.elements.each do |element| %> 
            <%= block_component_preview :image, template: element %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  </section>