<div  class=" content-editor__elements__element
              content-editor__elements__element--heading
              js-content-editor-element"
      data-id="<%= heading.id %>"
      data-level="<%= heading.level %>"
      data-kind="heading">
  <div class="row">
    <div class="col-lg-4 text-lg-end pt-2">
      <%= osuny_label Communication::Block::Heading.human_attribute_name(:title) %>
    </div>
    <div class="col-lg-8 col-xxl-6">
      <div  class=" card
                    card-body
                    px-5
                    border-bottom
                    border-light">
        <div class="text-end">
          <% if can?(:update, heading) %>
            <span class=" content-editor__elements__handle
                          content-editor__elements__element--hover">
              <span class="handle">
                <i class="<%= Icon::SORT %>"></i>
                <span class="small"><%= t 'move' %></span>
              </span>
            </span>
          <% end %>
          <%= link_to t('edit'),
                      edit_admin_communication_heading_path(heading),
                      class: 'action ms-2'%>
        </div>
        <h2 class="h3 mb-0"><%= heading %></h2>
      </div>
    </div>
  </div>
</div>
<% heading.blocks.ordered.each do |block| %>
  <%= render 'admin/communication/blocks/block', block: block %>
<% end %>
<% heading.children.ordered.each do |child| %>
  <%= render 'admin/communication/blocks/headings/heading', heading: child %>
<% end %>
