<% content_for :title, @cohort %>

<div class="row">
  <div class="col-md-8">
    <div class="card flex-fill w-100">
      <div class="card-body">
        <h3 class="h5"><%= Education::Cohort.human_attribute_name('program') %></h3>
        <p><%= link_to_if can?(:read, @cohort.program), @cohort.program, [:admin, @cohort.program] %></p>
        <h3 class="h5"><%= Education::Cohort.human_attribute_name('year') %></h3>
        <p><%= link_to_if can?(:read, @cohort.academic_year), @cohort.academic_year, [:admin, @cohort.academic_year] %></p>
      </div>
    </div>
  </div>
</div>

<h2><%= University::Person::Alumnus.model_name.human(count: 2) %></h2>

<%= render 'admin/university/alumni/list', alumni: @cohort.people.ordered %>
