<nav class="navbar navbar-main navbar-light bg-transparent" aria-label="Navigation">
  <div class="container-fluid">
    <%= link_to admin_root_path, class: 'navbar-brand' do %>
      <%= image_tag 'osuny-black.svg', class: 'img-fluid' %>
    <% end %>
    <button class="btn-open bg-transparent border-0"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#menu"
            data-bs-animation=""
            aria-controls="navbar-brand"
            aria-expanded="false"
            aria-label="Afficher la navigation">
      Menu
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
<div class="collapse" id="menu">
  <div class="container-fluid">
    <div class="d-flex">
      <%= link_to admin_root_path, class: 'navbar-brand' do %>
        <%= image_tag 'osuny-white.svg', class: 'img-fluid', width: 100 %>
      <% end %>
      <button class="btn-close border-0 text-white"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#menu"
              aria-controls="navbar-brand"
              aria-expanded="false"
              aria-label="Afficher/masquer la navigation">
        Fermer
        <span class="navbar-close-icon"></span>
      </button>
    </div>
    <div class="nav-content pt-5">
      <%= render_navigation context: :admin, renderer: Osuny::SimpleNavigationRenderer %>
      <ul class="navbar-nav navbar-align">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle d-none d-sm-inline-block js-user-dropdown-toggle" href="#" data-bs-toggle="dropdown">
            <span class="text-dark"><%= current_user.to_s %></span>
          </a>
          <div class="dropdown-menu dropdown-menu-end">
            <%= link_to t('menu.profile'), edit_user_registration_path, class: 'dropdown-item' %>
            <%= link_to t('menu.server_admin'), server_root_path, class: 'dropdown-item' if current_user.server_admin? %>
            <%= link_to t('menu.sign_out'), destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
          </div>
        </li>
        <li>
          <a class="nav-link nav-link--last js-user-button" href="#">
            <% if current_user.picture.attached? && current_user.picture.variable? %>
              <%= image_tag current_user.picture.variant(resize: '80x80'), class: 'avatar img-fluid rounded-circle' %>
            <% else %>
              <%= image_tag 'avatar.jpg', class: 'avatar img-fluid rounded-circle' %>
            <% end %>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
