<section class="pure__section flex-fill position-relative <%= classes %>">
  <%= image_tag image, class: 'img-fluid mb-3', loading: :lazy if image %>
  <div class="d-flex">
    <% if title %>
      <% if small %>
        <%= osuny_label title %>
      <% else %>
        <h2 class="mb-3"><%= title %></h2>
      <% end %>
    <% end %>
    <% if action %>
      <div class="ms-5"><%= raw action %></div>
    <% end %>
  </div>
  <% if subtitle %>
    <p><%= subtitle %></p>
  <% end %>
  <%= yield %>
</section>