<%= simple_form_for [:admin, extranet] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="row">
    <div class="col-xl-6">
      <%= osuny_panel t('metadata') do %>
        <%= f.input :name %>
        <% if can?(:create, Communication::Extranet) %>
          <%= f.input :host %>
          <%= render 'admin/communication/abouts', f: f, i18n_key: 'activerecord.attributes.communication/extranet.about_' %>
        <% end %>
        <%= f.input :registration_contact %>
      <% end %>
      <%= osuny_panel t('look_feel') do %>
        <%= f.input :logo,
                    as: :single_deletable_file,
                    hint: default_images_formats_accepted_hint,
                    input_html: { accept: default_images_formats_accepted },
                    preview: 200,
                    direct_upload: true %>
        <%= f.input :favicon,
                    as: :single_deletable_file,
                    input_html: { accept: '.png' },
                    preview: 100,
                    direct_upload: true %>
        <%= f.input :color, as: :color %>
        <%= f.input :home_sentence, as: :summernote, input_html: { data: { 'summernote-config': 'link' } } %>
        <% if can?(:create, Communication::Extranet) %>
          <%= f.input :sass,
                    input_html: {
                      data: {
                        provider: 'codemirror',
                        "codemirror-mode": "sass",
                        "codemirror-indentation": 4
                      }
                    } %>
        <% end %>
      <% end %>
    </div>
    <div class="col-xl-6">
      <% if can?(:create, Communication::Extranet) %>
        <%= osuny_panel t('extranet.features') do %>
          <%= f.input :feature_alumni %>
          <%= f.input :feature_contacts %>
          <%= f.input :feature_library %>
          <%= f.input :feature_posts %>
          <%= f.input :feature_jobs %>
        <% end %>
      <% end %>
      <%= osuny_panel t('legal') do %>
        <%= f.input :terms, as: :summernote %>
        <%= f.input :privacy_policy, as: :summernote %>
        <%= f.input :cookies_policy, as: :summernote %>
      <% end %>
    </div>
  </div>

  <% if can?(:create, Communication::Extranet) %>
    <%= osuny_panel t('university.sso') do %>
      <div class="row">
        <div class="col-xl-6">
          <%= f.input :has_sso %>
          <div class="sso-inputs">
            <%= f.input :sso_target_url, required: true %>
            <%= f.input :sso_cert, required: true %>
            <%= f.input :sso_name_identifier_format, required: true %>
            <%= f.input :sso_button_label %>
          </div>
        </div>
        <div class="col-xl-6 sso-inputs">
          <h4 class="mb-4"><%= University.human_attribute_name('sso_mapping') %></h4>
          <%= f.error_notification message: f.object.errors[:sso_mapping].to_sentence if f.object.errors[:sso_mapping].present? %>
          <%= render 'server/universities/sso_mapping', object: extranet %>
        </div>
      </div>
    <% end %>
  <% end %>

  <% content_for :action_bar_right do %>
    <%= submit f %>
  <% end %>
<% end %>
