<%= simple_form_for [:admin, extranet] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="row">
    <div class="col-md-4">
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h5 class="card-title mb-0"><%= t('metadata') %></h5>
        </div>
        <div class="card-body">
          <%= f.input :name %>
          <%= f.input :host %>
          <%= render 'admin/communication/abouts', f: f, i18n_key: 'activerecord.attributes.communication/extranet.about_' %>
          <%= f.input :registration_contact %>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h5 class="card-title mb-0"><%= t('logo') %></h5>
        </div>
        <div class="card-body">
          <%= f.input :logo,
                      as: :single_deletable_file,
                      input_html: { accept: '.jpg,.jpeg,.png,.svg' },
                      preview: 200,
                      direct_upload: true %>
        </div>
      </div>
    </div>
  </div>
  <% content_for :action_bar_right do %>
    <%= submit f %>
  <% end %>
<% end %>
