<div class="row mt-2 website__sidebar">
  <div class="col-lg-3 col-xl-2">
    <ul class="list-unstyled" role="tablist">
      <%
      navigation = [
        {
          title: Communication::Extranet.model_name.human,
          path: admin_communication_extranet_path(id: @extranet),
          icon: Icon::COMMUNICATION_EXTRANET_HOME
        },
      ]
      Communication::Extranet::FEATURES.each do |feature|
        next unless @extranet.has_feature? feature
        property = "feature_#{feature}"
        constant = "COMMUNICATION_EXTRANET_#{feature.upcase}"
        navigation << {
          title: Communication::Extranet.human_attribute_name(property),
          path: url_for([:admin, @extranet, feature]),
          icon: Icon::const_get(constant)
        }
      end
      navigation.each_with_index do |object, index|
        active = index.zero?  ? controller_name == "extranets" && action_name == "show"
                              : object[:path].in?(request.path)
      %>
        <li class="mb-3">
          <a class="d-block py-1 <%= active ? 'text-black' : 'text-muted' %>" href="<%= object[:path] %>">
            <i class="<%= object[:icon] %>" style="min-width: 30px"></i>
            <%= object[:title].html_safe %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="col-lg-9 col-xl-10">
    <%= yield %>
  </div>
</div>
