<% content_for :title, Communication::Extranet.model_name.human(count: 2) %>

<% content_for :title_right do %>
  <%= create_link Communication::Extranet %>
<% end %>

<div class="d-flex justify-content-between mb-4">
  <p>
    <%= @extranets.total_count %>
    <%= Communication::Extranet.model_name.human(count: @extranets.total_count).downcase %>
  </p>
  <%= render 'filters', current_path: admin_communication_extranets_path %>
</div>

<%= render 'admin/communication/extranets/list', extranets: @extranets %>
<%= paginate @extranets %>
