<% content_for :title, Communication::Extranet.model_name.human(count: 2) %>

<p>
  <%= @extranets.total_count %>
  <%= Communication::Extranet.model_name.human(count: @extranets.total_count).downcase %>
</p>
<%= render 'filters', current_path: admin_communication_extranets_path, filters: @filters if @filters.any?  %>

<div class="row g-2 mb-3">
  <% @extranets.each do |extranet| %>
    <div>
      <div class="<%= osuny_card_classes(horizontal: true) %>">
        <%= osuny_thumbnail_localized extranet %>
        <div class="card-body">
          <%= osuny_link_localized extranet, [:admin, extranet], classes: 'stretched-link' %>
        </div>
        <div class="card-footer small text-muted">
          <%= extranet.about.to_s_in(current_language) if extranet.about %>
        </div>
    </div>
  <% end %>
</div>

<%= paginate @extranets %>

<% content_for :action_bar_right do %>
  <%= create_link Communication::Extranet %>
<% end %>
