<% content_for :title, @l10n %>

<% content_for :title_right do %>
  <% unless @extranet.url.blank? %>
    <%= link_to @extranet.url, @extranet.url, target: :_blank %><br>
  <% end %>
  <%= I18n.t("activerecord.attributes.communication/extranet.about_#{@extranet.about_type}") %>
  <% if @extranet.about %>
    — <%= osuny_link_localized @extranet.about, [:admin, @extranet.about] unless @extranet.about.nil? %>
  <% end %>
  <%= render 'admin/application/favorites/widget', about: @extranet %>
<% end %>

<div class="row">
  <% Communication::Extranet::FEATURES.each do |feature| %>
    <%
    property = "feature_#{feature}"
    active = @extranet.has_feature? feature
    next unless active
    path = send "admin_communication_extranet_#{feature}_path"
    %>
    <div class="col-lg-3">
      <%= osuny_panel Communication::Extranet.human_attribute_name property do %>
        <%= link_to t('show'), path, class: 'stretched-link' %>
      <% end %>
    </div>
  <% end %>
</div>

<%= render 'admin/application/l10n/widget', about: @extranet, l10n: @l10n, small: true %>

<% content_for :action_bar_left do %>
  <%= destroy_link @extranet %>
<% end %>

<% content_for :action_bar_right do %>
  <%= edit_link @extranet %>
<% end %>
