<% content_for :title, @extranet %>

<% content_for :title_right do %>
  <% unless @extranet.url.blank? %>
    <%= link_to @extranet.url, @extranet.url, target: :_blank %><br>
  <% end %>
  <%= I18n.t("activerecord.attributes.communication/extranet.about_#{@extranet.about_type}") %>
  <% if @extranet.about %>
    (<%= link_to @extranet.about, [:admin, @extranet.about] unless @extranet.about.nil? %>)
  <% end %>
<% end %>

<% if @alumni %>
  <p>
    <%= @alumni.count %>
    <%= University::Person::Alumnus.model_name.human(count: @alumni.count).downcase %>
  </p>
<% end %>
<% if @cohorts %>
  <p>
    <%= @cohorts.count %>
    <%= Education::Cohort.model_name.human(count: @cohorts.count).downcase %>
  </p>
<% end %>
<% if @years %>
  <p>
    <%= @years.count %>
    <%= Education::AcademicYear.model_name.human(count: @years.count).downcase %>
  </p>
<% end %>

<% content_for :action_bar_right do %>
  <%= edit_link @extranet %>
  <%= destroy_link @extranet %>
<% end %>
