<%
class_name = "block block-pages"
unless @block.title.blank?
  class_name += " block-with-title"
end
class_name += " block-pages--" + @block.template.layout
%>
<section class="<%= class_name %>">
  <div class="container">
    <div class="block-content">
      <% unless @block.title.blank? %>
        <div class="top">
          <% unless @block.title.blank? %>

            <% if @block.template.layout === "cards" || @block.template.layout === "list" %>
              <% if @block.template.page %>
                <h2><%= link_to @block.template.page, @block.template.page.url %></h2>
              <% end %>
            
            <% elsif @block.template.layout === "grid" && @block.template.page && @block.template.show_main_description %>
              <h2><%= link_to @block.title, @block.template.page.url %></h2>
              <p class="description"><%= @block.template.page.summary %></p>

            <% else %>
              <h2><%= @block.title %></h2>
            <% end %>

          <% end %>
          <% if @block.template.layout === "cards" && @block.template.show_main_description && @block.data %>
            <div class="description">
              <p><%= @block.template.page.summary %></p>
            </div>
          <% end %>
        </div>
        <% if @block.template.layout === "list" && @block.template.show_main_description && @block.data %> 
          <p class="description"><%= @block.template.page.summary %></p>
        <% end %>
      <% end %>
      <% if @block.data %>

        <% if @block.template.layout ===  "list" %>
          <ul>
            <% @block.template.selected_pages.each do |page|
              next if page.nil?
            %>
            <li><%= link_to page, page.url %></li>
            <% end %>
          </ul>

        <% elsif @block.template.layout ===  "cards" %>
          <div class="cards">
            <% @block.template.selected_pages.each do |page|
              next if page.nil?
            %>
              <article class="card">
                <h3>
                  <%= link_to page, page.url %>
                </h3>
                <% if @block.template.show_description %>
                  <p><%= page.summary %></p>
                <% end %>

                <p class="more meta" aria-hidden="true"><%= t 'admin.communication.blocks.templates.pages.layouts.cards.more' %></p>

                <% if @block.template.show_image %>
                  <div class="media" itemprop="image">
                    <% if page.featured_image.attached? %>
                      <%= kamifusen_tag page.featured_image %>
                    <% end %>
                  </div>
                <% end %>
              </article>
            <% end %>
          </div>

        <% else %>
          <div class="grid">
            <% @block.template.selected_pages.each do |page|
              next if page.nil?
            %>
              <article>
                <h3>
                  <%= link_to page, page.url %>  
                </h3>
                <% if @block.template.show_description %>
                  <p><%= page.summary %></p>
                <% end %>
                <% if @block.template.show_image %>
                  <div class="media" itemprop="image">
                    <% if page.featured_image.attached? %>
                      <%= kamifusen_tag page.featured_image %>
                    <% end %>
                  </div>
                <% end %>
              </article>
            <% end %>
          </div>
        <% end %>

      <% end %>
    </div>
  </div>
</section>