<% events = block.about&.website.events.for_language(block.language).ordered %>
<label  class="form-label <%= 'visually-hidden' if label.blank? %>"
        :for="<%= dom_id.html_safe %>">
  <%= label %>
</label>
<select :id="<%= dom_id.html_safe %>"
        class="form-select select"
        v-model="<%= model %>.<%= property %>">
  <% if placeholder %>
    <option value="" disabled><%= placeholder %></option>
  <% end %>
  <% events.each do |event| %>
    <option value="<%= event.id %>">
      <%= event.title %>
      <% if event.subtitle.present? %>
        - <%= event.subtitle %>
      <% end %>
    </option>
  <% end %>
</select>
