<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= yield :title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'favicon.png' %>
  </head>
  <body class="extranet <%= body_classes %>">
    <%= render 'nav' %>
    <main class="container">
      <%= render_breadcrumbs builder: Appstack::BreadcrumbsOnRailsBuilder %>
      <%= yield %>
    </main>
    <%= render 'footer' %>
    <%= render 'gdpr/cookie_consent' %>
    <%= render 'bugsnag' %>
  </body>
</html>
