<!DOCTYPE html>
<html>
  <head>
    <%= render 'extranet/application/head' %>
  </head>
  <body class="extranet <%= body_classes %>">
    <%= render 'extranet/application/nav' %>
    <%= render 'extranet/application/header' %>
    <main class="container">
      <%= yield %>
    </main>
    <%= render 'extranet/application/footer' %>
    <%= render 'extranet/gdpr/cookie_consent' %>
    <%= render 'bugsnag' %>
  </body>
</html>
