<!DOCTYPE html>
<html>
  <head>
    <%= render 'extranet/application/head' %>
  </head>
  <body class="extranet <%= body_classes %> full-width">
    <%= render 'application/notice' %>
    <%= render 'extranet/application/nav' %>
    <%= render 'extranet/application/header' %>
    <main class="container">
      <%= yield %>
    </main>
    <%= render 'extranet/application/footer' %>
    <%= render 'bugsnag' %>
    <%= javascript_include_tag 'extranet' %>
    <script src="https://example.osuny.org/js/extranet.js"></script>
  </body>
</html>
