<!DOCTYPE html>
<html>
  <head>
    <%= render 'extranet/application/head' %>
  </head>
  <body class="<%= body_classes %> layout-devise">
    <header class="h1 text-center my-5 py-5">
      <%= link_to root_path do %>
        <%= render 'extranet/application/logo' %>
      <% end %>
    </header>
    <main class="container">
      <% if @small_content %>
        <div class="row">
          <div class="offset-md-2 col-md-8 offset-lg-3 col-lg-6 offset-xxl-4 col-xxl-4">
      <% end %>
      <%= render 'simple_notice' %>
      <%= yield %>
      <% if @small_content %>
          </div>
        </div>
      <% end %>
    </main>
    <%= render 'extranet/application/footer' %>
    <%= render 'bugsnag' %>
    <%= javascript_include_tag 'extranet' %>
  </body>
</html>
