<!DOCTYPE html>
<html>
  <head>
    <%= render 'extranet/application/head' %>
  </head>
  <body class="<%= body_classes %> layout-devise">
    <main class="container">
      <div class="row">
        <div class="offset-md-2 col-md-8">
          <h1 class="my-5 py-5 text-center">
            <%= link_to root_path do %>
              <%= render 'logo' %>
            <% end %>
          </h1>
          <% unless notice.blank? %>
            <div class="alert alert-success mt-2" role="alert"><%= notice.html_safe %></div>
          <% end %>
          <% unless alert.blank? %>
            <div class="alert alert-danger mt-2" role="alert"><%= alert.html_safe %></div>
          <% end %>
          <%= yield %>
        </div>
      </div>
    </main>
    <%= render 'extranet/application/footer', hide_logo: true %>
    <%= render 'gdpr/cookie_consent' %>
    <%= render 'bugsnag' %>
  </body>
</html>
