<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= yield :title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <nav>
      <div class="container-fluid text-center">
        <% if current_website %>
        Site: <%= current_website %><br>
        <% end %>
        University: <%= current_university %>
      </div>
    </nav>
    <main class="container-fluid">
      <%= render_breadcrumbs builder: Appstack::BreadcrumbsOnRailsBuilder %>
      <%= yield %>
    </main>
  </body>
</html>
