<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= yield :title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "admin", media: 'all' %>
    <%= javascript_include_tag 'devise' %>
    <%= favicon_link_tag 'favicon.png' %>
  </head>
  <body class="layout-devise <%= body_classes %>">
    <header>
      <%= link_to root_path do %>
        <%= render 'logo' %>
      <% end %>
    </header>
    <main class="container-fluid">
      <% if @small_content %>
        <div class="row">
          <div class="offset-md-2 col-md-8 offset-lg-3 col-lg-6 offset-xxl-4 col-xxl-4">
      <% end %>
      <%= render 'notice' %>
      <%= yield %>
      <% if @small_content %>
          </div>
        </div>
      <% end %>
    </main>
    <%= render 'footer' %>
    <%= render 'bugsnag' %>
  </body>
</html>
