<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @features_websites_site.name %>
</p>

<p>
  <strong>Domain:</strong>
  <%= @features_websites_site.domain %>
</p>

<%= link_to 'Edit', edit_features_websites_site_path(@features_websites_site) %> |
<%= link_to 'Back', features_websites_sites_path %>
